<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<fieldset>
				<legend>
					Choosen placeholders
				</legend>
				<ul class="list __files">
					<li ng-repeat="place in blade.entity.contentPlaces" class="list-item">
						<a class="list-block">
							<span class="list-img">
								<img src="{{place.descriptionImageUrl}}" ng-showbigimage image="place.descriptionImageUrl">
							</span>
							<span class="list-name">{{place.name}}</span>
							<span class="list-descr">{{place.description}}.</span>
						</a>
					</li>
				</ul>
			</fieldset>

			<fieldset>
				<legend>
					Placeholders
				</legend>
				<ul class="list __files" ng-if="blade.currentEntities.length">
					<li class="list-item" ng-click="blade.folderClick(data)" ng-repeat="data in blade.currentEntities" ng-include="'Modules/$(VirtoCommerce.Marketing)/Scripts/dynamicContent/blades/publishing/placeholders.tpl.html'" context-menu data-target="ipl_menu_{{data.id}}">

					</li>
				</ul>
				<p class="text" ng-if="!blade.currentEntities.length">No Placeholders yet</p>
			</fieldset>
		</div>
	</div>
</div>


