<a class="list-block">
	<i class="list-ico fa" ng-class="{'fa-folder-open': blade.checkFolder(data), 'fa-folder': !blade.checkFolder(data) }"></i>
	<span class="list-name">{{data.name}}</span>
	<span class="list-descr">{{data.description}}.</span>
</a>
<ul class="list __sub" ng-show="blade.checkFolder(data)">
	<li class="list-item" ng-click="blade.folderClick(data); $event.stopPropagation();" ng-repeat="data in data.childrenFolders" ng-include="'Modules/$(VirtoCommerce.Marketing)/Scripts/dynamicContent/blades/publishing/content-items.tpl.html'" context-menu data-target="ipl_menu_{{data.id}}">

	</li>
	<li ng-repeat="item in data.items" class="list-item" ng-click="blade.addContentItem(item); $event.stopPropagation();" ng-if="blade.checkContentItem(item)">
		<a class="list-block">
			<i class="list-ico fa fa-location-arrow"></i>
			<span class="list-name">{{item.name}}</span>
			<span class="list-descr">{{item.description}}.</span>
		</a>
	</li>
</ul>