<div class="grid-item large--one-quarter medium--one-third small--one-half on-sale">
    <a class="product-grid-item" href="{{ banner.productUrl }}">
        <div class="product-grid-image" style="height: 160px;">
            <div class="product-grid-image--centered">
                <img alt="{{ banner.productName }}" src="{{ banner.productImage }}">
            </div>
        </div>
        <p>{{ banner.product.title }}</p>
        {% include 'price' with banner.productPrice %}
    </a>
</div>