<div class="flexslider">
    <ul class="slides">
        {% for slide in banner.Properties.imageLinks %}
            {% assign image_src = slide[0] %}
            <li><img src="{{ image_src }}" /></li>
        {% endfor %}
    </ul>
</div>
