<div class="flexslider">
    <ul class="slides">
        {% for slide in banner.Properties.imageLinks %}
            {% if slide[0] != null %}
                {% assign image_src = slide[0] %}
                <li><img src="{{ image_src }}" /></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
