<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="form">
                <p class="text" ng-if="items.length == 0">No Import jobs found. Click Add to create one.</p>
            </div>
            <div class="table-wrapper" ng-if="items.length">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-col">
                                <input type="checkbox" ng-model="selectedAll" ng-change="checkAll(selectedAll)" />
                            </th>
                            <th class="table-col">Name</th>
                            <th class="table-col">Target</th>
                            <th class="table-col" ng-if="!blade.catalogId">Catalog</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in items" ng-class="{'selected': data.id === selectedItem.id}" context-menu data-target="ijl_menu_{{data.id}}">
                            <td class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.selected">
                                    <span class="check"></span>
                                </label>
                                <ul role="menu" class="menu __context" id="ijl_menu_{{data.id}}">
                                    <li class="menu-item" ng-click='edit(data)'>
                                        <i class="menu-ico fa fa-edit"></i> Manage
                                    </li>
                                    <li class="menu-item" ng-click='run(data)'>
                                        <i class="menu-ico fa fa-sign-in"></i> Run
                                    </li>
                                    <li class="menu-item" ng-click='delete()'>
                                        <i class="menu-ico fa fa-trash-o"></i> Delete
                                    </li>
                                </ul>
                            </td>
                            <td class="table-col" ng-click='setSelectedItem(data)'>
                                <i class="table-ico fa fa-sign-in"></i>
                                <span title="{{data.name}}">{{data.name}}</span>
                            </td>
                            <td class="table-col" ng-click='setSelectedItem(data)'>
                                <span title="{{data.entityImporter}}">{{data.entityImporter}}</span>
                            </td>
                            <td class="table-col" ng-click='setSelectedItem(data)' ng-if="!blade.catalogId">
                                <span title="{{data.catalogName}}">{{data.catalogId}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>