    <span class="subheader-secondary">Start</span>
    <p>{{job.progressInfo.started | date : 'mediumTime'}}&nbsp;</p>
    <span class="subheader-secondary">End</span>
    <p>{{job.progressInfo.finished | date : 'mediumTime'}}&nbsp;</p>
    <span class="subheader-secondary">Progress</span>
    <p>{{job.progressInfo.totalCount + '/' + job.progressInfo.processedCount + '/' + job.progressInfo.errorCount}}&nbsp;</p>

    <span class="subheader-secondary">Errors</span>
    <div class="log">
        <p ng-repeat="error in job.progressInfo.errors track by $index" class="error">{{error}}</p>
    </div>

    <p ng-if="job.progressStatus == 'Running'">Interrupt import.</p>
    <button ng-click="cancel()" ng-disabled="job.progressStatus != 'Running'">
        <span>Cancel</span>
    </button>
