<form name="importJobForm">
    <fieldset ng-init="setForm(importJobForm)">
        <label>Csv file:</label>
        <div data-role="input-control" class="input-control file">
            <input type="file" uploader="uploader" nv-file-select style="z-index: 0;" tabindex="-1">
            <input required type="text" style="z-index: 1; cursor: default;" readonly="" onclick="$('input[type=file]').trigger('click')" ng-model="job.templatePath">
        </div>
    </fieldset>
</form>
<div class="static bottom">
    <button ng-click="run()" ng-disabled="formScope != undefined && formScope.$invalid">
        <span>Execute</span>
    </button>
</div>
