<div class="blade-static">
    <div class="form-group">
        <div class="form-input __search">
            <input type="text" placeholder="Search Item by name..." ng-model="filter.searchKeyword" ui-keyup="{'enter':'doFilter()'}">
        </div>
    </div>
</div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-col">Item name</th>
                            <th class="table-col">Item code</th>
                            <th class="table-col">Price range</th>
                            <th class="table-col">Prices count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.currentEntities track by data.productId" ng-class="{'__selected': data.productId === selectedNodeId}" ng-click='selectNode(data)'>
                            <td class="table-col">
                                <span class="table-t">{{data.productId}}</span>
                            </td>
                            <td class="table-col __product-code">
                                <span>{{data.productId | limitTo:12}}</span>
                            </td>
                            <td class="table-col __product-code">
                                <span>{{data.sale + ' - ' + data.list}}</span>
                            </td>
                            <td class="table-col __product-code">
                                {{data.minQuantity}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>