<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="sub-t">Assigned roles</div>
            <div class="table-wrapper">
                <table class="table">
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.currentEntity.roles track by data.id">
                            <td class="table-col">
                                <span class="table-t">{{data.name}}</span>
                                <span class="table-descr">{{data.description}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="text" ng-if="!blade.currentEntity.roles.length">No role assigned</p>
        </div>
    </div>
</div>