<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="sub-t">Select bounded scopes</div>
            <div class="table-wrapper">
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="table-col">Selected</th>
                            <th class="table-col">Scope name and parameters</th>
                        </tr>
                        <tr class="table-item" ng-repeat="data in availableScopes track by data.type" ng-class="{'__selected': data.type === selectedNodeId}">
                            <td class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.$selected">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col" ng-click='blade.selectNode(data)'>
                                <span class="table-t">{{data.title}}</span>
                                <span class="table-descr">{{data.assignedScopesLabels}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="text" ng-if="!availableScopes.length">No scopes.</p>
        </div>
    </div>
</div>