<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel2.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <form name="formScope">
            <div class="inner-block form" ng-init="setForm(formScope)">
                <div class="form-group">
                    <label class="form-label">{{ 'platform.blades.account-api.labels.is-active' | translate }}</label>
                    <div class="form-input">
                        <label class="form-label __switch">
                            <input type="checkbox" ng-model="blade.currentEntity.isActive" />
                            <span class="switch"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        {{ 'platform.blades.account-api.labels.api-key' | translate }}
                    </label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.apiKey" placeholder="{{ 'platform.blades.account-api.placeholders.api-key' | translate }}" required>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
