<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="sub-t">{{ 'platform.blades.account-roles.labels.select-roles' | translate }}</div>
            <div class="table-wrapper">
                <table class="table">
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.currentEntities track by data.id" ng-class="{'__selected': data.id === selectedNodeId}">
                            <td class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.$selected">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col" ng-click='blade.selectNode(data)'>
                                <span class="table-t">{{data.name}}</span>
                                <span class="table-descr">{{data.description}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="note" ng-if="!blade.currentEntities.length">{{ 'platform.blades.account-roles.labels.no-roles' | translate }}</p>
        </div>
    </div>
</div>