<div class="blade-static __bottom">
    <button ng-click="saveChanges()" class="btn" ng-class="{'__disabled': detailForm != undefined && detailForm.$invalid}" ng-disabled="detailForm != undefined && detailForm.$invalid">
        <span>{{ 'platform.commands.ok' | translate }}</span>
    </button>
</div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <form class="form" name="detailForm">
                <div class="form-group">
                    <label class="form-label">{{ 'platform.blades.account-resetPassword.labels.new-password' | translate }}</label>
                    <va-password-input password-placeholder="{{ 'platform.blades.account-resetPassword.placeholders.new-password' | translate }}" 
                                       password-too-weak-message="{{ 'platform.blades.account-resetPassword.validations.password-too-weak' | translate }}" 
                                       run-password-validation="validatePasswordAsync(value)" 
                                       new-password="blade.currentEntity.newPassword">
                    </va-password-input>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'platform.blades.account-resetPassword.labels.force-password-change' | translate }}</label>
                    <div class="form-input">
                        <label class="form-label __switch">
                            <input type="checkbox" ng-model="blade.currentEntity.forcePasswordChange">
                            <span class="switch"></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
