<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="sub-t">{{ 'platform.blades.loginOnBehalf-list.labels.pick-url-to-login' | translate }}</div>
            <ul class="list __items" ng-if="blade.currentEntities.length">
                <li class="list-item" ng-click='selectNode(data)' ng-repeat="data in blade.currentEntities" ng-class="{'__selected': data === selectedNodeId}">
                    {{data}}
                    <span class="error" ng-if="!data">{{ 'platform.blades.loginOnBehalf-list.validations.secure-url-missing' | translate }}</span>
                </li>
            </ul>
            <p class="note" ng-if="!blade.currentEntities.length">{{ 'platform.blades.loginOnBehalf-list.labels.no-login-urls' | translate }}</p>
        </div>
    </div>
</div>