<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="sub-t">{{ 'platform.blades.role-permissions.labels.select-permissions' | translate }}</div>
            <div class="list __items" ng-init="openItems={}">
                <div class="list-group" ng-class="{'__opened': openItems[$index]}" ng-click="openItems[$index]=!openItems[$index]" ng-repeat-start="(key,values) in blade.currentEntities">{{key}}</div>
                <div class="list __sub" ng-repeat-end>
                    <label class="list-item" ng-repeat="data in values | orderBy:'name'">
                        <input type="checkbox" ng-model="data.$selected">
                        <span class="switch"></span>
                        <span class="list-name">{{ data.name }}</span>
                        <span class="list-descr">{{ 'permissions.' + data.name | translate}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
