<div class="blade-static __expanded">
    <form class="form" name="formScope">
        <div class="columns clearfix">
            <div class="column">
                <div class="form-group" ng-init="setForm(formScope)">
                    <label class="form-label">{{ 'content.blades.edit-page.labels.name' | translate }}</label>
                    <div class="form-input">
                        <input focus-on="" required class="form-control" ng-model="blade.currentEntity.name" placeholder="{{ 'content.blades.edit-page.placeholders.name' | translate }}" name="pageName" ui-validate=" 'validators.webSafeFileNameValidator($value)' " />
                    </div>
                    <div class="form-error" ng-show="formScope.pageName.$dirty">
                        <span ng-show="formScope.pageName.$error.validator">{{ 'content.blades.edit-page.validations.pageName-invalid' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label class="form-label">{{ 'content.blades.edit-page.labels.language' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.language">
                            <ui-select-match allow-clear placeholder="{{ 'content.blades.edit-page.placeholders.language' | translate }}">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="x in blade.languages">
                                <span class="flag flag-{{x.substr(3).toLowerCase()}}"></span>
                                <span ng-bind-html="x"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/create.tpl.html'" ng-if="blade.isNew"></div>

<div class="blade-content __xxlarge-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="tabs" va-tabs>
                <div class="tabs-elements">
                    <div class="tab-item __selected">{{ 'content.blades.edit-page.labels.markdown' | translate }}</div>
                    <div class="tab-item">{{ 'content.blades.edit-page.labels.metadata' | translate }}</div>
                </div>
                <div class="tab-cnt __opened">
                    <form class="form" name="formScope">
                        <input id="fileUploader" type="file" multiple style="display: none;" uploader="fileUploader" nv-file-select />
                        <textarea ui-kit-html-editor ng-model="blade.currentEntity.content" file-uploader="fileUploader"></textarea>
                    </form>
                </div>
                <div class="tab-cnt">
                    <form class="form">
                        <div class="form-group" ng-repeat="property in blade.currentEntity.dynamicProperties | orderBy: 'name'">
                            <label class="form-label" for="">
                                {{property.name}}
                                <a href="" ng-click="editDictionary(property)" ng-show="property.isDictionary" class="form-edit"><i class="form-ico fa fa-pencil"></i></a>
                            </label>
                            <va-generic-value-input ng-model="property" languages="languages" get-dictionary-values="getDictionaryValues"></va-generic-value-input>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>