<!--<div class="blade-content __medium-wide">
	<div class="blade-inner">
		<div class="inner-block">
			<div class="table-wrapper">
				<table class="table">
					<thead>
						<tr>
							<th class="table-col">Language</th>
							<th class="table-col">Page name</th>
							<th class="table-col">Modified</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-item" ng-repeat="data in blade.currentEntities" ng-class="{'__selected': data.name === selectedItem.name}" context-menu data-target="ipl_menu_{{data.name}}" ng-click='blade.openBlade(data)' >
							<td class="table-col __date">
								<span class="flag flag-{{blade.getFlag(data.language)}}"></span>
								<span>{{data.language}}</span>
							</td>
							<td class="table-col">
								{{data.name}}
							</td>
							<td class="table-col __datePage">
								<span class="table-date" am-time-ago="data.modifiedDate"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>-->


<div class="blade-static __collapsed">
	<div class="breadcrumbs">
		<ul class="menu __inline">
			<foo ng-repeat="data in blade.steps">
				<li class="menu-item">
					<a class="menu-link" ng-click="blade.selectedStep = $index; blade.stepsClick();">{{data}}</a>
				</li>
				<li class="menu-item __divider" ng-if="blade.showDivider($index)"></li>
			</foo>
		</ul>
	</div>
</div>

<div class="blade-content __medium-wide">
	<div class="blade-inner">
		<div class="inner-block">
			<div class="table-wrapper">
				<table class="table">
					<thead>
						<tr>
							<th class="table-col __product-img"></th>
							<th class="table-col">Name</th>
							<th class="table-col __date">Modified</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-item" ng-repeat="data in blade.currentPageCatalog.folders" ng-click="blade.folderClick(data)">
							<td class="table-col">
								<div class="product-img">
									<i class="table-ico fa fa-folder"></i>
								</div>
							</td>
							<td class="table-col">
								{{data.folderName}}
							</td>
							<td class="table-col"></td>
						</tr>
						<tr class="table-item" ng-repeat="page in blade.currentPageCatalog.pages" ng-click="blade.openBlade(page)">
							<td class="table-col">
								<div class="product-img">
									<i class="table-ico flag flag-{{blade.getFlag(page.language)}}"></i>
								</div>
							</td>
							<td class="table-col">
								{{page.name}}
							</td>
							<td class="table-col">
								<span class="table-date" am-time-ago="data.modifiedDate"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>