<div class="blade-static __expanded">
    <form class="form" name="pageForm">
        <div class="columns clearfix">
            <div class="column">
                <div class="form-group" ng-init="setForm(pageForm)">
                    <label class="form-label">{{ 'content.blades.edit-page.labels.name' | translate }}</label>
                    <div class="form-input">
                        <input focus-on="" required class="form-control" ng-model="blade.currentEntity.name" placeholder="{{ 'content.blades.edit-page.placeholders.name' | translate }}" name="pageName" ui-validate=" 'validators.webSafeFileNameValidator($value)' " />
                    </div>
                    <div class="form-error" ng-show="pageForm.pageName.$dirty">
                        <span ng-show="pageForm.pageName.$error.validator">{{ 'content.blades.edit-page.validations.pageName-invalid' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label class="form-label">{{ 'content.blades.edit-page.labels.language' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.language">
                            <ui-select-match placeholder="{{ 'content.blades.edit-page.placeholders.language' | translate }}">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="x in blade.languages">
                                <span class="flag flag-{{blade.getFlag(x)}}"></span>
                                <span ng-bind-html="x"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="blade-content __xxlarge-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="tabs" va-tabs>
                <div class="tabs-elements">
                    <div class="tab-item __selected">{{ 'content.blades.edit-page.labels.markdown' | translate }}</div>
                    <div class="tab-item">{{ 'content.blades.edit-page.labels.metadata' | translate }}</div>
                </div>
                <div class="tab-cnt __opened">
                    <form class="form" name="formScope">
                        <textarea ui-kit-html-editor ng-model="blade.currentEntity.content"></textarea>
                    </form>
                </div>
                <div class="tab-cnt">
                    <form class="form">
                        <div class="form-group">
                            <div class="form-input">
                                <textarea cols="30" rows="30" ng-model="blade.metadata" placeholder="{{ 'content.blades.edit-page.placeholders.metadata' | translate }}"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>