<?xml version="1.0"?>
<AppConfig>
  <Connection dataServiceUri="http://localhost/admin/api/mp/{0}/" />
  <Setup completed="true" adminUrl="http://assets.virtocommerce.com/software/1.12/admin/setup.exe" />
  <Cache enabled="true" settingsTimeout="00:00:30" localizationTimeout="00:00:30" seoKeywordsTimeout="00:00:30" />
  <availableModules>
    <add name="Store" type="VirtoCommerce.ApiWebClient.Modules.StoreHttpModule, VirtoCommerce.ApiWebClient" />
    <add name="Marketing" type="VirtoCommerce.ApiWebClient.Modules.MarketingHttpModule, VirtoCommerce.ApiWebClient" />
    <add name="UnityPerRequestHttpModule" type="Microsoft.Practices.Unity.Mvc.UnityPerRequestHttpModule, Microsoft.Practices.Unity.Mvc" />
  </availableModules>
</AppConfig>
