<div class="window">
    <div class="window-status" ng-if="loginProgress">
        <div class="progress-bar"></div>
    </div>
    <header class="window-head">
        <img class="__logo" ng-src="{{uiCustomization.contrast_logo || '/images/contrast-logo.png'}}" />
        <span class="window-t">{{ 'platform.blades.change-password.title' | translate: {userName: userName} }}</span>
    </header>
    <div class="window-cnt">
        <form class="form" novalidate ng-submit="ok()" name="changePasswordForm">
            <p class="note" style="white-space: pre-wrap">{{ 'platform.blades.change-password.force-change-info' | translate }}</p>
            <div class="form-group">
                <label class="form-label">{{ 'platform.blades.change-password.password' | translate }}</label>
                <va-password-input password-placeholder="{{ 'platform.blades.account-resetPassword.placeholders.new-password' | translate }}"
                                   password-too-weak-message="{{ 'platform.blades.account-resetPassword.validations.password-too-weak' | translate }}"
                                   run-password-validation="validatePasswordAsync(value)"
                                   new-password="password" />
            </div>
            <div class="form-group">
                <label class="form-label">{{ 'platform.blades.change-password.confirm' | translate }}</label>
                <div class="form-input">
                    <input name="confirm" type="password" ng-model="confirm" ng-class="{'error': password != confirm}" required placeholder="{{ 'platform.blades.account-resetPassword.placeholders.repeat-password' | translate }}" ui-validate=" '$value==password' " ui-validate-watch=" 'password' ">
                </div>
                <div class="form-error" ng-if="!changePasswordForm.confirm.$pristine && password != confirm">
                    <span>{{ 'platform.blades.account-resetPassword.validations.repeat-password' | translate }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group" ng-if="errors">
                    <div class="form-error" ng-repeat="error in errors" ng-bind="error"></div>
                </div>
            </div>
            <div class="clearfix">
                <div class="column">
                    <div class="form-group __right">
                        <button class="btn" type="button" ng-click="postpone()">
                            <span>{{ 'platform.blades.change-password.postpone' | translate }}</span>
                        </button>
                        <button class="btn" type="submit" ng-disabled="changePasswordForm.$invalid">
                            <span>{{ 'platform.blades.change-password.save' | translate }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
