<div class="password-dialog-container" style="background-repeat: repeat, no-repeat; background-size: auto, cover;"
     ng-style="{ 'background-image': 'url('+uiCustomization.pattern.url+'), url('+ (uiCustomization.background.url || 'images/login.png') +')' }">
     <div class="window">
         <div class="window-status" ng-if="loginProgress">
             <div class="progress-bar"></div>
         </div>
         <header class="window-head" ng-class="{'warning': !canCancel}">
             <img class="__logo" ng-src="{{uiCustomization.contrast_logo || '/images/contrast-logo.svg'}}" />
             <span class="window-t">{{ 'platform.blades.account-changePassword.labels.title' | translate: {userName: userName} }}</span>
         </header>
         <div class="window-cnt">
             <form class="form" novalidate ng-submit="ok()" name="changePasswordForm">
                 <p ng-if="!canCancel" translate="platform.blades.account-changePassword.labels.force-change-info"></p>
                 <div class="form-group">
                     <label class="form-label required">{{ 'platform.blades.account-changePassword.labels.current-password' | translate }}</label>
                     <div class="form-input">
                         <input name="password" type="password" ng-model="postData.oldPassword" required va-autofill placeholder="{{ 'platform.blades.account-changePassword.placeholders.current-password' | translate }}">
                     </div>
                 </div>
                 <div class="form-group">
                     <label class="form-label required" ng-class="{'label-error': validatedPassword && !postData.newPassword}">{{ 'platform.blades.account-changePassword.labels.new-password' | translate }}</label>
                     <va-password-input password-placeholder="{{ 'platform.blades.account-changePassword.placeholders.new-password' | translate }}"
                                        password-too-weak-message="{{ 'platform.blades.account-resetPassword.validations.password-too-weak' | translate }}"
                                        run-password-validation="validatePasswordAsync(value)"
                                        new-password="postData.newPassword" />
                 </div>
                 <div class="form-group">
                     <label class="form-label required">{{ 'platform.blades.account-changePassword.labels.repeat-password' | translate }}</label>
                     <div class="form-input">
                         <input name="confirm" type="password" ng-model="confirm" ng-class="{'error': postData.newPassword != confirm}" required placeholder="{{ 'platform.blades.account-changePassword.placeholders.repeat-password' | translate }}" ui-validate=" '$value==postData.newPassword' " ui-validate-watch=" 'postData.newPassword' ">
                     </div>
                     <div class="form-error" ng-if="!changePasswordForm.confirm.$pristine && postData.newPassword != confirm">
                         <span>{{ 'platform.blades.account-changePassword.validations.repeat-password' | translate }}</span>
                     </div>
                 </div>
                 <div class="form-group">
                     <div class="form-group" ng-if="errors">
                         <div class="form-error" ng-repeat="error in errors" ng-bind="error"></div>
                     </div>
                     <div class="form-group" ng-if="succeeded === false && !errors">
                         <div class="form-error" ng-bind="'platform.blades.account-changePassword.labels.fail' | translate"></div>
                     </div>
                 </div>
                 <div class="clearfix">
                     <div class="column">
                         <div class="__right">
                             <button class="btn" type="button" ng-click="cancel()" ng-if="canCancel">
                                 <span>{{ 'platform.blades.account-changePassword.labels.cancel' | translate }}</span>
                             </button>
                             <button class="btn" type="submit" ng-disabled="changePasswordForm.$invalid">
                                 <span>{{ 'platform.blades.account-changePassword.labels.save' | translate }}</span>
                             </button>
                         </div>
                     </div>
                 </div>
             </form>
         </div>
     </div>
</div>
