<div class="auth" ng-style="{ 'background-image': 'url('+uiCustomization.pattern.url+'), url('+(uiCustomization.background.url || 'images/login.webp') +')' }">
    <div class="auth__container">
        <div class="auth__head">
            <img class="auth__logo" ng-src="{{ uiCustomization.loginScreenLogo_custom.url || uiCustomization.loginScreenLogo_default.url }}" fallback-src="{{ uiCustomization.loginScreenLogo_default.url }}" alt="Login screen logo image">
            <h1 class="auth__title">{{ 'platform.blades.forgotpassword.title' | translate }}</h1>
        </div>
        <div class="auth__content">
            <form class="forgot-password" novalidate ng-submit="ok()" name="thisForm" ng-if="!isLoading && !succeeded">
                <div class="vc-input" ng-class="{'vc-input--error': errors}">
                    <label class="vc-input__label"> {{ 'platform.blades.forgotpassword.labels.login' | translate }} <span class="vc-input__asterisk">*</span> </label>
                    <div class="vc-input__container">
                        <input class="vc-input__field" type="text" name="login" ng-model="viewModel.userName" placeholder="{{ 'platform.blades.forgotpassword.placeholders.login-or-email' | translate }}" required autofocus />
                    </div>
                    <div ng-if="!errors" class="vc-input__message" ng-bind="'platform.blades.forgotpassword.labels.description' | translate"></div>
                    <div ng-if="errors" class="vc-input__message">{{ errors.join() }}</div>
                </div>
                <!-- Requests are rate limited. Without this the Submit button just disables itself and
                     the visitor is given no reason why, so say when they can try again. -->
                <div class="vc-alert vc-alert--warning" ng-if="formattedCountdown">
                    <svg class="vc-alert__icon">
                        <use href="/images/error.svg#icon"></use>
                    </svg>
                    <div class="vc-alert__text">{{ 'platform.blades.forgotpassword.labels.time-limit' | translate: { countdown: formattedCountdown } }}</div>
                </div>
                <div class="forgot-password__buttons">
                    <button ui-sref="loginDialog" ng-disabled="isLoading" class="vc-button vc-button--outlined forgot-password__button">{{ 'platform.blades.forgotpassword.labels.back' | translate }}</button>
                    <button type="submit" ng-disabled="thisForm.$invalid || isLoading || nextRequestAt" class="vc-button forgot-password__button">{{ 'platform.blades.forgotpassword.labels.submit' | translate }}</button>
                </div>
            </form>
            <!-- Success is a terminal state, so it replaces the form. Leaving the filled-in field and
                 its "we will send you an email" hint on screen next to "email has been sent" reads as
                 though nothing happened yet. -->
            <div class="forgot-password" ng-if="!isLoading && succeeded">
                <div class="vc-alert vc-alert--success">
                    <svg class="vc-alert__icon">
                        <use href="/images/success.svg#icon"></use>
                    </svg>
                    <div class="vc-alert__text" ng-bind="'platform.blades.forgotpassword.labels.success' | translate"></div>
                </div>
                <div class="forgot-password__buttons">
                    <button type="button" class="vc-button forgot-password__button" ng-click="close()">{{ 'platform.blades.forgotpassword.labels.back-to-sign-in' | translate }}</button>
                </div>
            </div>
            <div class="vc-loader" ng-if="isLoading">
                <div class="vc-loader__line"></div>
            </div>
        </div>
    </div>
</div>
