<div class="auth" ng-style="{ 'background-image': 'url('+uiCustomization.pattern.url+'), url('+(uiCustomization.background.url || 'images/login.webp') +')' }">
    <div class="auth__container">
        <div class="auth__head">
            <img class="auth__logo" ng-src="{{ uiCustomization.loginScreenLogo_custom.url || uiCustomization.loginScreenLogo_default.url }}" fallback-src="{{ uiCustomization.loginScreenLogo_default.url }}" alt="Login screen logo image">
            <h1 class="auth__title">{{ 'platform.blades.resetpassword.title' | translate }}</h1>
        </div>
        <div class="auth__content">
            <!--Reset form: only reachable while the token is still valid.-->
            <form class="reset-password" novalidate ng-submit="ok()" name="detailForm" ng-if="!isLoading && !succeeded && isValidToken">
                <div class="reset-password__inputs">
                    <div class="vc-input">
                        <label class="vc-input__label"> {{ 'platform.blades.account-resetPassword.labels.new-password' | translate }} <span class="vc-input__asterisk">*</span> </label>
                        <div class="vc-input__container">
                            <input class="vc-input__field" name="newPassword" type="password" ng-model="viewModel.newPassword" placeholder="{{ 'platform.blades.account-resetPassword.placeholders.new-password' | translate }}" required va-password-toggle autofocus>
                        </div>
                    </div>
                    <div class="vc-input" ng-class="{'vc-input--error': !detailForm.newPassword2.$pristine && viewModel.newPassword != viewModel.newPassword2}">
                        <label class="vc-input__label"> {{ 'platform.blades.account-resetPassword.labels.repeat-password' | translate }} <span class="vc-input__asterisk">*</span> </label>
                        <div class="vc-input__container">
                            <input class="vc-input__field" name="newPassword2" type="password" ng-model="viewModel.newPassword2" placeholder="{{ 'platform.blades.account-resetPassword.placeholders.repeat-password' | translate }}" required va-password-toggle ui-validate=" '$value==viewModel.newPassword' " ui-validate-watch="'viewModel.newPassword'">
                        </div>
                        <div class="vc-input__message" ng-if="!detailForm.newPassword2.$pristine && viewModel.newPassword != viewModel.newPassword2" ng-bind="'platform.blades.account-resetPassword.validations.repeat-password' | translate"></div>
                    </div>
                </div>
                <div class="vc-alert vc-alert--error" ng-if="succeeded === false && !errors">
                    <svg class="vc-alert__icon">
                        <use href="/images/error.svg#icon"></use>
                    </svg>
                    <div class="vc-alert__text" ng-bind="'platform.blades.resetpassword.labels.fail' | translate"></div>
                </div>
                <div class="vc-alert vc-alert--error" ng-repeat="error in errors">
                    <svg class="vc-alert__icon">
                        <use href="/images/error.svg#icon"></use>
                    </svg>
                    <div class="vc-alert__text" ng-bind="error"></div>
                </div>
                <div class="reset-password__buttons">
                    <button ui-sref="loginDialog" class="vc-button vc-button--outlined reset-password__button">{{ 'platform.blades.resetpassword.labels.back' | translate }}</button>
                    <button type="submit" ng-disabled="detailForm.$invalid || isLoading" class="vc-button reset-password__button">{{ 'platform.blades.resetpassword.labels.submit' | translate }}</button>
                </div>
            </form>
            <!--An expired or already-used link is a dead end, so the fields are dropped entirely and
                the next step is named instead of leaving a permanently disabled Reset button.-->
            <div class="reset-password" ng-if="!isLoading && !succeeded && !isValidToken">
                <div class="vc-alert vc-alert--error">
                    <svg class="vc-alert__icon">
                        <use href="/images/error.svg#icon"></use>
                    </svg>
                    <div class="vc-alert__text" ng-bind="'platform.blades.account-resetPassword.validations.invalid-token' | translate"></div>
                </div>
                <div class="vc-input__message" ng-bind="'platform.blades.resetpassword.labels.invalid-token-help' | translate"></div>
                <div class="reset-password__buttons">
                    <button ui-sref="loginDialog" class="vc-button vc-button--outlined reset-password__button">{{ 'platform.blades.resetpassword.labels.back' | translate }}</button>
                    <button ui-sref="forgotpasswordDialog" class="vc-button reset-password__button">{{ 'platform.blades.resetpassword.labels.request-new-link' | translate }}</button>
                </div>
            </div>
            <!--Success is terminal: the form is replaced so the confirmation cannot be mistaken for
                a hint under still-editable fields.-->
            <div class="reset-password" ng-if="!isLoading && succeeded">
                <div class="vc-alert vc-alert--success">
                    <svg class="vc-alert__icon">
                        <use href="/images/success.svg#icon"></use>
                    </svg>
                    <div class="vc-alert__text" ng-bind="'platform.blades.resetpassword.labels.success' | translate"></div>
                </div>
                <div class="reset-password__buttons">
                    <button ui-sref="loginDialog" class="vc-button reset-password__button">{{ 'platform.blades.resetpassword.labels.log-in' | translate }}</button>
                </div>
            </div>
            <div class="vc-loader" ng-if="isLoading">
                <div class="vc-loader__line"></div>
            </div>
        </div>
    </div>
</div>
