<div style="width: 500px">
    <style>
        .fixed-td {
            width: 15px;
        }
    </style>

    <div data-role="input-control" class="input-control text" style="width: 70%;">
        <input type="text" placeholder="Search keyword..." ng-model="filter.searchKeyword" ui-keyup="{'enter':'blade.refresh()'}">
        <button tabindex="-1" class="btn-clear" type="button" ng-click="filter.searchKeyword = null;blade.refresh()"></button>
    </div>
    <span style="position: absolute; right: 30px;">Count: {{pageSettings.totalItems}}</span>

    <table class="table hovered">
        <thead>
            <tr>
                <th class="text-left fixed-td">
                    <input type="checkbox" ng-model="selectedAll" ng-change="checkAll(selectedAll)" /></th>
                <th class="text-left fixed-td">Img</th>
                <th class="text-left">Name</th>
                <th class="text-left fixed-td">Code</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in items" ng-class="{'selected': data.id === selectedItem.id}" context-menu data-target="cil_menu_{{data.id+blade.level}}">
                <td>
                    <div data-role="input-control" class="input-control checkbox">
                        <label>
                            <input type="checkbox" ng-model="data.selected">
                            <span class="check"></span>
                        </label>
                    </div>
                </td>
                <td ng-click='selectItem($event, data)'>
                    <img ng-src="{{data.imageUrl}}" height="42" width="42" ng-if="data.type!=='category' && data.imageUrl" /><i class="icon-none" ng-if="data.type!=='category' && !data.imageUrl" style="font-size: 26px" />
                </td>
                <td ng-click='selectItem($event, data)' style="max-width: 250px; overflow: hidden; text-overflow: ellipsis;">
                    <i ng-class="{'icon-folder-2': data.type==='category', 'icon-basket': data.type==='product', 'icon-barcode': data.type==='variation'}" style="font-size: 18px" />&nbsp;
                    <span title="{{data.name}}">{{data.name}}</span>
                    <ul role="menu" class="dropdown-menu context-menu" id="cil_menu_{{data.id+blade.level}}">
                        <li ng-click='edit(data)'>
                            <i class="ico icon-new-tab-2"></i>&nbsp;Manage
                        </li>
                        <li ng-click='delete()'>
                            <i class="ico icon-remove"></i>&nbsp;Delete
                        </li>
                    </ul>
                </td>
                <td ng-click='selectItem($event, data)'>
                    <span title="{{data.code}}">{{data.code}}</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" ng-include="'pagerTemplate.html'"></td>
            </tr>
        </tfoot>
    </table>
    <script type="text/ng-template" id="pagerTemplate.html">
        <pagination ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" boundary-links="true" max-size="pageSettings.numPages" items-per-page="pageSettings.itemsPerPageCount" total-items="pageSettings.totalItems" ng-model="pageSettings.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </script>
</div>
