<div class="blade-content blade-medium">
    <div class="blade-inner">
        <div class="inner-block">
            <label>Type</label>
            <div data-role="input-control" class="input-control select">
                <select ng-model="currentEntity.reviewType" ng-options="x for x in types"></select>
            </div>
            <label>Language</label>
            <div data-role="input-control" class="input-control select">
                <select ng-model="currentEntity.languageCode" ng-options="lang.languageCode as lang.displayName for lang in blade.languages" required></select>
            </div>
            <label>Editorial Review content</label>
            <div class="editable" text-angular ng-model="currentEntity.content" text-angular-name="myEditor"></div>
        </div>
    </div>
</div>
<div class="static bottom" ng-include="'Modules/Catalog/VirtoCommerce.CatalogModule.Web/Scripts/app/catalog/wizards/common/wizard-ok-action.tpl.html'">
</div>