<div style="width: 380px;">
    <label>Type</label>
    <div data-role="input-control" class="input-control select">
        <select ng-init="currentEntity.reviewType = types[0]" ng-model="currentEntity.reviewType" ng-options="x for x in types"></select>
    </div>
    <label>Language</label>
    <div data-role="input-control" class="input-control select">
        <select ng-model="currentEntity.languageCode" ng-options="lang.languageCode as lang.displayName for lang in blade.languages" required></select>
    </div>
    <label>Editorial Review content</label>
    <div text-angular ng-model="currentEntity.content" text-angular-name="myEditor"></div>
</div>
