<div class="blade-content blade-medium">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="selectedAll" ng-change="checkAll(selectedAll)" />
                                    <span class="check"></span>
                                </label>
                            </th>
                            <th class="table-col">Id</th>
                            <th class="table-col">Pic</th>
                            <th class="table-col">Name</th>
                            <th class="table-col">Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.item.variations" ng-class="{'selected': data === selectedItem}">
                            <td class="table-col">
                                <label class="input-control checkbox">
                                    <input type="checkbox" ng-model="data.selected">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col __product-img" ng-click='selectVariation(data)'>
                                <div class="product-img">
                                    <div class="image" style="background-image: url({{data.imgSrc}})" ng-if="data.imgSrc"></div>
                                    <i class="table-ico fa fa-image" ng-if="!data.imgSrc" />
                                </div>
                            </td>
                            <td class="table-col" ng-class="{'__product-code': $index === 1, '__product-name': $index === 2}" ng-repeat="col in [data.id, data.code, data.name] track by $index" ng-click='selectVariation(data)'>
                                <span title="{{col}}">{{col}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>