<div style="width:360px">
    <form name="itemDetailForm">
        <fieldset ng-init="setForm(itemDetailForm);">
            <label>Code:</label>
            <div data-role="input-control" class="input-control text">
                <input required class="form-control" ng-model="currentBlade.item.code" placeholder="Enter item code" />
            </div>
            <label>Description:</label>
            <div data-role="input-control" class="input-control textarea">
                <textarea class="form-control" cols="30" rows="3" ng-model="currentBlade.item.name" placeholder="Enter item name"></textarea>
            </div>
        </fieldset>
    </form>

    <va-widget-container group="itemDetail" blade="blade"></va-widget-container>
</div>