<div class="content">
    <div class="inner">
        <table>
            <colgroup>
                <col style="width: 49%;">
                <col style="width: 2%;">
                <col style="width: 49%;">
            </colgroup>
            <tr>
                <td style="vertical-align: top;">
                    <div class="input-group">
                        <input type="text" ng-model="filter.searchKeyword" class="form-control" placeholder="Search keyword..." ui-keyup="{'enter':'doEnterKeyword($event)'}"
                               typeahead-template-url="customTypeaheadTemplate.html"
                               typeahead="item.code as item.name for item in getItemsAutocomplete($viewValue)"
                               typeahead-min-length="3"
                               typeahead-wait-ms="500">
                        <span class="glyphicon glyphicon-remove inputClear" ng-click="filter.searchKeyword=''"></span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="doEnterKeyword($event)">ok</button>
                        </span>
                    </div>
                    <div class="categories-tree">
                        <ul>
                            <li ng-repeat="data in tree" ng-include="'vc_ms_tree_catalog.tpl.html'" class="dropdown-switch"></li>
                        </ul>
                    </div>

                    <script type="text/ng-template" id="vc_ms_tree_catalog.tpl.html">
                        <div ng-click='selectNode(data)' class="child" ng-class="{'open': data.checked, 'current': data.id == filter.catalogId && filter.categoryId == undefined}">
                            <i class="glyphicon" ng-class="{'glyphicon-folder-open': data.checked, 'glyphicon-folder-close' : !data.checked}"></i>
                            <span class="name">{{data.name}}</span>
                        </div>
                        <ul class="dropdown" style="display:block" ng-show="data.checked">
                            <li ng-repeat="data in data.children" ng-include="'vc_ms_tree_category.tpl.html'" />
                        </ul>
                    </script>

                    <script type="text/ng-template" id="vc_ms_tree_category.tpl.html">
                        <div ng-click='selectNode(data)' class="child" ng-class="{'open': data.checked, 'current': data.id == filter.categoryId}">
                            <i class="glyphicon" ng-class="{'glyphicon-folder-open': data.checked, 'glyphicon-folder-close' : !data.checked}"></i>
                            <span class="name" context-menu data-target="vc_ms_tree_category_menu_tpl{{data.id}}">{{data.name}}</span>
                        </div>
                        <ul class="dropdown" style="display:block" ng-show="data.checked">
                            <li ng-repeat="data in data.children" ng-include="'vc_ms_tree_category.tpl.html'" />
                        </ul>
                        <div id="vc_ms_tree_category_menu_tpl{{data.id}}" class="context-menu">
                            <ul role="menu" class="dropdown-menu">
                                <li ng-click='mapCategory(data)'>
                                    <a href="">
                                        <i class="glyphicon glyphicon-ok"></i> Map all
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </script>

                    <script type="text/ng-template" id="customTypeaheadTemplate.html">
                        <a bind-html-unsafe="match.label | typeaheadHighlight:query" tabindex="-1" class="text-ellipsis" style="max-width:533px"></a>
                    </script>
                </td>
                <td />
                <td style="vertical-align: top;">
                    <span ng-include="'pagerTemplate.html'"></span>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="item in items">
                                <td><input type="checkbox" ng-model="item.selected" /></td>
                                <td><img ng-src="{{item.imgSrc}}" height="42" width="42" /></td>
                                <td ng-repeat="col in [item.id, item.code] track by $index">
                                    <a class="btn-link" ng-click='selectItem(item)' title="{{col}}">{{col}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>