<nav class="nav-bar">
    <div class="bar">
        <a class="menu-link" ng-click="toggleSize()">
            <i  class="menu-ico fa fa-bars"></i>
        </a>
        <ul class="menu items">
            <li class="menu-item" ng-class="{'__selected': currentMenuItem === menuItem && showSubMenu, '__animated': menuItem.incremented}" ng-repeat="menuItem in staticMenuItems" ng-click="selectMenuItem(menuItem)">
                <a class="menu-link" ng-if="!menuItem.template" href="" va-permission="{{menuItem.permission}}">
                    <i class="menu-ico" ng-class="menuItem.icon"></i>
                    <span class="name">{{menuItem.title | translate}}</span>
                </a>
                <ng-include src='menuItem.template'> </ng-include>
            </li>
        </ul>
        <div class="menu items favorites">
            <div class="outer-wrapper">
                <div class="inner-wrapper">
                    <ul class="content" ng-model="dynamicMenuItems" ui-sortable="sortableOptions">
                        <li class="menu-item" ng-class="{'__selected': currentMenuItem === menuItem && showSubMenu, '__animated': menuItem.incremented, 'list': menuItem.dynamic === 'list'}" ng-repeat="menuItem in dynamicMenuItems" ng-click="selectMenuItem(menuItem)">
                            <a class="menu-link" ng-if="!menuItem.template" href="" va-permission="{{menuItem.permission}}">
                                <i class="drag-and-drop fa fa-ellipsis-v" ng-if="menuItem.dynamic !== 'list'"></i><i class="menu-ico" ng-class="menuItem.icon"></i>
                                <span class="name">{{menuItem.title | translate}}</span>
                            </a>
                            <ng-include src='menuItem.template'> </ng-include>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="__logo static">
            <span class="logo-version">{{platformVersion}}</span>
        </div>
    </div>
    <div class="dropdown" ng-class="{'__opened': showSubMenu}">
        <a class="dropdown-close" ng-click="showSubMenu = false">×</a>
        <div class="dropdown-head" ng-if="!currentMenuItem.headerTemplate">
            <ul class="menu __inline" style="height: 50px;">
                <!--<li class="menu-item">
                    <a class="menu-link">
                        <i class="menu-ico fa fa-clock-o"></i>
                        <span class="menu-name">Everything</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link">
                        <i class="menu-ico fa fa-times-circle"></i>
                        <span class="menu-name">Clear all recent</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <ng-include src='currentMenuItem.headerTemplate'> </ng-include>
        <div class="dropdown-content">
            <ul class="list">
                <li class="list-item" ng-repeat="menuItem in currentMenuItem.children" va-permission="{{menuItem.permission}}" ng-include="'menuItemTemplate.html'">
                </li>
            </ul>
            <script type="text/ng-template" id="menuItemTemplate.html">
                <div class="list-fav" ng-if="menuItem.children.length == 0" ng-click="toggleFavorite(menuItem)">
                    <i class="list-ico {{menuItem.favorite ? 'fa fa-star' : 'fa fa-star-o'}}"></i>
                </div>
                <div class="list-group {{menuItem.icon == 'fa fa-user' ? '__customers' : ''}}" ng-if="!menuItem.template && menuItem.children.length > 0">
                    {{menuItem.title | translate}}
                </div>
                <a class="list-link {{menuItem.icon == 'fa fa-user' ? '__customers' : ''}}" ng-if="!menuItem.template && menuItem.children.length == 0" href="" ng-click="selectMenuItem(menuItem)">
                    <i class="list-ico" ng-class="menuItem.icon">
                        <i ng-if="menuItem.icon == 'fa fa-user'"></i>
                    </i>
                    {{menuItem.title | translate}}
                </a>
                <ng-include src='menuItem.template'> </ng-include>
                <ul class="list" ng-if="menuItem.children">
                    <li class="list-item" ng-repeat="menuItem in menuItem.children" va-permission="{{menuItem.permission}}" ng-include="'menuItemTemplate.html'">
                    </li>
                </ul>
            </script>
        </div>
    </div>
</nav>
