<nav class="nav-bar" ng-class="{'__collapsed': isCollapsed}" ng-init="showList = { value: false }">
    <div class="bar">
        <div class="menu-item" ng-click="isCollapsed = !isCollapsed">
            <a class="menu-link">
                <i class="menu-ico fa fa-bars"></i>
            </a>
        </div>
        <va-main-menu-items items="items" select-item="selectItem" show-tooltip="isCollapsed" show-list="showList"></va-main-menu-items>
        <div class="info">
            <a class="info-license" ng-if="!license" href="" ng-click="showLicense()">{{'platform.templates.licensing.license-absent' | translate}}</a>
            <a class="info-license" ng-if="license" href="" ng-click="showLicense()" ng-class="{'__valid': !license.hasExpired}">{{'platform.templates.licensing.license-present' | translate: license}}</a>
        </div>
        <div class="info">
            <span class="info-version">{{version}}</span>
        </div>
    </div>
    <va-main-menu-item-list is-open="showList.value" items="items | filter: { isAlwaysOnBar: '!true' }" select-item="selectItem"></va-main-menu-item-list>
</nav>