<div class="dropdown-head">
    <div class="form-group">
        <div class="form-hint">{{'platform.menu.toggle-favorites' | translate }}</div>
        <div class="form-input __search">
            <input placeholder="{{'platform.placeholders.search-keyword' | translate }}" ng-model="searchText.value" tabindex="1">
            <button class="btn __other">
                <i class="btn-ico fa fa-remove" title="{{'platform.commands.clear' | translate}}" ng-click="searchText.value=''"></i>
            </button>
        </div>
    </div>
</div>