<div class="wrapper">
    <div class="menu" va-tooltip-options tooltip-enable="showTooltip" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="false">
        <ul>
            <li class="menu-item" ng-repeat="menuItem in items | filter: { isAlwaysOnBar: 'true', isFavorite: 'false' }" ng-click="selectItem(menuItem)" ng-include="'menuItemTemplate.html'"></li>
        </ul>
        <div class="divider"></div>
        <div class="outer-wrapper">
            <div class="inner-wrapper">
                <div class="content">
                    <ul ng-model="favorites" ui-sortable="sortableOptions">
                        <li class="menu-item" ng-class="{'__movable': !menuItem.isAlwaysOnBar}" ng-repeat="menuItem in favorites" ng-click="selectItem(menuItem)" ng-include="'menuItemTemplate.html'"></li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="menuItemTemplate.html">
            <a class="menu-link {{menuItem.icon == 'fa fa-user' ? '__customers' : ''}}" ng-if="!menuItem.template" href="" va-tooltip="{{menuItem.title | translate}}" va-permission="{{menuItem.permission}}">
                <i class="menu-ico" ng-class="menuItem.icon"></i>
                <span class="name">{{menuItem.title | translate}}</span>
            </a>
            <ng-include src='menuItem.template'></ng-include>
        </script>
    </div>
</div>