@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModelList
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul class="@(ViewBag.last ? "" : "level" + ViewBag.level)">
    @foreach (var node in Model)
    { 
        <li class="@("level" + (ViewBag.level + 1))">
            @Html.DisplayFor(m => node)
            @if (node.Children != null && node.Children.Any())
            {
                string template = node.Attributes.ContainsKey("Template") ? node.Attributes["Template"].ToString() : "SiteMapNodeModelList";
                @Html.DisplayFor(m => node.Children, template, new { level = ViewBag.level + 1, last = false })
            }
        </li>
    }
</ul>
