<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="VirtoCommerce" connectionString="Data Source=(local);Initial Catalog=VirtoCommerce;Persist Security Info=True;User ID=virto;Password=virto;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  
  <add name="VirtoCommerce_LocalDB_IntegratedSecurity" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=VirtoCommerce;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\VirtoCommerce.mdf" providerName="System.Data.SqlClient"/>
  <add name="VirtoCommerce_MigrationTestsBase" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog={0};Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\VC_{1}.mdf" providerName="System.Data.SqlClient"/>

  <add name="SecurityTest" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=SecurityTest;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\SecurityTest.mdf" providerName="System.Data.SqlClient"/>
  <add name="CatalogTest" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=CatalogTest;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\CatalogTest.mdf" providerName="System.Data.SqlClient"/>
  <add name="DynamicContentTest" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=DynamicContentTest;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\DynamicContentTest.mdf" providerName="System.Data.SqlClient"/>
  <add name="OrderTest" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=OrderTestX;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\OrderTestX.mdf" providerName="System.Data.SqlClient"/>
  <add name="MarketingTest" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=MarketingTestX;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\MarketingTestX.mdf" providerName="System.Data.SqlClient"/>
  <add name="StoreTest" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=StoreTest;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\StoreTest.mdf" providerName="System.Data.SqlClient"/>
  <add name="AppConfigTest" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=AppConfigTest;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\AppConfigTest.mdf" providerName="System.Data.SqlClient"/>

</connectionStrings>
