<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Catalog)/Scripts/wizards/common/wizard-ok-action.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th class="table-col">Entity property</th>
                            <th class="table-col">Locale</th>
                            <th class="table-col">CSV column</th>
                            <th class="table-col">Custom value</th>
                            <th class="table-col">Format value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in item.propertiesMap" ng-class="{'__selected': data.id === selectedItem.id}" ng-click='setSelectedItem(data)' ng-dblclick="editMapping(data)">
                            <td class="table-col __product-name">
                                <span title="{{data.entityColumnName}}">{{data.displayName}}</span>
                            </td>
                            <td class="table-col">
                                <span title="{{data.locale}}">{{data.locale}}</span>
                            </td>
                            <td class="table-col">
                                <span title="{{data.csvColumnName}}">{{data.csvColumnName}}</span>
                            </td>
                            <td class="table-col">
                                <span title="{{data.customValue}}">{{data.customValue}}</span>
                            </td>
                            <td class="table-col">
                                <span title="{{data.stringFormat}}">{{data.stringFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>