<div class="blade-static __bottom" ng-include="'Scripts/common/templates/ok-cancel2.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="formScope" class="form">
                <fieldset ng-init="setForm(formScope);">
                    <div class="form-group" ng-repeat="prop in blade.currentEntities as properties">
                        <label class="form-label" for="">
                            {{prop.property.name}}
                            <!--<a href="" ng-click="editProperty(prop)" va-permission="platform:dynamic_properties:manage"><i class="form-ico fa fa-pencil"></i></a>-->
                        </label>
                        <va-dynamic-property ng-model="prop" />
                    </div>

                    <div class="text" ng-if="properties.length == 0">None</div>
                </fieldset>
            </form>
        </div>
    </div>
</div>