<div class="blade-content __gray">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="detailForm">
                <div class="form-group" ng-init="setForm(detailForm)">
                    <label class="form-label">Code</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.id" type="text" placeholder="Store Code" required focus-on="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Name</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.name" type="text" placeholder="Store Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Catalog</label>
                    <div class="form-input">
                        <select ng-model="blade.currentEntity.catalog" ng-options="x.id as x.name for x in catalogs" required class="chosen-select"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">State</label>
                    <div class="form-input">
                        <select ng-model="blade.currentEntity.storeState" ng-options="x.id as x.name for x in storeStates" required class="chosen-select"></select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="blade-static __bottom">
    <button ng-click="saveChanges()"  class="btn" ng-class="{'__disabled': formScope != undefined && formScope.$invalid}">
        <span>Create</span>
    </button>
</div>