@model PaymentModel

        <fieldset class="form-list">
            <ul style="" id="payment_form_paypal_standard">
                <li>@("You will be redirected to PayPal website when you place an order.".LocalizeHtml())<br>
                    <br>
                    @(@"<strong>NB:</strong> Paypal is activated for demonstrational purposes. Merchant details are not configured, so you will get a Paypal error.".LocalizeHtml()) 

                </li>
            </ul>
        </fieldset>

