@model PaymentModel
<p>@("You will be redirected to PayPal website when you place an order.".Localize())</p>
<p>@("<b>NB:</b> Paypal is activated for demonstrational purposes. Merchant details are not configured, so you will get a Paypal error.".LocalizeHtml())</p>
