@model LineItemModel
<li id='compare-@Model.LineItemId' class="item">
	@Html.HiddenFor(m => m.LineItemId)
	@Ajax.ActionLink("Remove item".Localize(), "RemoveFromCompareList", "Cart", new { lineItemId = Model.LineItemId }, new AjaxOptions
		{
			HttpMethod = "POST", 
			Confirm = "Are you sure you would like to remove this item from the comparing list?".Localize(), 
			OnSuccess = "VirtoCart.onCompareListUpdate"
		}, new { @class = "btn-remove" })
	<p class="product-name">
		<a href="@Url.ItemUrl(Model.CatalogItem.Item, Model.ParentCatalogItem)">@Model.DisplayName</a>
	</p>
</li>