@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModelList
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul class="@(ViewBag.last ? "" : "level" + ViewBag.level)">
    @foreach (var node in Model)
    {
        <li class="@("level" + (ViewBag.level + 1))">
            @Html.DisplayFor(m => node)
            @if (node.Children != null && node.Children.Any())
            {
                @Html.DisplayFor(m => node.Children, "MegaMenu", new { level = ViewBag.level + 1, last = false })
            }
        </li>
    }
</ul>
