@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models


<ul class="menu" role="navigation">
    @foreach (var node in Model.Nodes.Where(n=>!n.Attributes.ContainsKey("showInTopMenu") || string.Equals(n.Attributes["showInTopMenu"].ToString(),"true", StringComparison.OrdinalIgnoreCase)))
    {
        <li class="@(node.Attributes.ContainsKey("cssClass") ? node.Attributes["cssClass"] : "")">
            @Html.DisplayFor(m => node, "TopMenuNodeModel")
            @if (node.Children.Any())
            {
                <div class="sub-menu">
                    @Html.DisplayFor(m => node.Children, "SiteMapNodeModelList", new { level = 0, last = Model.Nodes.IndexOf(node) == (Model.Nodes.Count - 1) })
                </div>
                <div class="fade"></div>
            }
        </li>
    }
</ul>
