@model PriceModel

<div class="price">
@if (Model.Type == PriceType.Sale)
{
    <p>
        <span class="original">@Model.SalePriceFormatted</span>
        <span class="old">@Model.ListPriceFormatted</span>

    </p>
}
else if(Model.Type == PriceType.Regular)
{
    <p>
        <span class="original">@Model.ListPriceFormatted</span>
    </p>
}
</div>
