@model SiteMapNodeModel

@if (Model.IsCurrentNode)  { 
    <li class="current">
        <b>@Model.Title.Localize()</b>
    </li>
}
else if (Model.IsClickable)
{ 
    <li>
        <a href="@Model.Url">@Model.Title.Localize()</a>
    </li>
} else { 
    <li>
        @Model.Title.Localize()
    </li>
}
