@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models


@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")  { 
    <text><b>@Model.Title.Localize()</b></text>
}
else if (Model.IsClickable)
{ 
    <a href="@Model.Url">@Model.Title.Localize()</a>
}
else
{ 
    <text><b>@Model.Title.Localize()</b></text>
}
