@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.Count() > 1)
{
    <div class="breadcrumbs">
        <ul>
            @foreach (var node in Model)
            { 
                <li>
                    @Html.DisplayFor(m => node)
                </li>
            }
        </ul>
    </div>
}