@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models
@using VirtoCommerce.Foundation.Catalogs.Services
@using VirtoCommerce.Web.Virto.Helpers


@if (Model.Count() > 1)
{
    <div class="breadcrumbs">
        <ul>
            
            @foreach (var node in Model)
            {
                if (node.Attributes.ContainsKey("ShowBack"))
                {
                    @:<a href="@UserHelper.CustomerSession.LastShoppingPage">< Back to results</a> &nbsp; | &nbsp;        
                }
                 if (node.Attributes.ContainsKey("Outline"))
                 {
                     foreach (var category in ((BrowsingOutline)node.Attributes["Outline"]).Categories)
                     {

                        <li>
                            @Html.ActionLink(category.DisplayName(), "Display", "Catalog", new { category = category.CategoryId }, null)
                        </li>
                     }
                 }
                <li>
                    @Html.DisplayFor(m => node, "SiteMapPathNodeModel")
                </li>
            }
        </ul>
    </div>
}