@using VirtoCommerce.Web.Virto.Helpers.MVC.SiteMap
@model SiteMapNodeModel
           
@functions
{
    private string GetTitle(SiteMapNodeModel model)
    {
        var titleAttribute = string.Format(CatalogNodeProvider.TitleAttributeFormat, UICulture);
        return model.Attributes.ContainsKey(titleAttribute) ? model.Attributes[titleAttribute].ToString() : model.Title;
    }
}

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")  { 
    <b>@GetTitle(Model)</b>
}
else if (Model.IsClickable)
{
    <a href="@Model.Url">
        <span>@GetTitle(Model)</span>
    </a>
}
else
{
    <b>@GetTitle(Model)</b>
}