<div class="global-search" ng-show="isAvailable()" ng-class="{'global-search--open': state.open && state.query, 'global-search--expanded': state.expanded}" role="search">
    <!-- small screens: a button that expands the search into a sheet under the header -->
    <button type="button" class="global-search__toggle" ng-click="focus()"
            title="{{'platform.search.placeholder' | translate}}" aria-label="{{'platform.search.placeholder' | translate}}">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>

    <div class="global-search__box">
        <i class="global-search__lead fa fa-search" aria-hidden="true"></i>
        <input class="global-search__input" type="search" autocomplete="off" spellcheck="false"
               role="combobox" aria-autocomplete="list" aria-controls="global-search-results" aria-expanded="{{!!(state.open && state.query)}}"
               placeholder="{{'platform.search.placeholder' | translate}}" aria-label="{{'platform.search.placeholder' | translate}}"
               ng-model="state.query" ng-change="onChange()" ng-focus="onFocus()" ng-keydown="onKeydown($event)" />
        <button type="button" class="global-search__clear" ng-if="state.query" ng-click="clear()" aria-label="{{'platform.search.clear' | translate}}">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <kbd class="global-search__kbd" ng-if="!state.query">{{isMac ? '⌘' : 'Ctrl'}} K</kbd>
        <button type="button" class="global-search__go" ng-click="focus()" tabindex="-1" aria-hidden="true">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>

    <div class="global-search__panel" id="global-search-results" role="listbox" ng-if="state.open && state.query">
        <div class="global-search__status" ng-if="state.loading && !state.groups.length">
            <span class="global-search__spinner" aria-hidden="true"></span>{{'platform.search.searching' | translate}}
        </div>
        <div class="global-search__status" ng-if="!state.loading && !state.groups.length">
            {{'platform.search.no-results' | translate: { query: state.query } }}
        </div>
        <div class="global-search__group" ng-repeat="group in state.groups">
            <div class="global-search__group-title">{{group.title}}</div>
            <button type="button" class="global-search__item" role="option" ng-repeat="item in group.items"
                    ng-class="{'global-search__item--active': item.$index === state.active}" aria-selected="{{item.$index === state.active}}"
                    ng-mouseenter="setActive(item)" ng-click="select(item)">
                <span class="global-search__item-icon">
                    <img ng-if="item.iconUrl" ng-src="{{item.iconUrl}}" alt="" />
                    <i ng-if="!item.iconUrl" ng-class="item.icon || 'fa fa-circle-o'" aria-hidden="true"></i>
                </span>
                <span class="global-search__item-text">
                    <span class="global-search__item-title" ng-bind-html="item.title | vaHighlight: state.query"></span>
                    <span class="global-search__item-descr" ng-if="item.description" ng-bind-html="item.description | vaHighlight: state.query"></span>
                </span>
                <i class="global-search__item-external fa fa-external-link" ng-if="item.external" aria-hidden="true"></i>
            </button>
        </div>
        <div class="global-search__footer" ng-if="state.groups.length">
            <span><kbd>↑</kbd><kbd>↓</kbd> {{'platform.search.hint-navigate' | translate}}</span>
            <span><kbd>Enter</kbd> {{'platform.search.hint-open' | translate}}</span>
            <span><kbd>Esc</kbd> {{'platform.search.hint-close' | translate}}</span>
        </div>
    </div>
</div>
