<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="HangfirePro" value="https://nuget.hangfire.io/nuget/hangfire-pro/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <HangfirePro>
            <add key="Username" value="%HANGFIRE_LOGIN%" />
            <add key="ClearTextPassword" value="%HANGFIRE_PASSWORD%" />
        </HangfirePro>
    </packageSourceCredentials>
</configuration>
