@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "OopsView";
}

<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="std">

                <h2>Looking for something?</h2>
                <p>
                    We're sorry. The web address you entered is not a functioning page on our site.
                </p>
                <p>
                    Go to <a href="@Href("~/")">Home Page</a>.
                </p>

            </div>
        </div>
    </div>
</div>
