@{
    Layout = "../Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "StoreClosedView";
}

        <div class="main-container col1-layout">
            <div class="main">
                <div class="col-main">
                    <div class="std">

<h2>Store is closed for maintenance?</h2>
<p>
     We're sorry. The store is temporarily closed for maintenance. Please try again later.
</p>
<p>
    Go to <a href=@Href("~/")>Home Page</a>.
</p>

                        </div>
                    </div>
                </div>
            </div>
