@{
    Layout = "../Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Store closed".Localize();
}

<div class="empty normal">
    <h2>@("Store is closed for maintenance?".Localize())</h2>
    <p>
        @(" We're sorry. The store is temporarily closed for maintenance. Please try again later.".Localize())
    </p>
    <p>
        @("Go to".Localize()) <a href=@Href("~/")>@("Home Page".Localize())</a>.
    </p>
</div>
