<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

    <div class="section-header text-center">
      <h1 class="h3 section-header--title">{{ page.title }}</h1>
    </div>

    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
