<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="sub-t __border">Role name</div>
            <form class="form" name="formScope">
                <div class="form-group">
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.name" placeholder="Enter name" focus-on required>
                    </div>
                </div>
            </form>
            <div class="sub-t">Assign permissions</div>
            <div class="list __items">
                <label class="list-item" ng-repeat="data in blade.currentEntities">
                    <input type="checkbox" ng-model="data.isChecked">
                    <span class="switch"></span>
                    <span class="list-name">{{data.name}}</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Core)/Scripts/common/create.tpl.html'"></div>