<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER_SDK">
            <Directory Id="dir4515186F820BC99A806C3FE759091C3A" Name="Configuration">
                <Component Id="cmp75E6B823DFF8C93BA890D9CB2AB93C55" Guid="{7FFB71A0-4398-48A3-9898-2B978A9926D9}">
                    <File Id="filF5ED7C33FEF504EC7EDADD7FCBD31E81" KeyPath="yes" Source="$(var.ConfigSourcePath)\ConfigurationWizard.exe" />
                </Component>
                <Component Id="cmpC8B7AF0DF6FA3D3F07C297F92DEA9E4A" Guid="{A4B1DB04-C836-49F9-AF9B-CE433BE297C8}">
                    <File Id="filFD972B84BA814838711F531A2E4B752E" KeyPath="yes" Source="$(var.ConfigSourcePath)\ConfigurationWizard.exe.config" />
                </Component>
                <Component Id="cmp1A59C99605D8C0BB38444396ABC83E79" Guid="{D0719533-7C9C-41EB-B964-CD37326EE027}">
                    <File Id="filE286562F96D74DEFD1CA05170343D449" KeyPath="yes" Source="$(var.ConfigSourcePath)\EntityFramework.dll" />
                </Component>
                <Component Id="cmp006D6FBE166B79E3EE3397E371971196" Guid="{2ECB43B7-6568-4A42-ACE4-C74682F3B84B}">
                    <File Id="fil21B326F0D982C0DAFE595278523DD328" KeyPath="yes" Source="$(var.ConfigSourcePath)\EntityFramework.SqlServer.dll" />
                </Component>
                <Component Id="cmpD07DF0C489B2CC0636907B525E582FA4" Guid="{23F06A18-6A09-41C5-AA08-D5A9070C40F8}">
                    <File Id="fil142A52D03162E5BDD83B8BDF8B403EA8" KeyPath="yes" Source="$(var.ConfigSourcePath)\ExpressionSerialization.dll" />
                </Component>
                <Component Id="cmp54DDDCACFC7D71ED7E3942D38631CCE1" Guid="{E29ABA69-DD42-45BE-8B92-3481F9C49540}">
                    <File Id="fil75BC224A6BA5F00C695ED476949934C9" KeyPath="yes" Source="$(var.ConfigSourcePath)\Lucene.Net.Contrib.Queries.dll" />
                </Component>
                <Component Id="cmp11E7F7287DF09433F2C8A57AB17014D3" Guid="{ED428D8A-73C7-48DF-939B-CAD466762F1F}">
                    <File Id="fil509C8AEA6D0A26851BDCCDD36A95BE7D" KeyPath="yes" Source="$(var.ConfigSourcePath)\Lucene.Net.Contrib.SpellChecker.dll" />
                </Component>
                <Component Id="cmp297E014D29523C6041295799982D64FF" Guid="{254B78A9-6C2C-4F7F-A94A-4F2090AA450C}">
                    <File Id="filBFA071C857166D7104E8A83572E45E0B" KeyPath="yes" Source="$(var.ConfigSourcePath)\Lucene.Net.dll" />
                </Component>
                <Component Id="cmp0BD655C064CE1402BF8B26D4C1307AF8" Guid="{ECA71B91-F22C-454C-BA40-D503223AB84B}">
                    <File Id="filFB4B80DA96CBDE0FB4FFDB9941016530" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.AspNet.Identity.Core.dll" />
                </Component>
                <Component Id="cmpBFF144A56B5064A3D76208349A865BE9" Guid="{385E1CCC-DE17-4329-8991-7FCB8BD9BC81}">
                    <File Id="fil1C580486D4DA8A739357D431FF006443" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.AspNet.Identity.EntityFramework.dll" />
                </Component>
                <Component Id="cmp27E3BD5C6967000CD158DF5367E8A05B" Guid="{0EBBC7BF-4248-42E4-AA99-ABBAA22CA3D5}">
                    <File Id="fil6C47C2A4248DE694E273C7E1944B00B7" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Data.Edm.dll" />
                </Component>
                <Component Id="cmp37B1ECC3E58C617427442B1236833CAE" Guid="{E30FA263-DC0E-4257-B592-736AF83A7A6F}">
                    <File Id="fil181128EFCB7566D26CEA0483B9013315" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Data.OData.dll" />
                </Component>
                <Component Id="cmp5345AF8D090985BD50E13F0C6D6B268A" Guid="{02897B69-A079-470C-8F0D-035AB5177F0D}">
                    <File Id="fil397AF87D95C54FFF528BF15960251661" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Data.Services.Client.dll" />
                </Component>
                <Component Id="cmpDB68F832EF9BACA3B607B3D939C9C806" Guid="{BF678BA9-C7FF-4E99-8922-81E121611AA5}">
                    <File Id="fil3BBDE1F6E3586BF025BEE6E1650598BF" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Data.Services.dll" />
                </Component>
                <Component Id="cmp4ABD1AE9AE03BD39C4A27447D9196D72" Guid="{38BBE187-8A15-4CF6-842F-D255B82F689A}">
                    <File Id="fil353E53AB8970DE651AB595E732ABD3CC" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Expression.Interactions.dll" />
                </Component>
                <Component Id="cmp726C2C4F998760FD2CF12372C6F3A37A" Guid="{8741060A-65EC-432C-8BDB-B329A9A2CFA1}">
                    <File Id="fil18D7F7EC41DAB13EA2854135C0E6E71A" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.OData.EntityFrameworkProvider.dll" />
                </Component>
                <Component Id="cmp38232351F15ED8194EF75D7C36031DBB" Guid="{5B718DBA-6A5C-4DCA-ACD5-C11B692F60E7}">
                    <File Id="fil3692FE25331B93A59FD5D0ED14571BAF" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.Prism.dll" />
                </Component>
                <Component Id="cmp3A1EE513048A650552B19A467871D518" Guid="{CD41A5CC-FABE-4892-BB2A-F23061FD8092}">
                    <File Id="fil9387D9F510BE9EF324E37BB738446B2F" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.Prism.Interactivity.dll" />
                </Component>
                <Component Id="cmpFAC84156ED7D8476F722857D4B784C7F" Guid="{D37446D5-C50F-436B-844C-DB0FE87048C0}">
                    <File Id="fil04D97EE7A96E665663E08DCEBA2B6DEE" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.Prism.UnityExtensions.dll" />
                </Component>
                <Component Id="cmp16F56DA74DE6C9A29B38C6AF0765CAC5" Guid="{F26F4882-5BE0-4366-9EB3-C6BD0803DFAE}">
                    <File Id="fil7CD265F5CACB64F4CB6FD702D0DFFE12" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.ServiceLocation.dll" />
                </Component>
                <Component Id="cmpA0D5130C5D82481A7FD236B4F4A9901A" Guid="{1F52496E-843F-4C37-8200-57AEB531A5B4}">
                    <File Id="fil905A3FF04DDF7EA0CD6BDB645A5ABBC5" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.Unity.Configuration.dll" />
                </Component>
                <Component Id="cmp1F67467BC33E77E8C7F4491AF3FE8C22" Guid="{147D5AB2-933F-4441-9C80-335597A1B486}">
                    <File Id="filC6ADF70C166C73FF50B019F77D5E0C8F" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.Unity.dll" />
                </Component>
                <Component Id="cmpF15F0D9D5E8A964FCBB143DEFF99EAB8" Guid="{05851FC3-B912-46B1-A886-7A8B394C04B2}">
                    <File Id="filC02EEE31995BC4E6A157184E60C61CD2" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.Unity.RegistrationByConvention.dll" />
                </Component>
                <Component Id="cmp05863A33BA013ECC248380C9E3550E7C" Guid="{9AFF0793-23EB-4052-9813-1998E29A6590}">
                    <File Id="fil0BC4E717A78CBB67AD1D87048ED7C0F8" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.WindowsAzure.Configuration.dll" />
                </Component>
                <Component Id="cmp8E0F2885006C77E0B530CF2F765EE5BD" Guid="{314AFFB5-9ADF-448B-90B3-EE20F83D9DCC}">
                    <File Id="filB053571504CCC5027FBB09F691CB1548" KeyPath="yes" Source="$(var.ConfigSourcePath)\Newtonsoft.Json.dll" />
                </Component>
                <Component Id="cmp02D30CF07B9E38574073485529F1AD1A" Guid="{6DFB3D33-63B3-407D-A13F-B714BBC4A5BF}">
                    <File Id="fil1D1FC3C0E586EBACD499A6C9312B793B" KeyPath="yes" Source="$(var.ConfigSourcePath)\Omu.ValueInjecter.dll" />
                </Component>
                <Component Id="cmpB1D07B389FEE0BCDDAE8B76C383C7968" Guid="{8067C467-5D7C-4FC8-9244-4E115C9D32CE}">
                    <File Id="fil7FECE42C62FCDD537F69A952A0B769E7" KeyPath="yes" Source="$(var.ConfigSourcePath)\PlainElastic.Net.dll" />
                </Component>
                <Component Id="cmp2DFA98175C41E3472CDA867DD29C8304" Guid="{A859A27C-F523-44B1-8373-EA942C2384E3}">
                    <File Id="fil94C3B4F51361E535A52C88FDC24283C5" KeyPath="yes" Source="$(var.ConfigSourcePath)\RedDog.Search.dll" />
                </Component>
                <Component Id="cmp565A2FC1F7F916A7ABC003CE1B94A1C7" Guid="{6C90D8F3-EE4E-4787-8268-3FA359D1E608}">
                    <File Id="fil9982532FA3FFB05C8D41A28097FF0599" KeyPath="yes" Source="$(var.ConfigSourcePath)\System.Net.Http.Formatting.dll" />
                </Component>
                <Component Id="cmp2991C14DD25F9678C0C08A4A1BDA144A" Guid="{1605672A-4965-49C8-A200-9C4A0212DE1B}">
                    <File Id="fil04112ED950E1D67DBCAD7F734DAD1EA7" KeyPath="yes" Source="$(var.ConfigSourcePath)\System.Spatial.dll" />
                </Component>
                <Component Id="cmp6F8092FDA861266F76FE0EB615B974EC" Guid="{0FB916D2-4579-4256-A8D6-A329BC82339A}">
                    <File Id="fil179EE0819EC73CE64394606FE71B5607" KeyPath="yes" Source="$(var.ConfigSourcePath)\System.Windows.Interactivity.dll" />
                </Component>
                <Component Id="cmp9F3724533CE2289350AE03C0A9B74632" Guid="{B2CA51E8-DF3E-43B7-B28A-0FF45E61206C}">
                    <File Id="fil965B455D281849F9A8AEDA6A776CC609" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.AzureSearchProvider.dll" />
                </Component>
                <Component Id="cmpD5B3C273ACEA517A1975FD7CC44DEA75" Guid="{9C69844F-5DB0-4025-B56F-A1BAD49E9086}">
                    <File Id="fil5F76E4C8DB5DA018FCD693D368CD07BF" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.Caching.HttpCache.dll" />
                </Component>
                <Component Id="cmp9AE63B6EDC93527F0513F36845D4C893" Guid="{82CEE220-EBFD-4CD1-8B43-D34F9E54CA3A}">
                    <File Id="filFCA4577FDDF7204732984F80D78D35C3" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.Client.dll" />
                </Component>
                <Component Id="cmp3EF3F757766F94798643B7A73C4FC4DB" Guid="{13BA990D-1344-4D2E-82AF-AC31D0EC0044}">
                    <File Id="fil5765692601E6B6AEFC0270AF2EB74549" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.ConfigurationUtility.Main.dll" />
                </Component>
                <Component Id="cmp1048A3D140D4BC3E4708B0E806EA2007" Guid="{89824F95-EF28-4261-A872-30EC601B548D}">
                    <File Id="fil14A7091C80B762CC4F59E7F27BC713B0" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.ElasticSearchProvider.dll" />
                </Component>
                <Component Id="cmp288BEBF6B89EE9DE9A8DC93E994E16BE" Guid="{E9B2BB32-5462-4720-9FF3-FD3191E46D91}">
                    <File Id="fil9484FB017F0C9C40876C37A6C0DE7D0C" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.Foundation.Data.dll" />
                </Component>
                <Component Id="cmpA7041DA0B7F450F763B862C72C6CCCD0" Guid="{254793C3-7C55-44ED-8750-699AE3BFACE0}">
                    <File Id="fil2B5C2FF8BCBFB24C5984509B8C81CB74" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.Foundation.dll" />
                </Component>
                <Component Id="cmp0D1F0E3C2C6504224CB37F4713DB2CE4" Guid="{68B440CF-943F-4BDA-94A0-BC7CA09A36D5}">
                    <File Id="fil5A24FF72A67AD05387D7F0CB251A628C" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.LuceneSearchProvider.dll" />
                </Component>
                <Component Id="cmp3DD082B1C43A957C895026E2BB43749F" Guid="{3C67A11A-8BDC-4487-9D35-9CA0CF5A7238}">
                    <File Id="filCDDA333F6D7436EFEE57ECEE38E35DD8" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.ManagementClient.Core.dll" />
                </Component>
                <Component Id="cmp91BF387C6ABFE09E3AEA8BE631D9DBE8" Guid="{221F8D8D-6FC7-452E-A335-866CAA88BF59}">
                    <File Id="fil1FD17168321F44F430BCDF7EBE4D40B6" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.ManagementClient.Localization.dll" />
                </Component>
                <Component Id="cmp4F43949E8877BA3B6B5EFD3F17BA9E8B" Guid="{B90D4F4D-AF44-43FE-A6C6-B49655984685}">
                    <File Id="fil67EFA224C8BC15FD14110854BFC4DE4E" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.PowerShell.dll" />
                </Component>
                <Component Id="cmpC37A92DB8DD8BD04ACF3AFFC59A60109" Guid="{997F6F4E-8C71-47CB-B138-620482220EDA}">
                    <File Id="filD1E9D1C05A8EF18B9A1C5A005E9B3592" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.Search.Index.dll" />
                </Component>
                <Component Id="cmpF2C2F823108DE854B5C82FB6557EB140" Guid="{16A8EEC6-7F5E-4C8B-8B59-A8192FF7AB28}">
                    <File Id="filA00F6A6E0D4FD0C68B4CECADACDDBE84" KeyPath="yes" Source="$(var.ConfigSourcePath)\Xceed.Wpf.DataGrid.dll" />
                </Component>
                <Component Id="cmp4BFD0E086A0A8CC567B0BEBFFB4564F0" Guid="{999BF4F4-A7CA-4C36-BEB1-285A0AF0A62F}">
                    <File Id="fil4EED3A4B7AB3EC738224C9C14425AEAD" KeyPath="yes" Source="$(var.ConfigSourcePath)\Xceed.Wpf.Toolkit.dll" />
                </Component>
                <Directory Id="dir195A552B18654C3F30B888DDE7EA62B9" Name="de">
                    <Component Id="cmpB993B02ADB9F60A0C545E4D37FDEBD5C" Guid="{AA274918-5E07-4FC0-9240-D8321DD2CC6C}">
                        <File Id="filA6FF74EA5A27091475950E0BBEA86AF3" KeyPath="yes" Source="$(var.ConfigSourcePath)\de\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp82996878A3253DEF9647B4229CD899E0" Guid="{BEF90911-591F-4F47-A64F-B09B2FD782CD}">
                        <File Id="filCE6C4951BEE265FA0AB91596708DE7C1" KeyPath="yes" Source="$(var.ConfigSourcePath)\de\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmpECC0EADEB30B0B0A23F96F9FBF7B239D" Guid="{EE222AE1-E092-446D-B5B2-62F4EB92108A}">
                        <File Id="fil0D051F26BDD6C2FC78FA8EBD05E4FD68" KeyPath="yes" Source="$(var.ConfigSourcePath)\de\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmpCFE444BD11D36241E8A6809A133E70C2" Guid="{B3E0E9A3-D0A6-4E20-95A3-910C2B9E1301}">
                        <File Id="fil80381F7282536D30B1CDE2C43CA9BD0C" KeyPath="yes" Source="$(var.ConfigSourcePath)\de\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmp21474286D99F1D8CE3C97FE41CFBCF1D" Guid="{8661982C-FB26-42C6-8189-DF997B364D7A}">
                        <File Id="filC4B91EBAC5761FEE5919CCF52C4EA0DD" KeyPath="yes" Source="$(var.ConfigSourcePath)\de\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir5E3EC87C418F270CF12DC368E0C25EAC" Name="es">
                    <Component Id="cmp46EB94C44E13584471371522A21498A8" Guid="{04E79434-4237-4072-A78C-B01C448141F1}">
                        <File Id="fil591CD96757BC5384A7023E364B557D94" KeyPath="yes" Source="$(var.ConfigSourcePath)\es\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp12FBD6F2F298D83D2EDBDF5BF04DFB02" Guid="{16A8818F-6DAD-4CE2-9CBA-A0355CBB75F8}">
                        <File Id="fil7B57FC58633B599A44628168DB8A566C" KeyPath="yes" Source="$(var.ConfigSourcePath)\es\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp97BFEF7716C472D4FB34FF2289E1B098" Guid="{2812FB2F-C585-48FC-BBBC-808CA15D8C75}">
                        <File Id="fil6BCFEB1B8BC359A822A1049E6590F7C3" KeyPath="yes" Source="$(var.ConfigSourcePath)\es\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmp59A6007CD640FEE1F4C0A5E7B01DD2EB" Guid="{4E45B501-110C-4604-BE44-61ADEC42DE8B}">
                        <File Id="fil21F7BD951B81D0B16A36ED648AF2B497" KeyPath="yes" Source="$(var.ConfigSourcePath)\es\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpF81ED4EB813F2036354F5678EF4C59A5" Guid="{0D8C6A4F-FB59-49B2-A13B-27D5E00008F8}">
                        <File Id="fil2AA4A3BCBC14D3858F6B4FC61B44C347" KeyPath="yes" Source="$(var.ConfigSourcePath)\es\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir10DDAC2595A3272B7AA1BC7C83EEFE7B" Name="fr">
                    <Component Id="cmpD75193852E8FBE6A84D07453399B9CE4" Guid="{17F21B60-C54D-48F1-B118-BE278C220940}">
                        <File Id="fil42CCDD614EF2F62480DBFD46EDB3B3F6" KeyPath="yes" Source="$(var.ConfigSourcePath)\fr\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp94B7C4872032D6053F37ABD8ADD1BBF1" Guid="{FCB889D0-F81D-46B3-89F3-6BBF786D8785}">
                        <File Id="fil5FAF24B90A4D8A8F19B8D3828B2C2735" KeyPath="yes" Source="$(var.ConfigSourcePath)\fr\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmpCA5B04272E5D7414A6AD390C62E8CD4D" Guid="{537F54C4-3BF2-4785-A263-2973E17A766E}">
                        <File Id="fil8646ED2E4FF0AC13DBBB68D3C8177CE2" KeyPath="yes" Source="$(var.ConfigSourcePath)\fr\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmpB935EE1B239882E402996B8A88753BDF" Guid="{0BBCF3C9-3CF0-4C46-B9DE-9F6BF090FC1F}">
                        <File Id="fil4640A2A648E8463119EE2A35F38D16A2" KeyPath="yes" Source="$(var.ConfigSourcePath)\fr\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpDC880878EA4658855A174F8750A69A7C" Guid="{EE2794D2-7AB6-4226-B515-19306ECBEE0C}">
                        <File Id="filB63B37E8B2544B9383077E64DF3B985B" KeyPath="yes" Source="$(var.ConfigSourcePath)\fr\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir8D3F949EC198E938ADC72C6E2249AE7B" Name="it">
                    <Component Id="cmpCFC3D60847A6FA5F73913304C29F33A0" Guid="{126FEFBB-A3AE-48CB-A673-26EA002F37E4}">
                        <File Id="filD5502CED34C950D0A14DD640DD1B3F71" KeyPath="yes" Source="$(var.ConfigSourcePath)\it\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp8C6540E6BAFF6276AD1B34D5C2B0D29A" Guid="{6D199ECB-F4BE-4718-8B91-73A6E2C12925}">
                        <File Id="fil8F6B3829729FDE98BF6CB73EF0E6CB21" KeyPath="yes" Source="$(var.ConfigSourcePath)\it\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmpF2112673AB976E29CF431109B6E29320" Guid="{9C478AFB-66F3-4A02-A7CB-C1785690F571}">
                        <File Id="filB5E8B29A792BECBD3903E7FA4B6B4A00" KeyPath="yes" Source="$(var.ConfigSourcePath)\it\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmpBA35E740BBB01949E6BB66620D02D130" Guid="{6FF808BE-05AE-4990-8C9A-FDDB9C96311C}">
                        <File Id="fil5E83FDA05DC0762365AFA1AF7C0CB3AD" KeyPath="yes" Source="$(var.ConfigSourcePath)\it\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpF5E1AE593A779E0E65C0A6496E402AE4" Guid="{26F79448-0DE2-4235-AF36-D59F00E18510}">
                        <File Id="fil323864943665FE910E2F3F9F2A6D5156" KeyPath="yes" Source="$(var.ConfigSourcePath)\it\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir6DF2B422CEE32C2F72463814E3E5661E" Name="ja">
                    <Component Id="cmpD9209589E485A2BC7E781F75E284D4E3" Guid="{E6F2B22E-1F46-4AE0-8C73-599403C2E4C4}">
                        <File Id="fil7EA783FDD6BCA64A326C64EAB779B1FC" KeyPath="yes" Source="$(var.ConfigSourcePath)\ja\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp9641FDA1BD2ED4C8089D199F2AF170D8" Guid="{E1394F21-6FDA-4ADF-805A-D3F3A22E31AD}">
                        <File Id="filB37474F4DC884AAC79890CE51DB4FB9C" KeyPath="yes" Source="$(var.ConfigSourcePath)\ja\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp04980002067CD94EC1F905ADAF82E6C4" Guid="{2F8BDEC6-EE6E-4A3C-AA5A-5454B67E1677}">
                        <File Id="fil640F52E9FA6854A387C56B64448056B7" KeyPath="yes" Source="$(var.ConfigSourcePath)\ja\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmpDF1532CF2582D4F89849ED15DB3A2E85" Guid="{01F3D4DA-44A6-48E8-A1C3-C23716792C1C}">
                        <File Id="filA2C7BE7E852C2E4B7A3AD6A342689978" KeyPath="yes" Source="$(var.ConfigSourcePath)\ja\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmp8DC768585AE04164261D3F424EDA6034" Guid="{29388162-530A-4F3D-A3F4-6BEE9CF21023}">
                        <File Id="fil7BEBF1FF17D881CABAEB8E3E88AE4CB4" KeyPath="yes" Source="$(var.ConfigSourcePath)\ja\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir454F66C1311F13065553200F8BBACB0B" Name="ko">
                    <Component Id="cmp48A6EC0FA652F28804BB3EE8FC882FD8" Guid="{EDAE4AE5-A6E9-479D-8DE3-826CA783971E}">
                        <File Id="filD4941146EF18E433D5E8CE59CC463B5A" KeyPath="yes" Source="$(var.ConfigSourcePath)\ko\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp24102329E2A485F062CEAD516B02D1AD" Guid="{09445DCE-A163-4F36-A21F-D160AF36903D}">
                        <File Id="filEB932C3AE58CA8C631CB63CEDCD9FFB2" KeyPath="yes" Source="$(var.ConfigSourcePath)\ko\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp87BA58246CDF2BC84F6C2FDEDAEDBA00" Guid="{A7318121-FE9D-4036-BF61-3F3D95D29F4C}">
                        <File Id="fil9B5B02E418E60EDEF14D1D509F2DBAEA" KeyPath="yes" Source="$(var.ConfigSourcePath)\ko\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmp5FD85657C26DE89C637BA21CD7A7CFAF" Guid="{E97BEDA5-8CE0-4285-811E-9B616F00C989}">
                        <File Id="fil7157B17E8900545D65E551161981A3AE" KeyPath="yes" Source="$(var.ConfigSourcePath)\ko\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmp46AB76F61A81223F47C365441EF1EAFC" Guid="{00FE0EFD-EE7A-405E-8EBC-29DC7A2ACAD3}">
                        <File Id="fil5D06CDB76558A97D420223E9AA69CD94" KeyPath="yes" Source="$(var.ConfigSourcePath)\ko\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir4EB1BD0D85FCACC47377CFA38FB83F9A" Name="ru">
                    <Component Id="cmpD1BD781FFCE0D951D25BA83213C5D1EB" Guid="{9BE9B9D7-EE7C-4CEB-B7CC-21C19EAB7C5C}">
                        <File Id="fil1196F3CF783781648E9152083A312AA5" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp788B3A1CB9F5836BDB7E3984A9BA0048" Guid="{21969864-AC9B-4FBF-8180-20F757533034}">
                        <File Id="filCAD9C6C3933C811F65C36147DCF49A5E" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp99EBBBA9E06AF716387A68B680E3C112" Guid="{7B8C1123-4841-4458-B3A4-D29731B16A0A}">
                        <File Id="fil2A145931F78AB05F4B427150C7B03CE1" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmpE4EA9262750FACF0140C5B90C08468AB" Guid="{9F3C7169-D1F9-4CC4-A233-EDA88B2FB888}">
                        <File Id="filEA26B3EA873A13334E4117870B4F185C" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpA41C3F04F98D57C5F8C078921F18CFE9" Guid="{901405AE-2B61-47BD-8291-FB0D85571682}">
                        <File Id="filBAB7F47E93E515C50D859FF9E573F297" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir00F84F9E6F5467F1732F59CC2503E09C" Name="ru-RU">
                    <Component Id="cmp6FC7B8FDBEF5632FF9C70A747EE3FF4B" Guid="{89463BC8-1C7B-4C62-A141-0414C63DD083}">
                        <File Id="fil270DA492EC71A4CAB7681526CBBD6551" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru-RU\VirtoCommerce.ConfigurationUtility.Main.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir2906E58E91AB9097952F3D8963D20D49" Name="zh-Hans">
                    <Component Id="cmp9E09ED703813AD3A42CF5B6027569DFD" Guid="{62DD76FB-A628-43A4-A6E8-16678714A192}">
                        <File Id="fil75A29B8D0CB9031FEB4BE87323421E99" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hans\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp14E9B221AE8164FE974966AC479F8285" Guid="{3F1491DB-3933-4404-8E88-76B9614B468F}">
                        <File Id="fil36B7F32B777713049BEC55F0378A116A" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hans\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp8F1FA4671EE43BC288FF791101B261AA" Guid="{DCBDCA88-0B6E-49D4-B2CD-BF33FCCD867B}">
                        <File Id="filA03D5349FE8447688238F6166E25843F" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hans\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmp85223C3147E087DD12D5DCF86AEF4DA5" Guid="{5435D9C9-3024-455F-8FA8-BB5333717FAE}">
                        <File Id="filC204B64681604944966AE3D870224BE6" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hans\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpBA173BE9D0D48444F7394B0133288D6D" Guid="{2890319B-6F63-41B5-B27D-94F69E086FFB}">
                        <File Id="filC730251FFE3DAB03291BE13B1054B71A" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hans\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir0A58A2F4101494CA26D42EAD52795EA5" Name="zh-Hant">
                    <Component Id="cmp1151C82E7C2DE846ED1982412ADF2D04" Guid="{0ABCDDCE-7600-453F-BE6D-E8DC443B07A2}">
                        <File Id="filB023C6FE1129613177A91F8C0D267108" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hant\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmpCC5552466849EE1EBD14B06D9B1B6558" Guid="{01774439-F7AB-47DB-965E-7C21384290FF}">
                        <File Id="filDC4F9940D569B698A80DC14AEAA97B06" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hant\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp4E97B70BDBFF1A3BFD3A303BCA85C501" Guid="{639F2686-0834-4112-8A37-CB8E8BB9676D}">
                        <File Id="fil62C46BB15FC4EB830B0E9FB6065E2E57" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hant\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmp66200ABA5D0CD1BF91640FF4BF9C39B2" Guid="{655B51E5-AC2B-4C1B-9253-A32D9DC778C4}">
                        <File Id="fil5974A62482F5ADB1FED92508870A2DFE" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hant\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpB6CD329116BAA734F1F4CB72AC956FC1" Guid="{D62DD6F9-1B23-4A9E-AAAB-B5950CEEC113}">
                        <File Id="filB580E5C87C07D899C9C45544A8968514" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hant\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Configuration">
            <ComponentRef Id="cmp75E6B823DFF8C93BA890D9CB2AB93C55" />
            <ComponentRef Id="cmpC8B7AF0DF6FA3D3F07C297F92DEA9E4A" />
            <ComponentRef Id="cmp1A59C99605D8C0BB38444396ABC83E79" />
            <ComponentRef Id="cmp006D6FBE166B79E3EE3397E371971196" />
            <ComponentRef Id="cmpD07DF0C489B2CC0636907B525E582FA4" />
            <ComponentRef Id="cmp54DDDCACFC7D71ED7E3942D38631CCE1" />
            <ComponentRef Id="cmp11E7F7287DF09433F2C8A57AB17014D3" />
            <ComponentRef Id="cmp297E014D29523C6041295799982D64FF" />
            <ComponentRef Id="cmp0BD655C064CE1402BF8B26D4C1307AF8" />
            <ComponentRef Id="cmpBFF144A56B5064A3D76208349A865BE9" />
            <ComponentRef Id="cmp27E3BD5C6967000CD158DF5367E8A05B" />
            <ComponentRef Id="cmp37B1ECC3E58C617427442B1236833CAE" />
            <ComponentRef Id="cmp5345AF8D090985BD50E13F0C6D6B268A" />
            <ComponentRef Id="cmpDB68F832EF9BACA3B607B3D939C9C806" />
            <ComponentRef Id="cmp4ABD1AE9AE03BD39C4A27447D9196D72" />
            <ComponentRef Id="cmp726C2C4F998760FD2CF12372C6F3A37A" />
            <ComponentRef Id="cmp38232351F15ED8194EF75D7C36031DBB" />
            <ComponentRef Id="cmp3A1EE513048A650552B19A467871D518" />
            <ComponentRef Id="cmpFAC84156ED7D8476F722857D4B784C7F" />
            <ComponentRef Id="cmp16F56DA74DE6C9A29B38C6AF0765CAC5" />
            <ComponentRef Id="cmpA0D5130C5D82481A7FD236B4F4A9901A" />
            <ComponentRef Id="cmp1F67467BC33E77E8C7F4491AF3FE8C22" />
            <ComponentRef Id="cmpF15F0D9D5E8A964FCBB143DEFF99EAB8" />
            <ComponentRef Id="cmp05863A33BA013ECC248380C9E3550E7C" />
            <ComponentRef Id="cmp8E0F2885006C77E0B530CF2F765EE5BD" />
            <ComponentRef Id="cmp02D30CF07B9E38574073485529F1AD1A" />
            <ComponentRef Id="cmpB1D07B389FEE0BCDDAE8B76C383C7968" />
            <ComponentRef Id="cmp2DFA98175C41E3472CDA867DD29C8304" />
            <ComponentRef Id="cmp565A2FC1F7F916A7ABC003CE1B94A1C7" />
            <ComponentRef Id="cmp2991C14DD25F9678C0C08A4A1BDA144A" />
            <ComponentRef Id="cmp6F8092FDA861266F76FE0EB615B974EC" />
            <ComponentRef Id="cmp9F3724533CE2289350AE03C0A9B74632" />
            <ComponentRef Id="cmpD5B3C273ACEA517A1975FD7CC44DEA75" />
            <ComponentRef Id="cmp9AE63B6EDC93527F0513F36845D4C893" />
            <ComponentRef Id="cmp3EF3F757766F94798643B7A73C4FC4DB" />
            <ComponentRef Id="cmp1048A3D140D4BC3E4708B0E806EA2007" />
            <ComponentRef Id="cmp288BEBF6B89EE9DE9A8DC93E994E16BE" />
            <ComponentRef Id="cmpA7041DA0B7F450F763B862C72C6CCCD0" />
            <ComponentRef Id="cmp0D1F0E3C2C6504224CB37F4713DB2CE4" />
            <ComponentRef Id="cmp3DD082B1C43A957C895026E2BB43749F" />
            <ComponentRef Id="cmp91BF387C6ABFE09E3AEA8BE631D9DBE8" />
            <ComponentRef Id="cmp4F43949E8877BA3B6B5EFD3F17BA9E8B" />
            <ComponentRef Id="cmpC37A92DB8DD8BD04ACF3AFFC59A60109" />
            <ComponentRef Id="cmpF2C2F823108DE854B5C82FB6557EB140" />
            <ComponentRef Id="cmp4BFD0E086A0A8CC567B0BEBFFB4564F0" />
            <ComponentRef Id="cmpB993B02ADB9F60A0C545E4D37FDEBD5C" />
            <ComponentRef Id="cmp82996878A3253DEF9647B4229CD899E0" />
            <ComponentRef Id="cmpECC0EADEB30B0B0A23F96F9FBF7B239D" />
            <ComponentRef Id="cmpCFE444BD11D36241E8A6809A133E70C2" />
            <ComponentRef Id="cmp21474286D99F1D8CE3C97FE41CFBCF1D" />
            <ComponentRef Id="cmp46EB94C44E13584471371522A21498A8" />
            <ComponentRef Id="cmp12FBD6F2F298D83D2EDBDF5BF04DFB02" />
            <ComponentRef Id="cmp97BFEF7716C472D4FB34FF2289E1B098" />
            <ComponentRef Id="cmp59A6007CD640FEE1F4C0A5E7B01DD2EB" />
            <ComponentRef Id="cmpF81ED4EB813F2036354F5678EF4C59A5" />
            <ComponentRef Id="cmpD75193852E8FBE6A84D07453399B9CE4" />
            <ComponentRef Id="cmp94B7C4872032D6053F37ABD8ADD1BBF1" />
            <ComponentRef Id="cmpCA5B04272E5D7414A6AD390C62E8CD4D" />
            <ComponentRef Id="cmpB935EE1B239882E402996B8A88753BDF" />
            <ComponentRef Id="cmpDC880878EA4658855A174F8750A69A7C" />
            <ComponentRef Id="cmpCFC3D60847A6FA5F73913304C29F33A0" />
            <ComponentRef Id="cmp8C6540E6BAFF6276AD1B34D5C2B0D29A" />
            <ComponentRef Id="cmpF2112673AB976E29CF431109B6E29320" />
            <ComponentRef Id="cmpBA35E740BBB01949E6BB66620D02D130" />
            <ComponentRef Id="cmpF5E1AE593A779E0E65C0A6496E402AE4" />
            <ComponentRef Id="cmpD9209589E485A2BC7E781F75E284D4E3" />
            <ComponentRef Id="cmp9641FDA1BD2ED4C8089D199F2AF170D8" />
            <ComponentRef Id="cmp04980002067CD94EC1F905ADAF82E6C4" />
            <ComponentRef Id="cmpDF1532CF2582D4F89849ED15DB3A2E85" />
            <ComponentRef Id="cmp8DC768585AE04164261D3F424EDA6034" />
            <ComponentRef Id="cmp48A6EC0FA652F28804BB3EE8FC882FD8" />
            <ComponentRef Id="cmp24102329E2A485F062CEAD516B02D1AD" />
            <ComponentRef Id="cmp87BA58246CDF2BC84F6C2FDEDAEDBA00" />
            <ComponentRef Id="cmp5FD85657C26DE89C637BA21CD7A7CFAF" />
            <ComponentRef Id="cmp46AB76F61A81223F47C365441EF1EAFC" />
            <ComponentRef Id="cmpD1BD781FFCE0D951D25BA83213C5D1EB" />
            <ComponentRef Id="cmp788B3A1CB9F5836BDB7E3984A9BA0048" />
            <ComponentRef Id="cmp99EBBBA9E06AF716387A68B680E3C112" />
            <ComponentRef Id="cmpE4EA9262750FACF0140C5B90C08468AB" />
            <ComponentRef Id="cmpA41C3F04F98D57C5F8C078921F18CFE9" />
            <ComponentRef Id="cmp6FC7B8FDBEF5632FF9C70A747EE3FF4B" />
            <ComponentRef Id="cmp9E09ED703813AD3A42CF5B6027569DFD" />
            <ComponentRef Id="cmp14E9B221AE8164FE974966AC479F8285" />
            <ComponentRef Id="cmp8F1FA4671EE43BC288FF791101B261AA" />
            <ComponentRef Id="cmp85223C3147E087DD12D5DCF86AEF4DA5" />
            <ComponentRef Id="cmpBA173BE9D0D48444F7394B0133288D6D" />
            <ComponentRef Id="cmp1151C82E7C2DE846ED1982412ADF2D04" />
            <ComponentRef Id="cmpCC5552466849EE1EBD14B06D9B1B6558" />
            <ComponentRef Id="cmp4E97B70BDBFF1A3BFD3A303BCA85C501" />
            <ComponentRef Id="cmp66200ABA5D0CD1BF91640FF4BF9C39B2" />
            <ComponentRef Id="cmpB6CD329116BAA734F1F4CB72AC956FC1" />
        </ComponentGroup>
    </Fragment>
</Wix>