<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER_SDK">
            <Directory Id="dir4515186F820BC99A806C3FE759091C3A" Name="Configuration">
                <Component Id="cmp75E6B823DFF8C93BA890D9CB2AB93C55" Guid="{D358586D-6A17-48BF-A0E8-4B105E9166DA}">
                    <File Id="filF5ED7C33FEF504EC7EDADD7FCBD31E81" KeyPath="yes" Source="$(var.ConfigSourcePath)\ConfigurationWizard.exe" />
                </Component>
                <Component Id="cmpC8B7AF0DF6FA3D3F07C297F92DEA9E4A" Guid="{0D99E21A-7CD4-4055-BEA4-26729570E81B}">
                    <File Id="filFD972B84BA814838711F531A2E4B752E" KeyPath="yes" Source="$(var.ConfigSourcePath)\ConfigurationWizard.exe.config" />
                </Component>
                <Component Id="cmp1A59C99605D8C0BB38444396ABC83E79" Guid="{4C2B74D5-09ED-406A-AA09-72F595A20F4B}">
                    <File Id="filE286562F96D74DEFD1CA05170343D449" KeyPath="yes" Source="$(var.ConfigSourcePath)\EntityFramework.dll" />
                </Component>
                <Component Id="cmpD07DF0C489B2CC0636907B525E582FA4" Guid="{C54C990D-0E65-462F-AC2F-2432196520DF}">
                    <File Id="fil142A52D03162E5BDD83B8BDF8B403EA8" KeyPath="yes" Source="$(var.ConfigSourcePath)\ExpressionSerialization.dll" />
                </Component>
                <Component Id="cmp11E7F7287DF09433F2C8A57AB17014D3" Guid="{448438A6-5859-411F-A963-28C38B5E40DD}">
                    <File Id="fil509C8AEA6D0A26851BDCCDD36A95BE7D" KeyPath="yes" Source="$(var.ConfigSourcePath)\Lucene.Net.Contrib.SpellChecker.dll" />
                </Component>
                <Component Id="cmp297E014D29523C6041295799982D64FF" Guid="{52EBA89F-E79F-48BE-A30E-2EC683B3D6DE}">
                    <File Id="filBFA071C857166D7104E8A83572E45E0B" KeyPath="yes" Source="$(var.ConfigSourcePath)\Lucene.Net.dll" />
                </Component>
                <Component Id="cmp27E3BD5C6967000CD158DF5367E8A05B" Guid="{B8952FBB-32B5-435C-A822-3F7CAF0BAF99}">
                    <File Id="fil6C47C2A4248DE694E273C7E1944B00B7" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Data.Edm.dll" />
                </Component>
                <Component Id="cmp37B1ECC3E58C617427442B1236833CAE" Guid="{F0172594-5604-48EC-92A3-BD648C1CBF41}">
                    <File Id="fil181128EFCB7566D26CEA0483B9013315" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Data.OData.dll" />
                </Component>
                <Component Id="cmp5345AF8D090985BD50E13F0C6D6B268A" Guid="{C9F68203-65D2-4819-A35B-83D109FCFBBB}">
                    <File Id="fil397AF87D95C54FFF528BF15960251661" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Data.Services.Client.dll" />
                </Component>
                <Component Id="cmpDB68F832EF9BACA3B607B3D939C9C806" Guid="{FCF0EF62-F047-4E08-A141-3E07783EB379}">
                    <File Id="fil3BBDE1F6E3586BF025BEE6E1650598BF" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Data.Services.dll" />
                </Component>
                <Component Id="cmp4ABD1AE9AE03BD39C4A27447D9196D72" Guid="{4B107F79-5EFD-4738-AFC0-67552881A13C}">
                    <File Id="fil353E53AB8970DE651AB595E732ABD3CC" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Expression.Interactions.dll" />
                </Component>
                <Component Id="cmp38232351F15ED8194EF75D7C36031DBB" Guid="{42EC47E7-C5B2-4F62-966B-EF9E6980B8D2}">
                    <File Id="fil3692FE25331B93A59FD5D0ED14571BAF" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.Prism.dll" />
                </Component>
                <Component Id="cmp3A1EE513048A650552B19A467871D518" Guid="{C108DE09-16A8-433D-915F-3AB43781D001}">
                    <File Id="fil9387D9F510BE9EF324E37BB738446B2F" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.Prism.Interactivity.dll" />
                </Component>
                <Component Id="cmpFAC84156ED7D8476F722857D4B784C7F" Guid="{C709AF50-87CE-406D-912F-4997AA9147AC}">
                    <File Id="fil04D97EE7A96E665663E08DCEBA2B6DEE" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.Prism.UnityExtensions.dll" />
                </Component>
                <Component Id="cmp16F56DA74DE6C9A29B38C6AF0765CAC5" Guid="{51749269-2F8E-4FAD-91A8-1F3706260250}">
                    <File Id="fil7CD265F5CACB64F4CB6FD702D0DFFE12" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.ServiceLocation.dll" />
                </Component>
                <Component Id="cmpA0D5130C5D82481A7FD236B4F4A9901A" Guid="{46DA5D96-8B04-4EEB-B0B3-A92858814FD6}">
                    <File Id="fil905A3FF04DDF7EA0CD6BDB645A5ABBC5" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.Unity.Configuration.dll" />
                </Component>
                <Component Id="cmp1F67467BC33E77E8C7F4491AF3FE8C22" Guid="{097A0AF1-8974-4853-9180-B41D20438114}">
                    <File Id="filC6ADF70C166C73FF50B019F77D5E0C8F" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.Practices.Unity.dll" />
                </Component>
                <Component Id="cmp05863A33BA013ECC248380C9E3550E7C" Guid="{5F489675-8CEB-4AE2-9998-3B99AE1D9262}">
                    <File Id="fil0BC4E717A78CBB67AD1D87048ED7C0F8" KeyPath="yes" Source="$(var.ConfigSourcePath)\Microsoft.WindowsAzure.Configuration.dll" />
                </Component>
                <Component Id="cmp8E0F2885006C77E0B530CF2F765EE5BD" Guid="{CBDA2CD6-3898-4555-BC40-47B0479D9D52}">
                    <File Id="filB053571504CCC5027FBB09F691CB1548" KeyPath="yes" Source="$(var.ConfigSourcePath)\Newtonsoft.Json.dll" />
                </Component>
                <Component Id="cmp02D30CF07B9E38574073485529F1AD1A" Guid="{9F92F9A6-872D-43E1-937C-DA6ECE3754F7}">
                    <File Id="fil1D1FC3C0E586EBACD499A6C9312B793B" KeyPath="yes" Source="$(var.ConfigSourcePath)\Omu.ValueInjecter.dll" />
                </Component>
                <Component Id="cmpB1D07B389FEE0BCDDAE8B76C383C7968" Guid="{ACE886E8-1D47-4951-9792-A588552B1E45}">
                    <File Id="fil7FECE42C62FCDD537F69A952A0B769E7" KeyPath="yes" Source="$(var.ConfigSourcePath)\PlainElastic.Net.dll" />
                </Component>
                <Component Id="cmp2991C14DD25F9678C0C08A4A1BDA144A" Guid="{05D2A602-57D4-466E-8220-06C4C254C494}">
                    <File Id="fil04112ED950E1D67DBCAD7F734DAD1EA7" KeyPath="yes" Source="$(var.ConfigSourcePath)\System.Spatial.dll" />
                </Component>
                <Component Id="cmp6F8092FDA861266F76FE0EB615B974EC" Guid="{1D959667-F25A-40CC-A4BF-A6CDF56C4794}">
                    <File Id="fil179EE0819EC73CE64394606FE71B5607" KeyPath="yes" Source="$(var.ConfigSourcePath)\System.Windows.Interactivity.dll" />
                </Component>
                <Component Id="cmpD5B3C273ACEA517A1975FD7CC44DEA75" Guid="{F15B087C-9902-4AC5-A019-0C45FD2995AD}">
                    <File Id="fil5F76E4C8DB5DA018FCD693D368CD07BF" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.Caching.HttpCache.dll" />
                </Component>
                <Component Id="cmp3EF3F757766F94798643B7A73C4FC4DB" Guid="{289C166E-362F-47A9-AB1C-B0A9885337AC}">
                    <File Id="fil5765692601E6B6AEFC0270AF2EB74549" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.ConfigurationUtility.Main.dll" />
                </Component>
                <Component Id="cmp1048A3D140D4BC3E4708B0E806EA2007" Guid="{AA4DFCDA-7518-4871-B105-B227E9F62B3C}">
                    <File Id="fil14A7091C80B762CC4F59E7F27BC713B0" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.ElasticSearchProvider.dll" />
                </Component>
                <Component Id="cmp288BEBF6B89EE9DE9A8DC93E994E16BE" Guid="{92A39A9D-4154-4812-BECB-0A8141DEC75B}">
                    <File Id="fil9484FB017F0C9C40876C37A6C0DE7D0C" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.Foundation.Data.dll" />
                </Component>
                <Component Id="cmpA7041DA0B7F450F763B862C72C6CCCD0" Guid="{901EC706-0110-40FA-9BE8-AB7E462DA3FA}">
                    <File Id="fil2B5C2FF8BCBFB24C5984509B8C81CB74" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.Foundation.dll" />
                </Component>
                <Component Id="cmp0D1F0E3C2C6504224CB37F4713DB2CE4" Guid="{667704CF-F450-4883-8776-75FC75E3D5AB}">
                    <File Id="fil5A24FF72A67AD05387D7F0CB251A628C" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.LuceneSearchProvider.dll" />
                </Component>
                <Component Id="cmp3DD082B1C43A957C895026E2BB43749F" Guid="{7194FB1F-69DC-4452-8466-D66124059D0B}">
                    <File Id="filCDDA333F6D7436EFEE57ECEE38E35DD8" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.ManagementClient.Core.dll" />
                </Component>
                <Component Id="cmp4F43949E8877BA3B6B5EFD3F17BA9E8B" Guid="{042BB0CD-D37C-4CC2-97F4-44799ADFE66C}">
                    <File Id="fil67EFA224C8BC15FD14110854BFC4DE4E" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.PowerShell.dll" />
                </Component>
                <Component Id="cmpC37A92DB8DD8BD04ACF3AFFC59A60109" Guid="{731001A4-FB6E-4387-9045-0CF938E2AFF2}">
                    <File Id="filD1E9D1C05A8EF18B9A1C5A005E9B3592" KeyPath="yes" Source="$(var.ConfigSourcePath)\VirtoCommerce.Search.Index.dll" />
                </Component>
                <Component Id="cmpF2C2F823108DE854B5C82FB6557EB140" Guid="{A1693D7E-2050-464F-A690-95F812A4CADD}">
                    <File Id="filA00F6A6E0D4FD0C68B4CECADACDDBE84" KeyPath="yes" Source="$(var.ConfigSourcePath)\Xceed.Wpf.DataGrid.dll" />
                </Component>
                <Component Id="cmp4BFD0E086A0A8CC567B0BEBFFB4564F0" Guid="{E27B0535-6644-4C34-8417-AB6222C89DC7}">
                    <File Id="fil4EED3A4B7AB3EC738224C9C14425AEAD" KeyPath="yes" Source="$(var.ConfigSourcePath)\Xceed.Wpf.Toolkit.dll" />
                </Component>
                <Directory Id="dir195A552B18654C3F30B888DDE7EA62B9" Name="de">
                    <Component Id="cmpB993B02ADB9F60A0C545E4D37FDEBD5C" Guid="{AAFCE579-9D8E-452E-91F7-B2FCFEADED5A}">
                        <File Id="filA6FF74EA5A27091475950E0BBEA86AF3" KeyPath="yes" Source="$(var.ConfigSourcePath)\de\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp82996878A3253DEF9647B4229CD899E0" Guid="{3232B1C0-08DC-4862-A424-93C50486537A}">
                        <File Id="filCE6C4951BEE265FA0AB91596708DE7C1" KeyPath="yes" Source="$(var.ConfigSourcePath)\de\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmpECC0EADEB30B0B0A23F96F9FBF7B239D" Guid="{EC269111-A34A-4008-961E-9F93B7D88054}">
                        <File Id="fil0D051F26BDD6C2FC78FA8EBD05E4FD68" KeyPath="yes" Source="$(var.ConfigSourcePath)\de\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmpCFE444BD11D36241E8A6809A133E70C2" Guid="{2DD30DA2-B154-4EEC-8D9F-837F812F0532}">
                        <File Id="fil80381F7282536D30B1CDE2C43CA9BD0C" KeyPath="yes" Source="$(var.ConfigSourcePath)\de\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmp21474286D99F1D8CE3C97FE41CFBCF1D" Guid="{E826AEDB-B821-4E2C-91DB-7BA5C4D6ED97}">
                        <File Id="filC4B91EBAC5761FEE5919CCF52C4EA0DD" KeyPath="yes" Source="$(var.ConfigSourcePath)\de\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir5E3EC87C418F270CF12DC368E0C25EAC" Name="es">
                    <Component Id="cmp46EB94C44E13584471371522A21498A8" Guid="{052B2BAB-C896-4BE7-8F08-9B595A5F7ECB}">
                        <File Id="fil591CD96757BC5384A7023E364B557D94" KeyPath="yes" Source="$(var.ConfigSourcePath)\es\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp12FBD6F2F298D83D2EDBDF5BF04DFB02" Guid="{4A9CC151-9D9F-4B01-99C7-3D496AA5C85B}">
                        <File Id="fil7B57FC58633B599A44628168DB8A566C" KeyPath="yes" Source="$(var.ConfigSourcePath)\es\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp97BFEF7716C472D4FB34FF2289E1B098" Guid="{E3FE6707-54FC-4AFD-980A-1FEA5CD0370A}">
                        <File Id="fil6BCFEB1B8BC359A822A1049E6590F7C3" KeyPath="yes" Source="$(var.ConfigSourcePath)\es\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmp59A6007CD640FEE1F4C0A5E7B01DD2EB" Guid="{6D4D2143-A5DD-4356-9F1A-04DFC473ECC0}">
                        <File Id="fil21F7BD951B81D0B16A36ED648AF2B497" KeyPath="yes" Source="$(var.ConfigSourcePath)\es\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpF81ED4EB813F2036354F5678EF4C59A5" Guid="{385A3E1A-1ADC-4BE6-ABF6-6B4904E0EED0}">
                        <File Id="fil2AA4A3BCBC14D3858F6B4FC61B44C347" KeyPath="yes" Source="$(var.ConfigSourcePath)\es\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir10DDAC2595A3272B7AA1BC7C83EEFE7B" Name="fr">
                    <Component Id="cmpD75193852E8FBE6A84D07453399B9CE4" Guid="{720F92E5-816E-4E66-98B5-D0A5E8894650}">
                        <File Id="fil42CCDD614EF2F62480DBFD46EDB3B3F6" KeyPath="yes" Source="$(var.ConfigSourcePath)\fr\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp94B7C4872032D6053F37ABD8ADD1BBF1" Guid="{E6C97623-A690-49B8-8DC2-B31CB16AA51E}">
                        <File Id="fil5FAF24B90A4D8A8F19B8D3828B2C2735" KeyPath="yes" Source="$(var.ConfigSourcePath)\fr\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmpCA5B04272E5D7414A6AD390C62E8CD4D" Guid="{DAAF840B-A765-4B19-8BD9-805CE64CA3BD}">
                        <File Id="fil8646ED2E4FF0AC13DBBB68D3C8177CE2" KeyPath="yes" Source="$(var.ConfigSourcePath)\fr\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmpB935EE1B239882E402996B8A88753BDF" Guid="{44E841B0-DC60-4A9B-B453-ED37A5CBFB4B}">
                        <File Id="fil4640A2A648E8463119EE2A35F38D16A2" KeyPath="yes" Source="$(var.ConfigSourcePath)\fr\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpDC880878EA4658855A174F8750A69A7C" Guid="{5EB3E51B-8087-47A0-9F95-AD23638342D9}">
                        <File Id="filB63B37E8B2544B9383077E64DF3B985B" KeyPath="yes" Source="$(var.ConfigSourcePath)\fr\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir8D3F949EC198E938ADC72C6E2249AE7B" Name="it">
                    <Component Id="cmpCFC3D60847A6FA5F73913304C29F33A0" Guid="{D31DA279-8E95-4BBC-BBF6-E91063D1FB86}">
                        <File Id="filD5502CED34C950D0A14DD640DD1B3F71" KeyPath="yes" Source="$(var.ConfigSourcePath)\it\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp8C6540E6BAFF6276AD1B34D5C2B0D29A" Guid="{ACA3B74F-9B56-432E-A74C-2291BD0B38C4}">
                        <File Id="fil8F6B3829729FDE98BF6CB73EF0E6CB21" KeyPath="yes" Source="$(var.ConfigSourcePath)\it\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmpF2112673AB976E29CF431109B6E29320" Guid="{BAFCAF81-60EE-4674-A3B0-145031BF4957}">
                        <File Id="filB5E8B29A792BECBD3903E7FA4B6B4A00" KeyPath="yes" Source="$(var.ConfigSourcePath)\it\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmpBA35E740BBB01949E6BB66620D02D130" Guid="{8FA86ED7-4DEC-41B6-B70C-375929A79B2D}">
                        <File Id="fil5E83FDA05DC0762365AFA1AF7C0CB3AD" KeyPath="yes" Source="$(var.ConfigSourcePath)\it\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpF5E1AE593A779E0E65C0A6496E402AE4" Guid="{81D3993E-3F86-45B0-BA00-D4E84BBF7486}">
                        <File Id="fil323864943665FE910E2F3F9F2A6D5156" KeyPath="yes" Source="$(var.ConfigSourcePath)\it\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir6DF2B422CEE32C2F72463814E3E5661E" Name="ja">
                    <Component Id="cmpD9209589E485A2BC7E781F75E284D4E3" Guid="{5E4D79B7-ECF1-4C9E-BAD1-B64EF0E0BC64}">
                        <File Id="fil7EA783FDD6BCA64A326C64EAB779B1FC" KeyPath="yes" Source="$(var.ConfigSourcePath)\ja\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp9641FDA1BD2ED4C8089D199F2AF170D8" Guid="{8065F10F-7B4F-4EC5-8DCF-2BD970A9595B}">
                        <File Id="filB37474F4DC884AAC79890CE51DB4FB9C" KeyPath="yes" Source="$(var.ConfigSourcePath)\ja\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp04980002067CD94EC1F905ADAF82E6C4" Guid="{725C7F6E-5EA9-41C0-BBDD-60E8C80CB3D4}">
                        <File Id="fil640F52E9FA6854A387C56B64448056B7" KeyPath="yes" Source="$(var.ConfigSourcePath)\ja\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmpDF1532CF2582D4F89849ED15DB3A2E85" Guid="{9E49E34C-4591-4FA9-A1CD-5AE78058519F}">
                        <File Id="filA2C7BE7E852C2E4B7A3AD6A342689978" KeyPath="yes" Source="$(var.ConfigSourcePath)\ja\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmp8DC768585AE04164261D3F424EDA6034" Guid="{4D9230B5-7AD4-4357-914B-C687E722B1A6}">
                        <File Id="fil7BEBF1FF17D881CABAEB8E3E88AE4CB4" KeyPath="yes" Source="$(var.ConfigSourcePath)\ja\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir454F66C1311F13065553200F8BBACB0B" Name="ko">
                    <Component Id="cmp48A6EC0FA652F28804BB3EE8FC882FD8" Guid="{23CC15DC-9FA6-4061-8FAF-A1C77888AA4A}">
                        <File Id="filD4941146EF18E433D5E8CE59CC463B5A" KeyPath="yes" Source="$(var.ConfigSourcePath)\ko\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp24102329E2A485F062CEAD516B02D1AD" Guid="{19B2C76E-E16C-4F58-B88E-8B661F9E271A}">
                        <File Id="filEB932C3AE58CA8C631CB63CEDCD9FFB2" KeyPath="yes" Source="$(var.ConfigSourcePath)\ko\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp87BA58246CDF2BC84F6C2FDEDAEDBA00" Guid="{F69DE62C-EEB5-4959-8C1F-078DE812DF30}">
                        <File Id="fil9B5B02E418E60EDEF14D1D509F2DBAEA" KeyPath="yes" Source="$(var.ConfigSourcePath)\ko\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmp5FD85657C26DE89C637BA21CD7A7CFAF" Guid="{0D739C5D-9990-4BCA-AC11-3B95F18CC777}">
                        <File Id="fil7157B17E8900545D65E551161981A3AE" KeyPath="yes" Source="$(var.ConfigSourcePath)\ko\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmp46AB76F61A81223F47C365441EF1EAFC" Guid="{652EC9D8-8CB0-445B-98E6-568D299BFACA}">
                        <File Id="fil5D06CDB76558A97D420223E9AA69CD94" KeyPath="yes" Source="$(var.ConfigSourcePath)\ko\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir4EB1BD0D85FCACC47377CFA38FB83F9A" Name="ru">
                    <Component Id="cmpD1BD781FFCE0D951D25BA83213C5D1EB" Guid="{10606EED-03F7-48B8-A219-BFB415DF80D7}">
                        <File Id="fil1196F3CF783781648E9152083A312AA5" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp788B3A1CB9F5836BDB7E3984A9BA0048" Guid="{2C5633EE-060E-4014-B179-E5996EA38406}">
                        <File Id="filCAD9C6C3933C811F65C36147DCF49A5E" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp99EBBBA9E06AF716387A68B680E3C112" Guid="{8D516D83-8EC1-4800-B266-161520DD09B8}">
                        <File Id="fil2A145931F78AB05F4B427150C7B03CE1" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmpE4EA9262750FACF0140C5B90C08468AB" Guid="{4D1C19C1-1574-4E20-B3AB-6C16785FE2E9}">
                        <File Id="filEA26B3EA873A13334E4117870B4F185C" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpA41C3F04F98D57C5F8C078921F18CFE9" Guid="{604218DE-C462-45D7-B12E-34A36E65BEFB}">
                        <File Id="filBAB7F47E93E515C50D859FF9E573F297" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir00F84F9E6F5467F1732F59CC2503E09C" Name="ru-RU">
                    <Component Id="cmp6FC7B8FDBEF5632FF9C70A747EE3FF4B" Guid="{F52221D9-3BE5-4FCD-92C9-F6DA3C1D8E59}">
                        <File Id="fil270DA492EC71A4CAB7681526CBBD6551" KeyPath="yes" Source="$(var.ConfigSourcePath)\ru-RU\VirtoCommerce.ConfigurationUtility.Main.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir2906E58E91AB9097952F3D8963D20D49" Name="zh-Hans">
                    <Component Id="cmp9E09ED703813AD3A42CF5B6027569DFD" Guid="{8CF7B077-9A6E-41A4-AAAB-4F01E11F2CAE}">
                        <File Id="fil75A29B8D0CB9031FEB4BE87323421E99" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hans\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmp14E9B221AE8164FE974966AC479F8285" Guid="{8B278F81-EFF6-4C13-83A2-F5124669ED96}">
                        <File Id="fil36B7F32B777713049BEC55F0378A116A" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hans\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp8F1FA4671EE43BC288FF791101B261AA" Guid="{BEB239E8-FD66-4003-AB1A-95B2FDA8D374}">
                        <File Id="filA03D5349FE8447688238F6166E25843F" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hans\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmp85223C3147E087DD12D5DCF86AEF4DA5" Guid="{8724E291-0B6C-46B7-8566-2D8DD38058BA}">
                        <File Id="filC204B64681604944966AE3D870224BE6" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hans\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpBA173BE9D0D48444F7394B0133288D6D" Guid="{4D19B805-5AE8-49D3-9A67-E893000B33ED}">
                        <File Id="filC730251FFE3DAB03291BE13B1054B71A" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hans\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir0A58A2F4101494CA26D42EAD52795EA5" Name="zh-Hant">
                    <Component Id="cmp1151C82E7C2DE846ED1982412ADF2D04" Guid="{D1001073-0625-492E-9377-B1AD7A3890E1}">
                        <File Id="filB023C6FE1129613177A91F8C0D267108" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hant\Microsoft.Data.Edm.resources.dll" />
                    </Component>
                    <Component Id="cmpCC5552466849EE1EBD14B06D9B1B6558" Guid="{DF41CA3A-E1EC-4E79-ADA5-3FC6F62C318E}">
                        <File Id="filDC4F9940D569B698A80DC14AEAA97B06" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hant\Microsoft.Data.OData.resources.dll" />
                    </Component>
                    <Component Id="cmp4E97B70BDBFF1A3BFD3A303BCA85C501" Guid="{664F5C5D-B772-4940-8B93-3E18729FD138}">
                        <File Id="fil62C46BB15FC4EB830B0E9FB6065E2E57" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hant\Microsoft.Data.Services.Client.resources.dll" />
                    </Component>
                    <Component Id="cmp66200ABA5D0CD1BF91640FF4BF9C39B2" Guid="{94C78D00-86CA-4807-8400-6A54011F60F4}">
                        <File Id="fil5974A62482F5ADB1FED92508870A2DFE" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hant\Microsoft.Data.Services.resources.dll" />
                    </Component>
                    <Component Id="cmpB6CD329116BAA734F1F4CB72AC956FC1" Guid="{C031351B-5F1E-47A3-A670-9204A28FF207}">
                        <File Id="filB580E5C87C07D899C9C45544A8968514" KeyPath="yes" Source="$(var.ConfigSourcePath)\zh-Hant\System.Spatial.resources.dll" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Configuration">
            <ComponentRef Id="cmp75E6B823DFF8C93BA890D9CB2AB93C55" />
            <ComponentRef Id="cmpC8B7AF0DF6FA3D3F07C297F92DEA9E4A" />
            <ComponentRef Id="cmp1A59C99605D8C0BB38444396ABC83E79" />
            <ComponentRef Id="cmpD07DF0C489B2CC0636907B525E582FA4" />
            <ComponentRef Id="cmp11E7F7287DF09433F2C8A57AB17014D3" />
            <ComponentRef Id="cmp297E014D29523C6041295799982D64FF" />
            <ComponentRef Id="cmp27E3BD5C6967000CD158DF5367E8A05B" />
            <ComponentRef Id="cmp37B1ECC3E58C617427442B1236833CAE" />
            <ComponentRef Id="cmp5345AF8D090985BD50E13F0C6D6B268A" />
            <ComponentRef Id="cmpDB68F832EF9BACA3B607B3D939C9C806" />
            <ComponentRef Id="cmp4ABD1AE9AE03BD39C4A27447D9196D72" />
            <ComponentRef Id="cmp38232351F15ED8194EF75D7C36031DBB" />
            <ComponentRef Id="cmp3A1EE513048A650552B19A467871D518" />
            <ComponentRef Id="cmpFAC84156ED7D8476F722857D4B784C7F" />
            <ComponentRef Id="cmp16F56DA74DE6C9A29B38C6AF0765CAC5" />
            <ComponentRef Id="cmpA0D5130C5D82481A7FD236B4F4A9901A" />
            <ComponentRef Id="cmp1F67467BC33E77E8C7F4491AF3FE8C22" />
            <ComponentRef Id="cmp05863A33BA013ECC248380C9E3550E7C" />
            <ComponentRef Id="cmp8E0F2885006C77E0B530CF2F765EE5BD" />
            <ComponentRef Id="cmp02D30CF07B9E38574073485529F1AD1A" />
            <ComponentRef Id="cmpB1D07B389FEE0BCDDAE8B76C383C7968" />
            <ComponentRef Id="cmp2991C14DD25F9678C0C08A4A1BDA144A" />
            <ComponentRef Id="cmp6F8092FDA861266F76FE0EB615B974EC" />
            <ComponentRef Id="cmpD5B3C273ACEA517A1975FD7CC44DEA75" />
            <ComponentRef Id="cmp3EF3F757766F94798643B7A73C4FC4DB" />
            <ComponentRef Id="cmp1048A3D140D4BC3E4708B0E806EA2007" />
            <ComponentRef Id="cmp288BEBF6B89EE9DE9A8DC93E994E16BE" />
            <ComponentRef Id="cmpA7041DA0B7F450F763B862C72C6CCCD0" />
            <ComponentRef Id="cmp0D1F0E3C2C6504224CB37F4713DB2CE4" />
            <ComponentRef Id="cmp3DD082B1C43A957C895026E2BB43749F" />
            <ComponentRef Id="cmp4F43949E8877BA3B6B5EFD3F17BA9E8B" />
            <ComponentRef Id="cmpC37A92DB8DD8BD04ACF3AFFC59A60109" />
            <ComponentRef Id="cmpF2C2F823108DE854B5C82FB6557EB140" />
            <ComponentRef Id="cmp4BFD0E086A0A8CC567B0BEBFFB4564F0" />
            <ComponentRef Id="cmpB993B02ADB9F60A0C545E4D37FDEBD5C" />
            <ComponentRef Id="cmp82996878A3253DEF9647B4229CD899E0" />
            <ComponentRef Id="cmpECC0EADEB30B0B0A23F96F9FBF7B239D" />
            <ComponentRef Id="cmpCFE444BD11D36241E8A6809A133E70C2" />
            <ComponentRef Id="cmp21474286D99F1D8CE3C97FE41CFBCF1D" />
            <ComponentRef Id="cmp46EB94C44E13584471371522A21498A8" />
            <ComponentRef Id="cmp12FBD6F2F298D83D2EDBDF5BF04DFB02" />
            <ComponentRef Id="cmp97BFEF7716C472D4FB34FF2289E1B098" />
            <ComponentRef Id="cmp59A6007CD640FEE1F4C0A5E7B01DD2EB" />
            <ComponentRef Id="cmpF81ED4EB813F2036354F5678EF4C59A5" />
            <ComponentRef Id="cmpD75193852E8FBE6A84D07453399B9CE4" />
            <ComponentRef Id="cmp94B7C4872032D6053F37ABD8ADD1BBF1" />
            <ComponentRef Id="cmpCA5B04272E5D7414A6AD390C62E8CD4D" />
            <ComponentRef Id="cmpB935EE1B239882E402996B8A88753BDF" />
            <ComponentRef Id="cmpDC880878EA4658855A174F8750A69A7C" />
            <ComponentRef Id="cmpCFC3D60847A6FA5F73913304C29F33A0" />
            <ComponentRef Id="cmp8C6540E6BAFF6276AD1B34D5C2B0D29A" />
            <ComponentRef Id="cmpF2112673AB976E29CF431109B6E29320" />
            <ComponentRef Id="cmpBA35E740BBB01949E6BB66620D02D130" />
            <ComponentRef Id="cmpF5E1AE593A779E0E65C0A6496E402AE4" />
            <ComponentRef Id="cmpD9209589E485A2BC7E781F75E284D4E3" />
            <ComponentRef Id="cmp9641FDA1BD2ED4C8089D199F2AF170D8" />
            <ComponentRef Id="cmp04980002067CD94EC1F905ADAF82E6C4" />
            <ComponentRef Id="cmpDF1532CF2582D4F89849ED15DB3A2E85" />
            <ComponentRef Id="cmp8DC768585AE04164261D3F424EDA6034" />
            <ComponentRef Id="cmp48A6EC0FA652F28804BB3EE8FC882FD8" />
            <ComponentRef Id="cmp24102329E2A485F062CEAD516B02D1AD" />
            <ComponentRef Id="cmp87BA58246CDF2BC84F6C2FDEDAEDBA00" />
            <ComponentRef Id="cmp5FD85657C26DE89C637BA21CD7A7CFAF" />
            <ComponentRef Id="cmp46AB76F61A81223F47C365441EF1EAFC" />
            <ComponentRef Id="cmpD1BD781FFCE0D951D25BA83213C5D1EB" />
            <ComponentRef Id="cmp788B3A1CB9F5836BDB7E3984A9BA0048" />
            <ComponentRef Id="cmp99EBBBA9E06AF716387A68B680E3C112" />
            <ComponentRef Id="cmpE4EA9262750FACF0140C5B90C08468AB" />
            <ComponentRef Id="cmpA41C3F04F98D57C5F8C078921F18CFE9" />
            <ComponentRef Id="cmp6FC7B8FDBEF5632FF9C70A747EE3FF4B" />
            <ComponentRef Id="cmp9E09ED703813AD3A42CF5B6027569DFD" />
            <ComponentRef Id="cmp14E9B221AE8164FE974966AC479F8285" />
            <ComponentRef Id="cmp8F1FA4671EE43BC288FF791101B261AA" />
            <ComponentRef Id="cmp85223C3147E087DD12D5DCF86AEF4DA5" />
            <ComponentRef Id="cmpBA173BE9D0D48444F7394B0133288D6D" />
            <ComponentRef Id="cmp1151C82E7C2DE846ED1982412ADF2D04" />
            <ComponentRef Id="cmpCC5552466849EE1EBD14B06D9B1B6558" />
            <ComponentRef Id="cmp4E97B70BDBFF1A3BFD3A303BCA85C501" />
            <ComponentRef Id="cmp66200ABA5D0CD1BF91640FF4BF9C39B2" />
            <ComponentRef Id="cmpB6CD329116BAA734F1F4CB72AC956FC1" />
        </ComponentGroup>
    </Fragment>
</Wix>