<?xml version="1.0" encoding="UTF-8"?>
<?include shared.wxi?>
<?define UpgradeCode = "{51d027d6-0394-4ed8-9e1d-59a5f118df6d}"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="5D89C96C-0156-472F-AAE2-F42D5C18EF06" Name="Virto Commerce $(var.DisplayVersion) SDK" Manufacturer="VirtoCommerce" Language="1033" Version="$(var.ProductVersion)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Platform="$(sys.BUILDARCH)" InstallPrivileges="elevated" InstallScope="perMachine"  Compressed="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
    
    <!--
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="yes" Minimum="1.0.0.0" Maximum="$(var.ProductVersion)" Property="PREVIOUSVERSIONSINSTALLED"/>
      <UpgradeVersion OnlyDetect="yes" IncludeMinimum="no" Minimum="$(var.ProductVersion)" Property="NEWERVERSIONDETECTED"/>
    </Upgrade>
    <CustomActionRef Id="WixExitEarlyWithSuccess"/>
    -->

    <Property Id="ARPSYSTEMCOMPONENT" Value="1" />

    <Feature Id="ProductFeature" Title="Virto Commerce $(var.DisplayVersion)" Level="1">
      <ComponentRef Id="License" />
      <ComponentGroupRef Id="Resources" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <Media Id="1" Cabinet="main.cab" EmbedCab="no" CompressionLevel="high" />

  </Product>

  <Fragment>
    <?define FrontendSourcePath = "%TEMP%\FrontEnd" ?>
    <?define DistroDataFolder = "$(var.ProjectDir)Distro" ?>
    <?define VersionName = "$(var.ProductVersion)" ?>
    
     
    <?if $(var.Platform) = x64 ?>
      <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?else ?>
      <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?endif?>

    <?define ZipResourceFolder = "$(var.OutDir)..\..\$(var.Configuration)" ?>   

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="VirtoCommerce $(var.DisplayVersion)">
          <Directory Id="INSTALLFOLDER_SDK" Name="SDK">
            <Directory Id="Content" Name="Content"/>
            <Directory Id="Configuration" Name="Configuration"/>
            <Directory Id="Resources" Name="Resources">
              <Directory Id="Admin" Name="Admin"></Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Virto Commerce $(var.DisplayVersion)"/>
      </Directory>      
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="2274CC23-AC67-4ABB-AAA1-9CB0874D68A1">
        <Shortcut Id="ApplicationStartMenuShortcut"
             Name="Configure Demo Site"
           Description="Virto Commerce SDK - Configuration Wizard"
            Target="[INSTALLFOLDER_SDK]\Configuration\ConfigurationWizard.exe"
                  WorkingDirectory="INSTALLFOLDER_SDK"/>
        <util:InternetShortcut Id="OnlineDocumentationShortcut" Name="Online Documentation &amp; Support" Target="http://support.virtocommerce.com/"/>        
        <Shortcut Id="SetupAdminShortcut" 
             Name="Configure and run Commerce Manager"
           Description="Runs Commerce Manager"
            Target="[INSTALLFOLDER_SDK]\Resources\Admin\VirtoCommerce.application"
                  WorkingDirectory="INSTALLFOLDER_SDK"/>   
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\VirtoCommerce" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- FontEnd -->
    <!--
    <CustomAction Id="ExtractFrontEndFiles_Helper" Property="ExtractFrontEndFiles" Value="&quot;[Resources]7za.exe&quot; x &quot;[Resources]FrontEnd.zip&quot; -o&quot;[Content]&quot; -y" Execute="immediate" />
    <?if $(var.Platform) = x64 ?>
      <CustomAction Id="ExtractFrontEndFiles" BinaryKey="WixCA" DllEntry="CAQuietExec64" Execute="deferred" Return="check" Impersonate="no"/>
    <?else ?>
      <CustomAction Id="ExtractFrontEndFiles" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no"/>
    <?endif ?>
    <?if $(var.Platform) = x64 ?>
      <CustomAction Id="RemoveFrontEndFiles_Helper" Property="RemoveFrontEndFiles" Value="&quot;[System64Folder]cmd.exe&quot; /c rmdir &quot;[Content]&quot; /s /q" Execute="immediate" />
      <CustomAction Id="RemoveFrontEndFiles" BinaryKey="WixCA" DllEntry="CAQuietExec64" Execute="commit" Return="check" Impersonate="no"/>
    <?else ?>
      <CustomAction Id="RemoveFrontEndFiles_Helper" Property="RemoveFrontEndFiles" Value="&quot;[SystemFolder]cmd.exe&quot; /c rmdir &quot;[Content]&quot; /s /q" Execute="immediate" />
      <CustomAction Id="RemoveFrontEndFiles" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="commit" Return="check" Impersonate="no"/>
    <?endif ?>
    -->
    
    <!-- Configuration utility -->
    <!--
    
    <CustomAction Id="ExtractConfigurationFiles_Helper" Property="ExtractConfigurationFiles" Value="&quot;[Resources]7za.exe&quot; x &quot;[Resources]Configuration.zip&quot; -o&quot;[Configuration]&quot; -y" Execute="immediate" />
    <?if $(var.Platform) = x64 ?>
      <CustomAction Id="ExtractConfigurationFiles" BinaryKey="WixCA" DllEntry="CAQuietExec64" Execute="deferred" Return="check" Impersonate="no"/>
    <?else ?>
      <CustomAction Id="ExtractConfigurationFiles" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no"/>
    <?endif ?>
    <?if $(var.Platform) = x64 ?>
      <CustomAction Id="RemoveConfigurationFiles_Helper" Property="RemoveConfigurationFiles" Value="&quot;[System64Folder]cmd.exe&quot; /c rmdir &quot;[Configuration]&quot; /s /q" Execute="immediate" />
      <CustomAction Id="RemoveConfigurationFiles" BinaryKey="WixCA" DllEntry="CAQuietExec64" Execute="commit" Return="check" Impersonate="no"/>
    <?else ?>
      <CustomAction Id="RemoveConfigurationFiles_Helper" Property="RemoveConfigurationFiles" Value="&quot;[SystemFolder]cmd.exe&quot; /c rmdir &quot;[Configuration]&quot; /s /q" Execute="immediate" />
      <CustomAction Id="RemoveConfigurationFiles" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="commit" Return="check" Impersonate="no"/>
    <?endif ?>
    -->
    
    <InstallExecuteSequence>
      
      <!-- FontEnd -->
      <!--
      <Custom Action="ExtractFrontEndFiles_Helper" After="CostFinalize">
        <![CDATA[NOT Installed]]>
      </Custom>
      <Custom Action="ExtractFrontEndFiles" Before="InstallFinalize">
        <![CDATA[NOT Installed]]>
      </Custom>
      <Custom Action="RemoveFrontEndFiles_Helper" After="CostFinalize">
        <![CDATA[Installed]]>
      </Custom>
      <Custom Action="RemoveFrontEndFiles" Before="InstallFinalize">
        <![CDATA[Installed]]>
      </Custom>
      -->
      <!-- Configuration -->
      <!--
      <Custom Action="ExtractConfigurationFiles_Helper" After="CostFinalize">
        <![CDATA[NOT Installed]]>
      </Custom>
      <Custom Action="ExtractConfigurationFiles" Before="InstallFinalize">
        <![CDATA[NOT Installed]]>
      </Custom>
      <Custom Action="RemoveConfigurationFiles_Helper" After="CostFinalize">
        <![CDATA[Installed]]>
      </Custom>
      <Custom Action="RemoveConfigurationFiles" Before="InstallFinalize">
        <![CDATA[Installed]]>
      </Custom>
      -->
    </InstallExecuteSequence>

    <Component Id="License" Directory="INSTALLFOLDER" Guid="CDFB4727-A341-4387-81BE-DCE402ADADC5">
      <File Id="License" Source="License.rtf" Checksum="yes" KeyPath="yes" Vital="yes"/>
    </Component>
    <ComponentGroup Id="Resources" Directory="Resources">
      <ComponentGroupRef Id="FrontEnd"/>
      <ComponentGroupRef Id="Configuration"/>
      <ComponentGroupRef Id="Database"/>
      <ComponentGroupRef Id="Catalog"/>
      <ComponentGroupRef Id="Admin"/>

		<!--
	  <Component Id="VirtoCommerceManager" Guid="1DF2C2F4-87D0-434E-931C-ACF2B65FDCF7">
        <File Id="VirtoCommerceManager" Source="$(var.DistroDataFolder)\VirtoCommerceManager.appref-ms" Checksum="yes" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="ZipTool" Guid="F69FE661-F34F-4EA8-A116-BF789E6C20AE">
        <File Id="SevenZip" Source="C:\Program Files\7-zip\7za.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="FrontEnd" Guid="F983D054-25FE-4539-BB8D-3E2BEC8D3BDF">
        <File Id="FrontEnd" Source="$(var.ZipResourceFolder)\FrontEnd.zip" Checksum="yes" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="Configuration" Guid="C16DB422-CDFC-4A31-9791-7EA8711EEB82">
        <File Id="Configuration" Source="$(var.ZipResourceFolder)\Configuration.zip" Checksum="yes" KeyPath="yes" Vital="yes" />
      </Component>
      -->
    </ComponentGroup>
  </Fragment>
</Wix>