<div class="blade-static __bottom">
    <button class="btn" ng-click="startImport()" ng-disabled="!blade.canImport">
        <span>Start import</span>
    </button>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="importWizardForm" class="form">
                <fieldset ng-init="setForm(importWizardForm)">
                    <label class="form-label">Csv column delimiter</label>
                    <ui-select required ng-model="blade.columnDelimiter">
                        <ui-select-match allow-clear="true" placeholder="Select ...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="x.value as x in columnDelimiters | filter: $select.search ">
                            <span ng-bind-html="x.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </fieldset>

                <fieldset ng-disabled="!blade.columnDelimiter">
                    <div class="form-group">
                        <label class="form-label">Upload Csv file</label>
                        <div class="form-input">
                            <input type="file" uploader="uploader" nv-file-select style="z-index: 0;" tabindex="-1">
                            <input type="text" readonly="" ng-model="blade.csvFileUrl">
                            <button class="btn __file" type="button" onclick="$('input[type=file]').trigger('click')">
                                <i class="btn-ico fa fa-image"></i>
                            </button>
                        </div>
                    </div>
                </fieldset>
             
            </form>

            <ul class="list __items">
                <li class="list-item" ng-click="openMappingStep()" ng-class="{'__disabled': !canMapColumns()}">
                    <span class="list-t">Map columns</span>
                    <span class="list-descr">Define column mapping</span>
                </li>
            </ul>
        </div>
    </div>
</div>