<div class="modal-header">
    <h3 class="modal-title" ng-if="action==='install'">{{ 'platform.dialogs.module-action.title-install' | translate }}</h3>
    <h3 class="modal-title" ng-if="action==='update'">{{ 'platform.dialogs.module-action.title-update' | translate }}</h3>
    <h3 class="modal-title" ng-if="action==='uninstall'">{{ 'platform.dialogs.module-action.title-delete' | translate }}</h3>
</div>
<div class="modal-body size-clearfix">
    <p ng-if="action==='install'">{{ 'platform.dialogs.module-action.message0-install' | translate }}</p>
    <p ng-if="action==='update'">{{ 'platform.dialogs.module-action.message0-update' | translate }}</p>
    <p ng-if="action==='uninstall'">{{ 'platform.dialogs.module-action.message0-delete' | translate }}</p>
    <ul class="item-list-clearfix">
        <li ng-repeat="data in selection">{{data.id}} ({{action==='update' ? data.$alternativeVersion + ' &#8658; ' : ''}}{{data.version}})</li>
    </ul>
    <div ng-if="dependencies.length">
        <br>
        <p ng-if="action==='install' || action==='update'">{{ 'platform.dialogs.module-action.message1-install' | translate }}</p>
        <p ng-if="action==='uninstall'">{{ 'platform.dialogs.module-action.message1-delete' | translate }}</p>
        <ul style="max-height:530px;">
            <li ng-repeat="data in dependencies">{{data.id}} ({{data.version}})</li>
        </ul>
    </div>
    <!--<br>
    <span ng-if="action==='install'">{{ 'platform.dialogs.module-action.message2-install' | translate }}</span>
    <span ng-if="action==='update'">{{ 'platform.dialogs.module-action.message2-update' | translate }}</span>
    <span ng-if="action==='uninstall'">{{ 'platform.dialogs.module-action.message2-delete' | translate }}</span>-->
</div>
<div class="modal-footer">
    <button class="btn" ng-click="yes()">{{ 'platform.commands.confirm' | translate }}</button>
    <button class="btn" ng-click="cancel()">{{ 'platform.commands.cancel' | translate }}</button>
</div>