<ul class="breadcrumb">
    <li class="breadcrumb__item breadcrumb__item--completed">
        <a class="breadcrumb__link" href="" ng-click="outerRedirect(baseUrl + 'cart')">{{ 'checkout.cart' | t }}</a>
    </li>
    <li class="breadcrumb__item" ng-repeat="checkoutStep in checkout.steps" ng-class="{ 'breadcrumb__item--current': checkoutStep.current, 'breadcrumb__item--completed': checkoutStep.completed }">
        <span ng-if="checkoutStep.code == 'shippingAddress'">
            <a class="breadcrumb__link" href="" ng-click="goToCheckoutStep(checkoutStep.InnerUrl)" ng-if="!checkoutStep.current">Shipping address</a>
            <span ng-class="{ 'current': checkoutStep.current }" ng-if="checkoutStep.current">Shipping address</span>
        </span>
        <span ng-if="checkoutStep.code == 'shippingMethod'">
            <a class="breadcrumb__link" href="" ng-click="goToCheckoutStep(checkoutStep.InnerUrl)" ng-if="!checkoutStep.current && checkoutStep.enabled">Shipping method</a>
            <span ng-class="{ 'current': checkoutStep.current }" ng-if="checkoutStep.current || !checkoutStep.Enabled">Shipping method</span>
        </span>
        <span ng-if="checkoutStep.code == 'paymentMethod'">
            <a class="breadcrumb__link" href="" ng-click="goToCheckoutStep(checkoutStep.InnerUrl)" ng-if="!checkoutStep.current && checkoutStep.enabled">Payment method</a>
            <span ng-class="{ 'current': checkoutStep.current }" ng-if="checkoutStep.current || !checkoutStep.enabled">Payment method</span>
        </span>
    </li>
</ul>