<div class="alert fixed" role="alert" ng-class="{ 'alert-danger': storefrontNotification.type == 'error' }" ng-if="storefrontNotification" ng-cloak>
    <button aria-label="Close" class="close" type="button" ng-click="closeNotification()">
        <span aria-hidden="true">×</span>
    </button>
    <strong>Oops! An error was occured!</strong>
    Please send a technical details to us.<br /><br />
    <a style="color: #a94442; cursor: pointer; font-weight: 700;" ng-click="toggleNotificationDetails()">
        <i class="fa" ng-class="{ 'fa-angle-down': !storefrontNotification.detailsVisible, 'fa-angle-up': storefrontNotification.detailsVisible }"></i>
        <span ng-if="!storefrontNotification.detailsVisible">Show me a technical details</span>
        <span ng-if="storefrontNotification.detailsVisible">Hide a technical details</span>
    </a>
    <p ng-if="storefrontNotification.detailsVisible" ng-bind="storefrontNotification.title"></p>
    <p ng-if="storefrontNotification.detailsVisible" ng-bind="storefrontNotification.message"></p>
</div>