<div class="toast-top-full-width" id="toast-container" ng-if="storefrontNotification">
    <div class="toast toast-error" ng-if="storefrontNotification.type == 'error'">
        <button class="toast-close-button" type="button" ng-click="closeNotification()">×</button>
        <div class="toast-title">{{ 'notification.error_title' | t }}</div>
        <div class="toast-message">{{ 'notification.error_message' | t }}</div>
        <i class="fa fa-angle-down" ng-if="!storefrontNotification.detailsVisible"></i>
        <a href="" style="color: #ffffff; text-decoration: underline;" ng-if="!storefrontNotification.detailsVisible" ng-click="toggleNotificationDetails(storefrontNotification.detailsVisible)">
            {{ 'notification.show_error_details_link_text' | t }}
        </a>
        <i class="fa fa-angle-up" ng-if="storefrontNotification.detailsVisible"></i>
        <a href="" style="color: #ffffff; text-decoration: underline;" ng-if="storefrontNotification.detailsVisible" ng-click="toggleNotificationDetails(storefrontNotification.detailsVisible)">
            {{ 'notification.hide_error_details_link_text' | t }}
        </a>
        <div class="toast-message" style="margin-top: 20px;" ng-bind="storefrontNotification.message" ng-if="storefrontNotification.detailsVisible"></div>
    </div>
</div>