<input id="product-id" value="{{ product.id }}" type="hidden" />
<div id="quote-informer" style="position: relative; margin: -30px 10px 20px; border: 1px solid #ccc; padding: 10px 20px; border-radius: 3px; background: {{ settings.color_primary }}; color: {{ settings.color_nav_text }}; display: none;">
    <h1 class="h2" style="color: {{ settings.color_nav_text }};">Quote request</h1>
    <p>Product "<span id="quote-informer-item-title" style="font-weight: 800;"></span>" was added to quote request</p>
    <span class="icon icon-x" id="quote-informer-close" style="cursor: pointer; position: absolute; right: 20px; top: 15px;"></span>
</div>