<div class="left-menu">
    <div class="block">
        <div class="dropdown" ng-class="{'opened': showSubMenu}">
            <div class="title">{{currentMenuItem.group}}</div>
            <div class="content">
                <div class="inner">
                    <header ng-if="!currentMenuItem.headerTemplate">
                        <a href=""><span>Everything</span><span data-bind="image: MsPortalFx.Base.Images.Go()" class="ico"><svg class="msportalfx-svg-placeholder" viewBox="0 0 50 50" focusable="false"> <path d="M25.004,0C38.809,0,50,11.197,50,25c0,13.808-11.191,25-24.996,25C11.194,50,0,38.808,0,25 C0,11.197,11.194,0,25.004,0 M25.004,3.179C12.974,3.179,3.181,12.967,3.181,25c0,12.033,9.792,21.825,21.823,21.825 c12.026,0,21.817-9.792,21.817-21.825C46.821,12.967,37.03,3.179,25.004,3.179"></path> <polygon points="29.576,22.574 21.893,15.329 28.14,15.329 38.415,25.021 28.187,34.677 21.938,34.677 29.576,27.475 12.259,27.475 12.259,22.574 "></polygon> </svg></span></a>
                    </header>
                    <ng-include src='currentMenuItem.headerTemplate'> </ng-include>
                    <div class="scrollable">
                        <ul class="list">
                            <li ng-repeat="menuItem in currentMenuItem.children" ng-click="selectMenuItem(menuItem)">
                                <a ng-if="!menuItem.template" href="" va-permission="{{menuItem.permission}}">
                                    <i ng-class="menuItem.icon"></i>
                                    {{menuItem.title}}
                                </a>
                                <ng-include src='menuItem.template'> </ng-include>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a class="close" ng-click="showSubMenu = false">×</a>
        </div>

        <div class="bar">
            <ul class="top">
                <li ng-class="{'active': currentMenuItem === menuItem && showSubMenu}" ng-repeat="menuItem in menuItems | filter: {parent: null}" ng-click="selectMenuItem(menuItem)">
                    <span>
                        <a ng-if="!menuItem.template" href="">
                            <span class="icon">
                                <i ng-class="menuItem.icon"></i>
                            </span>
                            <span class="name">{{menuItem.title}}</span>
                        </a>
                    </span>
                    <ng-include src='menuItem.template'> </ng-include>
                </li>
            </ul>
        </div>
    </div>
</div>

