@use 'sass:math'

/* Fonts */
$font: 'Roboto'
$fontAw: 'FontAwesome'
$fontSize: 16px
$fontAwFwSzeMultiplier: 1.28571429
$monospaceFontSize: 13px
$h1FontSize: ceil(3.30 * $fontSize)
$h2FontSize: ceil(2.75 * $fontSize)
$h3FontSize: ceil(2.25 * $fontSize)

/* Metrics */

/* General */

$demoWarningHeight: 28px

$tileSize: 120px
$tileMargin: 10px

$bladeSizeBase: $tileSize + $tileMargin
$bladePadding: 20px
$bladeContainerPadding: 0

$bladeSizes: ('Small', 'Normal', 'Medium', 'Large', 'XLarge', 'XXLarge')

@function getBladeContentSize($bladeSize)
  $minimalSize: $bladeSizeBase * 2 - $tileMargin + $bladePadding * 2
  @return $minimalSize + $bladeSizeBase * (index($bladeSizes, $bladeSize) - 1)

@function getBladeInnerSize($bladeSize)
  @return getBladeContentSize($bladeSize) - $bladePadding * 2

$listItemHorizontalPadding: 20px
$listItemArrowSpace: 30px

$mainMenuWidth: 240px
$mainMenuIcoSize: $fontSize * 2
$mainMenuIcoFontSize: math.div($mainMenuIcoSize, $fontAwFwSzeMultiplier)
$mainMenuCollapsedWidth: $mainMenuIcoSize + $listItemHorizontalPadding * 2
$mainMenuDropdownWidth: 360px

/* Colors */

/* General */
$baseColorRaw: #43b0e6
$baseColor: var(--vc-base-color, #{$baseColorRaw})
$baseBgRaw: #f5f6f9
$baseBg: var(--vc-base-bg, #{$baseBgRaw})
$baseBrdRaw: #eaedf3
$baseBrd: var(--vc-base-brd, #{$baseBrdRaw})
$colorTextRaw: #161d25
$colorText: var(--vc-text-color, #{$colorTextRaw})
$lightBgRaw: #fbfdfe
$lightBg: var(--vc-light-bg, #{$lightBgRaw})
$whiteColor: #fff
$borderColor: #ddd
$orangeBg: #FFBB0D
$blueBg: #3a9aff
$redBg: #f15100
$aquaBg: #76aeff

$scrollTrackColor: rgba(0,0,0,0)
$scrollThumbColor: #A6A6A6
$scrollWidth: 9px
$scrollHeight: 9px

$genericErrorColor: #FF4A4A
$genericWarningColor: $orangeBg
$genericSuccessColor: #87B563
$genericInfoColorRaw: #43b0e6
$genericInfoColor: var(--vc-info-color, #{$genericInfoColorRaw})

/* Notify */
$errorNotifyBg: #f2dede
$errorNotifyBrd: #ebccd1
$errorNotifyColor: #a94442

$noteNotifyBg: #f9f9f9
$noteNotifyBrd: #eee
$noteNotifyColor: #999

$successNotifyBg: #dff0d8
$successNotifyBrd: #d6e9c6
$successNotifyColor: #3c763d

$warningNotifyBg: #fcf8e3
$warningNotifyBrd: #faebcc
$warningNotifyColor: #8a6d3b

$infoNotifyBg: #d9edf7
$infoNotifyBrd: #bce8f1
$infoNotifyColor: #31708f

/* Tables */
$tableColor: #999
$tableStatusBg: #a6a6a6
$tableIcoColor: #a6a6a6
$productImgOverRaw: #ecf7fc
$productImgOver: var(--vc-product-img-over, #{$productImgOverRaw})
$productImgSelRaw: #d9effa
$productImgSel: var(--vc-product-img-sel, #{$productImgSelRaw})

/* List */
$listNoticeItemColor: #4c4c4c
$listNoticeLinkColor: #ececec
$listCarInfoColor: #43b0e6

$listInfoListTColor: #4c4c4c
$listInfoListDescrColor: #999

$listNumberItemColor: #a6a6a6
$listGroupBg: #fbfdf

/* Header */
$headerBgRaw: #161d25
$headerBg: var(--vc-header-bg, #{$headerBgRaw})
$headerBgOverRaw: #2e3d4e
$headerBgOver: var(--vc-header-bg-over, #{$headerBgOverRaw})
$headerHeight: 60px
$headerBrdRaw: #2e3d4e
$headerBrd: var(--vc-header-brd, #{$headerBrdRaw})

/* Notice */
$noticeBrd: #dfe3e8
$noticeDateColor: #959da6
$noticeIconColor: #ffffff
$noticeIconBgColor: #87B563
$noticeIconErrorBgColor: #f14e4e
$noticeIconProgressBgColor: #a9bccd

/* Menu */
$mainMenuBg: #333
$menuContextBg: #333
$menuContextMenuItemColorOverRaw: #43b0e6
$menuContextMenuItemColorOver: var(--vc-menu-item-color-over, #{$menuContextMenuItemColorOverRaw})
$menuIconFavoriteColor: #f89406

/* Navbar */
$navbarBgRaw: #f5f6f9
$navbarBg: var(--vc-navbar-bg, #{$navbarBgRaw})
$navbarItemBgRaw: #f5f6f9
$navbarItemBg: var(--vc-navbar-item-bg, #{$navbarItemBgRaw})
$navbarItemOverRaw: #ecf7fc
$navbarItemOver: var(--vc-navbar-item-over, #{$navbarItemOverRaw})
$navbarListGroupBg: #fbfdf

/* Blade */
$bladeHeadBgRaw: #465769
$bladeHeadBg: var(--vc-blade-head-bg, #{$bladeHeadBgRaw})
$bladeHeadBrdRaw: #2e3d4e
$bladeHeadBrd: var(--vc-blade-head-brd, #{$bladeHeadBrdRaw})
$bladeContentBgRaw: #fff
$bladeContentBg: var(--vc-blade-content-bg, #{$bladeContentBgRaw})
$bladeBrd: #161d25

/* Text */
$textDebugColor: #a6a6a6
$textNoteBrd: #eee
$textEditBgOverRaw: #ecf7fc
$textEditBgOver: var(--vc-text-edit-bg-over, #{$textEditBgOverRaw})
$textEditBrdOverRaw: #a1c0d4
$textEditBrdOver: var(--vc-text-edit-brd-over, #{$textEditBrdOverRaw})
$textCommentColor: #838D9A

/* Font Awesome */
$iconGray: #a5a5a5

/* Dialogs */
$dialogHeaderBgColor--confirm: $bladeHeadBg
$dialogHeaderBgColor--warning: $genericWarningColor
$dialogHeaderBgColor--success: $genericSuccessColor
$dialogHeaderBgColor--error: $genericErrorColor
$dialogHeaderHeight: 42px
$dialogBodyFontSize: 13px
$dialogBodyLineHeight: 21px
$dialogButtonsFontSize: 12px
$dialogFooterBtnBgColor--primary--hover: #319ED4
$dialogFooterBtnBgColor--primary-outline--hover: #F2F8FD
$dialogFooterBtnTextColor--primary-outline--hover: #319ED4
