html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
nav ul { list-style:none; }
blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
a:hover, a:active { outline: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

input[type=button], input[type=submit], button { cursor: pointer; }

ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

table { border-collapse:collapse; border-spacing:0; width:100%;}
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/* typography */
body { font-size:100%; line-height:22px; font-size:12px; font-family:"Lucida Grande", helvetica, arial; }
h1,h2,h3,h4,h5,h6,p,hr,ul,ol,li,select,textarea,input {margin:0 0 5px 0;}
h1 {font-size:280%;}
h2 {font-size:250%;}
h3 {font-size:200%;}
h4 {font-size:160%;}
h5 {font-size:130%;}
h6 {font-size:110%;}
h1,h2,h3,h4,h5,h6 {font-weight:400; line-height:100%;}

li {list-style:disc inside none; margin-left:10px;}

em {font-style:italic;}

blockquote, q {margin:15px 25px; font-style:italic;}

/* common classes */
.wrapper {width:960px; margin:0 auto;}
.l { text-align: left; } 
.r { text-align: right; } 
.c { text-align: center;}
.fl { float: left; } 
.fr { float: right; }
.fn { float:none; }
.cl { clear: left; } 
.cr { clear: right; } 
.cb { clear: both; }


/* Spacing */ 
.st { margin-top: 10px; } 
.sr { margin-right: 10px; } 
.sb { margin-bottom: 10px; }
.sl { margin-left: 10px; } 
.sst { margin-top: 20px; } 
.ssr { margin-right: 20px; } 
.ssb { margin-bottom: 20px; }
.ssl { margin-left: 20px; }

/* Padding */
.pt { padding-top: 10px; } 
.pr { padding-right: 10px; } 
.pb { padding-bottom: 10px; }
.pl { padding-left: 10px; } 
.ppt { padding-top: 20px; } 
.ppr { padding-right: 20px; } 
.ppb { padding-bottom: 20px; }
.ppl { padding-left: 20px; }

/* clearfix */
.clearfix:before, .clearfix:after {content: "\0020"; display: block; height: 0; visibility: hidden;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}

form { padding: 0; margin: 0;} 
input { padding: 0; margin: 0;} 
address { font-style: normal; } 
option { padding-right: 5px; }

/* basic styling */
.normal {font-weight:normal;}
.caps {text-transform:uppercase;}
.inline {display:inline;}
.block {display:block;}
.hide {display:none;}
.link {text-decoration:underline;}

/* navigation */
nav ul {margin:0;}
nav li {margin:0; display:block; float:left;}
nav li a {margin:0; display:block;}

.info-message {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:10px; background-color:#fffbe5; border:1px solid #EFEBD5; color:#8D785A; text-align:center;}

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 *
 * Version: 1.3.1 (05/03/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {position: fixed; top: 50%; left: 50%; height: 40px; width: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104;display: none;}
* html #fancybox-loading {position: absolute;margin-top: 0;}
#fancybox-loading div {position: absolute;top: 0;left: 0;width: 40px;height: 480px;background-image: url('fancybox.png');}
#fancybox-overlay {position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: #000;z-index: 1100;display: none;}
* html #fancybox-overlay {position: absolute;width: 100%;}
#fancybox-tmp {padding: 0;margin: 0;border: 0;overflow: auto;display: none;}
#fancybox-wrap {position: absolute;top: 0;left: 0;margin: 0;padding: 20px;z-index: 1101;display: none;}
#fancybox-outer {position: relative;width: 100%;height: 100%;background: #FFF;box-shadow:0 0 20px rgba(0,0,0,0.4);-webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);-moz-box-shadow:0 0 20px rgba(0,0,0,0.4);}
#fancybox-inner {position: absolute;top: 0;left: 0;width: 1px;height: 1px;padding: 0;margin: 0;outline: none;overflow: hidden;}
#fancybox-hide-sel-frame {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: transparent;}
#fancybox-close {position: absolute;top: -15px;right: -15px;width: 30px;height: 30px;background-image: url('fancybox.png');background-position: -40px 0px;cursor: pointer;z-index: 1103;display: none;}
#fancybox_error {color: #444;font: normal 12px/20px Arial;padding: 7px;margin: 0;}
#fancybox-content {height: auto;width: auto;padding: 0;margin: 0;}
#fancybox-img {width: 100%;height: 100%;padding: 0;margin: 0;border: none;outline: none;line-height: 0;vertical-align: top;-ms-interpolation-mode: bicubic;}
#fancybox-frame {position: relative;width: 100%;height: 100%;border: none;display: block;}
#fancybox-title {position: absolute;bottom: 0;left: 0;font-family: Arial;font-size: 12px;z-index: 1102;}
.fancybox-title-inside {padding: 10px 0;text-align: center;color: #333;}
.fancybox-title-outside {padding-top: 5px;color: #FFF;text-align: center;font-weight: bold;}
.fancybox-title-over {color: #FFF;text-align: left;}
#fancybox-title-wrap {display: inline-block;}
#fancybox-title-wrap span {height: 32px;float: left;}
#fancybox-title-left {padding-left: 15px;background-image: url('fancybox.png');background-position: -40px -90px;background-repeat: no-repeat;}
#fancybox-title-main {font-weight: bold;line-height: 29px;background-image: url('fancybox-x.png');background-position: 0px -40px;color: #FFF;}
#fancybox-title-right {padding-left: 15px;background-image: url('fancybox.png');background-position: -55px -90px;background-repeat: no-repeat;}
#fancybox-left, #fancybox-right {position: absolute;bottom: 0px;height: 100%;width: 35%;cursor: pointer;outline: none;background-image: url('blank.gif');z-index: 1102;display: none;}
#fancybox-left {left: 0px;}
#fancybox-right {right: 0px;}
#fancybox-left-ico, #fancybox-right-ico {position: absolute;top: 50%;left: -9999px;width: 30px;height: 30px;margin-top: -15px;cursor: pointer;z-index: 1102;display: block;}
#fancybox-left-ico { background-image: url('fancybox.png'); background-position: -40px -30px;}
#fancybox-right-ico { background-image: url('fancybox.png'); background-position: -40px -60px;}
#fancybox-left:hover, #fancybox-right:hover {visibility: visible;    /* IE6 */}
#fancybox-left:hover span {left: 20px;}
#fancybox-right:hover span { left: auto; right: 20px;}