{
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

body
{
    margin:0;
    background: #fafafa;
}
.swagger-ui .topbar {
  background-color: rgba(0,0,0,.05);
  border-bottom: 1px solid #ddd;
  padding: 0;
}

.topbar-wrapper a#logo {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    background: transparent url(../images/logo_small-png) no-repeat left center;
    padding: 20px 0 20px 40px;
    color: #666;
}
.swagger-ui .topbar .download-url-wrapper input[type=text] {
    border-color: #f89406;
}
.swagger-ui .topbar .download-url-wrapper .download-url-button {
    background-color: #f89406;
}

hgroup.main a.link, hgroup.main .base-url {
    display: none;
}

.description {
    display: none;
}
