<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AuthorizeNet" version="1.8.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="PayPalCoreSDK" version="1.4.1" targetFramework="net45" />
  <package id="PayPalMerchantSDK" version="2.7.109" targetFramework="net45" />
</packages>