<div class="tile double">
    <div class="tile-gallery" ng-click="openItemImageBlade()">
        <i class="tile-ico fa fa-image" ng-if="currentBlade.item.images.length == 0"></i>
        <span class="tile-descr" ng-if="currentBlade.item.images.length == 0">No images</span>
        <div class="gallery-img __main" ng-repeat="image in currentBlade.item.images | filter: { group: 'primaryimage' } | limitTo : 1  track by image.id">
            <img ng-src="{{image.url ? image.url : ''}}" />
        </div>
        <div class="gallery-img" ng-repeat="image in currentBlade.item.images | filter: { group: '!primaryimage' } | limitTo : 11 track by image.id">
            <img ng-src="{{image.url ? image.url : ''}}" />
        </div>
    </div>
</div>