<div class="gallery">
    <div class="gridster-cnt" ng-click="openItemImageBlade()">
        <div class="cnt-inner" ng-if="currentBlade.item.images.length == 0">
            <i class="gallery-ico fa fa-image"></i>
            <div class="gallery-descr">No images</div>
        </div>
        <div class="gallery-img __main" ng-repeat="image in currentBlade.item.images | filter: { group: 'primaryimage' } | limitTo : 1  track by image.id">
            <img ng-src="{{image.url ? image.url : ''}}" />
        </div>
        <div class="gallery-img" ng-repeat="image in currentBlade.item.images | filter: { group: '!primaryimage' } | limitTo : 11 track by image.id">
            <img ng-src="{{image.url ? image.url : ''}}" />
        </div>
    </div>
</div>