/*
    This file contains all actual styles, which used to override old incorrect styles

    Namespace -  bc
*/

body {
    .blade {
        .blade-wrapper {
            .blade-container {
                .bc {
                    &.blade-static {
                        .form-group {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            // block with search and filter
                            .blade-search-panel {
                                display: flex;
                                align-items: center;
                                // block with input "Search keyword"
                                .form-input {
                                    min-width: 190px;

                                    input {
                                        padding-right: 30px; // cross-icon compensation
                                    }
                                }
                                // search filter block/dropdown
                                .__search {
                                    margin-right: 10px;
                                }
                                // search dropdown block
                                .seacrh-filter {
                                    min-width: 190px;
                                }
                            }

                            .form-count {
                                position: relative;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                transform: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
