.onestepcheckout-extraproducts {
    margin-bottom: 10px;
    margin-top: 10px;
}
.onestepcheckout-extraproducts span {
    font-weight: bold;
}
.onestepcheckout-extraproducts li {
    padding: 2px 0;
}
.onestepcheckout-button, .onestepcheckout-button:visited {
    /*background: url("images/button-background.png") repeat-x scroll 0 0 #222222;*/
    background-color: #222222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.onestepcheckout-button:hover {
    background-color: #111111;
    color: #FFFFFF;
}
.onestepcheckout-button:active {
    top: 1px;
}
.small.onestepcheckout-button, .small.onestepcheckout-button:visited {
    font-size: 11px;
}
.onestepcheckout-button, .onestepcheckout-button:visited, .medium.onestepcheckout-button, .medium.onestepcheckout-button:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.large.onestepcheckout-button, .large.onestepcheckout-button:visited {
    font-size: 16px;
    padding: 8px 30px 9px;
}
.green.onestepcheckout-button, .green.onestepcheckout-button:visited {
    background-color: #91BD09;
}
.green.onestepcheckout-button:hover {
    background-color: #749A02;
}
.blue.onestepcheckout-button, .blue.onestepcheckout-button:visited {
    background-color: #2DAEBF;
}
.blue.onestepcheckout-button:hover {
    background-color: #007D9A;
}
.red.onestepcheckout-button, .red.onestepcheckout-button:visited {
    background-color: #E33100;
}
.red.onestepcheckout-button:hover {
    background-color: #872300;
}
.magenta.onestepcheckout-button, .magenta.onestepcheckout-button:visited {
    background-color: #A9014B;
}
.magenta.onestepcheckout-button:hover {
    background-color: #630030;
}
.orange.onestepcheckout-button, .orange.onestepcheckout-button:visited {
    background-color: #FF5C00;
}
.orange.onestepcheckout-button:hover {
    background-color: #D45500;
}
.yellow.onestepcheckout-button, .yellow.onestepcheckout-button:visited {
    background-color: #FFB515;
}
.yellow.onestepcheckout-button:hover {
    background-color: #FC9200;
}
.grey.onestepcheckout-button, .grey.onestepcheckout-button:visited {
    background-color: #CCCCCC;
}
.grey.onestepcheckout-button:hover {
    background-color: #CCCCCC;
}
.onestepcheckout-place-order-loading {
    font-style: italic;
    margin-top: 10px;
    text-align: right;
}
select.address-select {
    margin-bottom: 3px;
    margin-top: 3px;
    width: 95% !important;
}
.onestepcheckout-enterprise {
}
.onestepcheckout-enterprise span.validation-error, .onestepcheckout-enterprise div.validation-error {
    padding-right: 0;
}
ul.onestepcheckout-custom-options {
    list-style-type: disc;
    margin: 0 0 0 20px;
    padding: 0;
}
.onestepcheckout-coupons input#id_couponcode {
    margin-bottom: 5px;
    width: 200px;
}
#onestepcheckout-form label {
    font-weight: normal !important;
	color: #555555;
    font-weight: bold;
    position: relative;
    z-index: 0;
}

#onestepcheckout-form label.required em {
    color: #EB340A;
    float: right;
    font-style: normal;
    position: absolute;
    right: -7px;
    top: -2px;
}
.onestepcheckout-summary, .onestepcheckout-totals {
    border-collapse: collapse;
}
.onestepcheckout-totals {
}
.onestepcheckout-summary th, .onestepcheckout-summary, .onestepcheckout-summary td, .onestepcheckout-totals td {
    padding: 3px 0;
}
.onestepcheckout-summary th {
    border-bottom: 1px solid #BEBCB7;
    border-top: 1px solid #BEBCB7;
}
.onestepcheckout-totals td, .onestepcheckout-summary td {
    border-bottom: 1px solid #BEBCB7;
}
h1.onestepcheckout-title {
    font-size: 20px;
    text-transform: uppercase;
}
p.onestepcheckout-description {
    font-size: 18px;
}
#onestepcheckout-form .group-select {
    padding: 20px !important;
}
div.onestepcheckout-threecolumns {
    margin-top: 10px;
}
div.onestepcheckout-threecolumns h1 {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}
div.onestepcheckout-threecolumns div.onestepcheckout-column-left {
    background: url("images/line-gradient.gif") no-repeat scroll right top transparent;
    float: left;
    margin-right: 15px;
    padding-top: 15px;
    width: 33%;
}
div.onestepcheckout-threecolumns div.onestepcheckout-column-middle {
    background: url("images/line-gradient.gif") no-repeat scroll right top transparent;
    float: left;
    margin-right: 15px;
    padding-right: 15px;
    padding-top: 15px;
    width: 29%;
}
div.onestepcheckout-threecolumns div.onestepcheckout-column-right {
    float: left;
    padding-top: 15px;
    width: 32%;
}
p.onestepcheckout-login-link {
    padding-top: 5px;
}
#onestepcheckout-email-error {
    clear: both;
    padding-top: 3px;
    width: 245px;
}
div.onestepcheckout-error {
    background-color: #FAEBE7;
    background-image: url("images/onestepcheckout-error.jpg");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    border: 1px solid #DF280A;
    color: #DF280A;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-top: 3px;
    text-align: left;
}
.onestepcheckout-column-left .onestepcheckout-error {
    width: 85% !important;
}
div.onestepcheckout-enable-newsletter {
    margin-bottom: 10px;
}
div.onestepcheckout-enable-newsletter-bottom {
    margin-top: 20px;
    text-align: right;
}
div.onestepcheckout-enable-terms {
}
table.onestepcheckout-summary {
    width: 100%;
}
table.onestepcheckout-summary td.name {
    width: 55%;
}
table.onestepcheckout-summary td.qty, table.onestepcheckout-summary th.qty {
    text-align: center;
    width: 10%;
}
table.onestepcheckout-summary td.total, table.onestepcheckout-summary th.total {
    text-align: right;
    width: 35%;
}
table.onestepcheckout-totals {
    margin-bottom: 20px;
    width: 100%;
}
table.onestepcheckout-totals tr.grand-total td {
    font-weight: bold;
}
table.onestepcheckout-totals td.title {
    text-align: right;
    width: 65%;
}
table.onestepcheckout-totals td.value {
    text-align: right;
    width: 35%;
}
div.onestepcheckout-place-order {
    margin-top: 20px;
    text-align: right;
}
div.checkoutcontainer {
    border-top: 1px solid #D8D2C7;
    min-height: 33em;
    overflow: hidden;
}
div.checkoutcontainer .checkout-error-message {
    color: red;
    font-size: 14px;
    margin-left: 10px;
}
div.checkoutcontainer .payment-methods .form-list label {
    text-align: left !important;
}
div.checkoutcontainer div.input-error label {
    color: red !important;
}
div.checkoutcontainer div.input-error input, div.checkoutcontainer div.input-error select {
    border: 1px solid red !important;
}
div.checkoutcontainer div.input-different-shipping {
    margin-top: 10px;
}
div.checkoutcontainer div.input-firstname, div.checkoutcontainer div.input-lastname, div.checkoutcontainer div.input-email, div.checkoutcontainer div.input-telephone, div.checkoutcontainer div.input-company, div.checkoutcontainer div.input-fax, div.checkoutcontainer div.input-password {
    float: left;
    width: 49%;
}
div.checkoutcontainer li.taxvat .input-text {
    width: 83% !important;
}
div.checkoutcontainer div.input-firstname .input-text, div.checkoutcontainer div.input-lastname .input-text, div.checkoutcontainer div.input-email .input-text, div.checkoutcontainer div.input-telephone .input-text, div.checkoutcontainer div.input-company .input-text, div.checkoutcontainer div.input-fax .input-text, div.checkoutcontainer div.input-password .input-text {
    width: 70%;
}
div.checkoutcontainer div.input-address, div.checkoutcontainer div.input-city, div.checkoutcontainer li.taxvat div.input-box {
    width: 100% !important;
}
div.checkoutcontainer div.input-address .input-text, div.checkoutcontainer div.input-city .input-text {
    width: 83%;
}
div.checkoutcontainer div.input-postcode {
    float: left;
    width: 39%;
}
div.checkoutcontainer div.input-postcode .input-text {
    width: 70%;
}
div.checkoutcontainer div.input-region {
    float: left;
    width: 60%;
}
div.checkoutcontainer div.input-region .input-text {
    width: 77%;
}
div.checkoutcontainer div.input-country {
    width: 100%;
}
div.checkoutcontainer div.input-country select {
    width: 85%;
}
div.checkoutcontainer div.input-region select {
    width: 77% !important;
}
fieldset.group-select {
    padding: 10px;
}
.group-select li {
    padding: 4px 0;
}
.shipment-methods dd {
    font-weight: bold;
    margin: 0 !important;
}
p.checkout-choose-payment-method, p.checkout-choose-shipping-method {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 1em;
}
p.checkout-choose-payment-method {
    margin-top: 2em !important;
}
.payment-methods dd {
    padding: 0 0 0 20px;
}
.payment-methods dd li {
    padding: 0;
}
div.onestepcheckout-shipping-method {
    margin-bottom: 20px;
}
div.loading-ajax {
    background-image: url("images/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 50px;
    text-align: center;
}
p.onestepcheckout-numbers {
    background-repeat: no-repeat;
    color: #404040;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    padding-left: 38px;
    padding-top: 6px;
    text-transform: uppercase;
}
p.onestepcheckout-numbers-1 {
    background-image: url("images/onestepcheckout-numbers-1.png");
}
p.onestepcheckout-numbers-2 {
    background-image: url("images/onestepcheckout-numbers-2.png");
}
p.onestepcheckout-numbers-3 {
    background-image: url("images/onestepcheckout-numbers-3.png");
}
p.onestepcheckout-numbers-4 {
    background-image: url("images/onestepcheckout-numbers-4.png");
}
div.onestepcheckout-skin-magento .onestepcheckout-numbers {
    color: #F18200 !important;
    font-size: 13px !important;
    height: 25px !important;
    padding-left: 28px !important;
    padding-top: 0 !important;
    text-transform: capitalize !important;
}
div.onestepcheckout-skin-magento p.onestepcheckout-numbers-1 {
    background-image: url("images/skin-magento/onestepcheckout-numbers-1.png") !important;
}
div.onestepcheckout-skin-magento p.onestepcheckout-numbers-2 {
    background-image: url("images/skin-magento/onestepcheckout-numbers-2.png") !important;
}
div.onestepcheckout-skin-magento p.onestepcheckout-numbers-3 {
    background-image: url("images/skin-magento/onestepcheckout-numbers-3.png") !important;
}
div.onestepcheckout-skin-magento p.onestepcheckout-numbers-4 {
    background-image: url("images/skin-magento/onestepcheckout-numbers-4.png") !important;
}
#onestepcheckout_popup_overlay_iframe {
    background-color: black;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
}
#onestepcheckout_popup_overlay {
    background-color: black;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000000;
}
#onestepcheckout-toc-popup {
    height: 530px;
    position: absolute;
    width: 482px;
    z-index: 1000001;
}
#onestepcheckout-toc-popup .onestepcheckout-popup-wrapper {
    height: 515px !important;
}
#onestepcheckout-toc-popup div.onestepcheckout-popup-contents {
    height: 450px;
    overflow: auto;
}
#onestepcheckout-toc-popup h1 {
    margin-left: 20px;
}
#onestepcheckout-toc-popup .onestepcheckout-toc-terms {
    height: 440px !important;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0 !important;
    overflow: auto;
    padding-right: 10px;
}
#onestepcheckout-login-popup, #onestepcheckout-toc-popup {
    text-align: left !important;
}
.onestepcheckout-popup-footer {
    background-image: url("images/onestepcheckout-popup-footer.png");
    background-repeat: no-repeat;
    height: 13px;
}
.onestepcheckout-popup-wrapper {
    background-image: url("images/onestepcheckout-popup-header.png");
    background-repeat: no-repeat;
}
.onestepcheckout-popup-wrapper h1 {
    font-size: 18px !important;
    padding-bottom: 10px !important;
    padding-top: 15px !important;
}
.onestepcheckout-popup-contents {
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 1px;
}
.onestepcheckout-popup-wrapper label {
    font-weight: normal;
}
.onestepcheckout-popup-wrapper .input-text {
    width: 190px !important;
}
#onestepcheckout-forgot-table td {
    vertical-align: middle !important;
}
#onestepcheckout-login-popup {
    position: absolute;
    width: 482px;
    z-index: 1000001;
}
#onestepcheckout-login-popup table {
    width: 99%;
}
#onestepcheckout-login-popup table td {
    padding-bottom: 3px;
    padding-top: 3px;
}
#onestepcheckout-login-popup button {
    padding: 3px 10px;
}
#onestepcheckout-login-popup div.onestepcheckout-popup-contents {
}
#onestepcheckout-login-popup p.close, #onestepcheckout-toc-popup p.close {
    bottom: -5px;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
}
#onestepcheckout-login-popup p.close a, #onestepcheckout-login-popup p.close a:link, #onestepcheckout-login-popup p.close a:visited, #onestepcheckout-toc-popup p.close a, #onestepcheckout-toc-popup p.close a:link, #onestepcheckout-toc-popup p.close a:visited {
    color: black;
    text-decoration: none;
}
#onestepcheckout-login-popup p.close a:hover, #onestepcheckout-toc-popup p.close a:hover {
    text-decoration: underline;
}
#onestepcheckout-login-error, #onestepcheckout-forgot-error {
    color: red;
    margin-bottom: 10px;
}
div.onestepcheckout-comments {
    margin-bottom: 20px;
    margin-top: 5px;
}
div.onestepcheckout-comments textarea {
    margin-top: 5px;
    width: 95%;
}
.onestepcheckout-two-columns .onestepcheckout-column-left {
    background: url("images/line-gradient.gif") no-repeat scroll right top transparent;
    float: left;
    margin-right: 30px;
    width: 47%;
}
.onestepcheckout-two-columns .onestepcheckout-column-right {
    float: left;
    width: 43%;
}
.onestepcheckout-two-columns p.onestepcheckout-numbers {
    margin-top: 20px !important;
}
.onestepcheckout-two-columns div.onestepcheckout-enable-terms {
    text-align: center !important;
}
.onestepcheckout-two-columns div.onestepcheckout-place-order {
    margin-top: 10px !important;
    text-align: center !important;
}
.onestepcheckout-two-columns div.onestepcheckout-enable-newsletter {
    text-align: center !important;
}
.checkoutcontainer .payment-methods .input-box {
    width: 100% !important;
}
.checkoutcontainer .payment-methods .input-box .input-text, .checkoutcontainer .payment-methods .input-box textarea, .checkoutcontainer .payment-methods .input-box select {
    width: 95% !important;
}
.checkoutcontainer .payment-methods .input-box select.year, .checkoutcontainer .payment-methods .input-box select#protxDirect_expiration_yr, .checkoutcontainer .payment-methods .input-box select#protxDirect_start_yr {
    width: 75px !important;
}
.checkoutcontainer .payment-methods .input-box select.month, .checkoutcontainer .payment-methods .input-box select#protxDirect_start, .checkoutcontainer .payment-methods .input-box select#protxDirect_expiration {
    width: 140px !important;
}
.checkoutcontainer li.shipping-address-title {
    color: #404040;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    text-transform: uppercase;
}
.onestepcheckout-giftmessagecontainer {
    margin-bottom: 10px;
}
.onestepcheckout-giftmessagecontainer .input-checkbox {
}
#onestepcheckout-giftmessages .onestepcheckout-giftmessages fieldset.group-select {
    border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.onestepcheckout-giftmessages .group-select li .input-box-last {
    margin-right: 0 !important;
}
.onestepcheckout-giftmessages .group-select li .input-box {
    margin-right: 20px;
    width: 125px;
}
.onestepcheckout-giftmessages .group-select li .input-box .input-text {
    width: 120px;
}
.onestepcheckout-giftmessages .group-select li textarea {
    width: 267px;
}

.onestepcheckout-giftmessages .group-select li .input-box {
    float: left;
}
 
.onestepcheckout-address-line {
    margin-top: 10px;
}
.onestepcheckout-column-left .customer-dob .dob-month, .onestepcheckout-column-left .customer-dob .dob-day, .onestepcheckout-column-left .customer-dob .dob-year {
    float: left;
}
.onestepcheckout-column-left .customer-dob input.input-text {
    display: block;
    width: 74px;
}
.onestepcheckout-column-left .customer-dob label {
    color: #888888;
    font-size: 10px;
    font-weight: normal;
}
.onestepcheckout-column-left .customer-dob .dob-day, .onestepcheckout-column-left .customer-dob .dob-month {
    width: 60px;
}
.onestepcheckout-column-left .customer-dob .dob-day input.input-text, .onestepcheckout-column-left .customer-dob .dob-month input.input-text {
    width: 46px;
}
.onestepcheckout-column-left .customer-dob .dob-year {
    width: 110px;
}
.onestepcheckout-column-left .customer-dob .dob-year input.input-text {
    width: 115px;
}
.onestepcheckout-feedback, .onestepcheckout-feedback-freetext {
    padding-top: 10px;
}
.onestepcheckout-feedback select {
    width: 95%;
}
.onestepcheckout-feedback-freetext textarea {
    width: 95%;
}
.onestepcheckout-coupon-code-notice {
}

.onestepcheckout-coupons .buttons-set,
.onestepcheckout-coupons .buttons-set { margin:10px 0 0; border:0; padding:0; text-align:left; }
.onestepcheckout-coupons .buttons-set button.button,
.onestepcheckout-coupons .buttons-set button.button { float:none; margin:0; }
.onestepcheckout-coupons .buttons-set button.button span,
.onestepcheckout-coupons .buttons-set button.button span { height:19px; background-image:url(images/bkg_btn-green.gif); padding:0 0 0 9px; font-size:10px; line-height:18px; color:#fff; }
.onestepcheckout-coupons .buttons-set button.button span span,
.onestepcheckout-coupons .buttons-set button.button span span { padding:0 19px 0 10px; }
