
/* reseting basic elements */
body, html, #nav, #nav li, .header, .main-container, .cms-home .main, .footer
{
    padding: 0px;
    margin: 0px;
}

a:link, .products-grid .product-name a:link
{
    color: #0051ac;
}

a:hover, .products-grid .product-name a:hover
{
    color: #2f8ad8;
}

a:visited, .products-grid .product-name a:visited
{
    color: #34009d;
}

.product-tabs a:link, .product-tabs a:visited
{
    color: #666;
}

/* body and mainspace */
body
{
    background: url(images/bg.png);
    padding: 20px 0px;
}

.page
{
    background: #fff;
    margin: 0px auto;
    width: 980px;
    border-left: 0px solid #666;
    border-right: 0px solid #666;
    box-shadow: 0px 0px 3px #777;
    position: relative;
    border-radius: 20px;
}

/* header */
.header
{
    padding: 15px 0px 0px;
}

.logo
{
    margin-left: 20px;
}

.nav-container
{
    clear: left;
    padding-top: 15px;
}


.quick-access
{
    position: absolute;
    top: 0px;
    right: 10px;
    background: none;
}

    .quick-access .welcome-msg
    {
        color: #666;
    }

    .quick-access .links a
    {
        color: #000;
    }

	.quick-access.language-bar {
		top: -25px;
	}


.top-bar
{
    position: absolute;
    top: 30px;
    right: 10px;
    background: none;
    border: none;
}

    .top-bar .breadcrumbs
    {
        position: absolute;
        top: 85px;
	    right: 380px;
        padding-left: 3px;
    }

        .top-bar .breadcrumbs li:first-child
        {
            margin-left: 5px;
        }

/* main */

.box-account .box-head h2
{
    color: #d20a0a;
}

.main-container
{
    background: url(images/shadow.png) repeat-x top;
    padding: 20px;
}

.main
{
    background: none;
    border: none;
}

.std
{
    zoom: 1;
    overflow: hidden;
}

.col2-left-layout
{
    padding-top: 40px;
}

.category-title h1, .old-price .price
{
    color: #d20a0a;
}

.block
{
    border: none;
    border-radius: 5px;
}

    .block .block-title, .block-subtitle:first-child
    {
        border-radius: 5px 5px 0px 0px;
    }

    .block .block-content
    {
        border-radius: 0px 0px 5px 5px;
        background: url(images/shadow.png) repeat-x top #fff;
        border-top: 1px solid #fff;
    }
/*url(images/shadow_min.png) */
.block-content dl#narrow-by-list
{
    background: url(images/shadow.png) repeat-x top #fff;
}

div.block-currency div.block-content
{
    background-image: none;
    padding-top: 5px;
}

.toolbar .pager, .toolbar .sorter:first-child
{
    border-radius: 5px 5px 0px 0px;
}

.toolbar-bottom .pager
{
    border-radius: 0px;
}

.toolbar-bottom .toolbar .sorter, .toolbar-bottom .toolbar .pager:last-child
{
    border-radius: 0px 0px 5px 5px;
}

.sortByContainer
{
    float: right;
}

.toolbar .pager, .toolbar .sorter
{
    background: #eee;
    border: none;
}

.products-grid
{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

    .products-grid .item
    {
    }

        .products-grid .item:hover
        {
            background: #eee;
        }

        .products-grid .item .product-image:hover
        {
            position: relative;
        }

            .products-grid .item .product-image:hover img
            {
                position: absolute;
                top: -10px;
                left: -5px;
                width: 190px;
                height: 190px;
                border: 1px solid #333;
                border-radius: 5px;
            }

.product-name, .price-box, .actions
{
    padding: 0px 10px;
}

.product-shop .product-name, .product-shop .price-box, .product-details .product-name
{
    padding: 0px;
}

.block-cart .block-title, .block-layered-nav .block-subtitle
{
    background: #666666;
}

.block-layered-nav .block-title
{
    background: none;
    text-indent: 0em;
    height: auto;
}

.block-layered-nav dd
{
    border: none;
}

    .block-layered-nav dd li
    {
        zoom: 1;
        overflow: hidden;
        clear: left;
        margin-top: 3px;
        line-height: 20px;
        padding: 1px;
    }

        .block-layered-nav dd li a
        {
            display: block;
            padding: 0px 5px;
            background: #ddd;
            border-radius: 3px;
            float: left;
            margin-right: 5px;
            line-height: 20px;
        }

            .block-layered-nav dd li a:hover
            {
                text-decoration: none;
                color: #fff;
                background: #444;
                box-shadow: 0px 0px 1px #444;
            }

.orange.onestepcheckout-button, .orange.onestepcheckout-button:visited
{
    color: #fff;
}

/* product page */

.product-view .product-img-box .more-views li a:hover
{
    border-color: #666;
    box-shadow: 1px 1px 2px #666;
}

.product-tabs-content
{
    display: none;
}

.product-view .product-img-box .product-image-zoom
{
    overflow: visible;
}

.zoomWindow
{
    overflow: hidden;
    border: none;
}

.zoomWrapperTitle
{
    display: none !important;
}

#product_tabs_description_contents
{
    display: block;
}

.block-cart .summary
{
    background: #ddd;
    margin-top: -14px;
}

/* footer */
.footer
{
    padding: 0px 20px 15px;
}

/* wish list*/
/* Configured price */
.configured-price
{
    margin: 0;
    padding: 0 10px;
}

    .configured-price .price-label
    {
        font-weight: bold;
        white-space: nowrap;
    }

    .configured-price .price
    {
        font-size: 13px;
        font-weight: bold;
    }

.regular-price .price
{
    color: #0051AC;
}

.noborder
{
    border: none !important;
}

.form-list .buttonholder
{
    float: left;
    width: 50px;
    padding-top: 25px;
}

button.buttonBlock
{
    display: block;
}

    button.buttonBlock span span
    {
        width: 8px;
    }

.rolesBlock
{
    height: 130px;
}


div#container, .nav_container
{
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 900px;
}

.cms-index-index #discoverbtnsubnav, .cms-index-index #productsbtnsubnav, .cms-index-index #supportbtnsubnav
{
    top: -25px;
}

#productsbtnsubnav
{
    background: none repeat scroll 0 0 #A4A4A4;
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -24px;
    width: 900px;
    z-index: 200;
}

.subnav
{
    display: none;
}

.dropdown #productsbtnsubnav li
{
    float: left !important;
    line-height: 270px;
    width: 180px;
}

#productsbtnsubnav li #sn_led
{
    background: url("images/subnav_led.jpg") no-repeat scroll 0 0 transparent;
}

#productsbtnsubnav li #sn_ht
{
    background: url("images/subnav_hometheater.jpg") no-repeat scroll 0 0 transparent;
}

#productsbtnsubnav li #sn_acc
{
    background: url("images/subnav_accessories.jpg") no-repeat scroll 0 0 transparent;
}

#productsbtnsubnav li span.sn_bkg
{
    color: #4B4B4B;
    display: block;
    line-height: 20px;
    min-height: 110px;
    padding: 170px 20px 0;
    position: relative;
    text-align: left;
    width: 140px;
}
