.cl {
    clear: both;
}

.overall {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 20px;
}

    .overall .submit {
        margin-top: -15px;
    }

.padder {
    padding: 0px 30px;
}

.bigstars {
    width: 204px;
    height: 38px;
    margin: 0px 20px 5px;
    background: url(images/big_stars.png) no-repeat top left;
    cursor: pointer;
    position: relative;
    float: right;
}

    .bigstars div {
        width: 204px;
        height: 38px;
        background: url(big_stars.png) no-repeat bottom left;
        position: absolute;
        left: 0px;
        top: 0px;
        display: none;
        z-index: 3;
    }

    .bigstars a {
        display: block;
        float: left;
        height: 38px;
        width: 41px;
        position: relative;
        z-index: 20;
    }

.smallstars {
    width: 102px;
    height: 19px;
    margin: 0px 20px 5px;
    background: url(images/small_stars.png) no-repeat top left;
    cursor: pointer;
    position: relative;
}

    .smallstars div {
        width: 102px;
        height: 19px;
        background: url(big_stars.png) no-repeat bottom left;
        position: absolute;
        left: 0px;
        top: 0px;
        display: none;
        z-index: 3;
    }

    .smallstars a {
        display: block;
        float: left;
        height: 19px;
        width: 20px;
        position: relative;
        z-index: 20;
    }

.date {
    margin-top: -10px;
    font-size: 10px;
}


    h3 span {
        font-weight: bold;
    }

    h3 .verified {
        display: inline-block;
        background: #c60000;
        font: 12px Century Gothic, sans-serif;
        color: #fff;
        padding: 0px 4px;
        line-height: 160%;
        border-radius: 3px;
    }

.spacer {
    height: 20px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 20px;
}

.helpfulness {
    float: right;
    margin-top: 0px;
    font: 20px Arial;
    color: #489900;
    text-align: right;
}

    .helpfulness span {
        color: #489900;
    }

        .helpfulness span.not {
            color: #C60000;
        }

.like {
    width: 25px;
    height: 25px;
    background: url(images/thumbs_up.png) no-repeat center;
    display: inline-block;
    vertical-align: top;
}

    .like.not {
        background-image: url(images/thumbs_down.png);
    }

    .like:hover {
        background-color: #ccc;
        border-radius: 3px;
    }

.comment {
    background: #f3f3f3;
    border-radius: 10px;
    padding: 20px 20px 10px;
    float: left;
    clear: left;
    max-width: 550px;
    margin-left: 20px;
    margin-top: 20px;
    width: 250px;
}

    .comment p {
        font-size: 11px;
    }

    .comment .helpfulness {
        margin-top: 0px;
        display: none;
        margin-top: -10px;
        float: none;
    }

        .comment .helpfulness .like {
            margin-left: 5px;
        }

    .comment.rated .helpfulness {
        display: block;
    }

    .comment:hover .helpfulness {
        display: block;
    }

.preview {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: none;
}

.review-title {
    font-style: italic;
    color: #888;
    font-size: 10px;
}

.write_a_comment, .report_abuse {
    display: none;
    margin: 20px;
}

    .write_a_comment textarea, .report_abuse textarea {
        width: 254px;
        display: block;
        height: 150px;
    }

    .write_a_comment .post, .report_abuse .post {
        border: 1px solid #c0c0c0;
        padding: 5px 7px;
        background: #f3f3f3;
        cursor: pointer;
        margin-top: 10px;
    }



.pr-review-sort-wrapper {
    padding: 0.5em 0;
    height: 20px;
}

.pr-review-count {
    float: left;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0;
    vertical-align: bottom;
}

.pr-review-sort-box {
    float: right;
}

    .pr-review-sort-box p {
        display: inline;
        line-height: 1.4em;
        margin: 0 0.3em 0 0;
        padding: 0;
        vertical-align: text-top;
    }

.pr-review-text {
    clear: both;
    font-size: 10pt;
}

.pr-pagination-top {
    border-bottom: 1px solid #CCCCCC;
    padding: 0.5em 0 0.7em;
    height: 10px;
}

.pr-page-count-wrapper {
    float: left;
}

.pr-page-nav-wrapper {
    float: right;
    text-align: right;
    width: 20%;
}

.pr-page-prev, .pr-page-next {
    cursor: pointer;
}

    .pr-page-prev:hover, .pr-page-next:hover {
        text-decoration: underline;
    }

    .pr-page-prev:disabled, .pr-page-next:disabled {
        cursor: default;
    }

.pr-review-rating-wrapper, .pr-review-main-wrapper {
    float: right;
    width: 65%;
}

.pr-review-helpful-text
{
    margin: 0px;
}


.pr-review-rating-wrapper {
    position: relative;
}

.pr-review-author-date {
    display: block;
}

.pr-review-author-date {
    border: 1px solid #999999;
    float: right;
    font-size: smaller;
    margin: 0 0 0 1em;
    padding: 0.2em 0.6em;
    text-align: center;
    text-transform: uppercase;
}

.pr-rounded {
    border-radius: 0.2em 0.2em 0.2em 0.2em;
}

.pr-review-author-date p {
    display: block;
    margin: 0;
    padding: 0;
}

    .pr-review-author-date p.pr-date-day {
        font-weight: bold;
    }

.pr-review-most-helpful {
    margin-bottom: 0.5em;
    clear:both;
}

    .pr-review-most-helpful p {
        font-size: 85%;
        margin: 0;
        padding: 0;
    }

        .pr-review-most-helpful p span {
            font-size: 85%;
            font-weight: bold;
        }

.pr-review-rating {
    margin-bottom: 1em;
    padding-top: 5px;
}

    .pr-review-rating .pr-stars {
        float: left;
        margin-left: -3px;
    }

.pr-stars-small {
    background-image: url("images/small_stars_rate.png");
    height: 16px;
    line-height: 16px;
    width: 83px;
}

.pr-stars {
    background-repeat: no-repeat;
    height: 19px;
    margin-right: 10px;
    position: relative;
}

.pr-review-rating .pr-rating {
    float: left;
    font-size: 85%;
    height: 15px;
    line-height: 15px;
    margin-right: 0.3em;
}

.pr-rating {
    background-color: #414142;
    color: #FFFFFF;
    padding: 0 0.4em;
    vertical-align: top;
}

.pr-review-rating-headline {
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.pr-review-tools {
    font-size: 85%;
    border-top: 1px solid #CCCCCC;
    margin-top: 20px;
}

    .pr-review-tools p {
        display: inline;
        font-style: italic;
    }
