<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net451" />
  <package id="PayPalCoreSDK" version="1.6.2" targetFramework="net451" />
  <package id="PayPalMerchantSDK" version="2.15.117" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net451" />
</packages>