<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel2.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="detailForm">
                <div class="form-group" ng-init="setForm(detailForm)">
                    <label class="form-label">{{ 'core.blades.fulfillment-center-contact.labels.country' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.countryCode" required>
                            <ui-select-match placeholder="{{ 'core.blades.fulfillment-center-contact.placeholders.country' | translate }}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="x.code as x in countries | filter: $select.search ">
                                <span ng-bind-html="x.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.fulfillment-center-contact.labels.region' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.stateProvince" placeholder="{{ 'core.blades.fulfillment-center-contact.placeholders.region' | translate }}" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.fulfillment-center-contact.labels.city' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.city" required placeholder="{{ 'core.blades.fulfillment-center-contact.placeholders.city' | translate }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.fulfillment-center-contact.labels.address' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.line1" placeholder="{{ 'core.blades.fulfillment-center-contact.placeholders.address1' | translate }}" required />
                    </div>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.line2" placeholder="{{ 'core.blades.fulfillment-center-contact.placeholders.address2' | translate }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.fulfillment-center-contact.labels.zip-code' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.postalCode" required placeholder="{{ 'core.blades.fulfillment-center-contact.placeholders.zip-code' | translate }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.fulfillment-center-contact.labels.phone' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.daytimePhoneNumber" required placeholder="{{ 'core.blades.fulfillment-center-contact.placeholders.phone' | translate }}" type="tel" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>