<div class="clearfix">
  <div id="not_found" class="c" style="padding:100px 0;">
    <h2>{{ 'general.404.title' | t }}</h2>
    <span class="subtext">{{ 'general.404.subtext_html' | t }}</span>
  </div> <!-- /#not_found -->
</div>

{% include 'recently-viewed' %}