<div id="page" class="clearfix">
  <div class="details clearfix">
    <h2 class="title">{{ page.title }}</h2>
  </div>
  <div class="content">
    {{ page.content }}
  </div>
</div> <!-- /#page -->

{% include 'recently-viewed' %}