<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<ul class="list __items" ng-if="blade.currentEntities.length">
                <li class="list-item" ng-click="openBlade(data)" ng-repeat="data in blade.currentEntities track by data.id" ng-class="{'__selected': data.id === selectedItem.id}">
                    <!--<i class="list-ico fa fa-wrench"></i>-->
                    <span class="list-t">{{data.name}} ({{getPriceCount(data)}}) </span>
                    <span class="list-descr">{{data.description | limitTo:50}}</span>
                </li>
			</ul>
			<p class="text" ng-if="!blade.currentEntities.length">No Pricelists yet</p>
		</div>
	</div>
</div>