@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="content">
    <div class="cabinet">
    @RenderBody()
</div>
</div>
<div class="sidebar">
    <aside class="block">
        <span class="title">@("My Account".Localize())</span>
        @Html.MvcSiteMap().Menu("sidemenu", SiteMaps.Current.FindSiteMapNodeFromKey("account"), true, true, new { name = "account" })
    </aside>
</div>
