@model VirtoCommerce.Foundation.Orders.Model.Order[]
@{
    ViewBag.Title = "CompanyOrders";
	Layout = "_Layout.cshtml";
}

<h2>CompanyOrders</h2>
@if (!Model.Any())
{
	<p>You have placed no orders.</p>
}
else
{
	<div class="pager">
    
        <p class="amount">
                    <strong>@Model.Count() Item(s)</strong>
        </p>
    
        <div class="limiter">
        <label>Show</label>
        <select onchange="setLocation(this.value)">
                    <option value="#" selected="selected">
                10            </option>
                    <option value="#">
                20            </option>
                    <option value="#">
                50            </option>
                </select> per page    </div>
    
    
        </div>

	<table class="data-table" id="my-orders-table">
    <colgroup><col width="1">
    <col width="1">
    <col />
    <col width="1">
    <col width="1">
    <col width="1">
	<col width="1">
    </colgroup><thead>
        <tr class="first last">
            <th>Order #</th>
            <th>Date</th>
            <th>Ship To</th>
            <th><span class="nobr">Order Total</span></th>
            <th><span class="nobr">Order Status</span></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
            @for (var i = 0; i < Model.Count(); i++)
			{
                @Html.DisplayFor(m => m[i], "OrderLine")
			}  
            </tbody>
</table>

	<div class="pager">
    
        <p class="amount">
                    <strong>@Model.Count() Item(s)</strong>
        </p>
    
        <div class="limiter">
        <label>Show</label>
        <select onchange="setLocation(this.value)">
                    <option value="#" selected="selected">
                10            </option>
                    <option value="#">
                20            </option>
                    <option value="#">
                50            </option>
                </select> per page    </div>
    
    
        </div>
}
    
<div class="buttons-set">
    <p class="back-link"><a href="#"><small>« </small>Back</a></p>
</div>
