	<div class="block block-account">
		<div class="block-title">
			<strong><span>Company</span></strong>
		</div>
		<div class="block-content">
		@Html.MvcSiteMap().Menu("sidemenu", false, true, false, "company")
		</div>
	</div>
