@model VirtoCommerce.Foundation.Customers.Model.Organization
@{
	ViewBag.Title = Html.Title("Company Dashboard");
	Layout = "_Layout.cshtml";
}
<div class="dashboard">
	<div class="page-title">
		<h1>
			Company Dashboard</h1>
	</div>
	<div class="welcome-msg">
		<p class="hello">
			<strong>Hello, @Model.Name!</strong></p>
		<p>
			From your My Account Dashboard you have the ability to view a snapshot of your recent
			account activity and update your account information. Select a link below to view
			or edit information.</p>
	</div>
	<!-- account info -->
	@*@Html.DisplayFor(m => m.Profile, "accountinfo")*@
	@{Html.RenderPartial("DisplayTemplates/CompanyInfo", UserHelper.GetShippingBillingForOrganization(UserHelper.UserClient.GetOrganizationForCurrentUser()), new ViewDataDictionary());}
	
</div>
