@model VirtoCommerce.Web.Models.CompanyEditModel
@{
	ViewBag.Title = "companyedit";
	Layout = "_Layout.cshtml";
}
<div class="dashboard">
	<div class="page-title">
		<h1>Edit Company Information</h1>
	</div>
@Html.EditorFor(m => m, "Company")

</div>
