@{
    ViewBag.Title = Html.Title("Login Failure".Localize());
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="cart">
                <div class="page-title">
                    <h1>@("Login failure".Localize())</h1>
                </div>
                <h2>
                    @("Unsuccessful login with service.".Localize())
                </h2>
             </div>
            </div>
        </div>
    </div>