@model CustomerModel
@{
    ViewBag.PageTitle = SiteMaps.Current.CurrentNode != null ? SiteMaps.Current.CurrentNode.Title.Localize() : "Dashboard".Localize();
    ViewBag.Title = Html.Title(ViewBag.PageTitle as string);
}

<p><b>@("Hello, {0}!".Localize((object)Model.FullName))</b></p>
<p>
    @(@"From your My Account Dashboard you have the ability to view a snapshot of your recent
            account activity and update your account information. Select a link below to view
            or edit information.".Localize())
</p>

<!-- recent orders -->
<div class="block">
    @{Html.RenderAction("RecentOrders");}
</div>
<!-- account info -->
@{Html.RenderAction("AccountInfo");}

@{Html.RenderAction("RemoveExternalLogins");}

