@model VirtoCommerce.Foundation.Orders.Model.Order[]
@{
    ViewBag.PageTitle = SiteMaps.Current.CurrentNode != null ? SiteMaps.Current.CurrentNode.Title.Localize() : "Orders".Localize();
    ViewBag.Title = Html.Title(ViewBag.PageTitle as string);
}

@if (Model == null || !Model.Any())
{
    Html.SharedViewBag().Messages = new MessagesModel { new MessageModel("You have placed no orders.".Localize(), MessageType.Notice) };
}
else
{
	@Html.DisplayForModel("OrdersPager")
	@Html.DisplayForModel("Orders")
	@Html.DisplayForModel("OrdersPager")
}
    
<div class="buttons clearfix">
    <a href="@Url.Action("Index")" class="back">«@("Back".Localize())</a>
</div>

							