@model VirtoCommerce.Foundation.Orders.Model.Order[]
<div class="box-account box-recent">
    <div class="box-head">
        <h2>
            @("Recent Orders".LocalizeHtml())</h2>
        <a href="@Url.Action("Orders")">@("View All".LocalizeHtml())</a>
    </div>
    @Html.DisplayForModel("Orders")
</div>
