@model VirtoCommerce.Foundation.Orders.Model.Order[]

<div class="title">
    <span>@("Recent Orders".Localize())</span>
    <a href="@Url.Action("Orders")">@("View All".Localize())</a>
</div>
@Html.DisplayForModel("Orders")
