@Html.MvcSiteMap().Menu("sidemenu", false, true, false, "account")

<!--
<ul>
    <li class="current"><strong>Account Dashboard</strong></li>
    <li><a href="#">Account Information</a></li>
    <li><a href="#">Address Book</a></li>
    <li><a href="#">My Orders</a></li>
    <li><a href="#">My Wishlist</a></li>
</ul>
-->
