@using VirtoCommerce.Web.Virto.Helpers
@{
    ViewBag.Title = "Shopping Cart".Localize();
    ViewBag.PageTitle = "Shopping Cart is Empty".Localize();
}

<div class="empty">
    <figure>
        <img alt="" src="@Url.Content("~/Content/themes/default/images/icons/cart-empty.png")">
    </figure>
    <p>@("WOOPS! There are no products matching the selection.".Localize())</p>
    <button onclick="$.redirect('@UserHelper.CustomerSession.LastShoppingPage')">
        <span>@("Continue shopping".Localize())</span>
    </button>
</div>
