<div class="blade-content __large-wide">
	<div class="blade-inner">
		<div class="inner-block">
			<form class="form">
				<div class="form-group">
					<label class="form-label">Name:</label>
					<div class="form-input">
						<input focus-on="" ng-disabled="!blade.newAsset" required class="form-control" ng-model="blade.currentEntity.name" placeholder="Enter asset name" />
					</div>
				</div>
				<div class="form-group">
					<label class="form-label">Editorial asset content</label>
					<div class="form-input __expanded">
						<textarea required cols="60" rows="30" ng-model="blade.currentEntity.content" placeholder="Enter asset content"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
