<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<ul class="list __files" ng-if="blade.currentEntities.length">
				<li class="list-item" ng-click="blade.folderClick(data)" ng-repeat="data in blade.currentEntities | orderBy:'folderName':reverse" ng-class="{'__selected': blade.checkFolder(data) }">
					<a class="list-block">
						<i class="list-ico fa" ng-class="{'fa-folder-open': blade.checkFolder(data), 'fa-folder': !blade.checkFolder(data) }"></i>
						<span class="list-name">{{data.folderName}}</span>
					</a>
					<ul class="list __sub" ng-show="blade.checkFolder(data)" ng-repeat="asset in data.assets | orderBy:'name':reverse">
						<li class="list-item" ng-click="blade.openBlade(asset); $event.stopPropagation();" ng-class="{'__selected': blade.checkAsset(asset) }">
							<a class="list-block">
								<i class="list-ico fa" ng-class="blade.assetClass(asset)"></i>
								<span class="list-name">{{asset.name}}</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<p class="text" ng-if="!blade.currentEntities.length">No Assets yet</p>
		</div>
	</div>
</div>