<va-main-menu ng-model="mainMenu" on-menu-changed="onMainMenuChanged(mainMenu)">
    <div class="logo" ng-if="!mainMenu.isCollapsed">
        <img class="logo__img" ng-src="{{ uiCustomization.topPanelLogo_full_custom.url || uiCustomization.topPanelLogo_full_default.url }}" fallback-src="{{ uiCustomization.topPanelLogo_full_default.url }}" />
        <a class="logo-version" href="" ng-click="showVersionInfo()">{{platformVersion}}</a>
    </div>
    <div class="logo" ng-if="mainMenu.isCollapsed">
        <img class="logo__img logo__img--collapsed" ng-src="{{ uiCustomization.topPanelLogo_mini_custom.url || uiCustomization.topPanelLogo_mini_default.url }}" fallback-src="{{ uiCustomization.topPanelLogo_mini_default.url }}" />
    </div>
</va-main-menu>
<article class="cnt" role="main">
    <va-header></va-header>
    <div class="cnt-inner">
        <div class="dashboard" ng-if="$state.current.name === 'workspace'">
            <header class="dashboard-head">
                <div class="dashboard-title">
                    <img class="__logo" ng-src="{{uiCustomization.logo || '/images/logo.png'}}" />
                    <h1>{{uiCustomization.title || 'Virto Commerce'}}</h1>
                </div>
            </header>
            <div class="dashboard-area">
                <div class="dashboard-inner">
                    <va-widget-container group="mainDashboard" gridster-opts="{columns: 6, minRows: 4}">
                    </va-widget-container>
                </div>
            </div>
        </div>
        <ui-view />
    </div>
</article>
