/* General
==========*/
#layout
{
	min-height: 100%;
	position: relative;
}

	/* Responsive container
	======================*/
	.rubber
	{
		margin: 0 auto;
		padding: 0 10px;
		position: relative;
		width: 960px;

		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
	}

	.congratulations
	{
		background: url(images/bg-noise.jpg) repeat scroll 0 0;
		border-bottom: 2px solid #ddd;
		padding: 30px 0;
	}

		.congratulations span
		{
			display: block;
			font-family: 'Trebuchet MS';
		}

		.congratulations .title
		{
			font-size: 55px;
			line-height: 80%;
			text-transform: uppercase;
		}

		.congratulations .text
		{
			font-size: 30px;
		}

	.main
	{
		margin-top: 55px;
	}

		.welcome,
		.ask,
		.congratulations,
		.main-title
		{
			text-align: center;
		}

			.welcome span
			{
				display: block;
				font-family: 'Trebuchet MS';
				text-transform: uppercase;
			}

			.welcome .sub-title
			{
				font-size: 30px;
			}

			.welcome .title
			{
				color: #f9b233;
				font-size: 60px;
				margin: 10px 0 0;
			}

			.welcome .socials
			{
				font-size: 0;
				margin: 25px 40px 55px;
				position: relative;
				text-align: justify;
			}

			.welcome .socials:after
			{
				content: '';
				display: inline-block;
				width: 100%;
			}

				.welcome .socials li
				{
					display: inline-block;
					width: 137px;
				}

					.welcome .socials li a
					{
						background: url(images/icons/socials.png) no-repeat scroll 0 0;
						display: block;
						height: 137px;
					}

					.welcome .socials li a:hover
					{
						background-position: 0 100%;
					}

					.welcome .socials li.tw a
					{
						background-position: -137px 0;
					}

					.welcome .socials li.tw a:hover
					{
						background-position: -137px 100%;
					}

					.welcome .socials li.in a
					{
						background-position: -274px 0;
					}

					.welcome .socials li.in a:hover
					{
						background-position: -274px 100%;
					}

					.welcome .socials li.plus a
					{
						background-position: -411px 0;
					}

					.welcome .socials li.plus a:hover
					{
						background-position: -411px 100%;
					}

		.ask
		{
			margin: 0 0 65px;
		}

			.ask p
			{
				font-size: 30px;
			}

				.ask p img
				{
					display: inline-block;
					vertical-align: baseline;
				}

				.ask p .tag {
				    background: #e0eaf1;
					color: #406e8d;
					display: inline-block;
					font-size: 28px;
					padding: 0 15px;

					-webkit-box-shadow: -2px -2px 0 #b4cee0 inset;
				    -ms-box-shadow: -2px -2px 0 #b4cee0 inset;
				    box-shadow: -2px -2px 0 #b4cee0 inset;
				}

.use-links
		{
			background: url(images/bg-noise.jpg) repeat scroll 0 0;
			border-top: 2px solid #ddd;
			padding: 0 0 35px;
		}

			.use-links .title
			{
				display: block;
				font-size: 30px;
				padding: 30px 0 35px;
				text-align: center;
			}

			.use-links .column
			{
				float: left;
				margin: 0 1% 0 0;
				text-align: center;
				width: 47%;
			}

			.use-links .column + .column
			{
				float: right;
				margin: 0 0 0 1%;
			}

				.use-links .column figure
				{
					border: 2px solid #f9b233;
					margin: 0 0 25px;
				}

				.use-links .column img
				{
					display: block;
					max-width: 100%;
				}

				.use-links .column p
				{
					font-size: 15px;
					margin: 15px 0;
				}

					.use-links .column p span
					{
						color: #e7302a;
					}

				.use-links .column .require-ff
				{
					background: #f9b233;
					color: #fff;
					display: block;
					font-size: 10px;
					padding: 10px 15px;
					text-align: left;
				}

					.use-links .column .require-ff a
					{
						color: #fff;
						font-weight: bold;
					}

	/* Footer */
	footer
	{
		background: url(images/bg-noise.jpg) repeat scroll 0 0;
	}

		footer .rubber
		{
			border-top: 2px solid #ddd;
			padding: 15px 10px;
		}

		footer .copy
		{
			float: left;
			font-size: 13px;
			line-height: 36px;
		}

		footer .socials
		{
			float: right;
		}

			footer .socials li
			{
				display: inline-block;
				margin: 0 0 0 20px;
				width: 36px;
			}

				footer .socials li a
				{
					background: url(images/icons/socials-mini.png) no-repeat scroll 0 0;
					display: block;
					height: 36px;
				}

				footer .socials li a:hover
				{
					background-position: 0 100%;
				}

				footer .socials li.in a
				{
					background-position: -36px 0;
				}

				footer .socials li.in a:hover
				{
					background-position: -36px 100%;
				}

				footer .socials li.fb a
				{
					background-position: -72px 0;
				}

				footer .socials li.fb a:hover
				{
					background-position: -72px 100%;
				}

				footer .socials li.tw a
				{
					background-position: -108px 0;
				}

				footer .socials li.tw a:hover
				{
					background-position: -108px 100%;
				}