<div class="blade-static" ng-if="blade.currentEntities.length">
    <div class="form-group">
        <div class="form-input __search">
            <input placeholder="{{'platform.placeholders.search-keyword' | translate }}" ng-model="blade.searchText" ng-keyup="gridApi.grid.queueGridRefresh()">
            <button class="btn __other" style="position: relative;right: 45px;">
                <i class="btn-ico fa fa-remove" title="Clear" ng-click="blade.searchText='';gridApi.grid.queueGridRefresh()"></i>
            </button>
        </div>
        <p class="form-count">{{ 'platform.list.count' | translate }}: <span class="count">{{filteredEntitiesCount}}</span></p>
    </div>
</div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block" ng-init="setGridOptions({
                    rowTemplate: 'modules-list.row.html',
                    virtualizationThreshold: 1000,
                    rowHeight: 60,
                    columnDefs: [
                                {
                                    displayName: 'platform.blades.modules-list.labels.icon', name: 'iconUrl',
                                    enableColumnResizing: false, enableSorting: false, width: 60,
                                    cellTemplate: 'modules-list-icon.cell.html'
                                },
                                {
                                    displayName: 'platform.blades.modules-list.labels.module', name: 'customColumn', field: 'title',
                                    sort: { direction: uiGridConstants.ASC }, width: '50%',
                                    cellTemplate: 'modules-list-name.cell.html'
                                },
                                { name: 'version', displayName: 'platform.blades.modules-list.labels.version', width: 70 },
                                {
                                    displayName: 'platform.blades.modules-list.labels.author', name: 'authors',
                                    cellTemplate: 'modules-list-authors.cell.html'
                                }
                    ]})">
            <div class="note" ng-if="blade.currentEntities.length == 0">{{ 'platform.blades.modules-list.labels.no-modules-part1' | translate }} <a href="http://docs.virtocommerce.com/display/vc2devguide/Source+Code+Getting+Started#SourceCodeGettingStarted-ConfigureIIS" target="_blank">{{ 'platform.blades.modules-list.labels.no-modules-part2' | translate }}</a>.</div>
            <div class="table-wrapper" ng-if="blade.currentEntities.length">
                <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-resize-columns ui-grid-move-columns ui-grid-height></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="modules-list.row.html">
    <div ng-click='grid.appScope.blade.selectNode(row.entity.id)' ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__selected': row.entity.id===grid.appScope.selectedNodeId }" role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" ui-grid-cell></div>
</script>

<script type="text/ng-template" id="modules-list-icon.cell.html">
    <div class="ui-grid-cell-contents">
        <div class="product-img">
            <div class="image" style="background-image: url('{{COL_FIELD}}')"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modules-list-name.cell.html">
    <div class="ui-grid-cell-contents">
        <div class="inner-contents">
            <span class="table-t" title="{{COL_FIELD}}">{{COL_FIELD}}</span>
            <span class="table-descr" title="{{row.entity.description}}" style="overflow: hidden; text-overflow: ellipsis;">{{row.entity.description}}</span>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modules-list-authors.cell.html">
    <div class="ui-grid-cell-contents"><span ng-repeat="x in COL_FIELD">{{x}} </span></div>
</script>