.welcome-msg {
    color: #666666;
    float: left;
    margin-top: 7px;
}

#logoutForm {
    display: inline;
}

.search-autocomplete {
    z-index: 999;
}

    .search-autocomplete ul {
        border: 1px solid #999;
        background-color: #f9f5f0;
    }

    .search-autocomplete li {
        text-align: left;
        border-bottom: 1px solid #f4eee7;
        padding: 2px 8px 1px 8px;
        cursor: pointer;
    }

        .search-autocomplete li .amount {
            float: right;
            font-weight: bold;
        }

        .search-autocomplete li.odd {
            background-color: #f6f6f6;
        }

        .search-autocomplete li.selected {
            background-color: #ecf9ea;
        }

.field-validation-error
{
    clear: both;
    min-height: 13px;
    margin: 3px 0 0;
    padding-left: 13px;
    font-size: 11px;
    line-height: 13px;
    background: url(../default/images/validation_advice_bg.gif) 2px 3px no-repeat;
    color: #eb340a;
	display: block;
}
.share-links {
    padding: 10px 0;
}

/*Review paging*/
.pr-pagination-top {
   border-bottom: 1px solid #CCCCCC;
    clear: both;
    height: 15px;
    padding: 0.5em 0 0.7em;
}
.pr-page-count-wrapper {
    float: left;
}
.pr-page-nav-wrapper {
    float: right;
    text-align: right;
    width: 20%;
}
.pr-page-prev, .pr-page-next {
    cursor: pointer;
}
.pr-page-prev:hover, .pr-page-next:hover {
    text-decoration: underline;
}
.pr-page-prev:disabled, .pr-page-next:disabled {
    cursor: default;
}

span.price-label
    {
     color: #000000 !important;
    font-size: 25px !important;
    }

.products-list span.price-label {
    font-size: 15px;
}

div.loading-ajax {
    background-image: url("../default//images/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 50px;
    text-align: center;
}