.welcome-msg {
    color: #666666;
    float: left;
    margin-top: 7px;
}

#logoutForm {
    display: inline;
}

.search-autocomplete {
    z-index: 999;
}

    .search-autocomplete ul {
        border: 1px solid #999;
        background-color: #f9f5f0;
    }

    .search-autocomplete li {
        text-align: left;
        border-bottom: 1px solid #f4eee7;
        padding: 2px 8px 1px 8px;
        cursor: pointer;
    }

        .search-autocomplete li .amount {
            float: right;
            font-weight: bold;
        }

        .search-autocomplete li.odd {
            background-color: #f6f6f6;
        }

        .search-autocomplete li.selected {
            background-color: #ecf9ea;
        }

.field-validation-error
{
    clear: both;
    min-height: 13px;
    margin: 3px 0 0;
    padding-left: 13px;
    font-size: 11px;
    line-height: 13px;
    background: url(../default/images/validation_advice_bg.gif) 2px 3px no-repeat;
    color: #eb340a;
	display: block;
}
.share-links {
    padding: 10px 0;
}

/*Data table*/
.data-table {
    width: 100%;
}
.data-table tr.odd {
    background: none repeat scroll 0 0 #FFFFFF;
}
.data-table tr.even {
    background: none repeat scroll 0 0 #FCFCFC;
}
.data-table tr.last th, .data-table tr.last td {
    border-bottom: 0 none !important;
}
.data-table th {
    font-size: 10px;
    padding: 2px 8px;
    text-transform: uppercase;
    white-space: nowrap;
}
.data-table th.wrap {
    white-space: normal;
}
.data-table th a {
    color: #FFFFFF;
}
.data-table td {
    padding: 3px 8px;
}
.data-table thead, .data-table thead tr {
    background: none repeat scroll 0 0 #E9E9E9;
}
.data-table tfoot {
    border-bottom: 1px solid #D9DDE3;
}
.data-table tfoot tr {
    background-color: #F3F3F3 !important;
}
.data-table tbody th {
    font-size: 11px;
    font-weight: bold;
    padding: 3px 8px;
    text-transform: none;
    white-space: normal;
}
.data-table tbody th, .data-table tbody td {
    border-bottom: 1px solid #D9DDE3;
}
.data-table tfoot strong {
    font-size: 14px;
}
.data-table tbody.odd tr {
    background: none repeat scroll 0 0 #FFFFFF;
}
.data-table tbody.even tr {
    background: none repeat scroll 0 0 #FCFCFC;
}
.data-table tbody.odd tr td, .data-table tbody.even tr td {
    border-bottom: 0 none;
}
.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td {
    border-bottom: 1px solid #D9DDE3;
}
.data-table tbody td .option-label {
    font-style: italic;
    font-weight: bold;
}
.data-table tbody td .option-value {
    padding-left: 10px;
}

.data-table th {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}