/* --- Poup for Card ---*/
.fade-block
{
	background: rgba(0, 0, 0, .6);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9000;
}

.popup
{
	background: #fff;
	height: 190px;
	left: 50%;
	margin: -95px 0 0 -200px;
	padding: 10px;
	position: fixed;
	top: 50%;
	width: 400px;
	z-index: 10000;

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;

	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1);
	   -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1);
			box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1);
}

	.popup .close
	{
		background: #5bd2ec;
		color: #fff;
		cursor: pointer;
		display: none;
		font-family: 'Open Sans';
		font-size: 18px;
		font-weight: 600;
		height: 30px;
		line-height: 30px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 30px;

		-webkit-border-radius: 0 2px;
		   -moz-border-radius: 0 2px;
				border-radius: 0 2px;
	}

	.popup:hover .close
	{
		display: block;
	}

	.popup img
	{
		display: block;
		max-width: 100%;
	}