div.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

div.rateit div.rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(images/icons/rateit/star.gif);
    height: 11px;
}

/* for IE 6 */
* html div.rateit, * html div.rateit div.rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html div.rateit, * + html div.rateit div.rateit-range
{
    display: inline;
}

div.rateit div.rateit-hover, div.rateit div.rateit-selected
{
    position: absolute;
    left: 0;
}

div.rateit div.rateit-hover-rtl, div.rateit div.rateit-selected-rtl
{
    left: auto;
    right: 0;
}

div.rateit div.rateit-hover
{
    background: url(images/icons/rateit/star.gif) left -22px;
}

div.rateit div.rateit-hover-rtl
{
    background-position: right -22px;
}

div.rateit div.rateit-selected
{
    background: url(images/icons/rateit/star.gif) left -11px;
}

div.rateit div.rateit-selected-rtl
{
    background-position: right -11px;
}

div.rateit div.rateit-preset
{
    background: url(images/icons/rateit/star.gif) left -33px;
}

div.rateit div.rateit-preset-rtl
{
    background: url(images/icons/rateit/star.gif) left -33px;
}

div.rateit div.rateit-reset
{
    background: url(images/icons/rateit/delete.gif) 0 0;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
}

div.rateit div.rateit-reset:hover
{
    background-position: 0 -16px;
}
