.__disabled,
.__disabled > *
{
	opacity: .6;
	pointer-events: none;

	filter: alpha(opacity=60);
}

*:disabled
{
	cursor: not-allowed;
	opacity: .6;

	filter: alpha(opacity=60);
}

.table .table-item:hover,
.__items .list-item:hover
{
	background: #ecf7fc;
}

.table .table-item.__selected,
.__items .list-item.__selected
{
	background: #d9effa;
}

.__items label.list-item.__selected
{
    background: #fff;
}

/* Icons */
.tile-ico,
.__items .list-ico
{
	color: #a6a6a6;
}

.tile:hover .tile-ico,
.__items .list-item:hover .list-ico,
.__items .list-item.__selected .list-ico
{
	color: #a1c0d4;
}

/* Links */
a
{
	color: #43b0e6;
	text-decoration: none;
}

.link
{
	text-decoration: underline;
}

a:hover,
.link:hover
{
	color: #52a2ca;
}

.__link
{
	cursor: pointer;
}

/* Transitions */
.nav-bar .menu-link,
.dropdown .dropdown-close,
.dropdown-content .list-link,
.blade-toolbar .menu-btn,
.pagination .menu-link,
.__items .list-ico,
.breadcrumbs .menu-link,
.text-mini.__link,
.menu.__context .menu-item,
.nav-bar .menu-ico
{
	-webkit-transition: color .25s ease-in-out 0s;
			transition: color .25s ease-in-out 0s;
}

.nav-bar .dropdown
{
	-webkit-transition: left .25s ease-in-out 0s;
			transition: left .25s ease-in-out 0s;
}

.dropdown-content .list-link,
.blade-nav .menu-item,
.table .table-item,
.pagination .menu-link,
.__items .list-item,
.product-img .image,
.btn,
.form-control.__switch .switch,
.list.__notice .list-link,
.nav-bar .menu-link.__animated
{
	-webkit-transition: background-color .35s ease-in-out 0s;
			transition: background-color .35s ease-in-out 0s;
}

.dashboard .dashboard-account,
.form-input input,
.form-input textarea,
.tile-gallery .gallery-img
{
	-webkit-transition: border-color .2s ease-in-out 0s;
			transition: border-color .2s ease-in-out 0s;
}

.tile
{
	-webkit-transition: box-shadow .25s ease-in-out 0s, height .25s ease-in-out 0s, width .25s ease-in-out 0s;
			transition: box-shadow .25s ease-in-out 0s, height .25s ease-in-out 0s, width .25s ease-in-out 0s;
}

.tile-ico
{
	-webkit-transition: color .25s ease-in-out 0s, margin .25s ease-in-out 0s;
			transition: color .25s ease-in-out 0s, margin .25s ease-in-out 0s;
}

.tile.__selected:after,
.tile.__selected:before
{
	-webkit-transition: opacity .25s ease-in-out 0s;
			transition: opacity .25s ease-in-out 0s;
}

/* Progress bar */
.progress-bar
{
	background-color: #444;
	background-image: 
		-webkit-linear-gradient(45deg, 
		rgba(255, 255, 255, .15) 25%, 
		rgba(0, 0, 0, 0) 25%, 
		rgba(0, 0, 0, 0) 50%, 
		rgba(255, 255, 255, .15) 50%, 
		rgba(255, 255, 255, .15) 75%, 
		rgba(0, 0, 0, 0) 75%, 
		rgba(0, 0, 0, 0));
	background-image: 
		linear-gradient(45deg, 
		rgba(255, 255, 255, .15) 25%, 
		rgba(0, 0, 0, 0) 25%, 
		rgba(0, 0, 0, 0) 50%, 
		rgba(255, 255, 255, .15) 50%, 
		rgba(255, 255, 255, .15) 75%, 
		rgba(0, 0, 0, 0) 75%, 
		rgba(0, 0, 0, 0));
	background-size: 30px 30px;
	height: 20px;
	margin: 10px 0;

	-webkit-animation: 2s linear 0s infinite running progress;
			animation: 2s linear 0s infinite running progress;
}

.progress-bar.__auqa
{
	background-color: #43b0e6;
}

.progress-bar.__mini
{
	background-size: 15px 15px;
	height: 8px;

	-webkit-animation: 2s linear 0s infinite running progress-mini;
			animation: 2s linear 0s infinite running progress-mini;
}

/* Animations */
@-webkit-keyframes progress
{
	from
	{
		background-position: 0 0;
	}
	to
	{
		background-position: -60px 0;
	}
}

@keyframes progress
{
	from
	{
		background-position: 0 0;
	}
	to
	{
		background-position: -60px 0;
	}
}

@-webkit-keyframes progress-mini
{
	from
	{
		background-position: 0 0;
	}
	to
	{
		background-position: -30px 0;
	}
}

@keyframes progress-mini
{
	from
	{
		background-position: 0 0;
	}
	to
	{
		background-position: -30px 0;
	}
}

/* Preloaders */
@-webkit-keyframes preloader_1
{
	
}

@keyframes preloader_1
{
	0%
	{
		background: #dee9f0;
		height: 0;
	}

	25%
	{
		background: #43b0e6;
		height: 50px;
	}

	50%
	{
		background: #dee9f0;
		height: 0;
	}

	100%
	{
		background: #dee9f0;
		height: 0;
	}
}

@keyframes preloader_2
{
	0%
	{
		background: #dee9f0;
		height: 10px;


	}

	25%
	{
		background: #43b0e6;
		height: 50px;

		
	}

	50%
	{
		background: #dee9f0;
		height: 10px;


	}

	100%
	{
		background: #dee9f0;
		height: 10px;


	}
}

@keyframes preloader_3
{
	0%
	{
		background: #43b0e6;
		transform: translateY(0);
	}

	25%
	{
		background: #dee9f0;
		transform: translateY(-15px);
	}

	50%
	{
		background: #dee9f0;
		transform: translateY(0);
	}

	75%
	{
		background: #dee9f0;
		transform: translateY(15px);
	}

	100%
	{
		background: #dee9f0;
		transform: translateY(0);
	}
}

@keyframes preloader_4
{
	0%
	{
		transform: translateX(0);
		opacity: 0;
	}

	25%
	{
		transform: translateX(120px);
		opacity: 1;
	}

	50%
	{
		transform: translateX(120px);
		opacity: 1;
	}

	75%
	{
		transform: translateX(500px);
		opacity: 0;
	}

	100%
	{
		transform: translateX(500px);
		opacity: 0;
	}
}

@keyframes preloader_5
{
	0%
	{
		background: #dee9f0;
		height: 0;
	}

	25%
	{
		background: #43b0e6;
		height: 50px;
	}

	50%
	{
		background: #dee9f0;
		height: 0;
	}

	100%
	{
		background: #dee9f0;
		height: 0;
	}
}