<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <ul class="list __items">
                <li class="list-item" ng-repeat="data in objects track by data.id" ng-class="{'__selected': data.id === selectedNodeId}" ng-click='selectNode(data)' context-menu data-target="cl_menu{{$index}}">
                    <ul class="menu __context" role="menu" id="cl_menu{{$index}}">
                        <li class="menu-item" ng-click='editCatalog(data)'>
                            <i class="menu-ico fa fa-edit"></i> Manage
                        </li>
                        <li class="menu-item" ng-click='deleteCatalog(data)'>
                            <i class="menu-ico fa fa-trash-o"></i> Delete
                        </li>
                    </ul>
                    <i class="list-ico fa" ng-class="data.virtual ? 'fa-cloud' : 'fa-folder'"></i>
                    <span class="list-name">{{data.name + (data.virtual ? ' (virtual)' : '')}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>