<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <ul class="list __items">
                <li class="list-item" ng-repeat="data in objects track by data.id" ng-class="{'__selected': data.id === selectedNodeId}" ng-click='selectNode(data)' context-menu data-target="cl_menu{{$index}}">
                    <i class="list-ico fa" ng-class="data.virtual ? 'fa-cloud' : 'fa-folder'"></i>
                    <span class="list-name" ng-show="data.virtual">{{ 'catalog.blades.catalogs.labels.virtual' | translate:{ name: data.name } }}</span>
                    <span class="list-name" ng-hide="data.virtual">{{data.name}}</span>
                    <ul class="menu __context" role="menu" id="cl_menu{{$index}}">
                        <li class="menu-item" ng-click='editCatalog(data)' va-permission="catalog:read" security-scopes="data.securityScopes">
                            <i class="menu-ico fa fa-edit"></i> 
                            {{'platform.commands.manage' | translate}}
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="note" ng-if="objects.length == 0">
                {{'platform.list.no-data' | translate}}
            </div>
        </div>
    </div>
</div>