<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="detailForm" class="form">
                <fieldset ng-init="setForm(detailForm);">
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <div class="form-input">
                            <input focus-on="" required class="form-control" ng-model="blade.currentEntity.name" placeholder="Enter category name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Code</label>
                        <div class="form-input">
                            <input required class="form-control" ng-model="blade.currentEntity.code" placeholder="Enter category code" name="code" ui-validate=" 'codeValidator($value)' " />
                        </div>
                        <div class="form-error" data-ng-show="detailForm.code.$dirty">
                            <!--<span data-ng-show="detailForm.code.$error.required">Required</span>-->
                            <span data-ng-show="detailForm.code.$error.validator">Code can't contain $+;=%{}[]|\/@ ~#!^*&()?:'<>, characters</span>
                        </div>
                    </div>
                </fieldset>
            </form>

            <va-widget-container group="categoryDetail" blade="blade" gridster-opts="{width: 396}"></va-widget-container>
        </div>
    </div>
</div>