<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <ul class="list __items">
                <li class="list-item" ng-mouseup="addCategory()" va-permission="catalog:categories:manage">
                    <i class="list-ico fa fa-folder"></i>
                    <span class="list-t">Category</span>
                    <span class="list-descr">A container for other Categories and Products or Variations.</span>
                </li>
                <li class="list-item" ng-mouseup="addLinkedCategory()" ng-if="blade.parentBlade.catalog.virtual" va-permission="catalog:virtual_catalogs:manage">
                    <i class="list-ico fa fa-link"></i>
                    <span class="list-t">Link</span>
                    <span class="list-descr">A link to real Category or Product.</span>
                </li>
                <li class="list-item" ng-mouseup="addProduct('Shippable')" ng-if="!blade.parentBlade.catalog.virtual" va-permission="catalog:items:manage">
                    <i class="list-ico fa fa-shopping-cart"></i>
                    <span class="list-t">Shippable Product</span>
                    <span class="list-descr">Represents orderable item of merchandise for sale, can be used for targeted promotions, etc. Requires physical shipping.</span>
                </li>
                <li class="list-item" ng-mouseup="addProduct('Digital')" ng-if="!blade.parentBlade.catalog.virtual" va-permission="catalog:items:manage">
                    <i class="list-ico fa fa-shopping-cart"></i>
                    <span class="list-t">Digital Product</span>
                    <span class="list-descr">Represents orderable item of merchandise for sale, can be used for targeted promotions, etc. Is digital product, thus is downloaded on purchase, not shipped.</span>
                </li>
            </ul>
        </div>
    </div>
</div>