<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <ul class="list __items">
                <li class="list-item" ng-mouseup="addCategory()" va-permission="catalog:categories:manage">
                    <i class="list-ico fa fa-folder"></i>
                    <span class="list-t">Category</span>
                    <span class="list-descr">A container for other Categories and Products or Variations.</span>
                </li>
                <li class="list-item" ng-mouseup="addLinkedCategory()" ng-if="blade.parentBlade.catalog.virtual" va-permission="catalog:virtual_catalogs:manage">
                    <i class="list-ico fa fa-link"></i>
                    <span class="list-t">Link</span>
                    <span class="list-descr">A link to real Category or Product.</span>
                </li>
                <li class="list-item" ng-mouseup="addProduct()" ng-if="!blade.parentBlade.catalog.virtual" va-permission="catalog:items:manage">
                    <i class="list-ico fa fa-shopping-cart"></i>
                    <span class="list-t">Product</span>
                    <span class="list-descr">The main Variation. Can be used for targeted promotions.</span>
                </li>
                <li class="list-item" ng-mouseup="addVariation()" ng-if="!blade.parentBlade.catalog.virtual" ng-class="{'__disabled':!blade.parentBlade.currentItemId}" va-permission="catalog:items:manage">
                    <i class="list-ico fa fa-barcode"></i>
                    <span class="list-t">Variation</span>
                    <span class="list-descr">Represents orderable item of merchandise for sale. Contains details, such as names, description, images, prices and inventory information.</span>
                </li>
            </ul>
        </div>
    </div>
</div>