<div class="blade-static __bottom" ng-if="blade.bottomTemplate">
    <ng-include src='blade.bottomTemplate'> </ng-include>
</div>

<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="sub-t" va-permission="{{blade.updatePermission}}">{{ 'catalog.blades.images.labels.select-images' | translate }}</div>
            <form class="form" ng-if="blade.hasUpdatePermission()">
                <div ng-show="uploader.isHTML5">
                    <!-- 3. ng-file-over | ng-file-over="className" -->
                    <div over-class="bd-blue" nv-file-over nv-file-drop uploader="uploader" class="drag-area">
                        <div class="drag-content">{{ 'catalog.blades.images.labels.drag-drop-comment' | translate }}</div>
                    </div>
                </div>

                <!-- 2. ng-file-select | ng-file-select="options" -->
                <div class="form-input __file">
                    <input type="file" multiple uploader="uploader" nv-file-select style="z-index: 0;" tabindex="-1">
                    <input type="text" style="z-index: 1; cursor: default;" readonly="">
                    <button class="btn __file" type="button" onclick="$('input[type=file]').trigger('click')" title="Open image file">
                        <i class="btn-ico fa fa-image"></i>
                    </button>
                </div>

                <div class="form-input __file">
                    <input ng-model="blade.newExternalImageUrl" type="url" placeholder="{{ 'catalog.blades.images.placeholders.image-url' | translate }}" tabindex="-1">
                    <button class="btn __file" type="button" ng-click="addImageFromUrl()" title="Add image by URL">
                        <i class="btn-ico fa fa-plus"></i>
                    </button>
                </div>
            </form>
            
            <div ng-show="uploader.isUploading">
                <div class="sub-t">{{ 'catalog.blades.images.labels.progress' | translate }}</div>
                <div class="progress-bar __aqua" ng-style="{'width': uploader.progress + '%'}"></div>
            </div>

            <p class="note" va-permission="{{blade.updatePermission}}">{{ 'catalog.blades.images.labels.make-default-image' | translate }}</p>
            <div class="tile-group triple __images-list" ui-sortable="sortableOptions" ng-model="blade.currentEntity.images">
                <div class="tile" ng-click="toggleImageSelect($event, image)" ng-class="{'double': $first, '__selected': image.$selected}" ng-repeat="image in blade.currentEntity.images" ng-include="'imageTemplate.html'"></div>
            </div>
        </div>

        <script type="text/ng-template" id="imageTemplate.html">
            <img class="tile-img" ng-src="{{image.url ? image.url : ''}}">
        </script>
    </div>
</div>