<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-col __product-control">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="selectedAll" ng-change="checkAll(selectedAll)" />
                                    <span class="check"></span>
                                </label>
                            </th>
                            <th class="table-col __product-img">Pic</th>
                            <th class="table-col __product-name">Name</th>
                            <th class="table-col __product-code">Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.item.variations track by data.id" ng-class="{'selected': data === selectedItem}">
                            <td class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.selected">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col" ng-click='selectVariation(data)'>
                                <div class="product-img">
                                    <div class="image" style="background-image: url({{data.imgSrc}})" ng-if="data.imgSrc"></div>
                                    <i class="table-ico fa fa-image" ng-if="!data.imgSrc" />
                                </div>
                            </td>
                            <td class="table-col __product-name" ng-click='selectVariation(data)'>
                                {{data.name}}
                            </td>
                            <td class="table-col __product-code" ng-click='selectVariation(data)'>
                                {{data.code}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>