<div class="blade-static __bottom" ng-include="'Scripts/common/templates/create.tpl.html'" ng-if="blade.isNew"></div>
<div class="blade-static __bottom" ng-include="'Scripts/common/templates/ok-cancel2.tpl.html'" ng-if="!blade.isNew"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="formScope" class="form">
                <div class="form-group" ng-init="setForm(formScope);">
                    <label class="form-label" for="">Property name</label>
                    <div class="form-input">
                        <input focus-on="" required class="form-control" ng-model="blade.currentEntity.name" />
                    </div>
                </div>
            </form>
            <ul class="list __items">
                <li class="list-item" ng-class="{'__selected': currentChild === 'valType'}" ng-click='openChild("valType")'>
                    <span class="list-t">Value Type</span>
                    <span class="list-descr">{{blade.currentEntity.valueType}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>