<div class="blade-content __medium-wide __gray">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="itemDetailForm" class="form">
                <div class="form-group" ng-init="setForm(itemDetailForm)">
                    <label class="form-label">SKU:</label>
                    <div class="form-input">
                        <input ng-class="{'error': itemDetailForm.itemCode.$invalid && !itemDetailForm.itemCode.$pristine}" required class="form-control" ng-model="blade.item.code" name="itemCode" placeholder="Enter item sku" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Name:</label>
                    <div class="form-input">
                        <textarea ng-class="{'error': itemDetailForm.itemName.$invalid && !itemDetailForm.itemName.$pristine}" cols="30" rows="3" ng-model="blade.item.name" name="itemName" placeholder="Enter item name"></textarea>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="form-group">
                            <div class="form-control __checkbox">
                                <label class="form-label">
                                    <input type="checkbox" ng-model="blade.item.isBuyable">
                                    <span class="check"></span>
                                    <span class="name">Can be purchased</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <div class="form-control __checkbox">
                                <label class="form-label">
                                    <input type="checkbox" ng-model="blade.item.isActive">
                                    <span class="check"></span>
                                    <span class="name">Store visible</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <div class="form-control __checkbox">
                                <label class="form-label">
                                    <input type="checkbox" ng-model="blade.item.trackInventory">
                                    <span class="check"></span>
                                    <span class="name">Track inventory</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <va-widget-container group="itemDetail" blade="blade"></va-widget-container>
        </div>
    </div>
</div>