<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" ng-submit="add(pdForm)" name="pdForm" novalidate autocomplete="off">
                <fieldset ng-if="!pb.currentEntity.multilanguage">
                    <legend>{{ 'catalog.blades.property-dictionary.labels.new-value' | translate }}</legend>
                    <div class="form-group">
                        <div class="form-input">
                            <input ng-class="{'error' : pdForm.dictValue.$invalid && !pdForm.dictValue.$pristine}" required ng-model="newValue.value" ui-validate=" 'dictValueValidator($value)' " name="dictValue" focus-on="" placeholder="{{ 'catalog.blades.property-dictionary.placeholders.value' | translate }}" />
                        </div>
                        <div class="form-error" ng-if="pdForm.dictValue.$dirty && pdForm.dictValue.$invalid">
                            <span ng-if="pdForm.dictValue.$error.required">{{ 'catalog.blades.property-dictionary.validations.required' | translate }}</span>
                            <span ng-if="pdForm.dictValue.$error.validator">{{ 'catalog.blades.property-dictionary.validations.duplicate' | translate }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn" ng-disabled="pdForm.$invalid" type="submit">{{ 'platform.commands.add' | translate }}</button>
                    </div>
                </fieldset>

                <fieldset ng-if="pb.currentEntity.multilanguage">
                    <legend ng-show="selectedItem">{{ 'catalog.blades.property-dictionary.labels.language-edit' | translate }}</legend>
                    <legend ng-hide="selectedItem">{{ 'catalog.blades.property-dictionary.labels.language-add' | translate }}</legend>
                    <div class="form-group">
                        <div class="form-input __langs" ng-repeat="data in newValue.values">
                            <ng-form name="valuesForm">
                                <span class="flag flag-{{data.languageCode.substr(3).toLowerCase()}}"></span>
                                <input ng-model="data.value" class="form-control" ng-required="$first" ui-validate=" 'dictValueValidator($value, data)' " name="mValue" placeholder="{{ 'catalog.blades.property-dictionary.placeholders.value' | translate }}" />
                                <div class="form-error" ng-if="valuesForm.mValue.$dirty && valuesForm.mValue.$invalid">
                                    <span ng-if="valuesForm.mValue.$error.required">{{ 'catalog.blades.property-dictionary.validations.required' | translate }}</span>
                                    <span ng-if="valuesForm.mValue.$error.validator">{{ 'catalog.blades.property-dictionary.validations.duplicate' | translate }}</span>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn" ng-if="selectedItem" ng-click="cancel()">{{ 'platform.commands.cancel' | translate }}</button>
                        <button class="btn" ng-disabled="pdForm.$invalid" type="submit">{{selectedItem ? 'Ok' : 'Add'}}</button>
                    </div>
                </fieldset>
            </form>
            <fieldset ng-if="pb.currentEntity.dictionaryValues.length > 0">
                <legend>{{ 'catalog.blades.property-dictionary.labels.current-values' | translate }}</legend>
                <div class="table-wrapper">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="table-col">
                                    <label class="form-control __checkbox">
                                        <input type="checkbox" ng-model="selectedAll" ng-change="checkAll(selectedAll)" />
                                        <span class="check"></span>
                                    </label>
                                </th>
                                <th class="table-col">{{ 'catalog.blades.property-dictionary.labels.value' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-item" ng-repeat="data in pb.currentEntity.dictionaryValues" ng-class="{'__selected': data === selectedItem}" context-menu data-target="pd_menu_{{$index}}" ng-click='selectItem(data)' ng-if="!pb.currentEntity.multilanguage">
                                <td class="table-col">
                                    <label class="form-control __checkbox">
                                        <input type="checkbox" ng-model="data.selected">
                                        <span class="check"></span>
                                    </label>
                                </td>
                                <td class="table-col">
                                    <div class="form-input" ng-if="pb.currentEntity.valueType !== 'Number'">
                                        <input required ng-model="data.value" type="text" />
                                    </div>
                                    <div class="form-input __number" ng-if="pb.currentEntity.valueType === 'Number'">
                                        <input smart-float num-type="float" required ng-model="data.value">
                                    </div>
                                    <ul role="menu" class="menu __context" id="pd_menu_{{$index}}">
                                        <li class="menu-item" ng-click='delete($index)'>
                                            <i class="menu-ico fa fa-trash-o"></i> {{ 'platform.commands.delete' | translate }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="table-item" ng-repeat="group in groupedValues" ng-class="{'__selected': group === selectedItem}" context-menu data-target="pd_multi_{{$index}}" ng-click='selectItem(group)' ng-if="pb.currentEntity.multilanguage">
                                <td class="table-col">
                                    <label class="form-control __checkbox">
                                        <input type="checkbox" ng-model="group.selected">
                                        <span class="check"></span>
                                    </label>
                                </td>
                                <td class="table-col">
                                    <div ng-repeat="data in group.values | orderBy:'languageCode'" style="margin:5px 0;">
                                        <span class="flag flag-{{data.languageCode.substr(3, 2).toLowerCase()}}"></span>
                                        {{data.value}}
                                    </div>
                                    <ul role="menu" class="menu __context" id="pd_multi_{{$index}}">
                                        <li class="menu-item" ng-click='deleteMultilanguage(group.alias)'>
                                            <i class="menu-ico fa fa-trash-o"></i> {{ 'platform.commands.delete' | translate }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>