<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="formScope">
                <div class="form-group">
                    <label class="form-label">Catalog name</label>
                    <div class="form-input">
                        <input focus-on="" required ng-model="blade.currentEntity.name" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Core)/Scripts/common/create.tpl.html'" ng-if="blade.isNew"></div>