@model IDictionary<string,object>

<table class="data-table" id="product-attribute-specs-table">
    <col width="25%" />
    <col />
    <tbody>
        @foreach (var prop in Model)
        {
            <tr>
                <th class="label">
                    @prop.Key.Localize()
                </th>
                <td class="data">
                    @prop.Value.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>

