<div class="modal-dialog-warning">
    <div class="modal-dialog-header __warning">
        <div class="modal-dialog-header-title">{{ title | translate: titleValues}}</div>
        <button class="modal-dialog-header-button" ng-click="cancel()" title="{{ 'platform.commands.cancel' | translate }}">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>

    <div class="modal-dialog-body">
        <div class="modal-dialog-icon-container">
            <img class="modal-dialog-icon" src="/images/dialogs/icon-warning.png" alt="">
        </div>
        <div class="modal-dialog-message">{{ message | translate: messageValues}}</div>
    </div>

    <div class="modal-dialog-footer">
        <button class="btn" ng-click="yes()">{{ 'platform.commands.yes' | translate}}</button>
        <button class="btn __inverted" ng-click="no()">{{ 'platform.commands.no' | translate}}</button>
    </div>
</div>
