<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="VirtoCommerce:EnableBundlesOptimizations" value="false" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    </appSettings>
    <system.web>
        <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
    </system.web>
</configuration>