<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="VirtoCommerce:EnableBundlesOptimizations" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    </appSettings>
    <system.web>
        <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=2592000; includeSubDomains"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
