<div ng-if="daysTillPasswordExpiry >= 0" class="header__info2">
    <div class="password-expiry">
        <span class="header__nav-ico header__nav-ico--warning"></span>
        <div class="password-expiry__text">
            <span ng-if="daysTillPasswordExpiry" translate="platform.templates.password-expiry.expire-days" translate-values="{count:daysTillPasswordExpiry}"></span>
            <span ng-if="!daysTillPasswordExpiry" translate="platform.templates.password-expiry.expire-today"></span>
            <a href="" ng-click="changePassword()" style="font-size: 12px">{{'platform.templates.password-expiry.change-link' | translate }}</a>
        </div>
    </div>
</div>
