<div class="form-input" ng-form="passwordInputForm">
    <input name="newPasswordInput" ng-model="newPassword" required placeholder="{{passwordPlaceholder}}" type="password" ui-validate-async="'doValidatePasswordAsync($value)'">
</div>
<div class="form-error" ng-show="passwordInputForm.newPasswordInput.$dirty && !passwordValidationResult.passwordIsValid">
    <span>{{passwordTooWeakMessage}}</span>
    <ul>
        <li ng-repeat="error in passwordValidationResult.errors">
            {{ error | translate: passwordValidationResult }}
        </li>
    </ul>
</div>
