<div class="tile-group six" ng-show="auth.isAuthenticated">
    <!--
    <div data-click="transform" data-effect="slideUp" data-role="live-tile" class="tile double live">
        <p class="count">456</p>
        <p class="text">Products</p>
    </div>

    <div data-click="transform" data-effect="slideUp" data-role="live-tile" class="tile double live">
        <p class="count">4</p>
        <p class="text">Catalogs</p>
    </div>

    <div data-click="transform" class="tile">
        <p class="count">0</p>
        <p class="text">Imports</p>
    </div>
    -->
    <!-- small tiles -->
    <!--
        <a data-click="transform" class="tile half" href="#">
            <i class="icon-new"></i>
        </a>

        <a data-click="transform" class="tile half" href="#">
            <p class="count mini">20</p>
        </a>

        <a data-click="transform" class="tile half" href="#">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>

        <a data-click="transform" class="tile half" href="#">
            <p class="count mini">40</p>
        </a>
    -->
    <!-- end small tiles -->

    <a data-click="transform" class="tile quadro triple-vertical" style="padding: 2px;">
        <div google-chart chart="chartObject" style="height:100%"></div>
    </a>

    <div data-click="transform" class="tile">
        <p class="count">5</p>
        <p class="text">Catalogs</p>
    </div>

    <div data-click="transform" class="tile">
        <p class="count">456</p>
        <p class="text">Products</p>
    </div>
    <div data-click="transform" class="tile">
        <ul class="notice-list">
            <li class="info bg-lightBlue"><a class="fg-white" href="" ng-click="notification('info')">Info</a></li>
            <li class="warning bg-amber"><a class="fg-white" href="" ng-click="notification('warning')">Warning</a></li>
            <li class="progress bg-pink"><a class="fg-white" href="" ng-click="notification('task')">Progress</a></li>
            <li class="error bg-darkRed"><a class="fg-white" href="" ng-click="notification('error')">Error </a></li>
        </ul>
        
          
</div>
<!--
    <a data-click="transform" class="tile" href="#">
        <i class="icon-windows"></i>
    </a>
    -->
</div>
