@using VirtoCommerce.Web.Virto.Helpers
@if (UserHelper.CustomerSession.IsRegistered)
{
    <li class=" last">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">@("Log off".Localize())</a>
        }
    </li>
}
else
{
    <li class=" last">@Html.ActionLink("Log In".Localize(), "LogOn", "Account")</li>
}
