    <div class="nav">
        <a class="control">
            <span></span>
            <span></span>
            <span></span>
        </a>
        @Html.MvcSiteMap().Menu(SiteMaps.Current.FindSiteMapNodeFromKey("home"), true, false, 3, true, new { name = "MainMenu" })
    </div>