@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col2-left-layout">
    <div class="main">
        <div class="col-main">
            @RenderBody()
        </div>
        <div class="col-left sidebar">
            @RenderSection("SideBarContent", required: false)
        </div>
    </div>
</div>