@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Fail Whale";
}
<hgroup class="title">
    <h1 class="error">
        Fail Whale.</h1>

    @if (@Model != null)
    {
        
        <h2 class="error">@Model.Exception</h2>
    }
    else
    {
        <h2>
            Oops! Server Returned a 404 (Page Not Found)!
            <br />
            In English it means the Page, Address, URL you are looking for has moved without leaving a forwarding
            address :(! We have reported this to the Administrator.
        </h2>
    }

</hgroup>
