<div class="blade-content __medium-wide __gray">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="form columns clearfix">
                <div class="column">
                    <div class="form-group">
                        <label class="form-label">Customer order number</label>
                        <div class="form-input">
                            <input required type="text" ng-model="blade.currentEntity.number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Status</label>
                        <div class="form-input">
                            <select chosen ng-model="blade.currentEntity.status" class="chosen-select">
                                <option value="new">New</option>
                                <option value="new">NotPayed</option>
                                <option value="new">Completed</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Store</label>
                        <div class="form-input">
                            <select chosen ng-model="blade.currentEntity.storeId" class="chosen-select">
                                <option>{{blade.currentEntity.storeId}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <label class="form-label">from</label>
                        <div class="form-input">
                            <div class="form-text">{{blade.currentEntity.createdDate | date:'short'}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Channel</label>
                        <div class="form-input">
                            <select chosen ng-model="blade.currentEntity.channelId" class="chosen-select">
                                <option>{{blade.currentEntity.channelId}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Customer</label>
                        <div class="form-input">
                            <select chosen ng-model="blade.currentEntity.customerId" class="chosen-select">
                                <option>{{blade.currentEntity.customerId}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-group four">
                <va-widget-container group="customerOrderDetailWidgets" blade="blade"></va-widget-container>
            </div>
     
        </div>
    </div>
</div>


