/* Top navigation
=================*/
.top-nav {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    background: #42a2ce;
    border-bottom: 1px solid #cbc999;
    bottom: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    left: 0;
    padding: 10px 0;

    position: fixed;
    right: 0;
    z-index: 9000;
}

.top-nav ul {
    height: 26px;
    text-align: center;
}

.top-nav ul li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.top-nav ul li a {
    background: url(../images/sprite-device.png) no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 26px;
    overflow: hidden;
    text-indent: 100%;
}

.top-nav ul li.set-url a {
    background: url(../images/link.png) no-repeat scroll 50% 50%;
    cursor: pointer;
    display: block;
    width: 16px;
}

.top-nav ul li.desktop a { width: 30px; }

.top-nav ul li.desktop a:hover,
.top-nav ul li.desktop.active a { background-position: 0 100%; }

.top-nav ul li.tablet-landscape a {
    background-position: -35px 0;
    width: 22px;
}

.top-nav ul li.tablet-landscape a:hover,
.top-nav ul li.tablet-landscape.active a { background-position: -35px 100%; }

.top-nav ul li.tablet-portrait a {
    background-position: -62px 0;
    width: 18px;
}

.top-nav ul li.tablet-portrait a:hover,
.top-nav ul li.tablet-portrait.active a { background-position: -62px 100%; }

.top-nav ul li.iphone-landscape a {
    background-position: -85px 0;
    width: 20px;
}

.top-nav ul li.iphone-landscape a:hover,
.top-nav ul li.iphone-landscape.active a { background-position: -85px 100%; }

.top-nav ul li.iphone-portrait a {
    background-position: -110px 0;
    width: 12px;
}

.top-nav ul li.iphone-portrait a:hover,
.top-nav ul li.iphone-portrait.active a { background-position: -110px 100%; }

.top-nav ul li .sub-menu {
    background: #838383;
    display: none;
    height: auto;
    position: absolute;
    top: 47px;
    z-index: 100;
}

.top-nav ul li .sub-menu li {
    display: block;
    margin: 0;
}

.top-nav ul li .sub-menu li a {
    background: none;
    color: #fff;
    font-size: 13px;
    height: auto;
    overflow: visible;
    padding: 5px 10px;
    text-indent: 0;
    width: auto;
}

.top-nav ul li .sub-menu li a:hover,
.top-nav ul li .sub-menu li.active a { background: #0e0e0e; }

/* Live preview
===============*/

.live-preview {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: url(../images/imagedoc-darknoise.png) repeat scroll 0 0 #333;

    box-sizing: border-box;
    height: 94%;
    width: 100%;
}

.live-preview.tablet-landscape,
.live-preview.tablet-portrait,
.live-preview.iphone-landscape,
.live-preview.iphone-portrait,
.live-preview.desktop-1760x957 .block { overflow: auto; }

.live-preview .block { height: 100%; }

.live-preview .block iframe {
    background: #fff;
    height: 100%;
    width: 100%;
}

.live-preview.tablet-landscape .block {
    background: url(../images/pad-land.png) no-repeat scroll 0 0;
    height: 798px;
    width: 1242px;
}

.live-preview.tablet-landscape .block iframe {
    height: 690px;
    margin: 51px 0 0 80px;
    width: 1039px;
}

.live-preview.tablet-portrait .block {
    background: url(../images/pad-port.png) no-repeat scroll 0 0;
    height: 1213px;
    width: 901px;
}

.live-preview.tablet-portrait .block iframe {
    height: 1038px;
    margin: 65px 0 0 59px;
    width: 783px;
}

.live-preview.iphone-landscape .block {
    background: url(../images/phone-land.png) no-repeat scroll 0 0;
    height: 395px;
    width: 759px;
}

.live-preview.iphone-landscape .block iframe {
    height: 335px;
    margin: 28px 0 0 133px;
    width: 495px;
}

.live-preview.iphone-portrait .block {
    background: url(../images/phone-port.png) no-repeat scroll 0 0;
    height: 762px;
    width: 395px;
}

.live-preview.iphone-portrait .block iframe {
    height: 495px;
    margin: 133px 0 0 32px;
    width: 335px;
}

.live-preview.desktop-1920x1044 .block { width: 1920px; }

.live-preview.desktop-1760x957 .block { width: 1760px; }

.live-preview.desktop-1600x892 .block { width: 1600px; }

.live-preview.desktop-1440x990 .block { width: 1440px; }

.live-preview.desktop-1368x768 .block { width: 1368px; }

.live-preview.desktop-1280x1024 .block { width: 1280px; }

.live-preview.tablet-landscape .block,
.live-preview.tablet-portrait .block,
.live-preview.iphone-landscape .block,
.live-preview.iphone-portrait .block { margin: 20px auto; }

.live-preview.desktop-1920x1044 .block,
.live-preview.desktop-1760x957 .block,
.live-preview.desktop-1600x892 .block,
.live-preview.desktop-1440x990 .block,
.live-preview.desktop-1368x768 .block,
.live-preview.desktop-1280x1024 .block {
    margin: 0 auto;
    overflow: hidden;
}