/* HTML 5 elements 
====================================*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

* {
    margin: 0;
    outline: none;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    overflow: hidden;
}