.table .table-col.__author,
.table .table-col.__version
{
    font-size: 12px;
    vertical-align: top;
    width: 25%;
}

.table .table-col.__date
{
    vertical-align: middle;
    width: 15%;
}

.table .table-col.__product-range
{
    width: 10%;
}

.table .table-col.__product-count
{
    width: 5%;
}

.table .table-col.__lang
{
    width: 25%;
}

.table .table-col.__author
{
    color: #999;
}

.table .table-col.__version
{
    width: 10%;
}

.table .table-col.__blue
{
    color: #43b0e6;
}

.table .table-col.__product-control
{
    width: 20px;
}

.table .table-col.__product-img
{
    width: 60px;
}

.table .table-col.__product-name
{
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table.__normal .table-col.__product-name
{
    max-width: 250px;
    width: auto;
}

.table .table-col.__product-code
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
}

/* Gallery */
.gallery
{
    height: 100%;
    position: relative;
    width: 100%;
}

.gallery .gallery-img
{
    border: 1px solid #dee9f0;
    position: absolute;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.gallery .gallery-img:hover
{
    border-color: #a1c0d4;
}

.gallery-img
{
    cursor: pointer;
    height: 50px;
    line-height: 42px;
    left: 59px;
    top: 59px;
    width: 50px;
}

.gallery-img.__main
{
    height: 108px;
    line-height: 100px;
    overflow: hidden;
    width: 108px;
}

    .gallery-img *
    {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }

.gallery-img:nth-last-child(2) + .gallery-img
{
    left: 59px;
    top: 3px;
}

.gallery-img:nth-last-child(3) + .gallery-img
{
    left: 117px;
    top: 3px;
}

.gallery-img:nth-last-child(4) + .gallery-img
{
    left: auto;
    right: 3px;
    top: 59px;
}

.gallery-img:nth-last-child(5) + .gallery-img
{
    left: auto;
    right: 3px;
    top: 117px;
}

.gallery-img:nth-last-child(6) + .gallery-img
{
    bottom: 3px;
    left: auto;
    right: 59px;
    top: auto;
}

.gallery-img:nth-last-child(7) + .gallery-img
{
    bottom: 3px;
    left: auto;
    right: 117px;
    top: auto;
}

.gallery-img:nth-last-child(8) + .gallery-img
{
    bottom: 59px;
    left: 3px;
    top: auto;
}

.gallery-img:nth-last-child(9) + .gallery-img
{
    bottom: 117px;
    left: 3px;
    top: auto;
}

.gallery-img:nth-last-child(10) + .gallery-img
{
    left: 3px;
    top: 3px;
}

.gallery-img:nth-last-child(11) + .gallery-img
{
    left: auto;
    right: 3px;
    top: 3px;
}

.gallery-img:nth-last-child(12) + .gallery-img
{
    bottom: 3px;
    left: auto;
    right: 3px;
    top: auto;
}

.gallery-img:nth-last-child(13) + .gallery-img
{
    bottom: 3px;
    left: 3px;
    top: auto;
}