<div class="blade-static __expanded" ng-if="!isCatalogSelectMode()">
    <va-breadcrumb ng-model="blade.breadcrumbs" blade-id="blade.id"></va-breadcrumb>
    <div class="form-group">
        <div class="form-input __search">
            <input placeholder="{{'platform.placeholders.search-keyword' | translate}}" ng-model="filter.keyword" ng-keyup="$event.which === 13 && filter.criteriaChanged()">
            <button class="btn __other" style="position: relative;right: 45px;">
                <i class="btn-ico fa fa-remove" title="Clear" ng-click="filter.keyword=null;filter.criteriaChanged()"></i>
            </button>
        </div>
        <p class="form-count">{{ 'platform.list.count' | translate }}: <span class="count">{{pageSettings.totalItems}}</span></p>
    </div>
</div>
<div class="blade-content __medium-wide" ng-if="!isCatalogSelectMode()">
    <div class="blade-inner">
        <div class="inner-block" ng-if="blade.catalogId" ng-init="setGridOptions({
                data: 'items',
                rowTemplate: 'item-list.row.html',
                rowHeight: 61,
                enableSelectionBatchEvent: false,
                columnDefs: [
                        {
                            name: 'imageUrl', displayName: 'catalog.blades.catalog-items-select.labels.picture',
                            enableColumnResizing: false, enableSorting: false, width: 60,
                            cellTemplate: 'item-list-icon.cell.html'
                        },
                        { name: 'name', displayName: 'catalog.blades.catalog-items-select.labels.name' },
                        { name: 'code', displayName: 'catalog.blades.catalog-items-select.labels.sku', width: 170, cellTemplate: 'item-list-SKU.cell.html' }
                 ]})">
            <div class="table-wrapper">
                <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-height></div>
            </div>
        </div>
    </div>
    <div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
</div>

<div class="blade-content" ng-if="isCatalogSelectMode()">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <ul class="list __items">
                <li class="list-item" ng-repeat="data in items track by data.id" ng-class="{'__selected': data.id === selectedNodeId}" ng-click='selectItem($event, data)'>
                    <i class="list-ico fa" ng-class="data.isVirtual ? 'fa-cloud' : 'fa-folder'"></i>
                    <span class="list-name" ng-show="data.isVirtual">{{ 'catalog.blades.catalog-items-select.labels.virtual' | translate:{ name: data.name } }}</span>
                    <span class="list-name" ng-hide="data.isVirtual">{{data.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="item-list.row.html">
    <div ng-click='grid.appScope.selectItem($event, row.entity)' ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__selected': row.entity.id===grid.appScope.selectedNodeId }" role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" ui-grid-cell></div>
</script>
<script type="text/ng-template" id="item-list-icon.cell.html">
    <div class="ui-grid-cell-contents">
        <div class="product-img">
            <div class="image" style="background-image: url('{{COL_FIELD}}')" ng-if="row.entity.type!=='category' && COL_FIELD"></div>
            <i class="table-ico fa" ng-class="row.entity.type == 'category' ? 'fa-folder' : 'fa-image'" ng-if="!COL_FIELD"></i>
        </div>
    </div>
</script>
<script type="text/ng-template" id="item-list-SKU.cell.html">
    <div class="ui-grid-cell-contents">{{row.entity.type!=='category'?COL_FIELD:''}}</div>
</script>
