<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper" ng-init="setGridOptions({
                    rowTemplate: 'assignment-list.row.html',                    
                    columnDefs: [
                                { name: 'name', displayName: 'pricing.blades.assignment-list.labels.name' },
                                { name: 'priority', displayName: 'pricing.blades.assignment-list.labels.priority', width: 72, sort: { direction: uiGridConstants.ASC } },
                                { name: 'modifiedDate', displayName: 'pricing.blades.assignment-list.labels.last-modified', width: 87, cellTemplate: 'am-time-ago.cell.html' },
                                { name: 'modifiedBy', displayName: 'pricing.blades.assignment-list.labels.modified-by', width: 87, headerTooltip: true }
                    ]
                 })">
                <div ui-grid="gridOptions" ui-grid-save-state ui-grid-selection ui-grid-resize-columns ui-grid-move-columns></div>
                <!--<table class="table">
                    <thead>
                        <tr>
                            <th class="table-col __product-control">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="blade.selectedAll" ng-change="toggleAll()" />
                                    <span class="check"></span>
                                </label>
                            </th>
                            <th class="table-col __product-name">{{'pricing.blades.assignment-list.labels.name' | translate}}</th>
                            <th class="table-col">{{'pricing.blades.assignment-list.labels.catalog' | translate}}</th>
                            <th class="table-col __product-range">{{'pricing.blades.assignment-list.labels.priority' | translate}}</th>
                            <th class="table-col __date">{{'pricing.blades.assignment-list.labels.last-modified' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.currentEntities | orderBy:['pricelistId','-priority'] track by data.id" ng-class="{'__selected': data.id === selectedNodeId}">
                            <td class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.selected">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col __product-name" ng-click='selectNode(data)'>
                                <span>{{data.name}}</span>
                            </td>
                            <td class="table-col" ng-click='selectNode(data)'>
                                <span>{{data.catalogName}}</span>
                            </td>
                            <td class="table-col __product-code" ng-click='selectNode(data)'>
                                <span>{{data.priority}}</span>
                            </td>
                            <td class="table-col" ng-click='selectNode(data)'>
                                <span class="table-date" am-time-ago="data.modifiedDate"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="assignment-list.row.html">
    <div ng-click='grid.appScope.selectNode(row.entity)' ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__selected': row.entity.id===grid.appScope.selectedNodeId }" role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" ui-grid-cell style='cursor:pointer'></div>
</script>
<script type="text/ng-template" id="am-time-ago.cell.html">
    <span class="table-date" am-time-ago="COL_FIELD"></span>
</script>
