<logging>
  <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
    <arg key="level" value="DEBUG" />
    <arg key="showLogName" value="true" />
    <arg key="showDataTime" value="true" />
    <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
  </factoryAdapter>
</logging>