<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <ul class="list-extended">
                <li ng-click="openBlade('catalog')">
                    <span class="title">{{blade.currentEntity.catalog ? 'Selected catalog' : 'Select a catalog'}}</span>
                    <span class="sub-title">{{blade.currentEntity.catalog.name}}</span>
                </li>
                <li ng-click="openBlade('types')">
                    <span class="title">{{blade.currentEntity.types.length>0 ? 'Selected types' : 'Select types to export'}}</span>
                    <span class="sub-title"><span ng-repeat="x in blade.currentEntity.types">{{x}}, </span></span>
                </li>
                <li ng-click="openBlade('format')">
                    <span class="title">{{blade.currentEntity.format ? 'Selected format' : 'Select a format'}}</span>
                    <span class="sub-title">{{blade.currentEntity.format}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="static bottom">
    <div class="button-set">
        <button ng-click="submit()" ng-disabled="!isValid()">
            <span>Start export</span>
        </button>
    </div>
</div>