<div class="blade-static __bottom __expanded" ng-if="blade.mode">
    <div class="form-input" ng-if="currentEntity.requireLicenseAcceptance">
        <div class="form-control __checkbox">
            <label class="form-label">
                <!--currentEntity.validationErrors.length>0 ||-->
                <input type="checkbox" ng-model="currentEntity.licenseAccepted" ng-disabled="!currentEntity || isInstalling">
                <span class="check"></span>
                <span class="name">I accept the <a ng-href="{{currentEntity.licenseUrl}}" ng-if="currentEntity.licenseUrl" target="_blank">License</a> agreement</span>
            </label>
        </div>
    </div>
    <button class="btn" ng-click="submit()" ng-disabled="!currentEntity || isInstalling || (currentEntity.requireLicenseAcceptance && !currentEntity.licenseAccepted)">
        <span>{{actionButtonTitle}}</span>
    </button>
</div>
<div class="blade-content __gray">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="form">
                <div class="form-group" ng-if="!currentEntity">
                    <label class="form-label">Select module file:</label>
                    <div class="form-input">
                        <input type="file" uploader="uploader" nv-file-select>
                        <input type="text" readonly="">
                        <button class="btn __file" type="button" onclick="$('input[type=file]').trigger('click')">
                            <i class="btn-ico fa fa-image"></i>
                        </button>
                    </div>
                </div>
                <div ng-if="currentEntity">
                    <div class="form-group">
                        <p class="sub-t">Title</p>
                        <p class="text">{{currentEntity.title}}</p>
                    </div>
                    <div class="form-group">
                        <p class="sub-t">Author</p>
                        <p class="text" ng-repeat="x in currentEntity.authors">{{x}} </p>
                    </div>
                    <div class="form-group">
                        <p class="sub-t">ID</p>
                        <p class="text">{{currentEntity.id}}</p>
                    </div>
                    <div class="form-group">
                        <p class="sub-t">Version</p>
                        <p class="text">{{currentEntity.version}}</p>
                    </div>
                    <div class="form-group">
                        <p ng-if="currentEntity.licenseUrl">
                            <a ng-href="{{currentEntity.licenseUrl}}" target="_blank">License</a>
                        </p>
                        <p class="text" ng-if="currentEntity.projectUrl">
                            <a ng-href="{{currentEntity.projectUrl}}" target="_blank">Project Information</a>
                        </p>
                    </div>
                    <div class="form-group">
                        <p class="sub-t">Description</p>
                        <p class="text">{{currentEntity.description}}</p>
                    </div>
                    <div class="form-group">
                        <p class="sub-t">Dependencies</p>
                        <ul class="list">
                            <li class="list-item" ng-repeat="x in currentEntity.dependencies">
                                <a class="list-link text">{{x}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <p class="sub-t">Tags</p>
                        <p class="text">{{currentEntity.tags}}</p>
                    </div>
                    <div class="form-group">
                        <p class="sub-t" ng-if="currentEntity.validationErrors.length>0">Errors</p>
                        <p class="text"><span ng-repeat="x in currentEntity.validationErrors">{{x}}<br></span></p>
                    </div>

                    <va-widget-container group="moduleDetail" blade="blade"></va-widget-container>
                </div>
            </div>
        </div>
    </div>
</div>