<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<ul class="list __items">
				<li class="list-item" ng-repeat="data in blade.currentEntities track by data.type" ng-class="{ '__selected': blade.selectedType === data.type }" ng-click="blade.openNotification(data.type)">
					<a class="list-block">
						<i class="list-ico fa fa-envelope" ng-if="data.isEmail"></i>
						<i class="list-ico fa fa-mobile" ng-if="data.isSms"></i>
						<span class="list-name ng-binding">{{data.displayName}}</span>
						<span class="list-descr ng-binding">{{data.description}}</span>
					</a>
				</li>
			</ul>
			<div class="note" ng-if="blade.currentEntities.length <= 0">
				{{ 'platform.blades.notifications-list.labels.no-notifications' | translate }}
			</div>
		</div>
	</div>
</div>