<div class="blade-content blade-medium">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table class="table hovered" ng-if="blade.currentEntity.items.length > 0">
                    <thead>
                        <tr>
                            <th class="text-left fixed-td"><input type="checkbox" ng-model="selectedAll" ng-change="checkAll(selectedAll)" /></th>
                            <th class="text-left">Name</th>
                            <th class="text-left fixed-td">Price</th>
                            <th class="text-left fixed-td">Qty.</th>
                            <th class="text-left fixed-td">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in blade.currentEntity.items" ng-class="{'selected': data === selectedItem}">
                            <td>
                                <div data-role="input-control" class="input-control checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="data.selected">
                                        <span class="check"></span>
                                    </label>
                                </div>
                            </td>
                            <td style="max-width: 250px; overflow: hidden; text-overflow: ellipsis;">
                                <span title="{{data.name}}">{{data.name}}</span>
                            </td>
                            <td>
                                <span>{{data.placedPrice}}</span>
                            </td>
                            <td>
                                {{data.quantity}}
                            </td>
                            <td>
                                {{data.extendedPrice}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>