<div class="blade-static">
    <div class="form-group">
        <div class="form-input __search">
            <input placeholder="{{'platform.placeholders.search-keyword' | translate}}" ng-model="searchText">
            <button class="btn __other" style="position: relative;right: 45px;">
                <i class="btn-ico fa fa-remove" title="Clear" ng-click="searchText=''"></i>
            </button>
        </div>
    </div>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="note" ng-if="blade.currentEntities.length == 0">{{ 'platform.blades.dynamicObject-list.labels.no-objects' | translate }}</div>
            <ul class="list __items" ng-if="blade.currentEntities.length > 0">
                <li class="list-item" ng-repeat="data in blade.currentEntities | filter:searchText | orderBy: 'name' track by data.name" ng-class="{'__selected': data.name === selectedNodeId}" ng-click='selectNode(data)'>
                    <span class="list-t" title="{{data.name}}">{{data.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>