<?xml version="1.0"?>
<AppConfig>
  <Connection wsEndPointName="" sqlConnectionStringName="VirtoCommerce" dataServiceUri="" />
  <Setup completed="true" adminUrl="http://assets.virtocommerce.com/software/1.13/admin/setup.exe" />
  <Cache enabled="true" settingsTimeout="00:00:30" localizationTimeout="00:00:30" seoKeywordsTimeout="00:00:30" />
  <availableModules>
    <add name="Store" type="VirtoCommerce.Web.Client.Modules.StoreHttpModule, VirtoCommerce.WebClient" />
    <add name="Marketing" type="VirtoCommerce.Web.Client.Modules.MarketingHttpModule, VirtoCommerce.WebClient" />
    <add name="UnityPerRequestHttpModule" type="Microsoft.Practices.Unity.Mvc.UnityPerRequestHttpModule, Microsoft.Practices.Unity.Mvc" />
  </availableModules>
  <sqlExecutionStrategies>
    <add providerName="System.Data.SqlClient" strategyType="System.Data.Entity.SqlServer.SqlAzureExecutionStrategy, EntityFramework.SqlServer" serverName="" maxDelay="19"/>
  </sqlExecutionStrategies>
</AppConfig>
