<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
 <add name="VirtoCommerce" connectionString="Data Source=MC28;Initial Catalog=WebStore;Persist Security Info=True;User ID=storeuser22;Password=2z%M&amp;LD2y!_K;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" />
 <add name="VirtoCommerceDataService" connectionString="http://localhost/store" />
 <add name="SearchConnectionString" connectionString="server=localhost:9200;scope=default;provider=elasticsearch" />
 <add name="DataConnectionString" connectionString="UseDevelopmentStorage=true" />
</connectionStrings>