<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="VirtoCommerce" connectionString="Data Source=(local);Initial Catalog=VirtoCommerce;Persist Security Info=True;User ID=virto;Password=virto;MultipleActiveResultSets=True;Connect Timeout=420" providerName="System.Data.SqlClient" />
  <!-- Elastic Search -->
  <add name="SearchConnectionString" connectionString="server=localhost:9200;scope=default;provider=elasticsearch" />
  
  <!-- Azure Search -->
  <!--
  <add name="SearchConnectionString" connectionString="server=virtocommerce;scope=default;key=key;provider=azuresearch" />
  -->
  
  <!-- LUCENE -->
  <!--
  <add name="SearchConnectionString" connectionString="server=~/app_data/virto/search;scope=default;provider=lucene" />
  -->

  <!-- Local Storage Provider -->
  <add name="DataConnectionString" connectionString="~/App_Data/Virto/Storage" providerName="VirtoCommerce.Foundation.Data.Asset.FileSystemBlobAssetRepository" />

  <!-- Azure Storage Provider -->
  <!--
  <add name="DataConnectionString" connectionString="ENTER URL HERE" providerName="VirtoCommerce.Foundation.Data.Azure.Asset.AzureBlobAssetRepository" />
  -->
</connectionStrings>