<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="VirtoCommerce" connectionString="Server=tcp:oecimt5x11.database.windows.net,1433;Database=tesswebpi11;User ID=virto@oecimt5x11;Password=NG6agb5T;Trusted_Connection=False;Encrypt=True;Connection Timeout=300;" providerName="System.Data.SqlClient" />
  <!-- Elastic Search -->
  <add name="SearchConnectionString" connectionString="server=localhost:9200;scope=default;provider=elasticsearch" />
  
  <!-- Azure Search -->
  <!--
  <add name="SearchConnectionString" connectionString="server=virtocommerce;scope=default;key=key;provider=azuresearch" />
  -->
  
  <!-- LUCENE -->
  <!--
  <add name="SearchConnectionString" connectionString="server=~/app_data/virto/search;scope=default;provider=lucene" />
  -->

  <!-- Local Storage Provider -->
  <add name="DataConnectionString" connectionString="~/App_Data/Virto/Storage" providerName="VirtoCommerce.Foundation.Data.Asset.FileSystemBlobAssetRepository" />

  <!-- Azure Storage Provider -->
  <!--
  <add name="DataConnectionString" connectionString="ENTER URL HERE" providerName="VirtoCommerce.Foundation.Data.Azure.Asset.AzureBlobAssetRepository" />
  -->
</connectionStrings>