<?xml version="1.0"?>
<Import>
  <Connection wsEndPointName="" sqlConnectionStringName="VirtoCommerce" dataServiceUri="" dataServiceBaseUriName=""/>
  <Importing wsEndPointName=""/>
  <Cache enabled="true" importJobTimeout="0:0:30" columnMappingTimeout="0:0:30" mappingItemTimeout="0:0:30"></Cache>
</Import>
