<?xml version="1.0"?>
<Security>
	<Connection wsEndPointName="" sqlConnectionStringName="VirtoCommerce" dataServiceUri=""/>
	<Authentication wsEndPointName=""/>
    <TokenIssuer uri="http://localhost/sts" lifetime="1:0:0" signatureKey="WRwJkQ9PgbhnIUgKuuovw/6yVAo/Dh0qrb7rqQWnsBk=" />
    <TokenValidator trustedIssuerUri="http://localhost/sts" signatureKey="WRwJkQ9PgbhnIUgKuuovw/6yVAo/Dh0qrb7rqQWnsBk=" />
</Security>
