<?xml version="1.0" encoding="utf-8"?>
<services>
  <service name="VirtoCommerce.Web.Client.Services.Security.AuthenticationService" behaviorConfiguration="non_secure_behavior">
    <endpoint binding="wsHttpBinding" contract="VirtoCommerce.Foundation.Security.Services.IAuthenticationService" bindingConfiguration="NonAuthenticationServiceBinding" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service name="VirtoCommerce.Foundation.Assets.Services.AssetService">
    <endpoint binding="wsHttpBinding" contract="VirtoCommerce.Foundation.Assets.Services.IAssetService" bindingConfiguration="AuthenticationServiceBinding"/>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service name="VirtoCommerce.Foundation.Importing.Services.ImportService">
    <endpoint binding="wsHttpBinding" contract="VirtoCommerce.Foundation.Importing.Services.IImportService" bindingConfiguration="AuthenticationServiceBinding" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service name="VirtoCommerce.Web.Client.Services.Security.SecurityService">
    <endpoint binding="wsHttpBinding" contract="VirtoCommerce.Foundation.Security.Services.ISecurityService" bindingConfiguration="AuthenticationServiceBinding"/>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service name="VirtoCommerce.Foundation.Orders.Services.OrderService">
    <endpoint binding="wsHttpBinding" contract="VirtoCommerce.Foundation.Orders.Services.IOrderService" bindingConfiguration="AuthenticationServiceBinding" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service name="VirtoCommerce.Foundation.Reporting.Services.ReportingService">
    <endpoint binding="wsHttpBinding" contract="VirtoCommerce.Foundation.Reporting.Services.IReportingService" bindingConfiguration="AuthenticationServiceBinding" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service name="VirtoCommerce.Web.Client.Services.Cache.CacheService">
    <endpoint binding="wsHttpBinding" contract="VirtoCommerce.Foundation.AppConfig.Services.ICacheService" bindingConfiguration="AuthenticationServiceBinding" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service name="VirtoCommerce.Web.Client.Services.Sequences.SequenceService">
    <endpoint binding="wsHttpBinding" contract="VirtoCommerce.Foundation.Frameworks.Sequences.ISequenceService" bindingConfiguration="AuthenticationServiceBinding"/>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
</services>
