<?xml version="1.0" encoding="utf-8" ?>
<Workflow>
	<activityProvider defaultProvider="ResourceActivityProvider">
		<providers>
      <add name="ResourceActivityProvider" type="VirtoCommerce.Foundation.Frameworks.Workflow.Providers.ResourceWorkflowActivityProvider, VirtoCommerce.Foundation" />
		</providers>
	</activityProvider>
  <availableWorkflows>
    <add name="ShoppingCartValidateWorkflow" type="VirtoCommerce.OrderWorkflow.ShoppingCartValidateWorkflow, VirtoCommerce.OrderWorkflow"/>
    <add name="ShoppingCartPrepareWorkflow" type="VirtoCommerce.OrderWorkflow.ShoppingCartPrepareWorkflow, VirtoCommerce.OrderWorkflow"/>
    <add name="ShoppingCartCheckoutWorkflow" type="VirtoCommerce.OrderWorkflow.ShoppingCartCheckoutWorkflow, VirtoCommerce.OrderWorkflow"/>
    <add name="OrderRecalculateWorkflow" type="VirtoCommerce.OrderWorkflow.OrderRecalculateWorkflow, VirtoCommerce.OrderWorkflow"/>
    <add name="CalculateReturnTotalsWorkflow" type="VirtoCommerce.OrderWorkflow.CalculateReturnTotalsWorkflow, VirtoCommerce.OrderWorkflow"/>
  </availableWorkflows>
</Workflow>