<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <ul class="list __items" ng-if="blade.currentEntities.length">
                <li class="list-item" ng-click="openDetailBlade(address)" ng-repeat="address in blade.currentEntities" ng-class="{'__selected': address == selectedItem}">
                    <!--<i class="list-ico fa fa-wrench"></i>-->
                    <span class="list-t">
                        {{getAddressName(address) | limitTo:50}}
                    </span>
                    <span class="list-descr">{{address.addressType}}</span>
                </li>
            </ul>
            <p class="text" ng-if="!blade.currentEntities.length">No Addresses yet</p>
        </div>
    </div>
</div>