<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="detailForm">
                <div class="form-group" ng-init="setForm(detailForm)">
                    <label class="form-label">{{ 'core.blades.address-detail.labels.address-type' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.addressType">
                            <ui-select-match placeholder="{{ 'core.blades.address-detail.placeholders.address-type' | translate }}">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="x as x in addressTypes | filter: $select.search ">
                                <span ng-bind-html="x | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>                
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.address-detail.labels.first-name' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.firstName" placeholder="{{ 'core.blades.address-detail.placeholders.first-name' | translate }}" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.address-detail.labels.last-name' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.lastName" placeholder="{{ 'core.blades.address-detail.placeholders.last-name' | translate }}" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.address-detail.labels.country' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.countryCode" required>
                            <ui-select-match placeholder="{{ 'core.blades.address-detail.placeholders.country' | translate }}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="x.code as x in countries | filter: $select.search ">
                                <span ng-bind-html="x.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.address-detail.labels.region' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.regionName" placeholder="{{ 'core.blades.address-detail.placeholders.region' | translate }}" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.address-detail.labels.city' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.city" required placeholder="{{ 'core.blades.address-detail.placeholders.city' | translate }}" />
                    </div>
                </div>
               <div class="form-group">
                    <label class="form-label">{{ 'core.blades.address-detail.labels.address' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.line1" placeholder="{{ 'core.blades.address-detail.placeholders.address1' | translate }}" required />
                    </div>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.line2" placeholder="{{ 'core.blades.address-detail.placeholders.address2' | translate }}" />
                    </div>
                </div>
               
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.address-detail.labels.zip-code' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.postalCode" required placeholder="{{ 'core.blades.address-detail.placeholders.zip-code' | translate }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.address-detail.labels.email' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.email" type="email" placeholder="{{ 'core.blades.address-detail.placeholders.email' | translate }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'core.blades.address-detail.labels.phone' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.phone" placeholder="{{ 'core.blades.address-detail.placeholders.phone' | translate }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>