<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <!-- VC integration-->
    <add name="VirtoCommerce" connectionString="Data Source=(local);Initial Catalog=VirtoCommerce2;Persist Security Info=True;User ID=virto;Password=virto;MultipleActiveResultSets=True;Connect Timeout=420" providerName="System.Data.SqlClient" />

    <!-- Search Connection Strings -->
    <add name="SearchConnectionString" connectionString="provider=Lucene;server=~/App_Data/Lucene;scope=default" />
    <!--<add name="SearchConnectionString" connectionString="provider=Elasticsearch;server=localhost:9200;scope=default" />-->

    <!-- Asset Connection Strings -->
    <add name="AssetsConnectionString" connectionString="provider=AzureBlobStorage;DefaultEndpointsProtocol=http;AccountName=virtotest;AccountKey=Qvy1huF8b0OE6upFh91/IMZPnETwhxe7BlRNZoZeJL59b921LeBb7zZZt03CiOVf7wVfPseUMKSXD8yz/rXVuQ==" />
    <!--<add name="AssetsConnectionString" connectionString="provider=LocalStorage;rootPath=~/App_Data/Assets;publicUrl=http://localhost/admin/Assets" />-->
</connectionStrings>
