<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <!-- VC integration-->
    <add name="VirtoCommerce" connectionString="Server=tcp:pa5v0ahdib.database.windows.net,1433;Database=VirtoCommerce;User ID=virto@pa5v0ahdib;Password=Med1achase;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"  />

    <!-- Search Connection Strings -->
    <add name="SearchConnectionString" connectionString="provider=Lucene;server=~/App_Data/Lucene;scope=default" />
    <!--<add name="SearchConnectionString" connectionString="provider=Elasticsearch;server=http://virtosearch-test.cloudapp.net:9200;scope=default;provider=elasticsearch" />-->

    <!-- Asset Connection Strings -->
    <add name="AssetsConnectionString" connectionString="provider=AzureBlobStorage;DefaultEndpointsProtocol=http;AccountName=virtotest;AccountKey=Qvy1huF8b0OE6upFh91/IMZPnETwhxe7BlRNZoZeJL59b921LeBb7zZZt03CiOVf7wVfPseUMKSXD8yz/rXVuQ==" />
    <!--<add name="AssetsConnectionString" connectionString="provider=LocalStorage;rootPath=~/App_Data/Assets;publicUrl=http://localhost/admin/Assets" />-->
</connectionStrings>
