<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <!-- VC integration-->
    <add name="VirtoCommerce" connectionString="Data Source=MC103\SQLEXPRESS;Initial Catalog=VirtoCommerce2;Persist Security Info=True;User ID=virto;Password=virto;MultipleActiveResultSets=True;Connect Timeout=420" providerName="System.Data.SqlClient" />

    <!-- Elastic Search -->
    <add name="SearchConnectionString" connectionString="server=localhost:9200;scope=default;provider=elasticsearch" />

    <!-- LUCENE -->
    <!--<add name="SearchConnectionString" connectionString="server=~/app_data/virto/search;scope=default;provider=lucene" />-->

    <!-- Asset Connection Strings -->
    <add name="AssetsConnectionString" connectionString="provider=AzureBlobStorage;DefaultEndpointsProtocol=http;AccountName=virtotest;AccountKey=Qvy1huF8b0OE6upFh91/IMZPnETwhxe7BlRNZoZeJL59b921LeBb7zZZt03CiOVf7wVfPseUMKSXD8yz/rXVuQ=="/>
</connectionStrings>
