<va-main-menu></va-main-menu>
<article class="cnt" role="main">
    <div class="cnt-inner">
        <div class="dashboard" ng-if="$state.current.name === 'workspace'">
            <header class="dashboard-head">
                <h1 class="dashboard-title">Virto Commerce</h1>

                <div>
                    <a class="__link" left-click-menu data-target="lngSwitch_menu">{{$translate.use()}}</a>
                    <ul class="menu __context" role="menu" id="lngSwitch_menu">
                        <li class="menu-item" ng-click='$translate.use(data)' ng-repeat="data in managerLanguages">{{data}}</li>
                    </ul>
                </div>

                <va-login-toolbar></va-login-toolbar>
            </header>
            <div class="dashboard-area">
                <div class="dashboard-inner">
                    <va-widget-container group="mainDashboard" gridster-opts="{columns: 6, minRows: 4}"></va-widget-container>
                </div>
            </div>
        </div>

        <ui-view />
    </div>
</article>