<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <form class="form" name="detailForm">
                <div class="form-group" ng-init="setForm(detailForm)">
                    <label class="form-label">Current password</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.oldPassword" required placeholder="Enter current password" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">New password</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.newPassword" required placeholder="Enter new password" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Repeat password</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.newPassword2" required placeholder="Repeat new password" type="password">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>