<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <form class="form" name="detailForm">
                <div class="form-group" ng-init="setForm(detailForm)">
                    <label class="form-label">Current password</label>
                    <div class="form-input">
                        <input name="oldPassword" ng-class="{'error': detailForm.oldPassword.$invalid && !detailForm.oldPassword.$pristine}" ng-model="blade.currentEntity.oldPassword" required placeholder="Enter current password" type="password">
                    </div>
                    <div class="form-error" ng-if="detailForm.oldPassword.$dirty && detailForm.oldPassword.$invalid">
                        <span>Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">New password</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.newPassword" required placeholder="Enter new password" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Repeat password</label>
                    <div class="form-input">
                        <input name="newPassword2" ng-model="blade.currentEntity.newPassword2" ng-class="{'error': blade.currentEntity.newPassword != blade.currentEntity.newPassword2 || blade.currentEntity.oldPassword == blade.currentEntity.newPassword2}" required placeholder="Repeat new password" type="password">
                    </div>
                    <div class="form-error" ng-if="blade.currentEntity.newPassword != blade.currentEntity.newPassword2 || blade.currentEntity.oldPassword == blade.currentEntity.newPassword2">
                        <span ng-if="blade.currentEntity.newPassword != blade.currentEntity.newPassword2">New passwords doesn't match!</span>
                        <span ng-if="blade.currentEntity.oldPassword == blade.currentEntity.newPassword2">Old and new passwords are the same!</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>