<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="sub-t __border">Role name</div>
            <form class="form" name="formScope">
                <div class="form-group" ng-init="setForm(formScope)">
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.name" placeholder="Enter name" focus-on required>
                    </div>
                </div>
            </form>
            <div class="sub-t __border">Assigned permissions</div>
            <div class="form">
                <div class="form-group">
                    <a class="clear text-mini __link" ng-click="removeAll()">Clear all</a>
                    <ul class="list __inline __choosen">
                        <li class="list-item" ng-repeat="data in blade.currentEntity.permissions">
                            <a class="list-remove" ng-click="remove(data)">×</a>
                            <span class="list-name">{{data.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sub-t __border">Available permissions</div>
            <div ui-grid="gridOptions" ui-grid-selection></div>
        </div>
    </div>
</div>
<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Core)/Scripts/common/create.tpl.html'" ng-if="blade.isNew"></div>