<div class="blade-static">
    <div class="vc-input vc-input--sm vc-input--clearable">
      <div class="vc-input__container">
        <input class="vc-input__field"
               type="text"
               placeholder="{{'platform.placeholders.search-keyword' | translate}}"
               ng-model="searchText">
        <button type="button"
                class="vc-input__clear"
                title="Clear"
                ng-click="searchText=''">
          <svg>
            <use href="/images/blade/remove.svg#icon"></use>
          </svg>
        </button>
      </div>
    </div>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="note" ng-if="blade.currentEntities.length == 0">{{ 'platform.blades.dynamicObject-list.labels.no-objects' | translate }}</div>
            <ul class="list __items" ng-if="blade.currentEntities.length > 0">
                <li class="list-item" ng-repeat="data in blade.currentEntities | filter:searchText | orderBy: 'name' track by data.name" ng-class="{'__selected': data.name === selectedNodeId}" ng-click='selectNode(data)'>
                    <span class="list-t" title="{{data.name}}">{{data.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>