<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel2.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="formScope">
                <fieldset ng-init="setForm(formScope)">
                    <div class="form-group list __info" ng-repeat="property in blade.currentEntities | orderBy: 'displayOrder'">
                        <label class="form-label" for="">
                            {{::property | localizeDynamicPropertyName:blade.currentLanguage}}
                            <a href="" ng-click="editDictionary(property)" ng-show="property.isDictionary" class="form-edit"><i class="form-ico fa fa-pencil"></i></a>
                        </label>
                        <va-generic-value-input ng-model="property" languages="languages" get-dictionary-values="getDictionaryValues"></va-generic-value-input>
                        <div class="list-descr">{{property.description}}</div>
                    </div>

                    <div class="note" ng-if="blade.currentEntities.length == 0">{{ 'platform.blades.propertyValue-list.labels.no-properties' | translate }}</div>
                </fieldset>
            </form>
        </div>
    </div>
</div>