:root {
    /* c - Colors */
    --cPrimary: #43b0e6;
    --cPrimaryLight: #dee9f0;
    --cPrimaryLightest: #ecf7fc;
    
    --cGrayDark: #333;
    --cGrayDarkest: #232323;
    --cGrayTracing: #fbfdfe;

    --cBodyTracing: #eef5f7;
    
    --cIconFill: #a6a6a6;   /* default - gray*/

    --cWhite: #fff;
    --cBlack: #000;

    /* s - Box Shadows */
    --sBladeInnerShadow: -8px 0 0 0 rgba(0,0,0,.2) inset;   /*shadow like border*/
}