:root {
    /* c - Colors ========================================= */
    --cBodyTracing: #eef5f7;
    --cWhite: #fff;
    --cBlack: #000;
    --сError: #e51400;
    --cWarning: #f0a30a;

    --cIconFill: #a6a6a6;   /* default - gray*/

    --сTableHeaderFill: rgba(0,0,0,.025);

    --cPrimary: #43b0e6;
    --cPrimaryDark: #a1c0d4;
    --cPrimaryLight: #dee9f0;
    --cPrimaryLighter: #d9effa;
    --cPrimaryLightest: #ecf7fc;
    
    --cGrayDark: #333;
    --cGrayDarker: #383838;
    --cGrayDarkest: #232323;
    --cGrayTracing: #fbfdfe;

    --cTooltipFill: #f9f9f9;
    --cTooltipBorder: #eee;
    --cTooltipFont: #999;

    --cNavLinkFont: #c2c2c2;
    --cSubtitle: #bbb;

    /* error message */
    --cErrorFill: #f2dede;
    --cErrorBorder: #ebccd1;
    --cErrorFont: #a94442;

    /* invalid input */
    --cInvalidFill: #fef8f7;
    --cInvalidBorder: #fce7e6;
    --cInvalidFont: #a94442;
 
    /* s - Box Shadows ==================================== */
    --sBladeInnerShadow: -8px 0 0 0 rgba(0,0,0,.2) inset;   /*shadow like border*/
    --sBlockHover: 0 0 0 2px #a1c0d4 inset;
}