<fieldset>
    <div class="input-control" data-role="input-control" ng-if="currentEntity.requireLicenseAcceptance">
        <a ng-href="{{currentEntity.licenseUrl}}" ng-if="currentEntity.licenseUrl" target="_blank">License</a>

        <div class="input-control checkbox" data-role="input-control">
            <label>
                <input type="checkbox" ng-model="currentEntity.licenseAccepted" ng-disabled="!currentEntity || currentEntity.validationErrors.length>0 || isInstalling">
                <span class="check"></span>
                I accept the license agreement
            </label>
        </div>
    </div>

    <button ng-click="submit()" ng-disabled="!currentEntity || currentEntity.validationErrors.length>0 || isInstalling || (currentEntity.requireLicenseAcceptance && !currentEntity.licenseAccepted)">
        <span>{{actionButtonTitle}}</span>
    </button>
</fieldset>