<div style="width: 300px;">
    <style>
        p {
            white-space: normal;
        }
    </style>

    <span class="subheader-secondary">Process start</span>
    <p>{{currentEntity.started}}&nbsp;</p>
    <span class="subheader-secondary">Process end</span>
    <p>{{currentEntity.completed}}&nbsp;</p>

    <span class="subheader-secondary">Messages</span>
    <p>
        <span ng-repeat="x in currentEntity.logs">{{x}}<br></span>
    </p>

    <span class="subheader-secondary">Errors</span>
    <p>
        <span ng-repeat="x in currentEntity.errors">{{x}}<br></span>
    </p>

    <p ng-if="completed">Module installation process completed. Restart the application now or later.</p>
    <div>
        <button ng-click="submit()" ng-disabled="!completed">
            <span>Restart</span>
        </button>
    </div>
</div>