<div class="blade-content">
    <span class="subheader-secondary">Messages</span>
    <div class="log">
        <p ng-repeat="x in currentEntity.progressLog" ng-class="{'info' : x.level==='Info', 'warning': x.level==='Warning', 'debug': x.level==='Debug', 'error': x.level==='Error'}">{{x.message}}</p>
    </div>
</div>
<div class="static bottom">
    <p ng-if="completed" class="normal">Module installation process completed. <br />Restart the application now or later.</p>
    <button ng-click="restart()" ng-disabled="!completed">
        <span>Restart</span>
    </button>
</div>
