<va-main-menu ng-model="mainMenu" on-menu-changed="onMainMenuChanged(mainMenu)">
    <div class="info">
        <a class="info-license" ng-if="!license" href="" ng-click="showLicense()">{{'platform.templates.licensing.license-absent' | translate}}</a>
        <a class="info-license" ng-if="license" href="" ng-click="showLicense()" ng-class="{'__valid': !license.hasExpired}">{{'platform.templates.licensing.license-present' | translate: license}}</a>
    </div>
    <div class="info">
        <span class="info-version">{{platformVersion}}</span>
        <a class="info-license" href="" ng-click="showVersionInfo()">{{ 'platform.blades.system-info.title' | translate }}</a>
    </div>
</va-main-menu>
<article class="cnt" role="main">
    <div class="cnt-inner">
        <div class="dashboard" ng-if="$state.current.name === 'workspace'">
            <header class="dashboard-head">
                <div class="dashboard-title">
                    <img class="__logo" ng-src="{{uiCustomization.logo || 'Content/themes/main/images/logo.png'}}" />
                    <h1>{{uiCustomization.title || 'Virto Commerce'}}</h1>
                </div>
                <va-login-toolbar></va-login-toolbar>
            </header>
            <div class="dashboard-area">
                <div class="dashboard-inner">
                    <va-widget-container group="mainDashboard" gridster-opts="{columns: 6, minRows: 4}"></va-widget-container>
                </div>
            </div>
        </div>
        <ui-view />
    </div>
</article>