<div class="window">
    <div class="window-status" ng-if="loginProgress">
        <div class="progress-bar"></div>
    </div>
    <header class="window-head">
        <img class="__logo" ng-src="{{uiCustomization.contrast_logo || 'Content/themes/main/images/contrast-logo.png'}}" />
        <span class="window-t">{{ 'platform.blades.change-api-secret-key.title' | translate: {userName: user.userName} }}</span>
    </header>
    <div class="window-cnt">
        <form class="form" novalidate ng-submit="save()" name="changeApiSecretKeyForm">
            <p class="note" style="white-space: pre-wrap">{{ 'platform.blades.change-api-secret-key.force-change-info' | translate }}</p>
            <div class="form-group">
                <label class="form-label">
                    {{ 'platform.blades.change-api-secret-key.app-id' | translate }}
                </label>
                <div class="form-input">
                    <input ng-model="apiAccount.appId" readonly disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">{{ 'platform.blades.change-api-secret-key.secret-key' | translate }}</label>
                <div class="form-input">
                    <textarea class="form-control" id="secretKey" ng-model="apiAccount.secretKey" readonly></textarea>
                </div>
                <button class="btn" type="button" ng-click="generate()" ng-disabled="changeApiSecretKeyForm.$invalid">
                    <span>{{ 'platform.blades.change-api-secret-key.generate' | translate }}</span>
                </button>
            </div>
            <div class="form-group" ng-if="errors">
                <div class="form-error" ng-repeat="error in errors" ng-bind="error"></div>
            </div>
            <div class="clearfix">
                <div class="column">
                    <div class="form-group __right">
                        <button class="btn" type="button" ng-click="postpone()">
                            <span>{{ 'platform.blades.change-password.postpone' | translate }}</span>
                        </button>
                        <button class="btn" type="submit" ng-disabled="changeApiSecretKeyForm.$invalid">
                            <span>{{ 'platform.blades.change-api-secret-key.save' | translate }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
