<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <p class="text">Set the order how shipping methods appear sorted in web store. Drag and drop to change the order.</p>
            <div class="table-wrapper">
                <table class="table __normal">
                    <tbody ui-sortable="sortableOptions" ng-model="blade.currentEntities">
                        <tr class="table-item" ng-repeat="data in blade.currentEntities track by data.code" ng-class="{'__selected': data.code === selectedNodeId}">
                            <td class="table-col __product-control">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.isActive">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col __product-img" ng-click='selectNode(data)'>
                                <div class="product-img">
                                    <div style="background-image: url({{data.logoUrl}})" class="image"></div>
                                </div>
                            </td>
                            <td class="table-col" ng-click='selectNode(data)'>
                                <div class="table-t">{{data.code}}</div>
                                <div class="table-descr">{{data.description}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>