<div class="blade-static __bottom" ng-include="'Scripts/common/templates/ok-cancel2.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="formScope" class="form">
                <div class="sub-t">Default currency</div>
                <div class="form-group">
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.defaultValue" required>
                            <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="x in currencies | filter: $select.search">
                                <span ng-bind-html="x | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="sub-t">Additional currencies</div>
                <div class="form-group">
                    <div class="form-input" data-role="input-control">
                        <ui-select multiple ng-model="blade.currentEntity.selectedValues">
                            <ui-select-match placeholder="Select...">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="x in currencies | filter:'!'+blade.currentEntity.defaultValue | filter: $select.search">
                                <span ng-bind-html="x | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>