<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="detailForm">
                <div ng-init="setForm(detailForm)">
                    <label class="form-label">{{ 'stores.blades.store-advanced.labels.description' | translate }}</label>
                    <div class="form-input">
                        <textarea class="form-control" cols="30" rows="2" ng-model="blade.currentEntity.description" placeholder="{{ 'stores.blades.store-advanced.placeholders.description' | translate }}"></textarea>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'stores.blades.store-advanced.labels.store-country' | translate }}</label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.country">
                                    <ui-select-match placeholder="{{ 'stores.blades.store-advanced.placeholders.store-country' | translate }}">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="x.code as x in countries | filter: { name: $select.search }">
                                        <span ng-bind-html="x.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'stores.blades.store-advanced.labels.store-region' | translate }}</label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.region">
                                    <ui-select-match placeholder="{{ 'stores.blades.store-advanced.placeholders.store-region' | translate }}">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="x.id as x in regions | filter: { name: $select.search }">
                                        <span ng-bind-html="x.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'stores.blades.store-advanced.labels.store-email' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.email" type="email" placeholder="{{ 'stores.blades.store-advanced.placeholders.store-email' | translate }}">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'stores.blades.store-advanced.labels.store-admin-email' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.adminEmail" type="email" placeholder="{{ 'stores.blades.store-advanced.placeholders.store-admin-email' | translate }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'stores.blades.store-advanced.labels.fulfillment-center' | translate }} <a href="" ng-click="openFulfillmentCentersList()" class="form-edit"><i class="form-ico fa fa-pencil"></i></a></label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.fulfillmentCenter">
                                    <ui-select-match placeholder="{{ 'stores.blades.store-advanced.placeholders.fulfillment-center' | translate }}">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="x in fulfillmentCenters | filter: { name: $select.search }">
                                        <span ng-bind-html="x.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'stores.blades.store-advanced.labels.returns-fulfillment-center' | translate }} <a href="" ng-click="openFulfillmentCentersList()" class="form-edit"><i class="form-ico fa fa-pencil"></i></a></label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.returnsFulfillmentCenter">
                                    <ui-select-match placeholder="{{ 'stores.blades.store-advanced.placeholders.returns-fulfillment-center' | translate }}">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="x as x in fulfillmentCenters | filter: { name: $select.search }">
                                        <span ng-bind-html="x.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="form-group">
                        <label class="form-label">{{ 'stores.blades.store-advanced.labels.operational-timezone' | translate }}</label>
                        <div class="form-input">
                            <ui-select ng-model="blade.currentEntity.timeZone">
                                <ui-select-match placeholder="{{ 'stores.blades.store-advanced.placeholders.operational-timezone' | translate }}">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="x.id as x in timeZones | filter: { name: $select.search }">
                                    <span ng-bind-html="x.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>