<div class="blade-static __bottom" ng-include="'Scripts/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="sub-t">Set default and selected languages</div>
            <div class="table-wrapper">
                <table class="table __normal">
                    <thead>
                        <tr>
                            <th class="table-col">Default</th>
                            <th class="table-col">Language</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.currentEntities" ng-class="{'__selected': data.isChecked}">
                            <td class="table-col __product-control">
                                <label class="form-control __radio">
                                    <input type="radio" name="defLang" ng-model="blade.defaultValue" ng-change="data.isChecked = true" ng-value="data.code">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col __product-name" ng-click='selectItem(data)'>
                                <div class="table-t">{{data.code}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>