<div class="blade-static __bottom">
    <button ng-click="saveChanges()" class="btn" ng-class="{'__disabled': formScope != undefined && formScope.$invalid}" ng-disabled="formScope != undefined && formScope.$invalid">
        <span>{{ 'platform.commands.create' | translate }}</span>
    </button>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="detailForm">
                <div ng-init="setForm(detailForm)">
                    <label class="form-label">{{ 'stores.blades.store-detail.labels.code' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.id" type="text" placeholder="{{ 'stores.blades.store-detail.placeholders.code' | translate }}" required focus-on="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'stores.blades.store-detail.labels.name' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.name" type="text" placeholder="{{ 'stores.blades.store-detail.placeholders.name' | translate }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'stores.blades.store-detail.labels.catalog' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.catalog" required>
                            <ui-select-match placeholder="{{ 'stores.blades.store-detail.placeholders.catalog' | translate }}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="x.id as x in catalogs | filter: { name: $select.search }">
                                <span ng-bind-html="x.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'stores.blades.store-detail.labels.default-language' | translate }} <a href="" ng-click="openLanguagesDictionarySettingManagement()" class="form-edit" va-permission="platform:setting:update"><i class="form-ico fa fa-pencil"></i></a></label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.defaultLanguage" required>
                            <ui-select-match placeholder="{{ 'stores.blades.store-detail.placeholders.default-language' | translate }}">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="x in languages | filter: $select.search">
                                <span ng-bind-html="x | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'stores.blades.store-detail.labels.default-currency' | translate }} <a href="" ng-click="currencyUtils.editCurrencies(blade)" class="form-edit"><i class="form-ico fa fa-pencil"></i></a></label>
                    <div class="form-input" ng-init="currencies = currencyUtils.getCurrencies()">
                        <ui-select ng-model="blade.currentEntity.defaultCurrency" required>
                            <ui-select-match placeholder="{{ 'stores.blades.store-detail.placeholders.default-currency' | translate }}">{{$select.selected.code}}</ui-select-match>
                            <ui-select-choices repeat="x.code as x in currencies | filter: $select.search">
                                <span ng-bind-html="x.code | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'stores.blades.store-detail.labels.state' | translate }} <a href="" ng-click="openStatesDictionarySettingManagement()" class="form-edit" va-permission="platform:setting:update"><i class="form-ico fa fa-pencil"></i></a></label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.storeState" required>
                            <ui-select-match placeholder="{{ 'stores.blades.store-detail.placeholders.state' | translate }}">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="x in storeStates | filter: $select.search">
                                <span ng-bind-html="x | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>