<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<ul class="list __items">
				<li class="list-item" ng-click="blade.addFolder()">
					<i class="list-ico fa fa-folder"></i>
					<span class="list-t">{{ 'marketing.blades.placeholders.add.menu.folder.title' | translate }}</span>
					<span class="list-descr">{{ 'marketing.blades.placeholders.add.menu.folder.description' | translate }}</span>
				</li>
				<li class="list-item" ng-click="blade.addPlaceholder()">
					<i class="list-ico fa fa-location-arrow"></i>
					<span class="list-t">{{ 'marketing.blades.placeholders.add.menu.item.title' | translate }}</span>
					<span class="list-descr">{{ 'marketing.blades.placeholders.add.menu.item.description' | translate }}</span>
				</li>
			</ul>
		</div>
	</div>
</div>