<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<ul class="list __items">
				<li class="list-item" ng-click="blade.addFolder()">
					<i class="list-ico fa fa-folder"></i>
					<span class="list-t">Placeholders folder</span>
					<span class="list-descr">A container for placeholders.</span>
				</li>
				<li class="list-item" ng-click="blade.addPlaceholder()" ng-show="blade.choosenFolder !== undefined">
					<i class="list-ico fa fa-location-arrow"></i>
					<span class="list-t">Placeholder</span>
					<span class="list-descr">A container for content items.</span>
				</li>
			</ul>
		</div>
	</div>
</div>