<div class="blade-static __collapsed">
	<va-breadcrumb ng-model="blade.breadcrumbs" blade-id="blade.id"></va-breadcrumb>
</div>

<div class="blade-content __medium-wide">
	<div class="blade-inner">
		<div class="inner-block">
			<div class="table-wrapper">
				<table class="table" ng-if="blade.currentEntity && (blade.currentEntity.childrenFolders.length > 0 || blade.currentEntity.placeholders.length > 0)">
					<thead>
						<tr>
							<th class="table-col">Pic</th>
							<th class="table-col">Name</th>
							<th class="table-col">Description</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-item" ng-repeat="data in blade.currentEntity.childrenFolders" ng-click="blade.folderClick(data)" context-menu data-target="ipl_menu_{{data.id}}">
							<td class="table-col __product-img">
								<div class="product-img">
									<i class="table-ico fa fa-folder"></i>
								</div>
							</td>
							<td class="table-col __product-name">
								{{data.name}}
								<ul class="menu __context" role="menu" id="ipl_menu_{{data.id}}">
									<li class="menu-item" ng-click='blade.deleteFolder(data); $event.stopPropagation();'>
										<i class="menu-ico fa fa-trash-o"></i> Delete
									</li>
									<li class="menu-item" ng-click='blade.editFolder(data); $event.stopPropagation();'>
										<i class="menu-ico fa fa-pencil-square-o"></i> Edit
									</li>
								</ul>
							</td>
							<td class="table-col">
								{{data.description}}
							</td>
						</tr>
						<tr class="table-item" ng-repeat="placeholder in blade.currentEntity.placeholders" ng-click="blade.editPlaceholder(placeholder)">
							<td class="table-col __product-img">
								<div class="product-img">
									<div class="image ng-scope" style="background-image: url('{{placeholder.imageUrl}}')" va-showbigimage="placeholder.imageUrl"></div>
								</div>
							</td>
							<td class="table-col __product-name">
								{{placeholder.name}}
							</td>
							<td class="table-col">
								{{placeholder.description}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="note" ng-if="(blade.currentEntity.childrenFolders.length === 0 && blade.currentEntity.placeholders.length === 0)">
				No data
			</div>
		</div>
	</div>
</div>
