<div class="blade-static __bottom" ng-if="blade.isNew">
	<button class="btn" ng-click="blade.saveChanges()" ng-disabled="formScope.$invalid">
		<span>Create</span>
	</button>
</div>

<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<form class="form" name="contextEntityDetailForm">
				<div class="sub-t">Placeholder name</div>

				<div class="form-group" ng-init="setForm(contextEntityDetailForm)">
					<div class="form-input">
						<input focus-on="" required class="form-control" ng-model="blade.entity.name" placeholder="Enter placeholder name" />
					</div>
				</div>

				<div class="sub-t">Placeholder description</div>

				<div class="form-group">
					<div class="form-input">
						<textarea required cols="60" rows="30" ng-model="blade.entity.description" placeholder="Enter placeholder description"></textarea>
					</div>
				</div>

				<div class="sub-t">Placeholder image description</div>

				<div ng-show="uploader.isHTML5">
					<div over-class="bd-blue" nv-file-over="" nv-file-drop="" uploader="uploader" class="drag-area">
						<div class="drag-content">
							Drag and drop image here
						</div>
					</div>
				</div>

				<div class="form-input">
					<input type="file" uploader="uploader" nv-file-select="" style="z-index: 0;" tabindex="-1">
					<input type="text" style="z-index: 1; cursor: default;" readonly="">
					<button class="btn __file" type="button" onclick="$('input[type=file]').trigger('click')">
						<i class="btn-ico fa fa-image"></i>
					</button>
				</div>
			</form>

			<div ng-show="uploader.isUploading" class="ng-hide">
				<div class="sub-t">Progress:</div>
				<div class="progress-bar __aqua" ng-style="{'width': uploader.progress + '%'}" style="width: 0%;"></div>
			</div>

			<div class="tile-group triple __images-list">
				<div class="tile double">
					<img class="tile-img" ng-src="{{blade.entity.imageUrl}}" src="{{blade.entity.imageUrl}}">
				</div>
			</div>
		</div>
	</div>
</div>