<div class="blade-static __bottom" ng-if="blade.isNew">
	<button class="btn" ng-click="blade.saveChanges()" ng-disabled="formScope.$invalid">
		<span>Create</span>
	</button>
</div>

<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<form class="form" name="contextEntityDetailForm">
				<div class="sub-t">{{ 'marketing.blades.placeholders.placeholder-details.labels.placeholder-name' | translate }}</div>

				<div class="form-group" ng-init="setForm(contextEntityDetailForm)">
					<div class="form-input">
						<input focus-on="" required class="form-control" ng-model="blade.entity.name" placeholder="{{ 'marketing.blades.placeholders.placeholder-details.placeholders.placeholder-name' | translate }}" />
					</div>
				</div>

				<div class="sub-t">{{ 'marketing.blades.placeholders.placeholder-details.labels.placeholder-description' | translate }}</div>

				<div class="form-group">
					<div class="form-input">
						<textarea required cols="60" rows="30" ng-model="blade.entity.description" placeholder="{{ 'marketing.blades.placeholders.placeholder-details.placeholders.placeholder-description' | translate }}"></textarea>
					</div>
				</div>

				<div class="sub-t">{{ 'marketing.blades.placeholders.placeholder-details.labels.placeholder-image-description' | translate }}</div>

				<div ng-show="uploader.isHTML5" ng-if="blade.hasUpdatePermission()">
					<div over-class="bd-blue" nv-file-over="" nv-file-drop="" uploader="uploader" class="drag-area">
						<div class="drag-content">
							{{ 'marketing.blades.placeholders.placeholder-details.labels.image-note' | translate }}
						</div>
					</div>
				</div>

				<div class="form-input" ng-if="blade.hasUpdatePermission()">
					<input type="file" uploader="uploader" nv-file-select="" style="z-index: 0;" tabindex="-1">
					<input type="text" style="z-index: 1; cursor: default;" readonly="">
					<button class="btn __file" type="button" onclick="$('input[type=file]').trigger('click')">
						<i class="btn-ico fa fa-image"></i>
					</button>
				</div>
			</form>

			<div ng-show="uploader.isUploading" class="ng-hide">
				<div class="sub-t">{{ 'marketing.blades.placeholders.placeholder-details.labels.progress' | translate }}</div>
				<div class="progress-bar __aqua" ng-style="{'width': uploader.progress + '%'}" style="width: 0%;"></div>
			</div>

			<div class="tile-group triple __images-list">
				<div class="tile double">
					<img class="tile-img" ng-src="{{blade.entity.imageUrl}}" src="{{blade.entity.imageUrl}}">
				</div>
			</div>
		</div>
	</div>
</div>