<div class="blade-static __bottom">
    <button class="btn" ng-click="startExport()" ng-disabled="!canStartProcess() || blade.notification">
        <span>{{ 'platform.blades.export-main.labels.start-export' | translate }}</span>
    </button>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form ng-pristine ng-valid" ng-if="!blade.notification">
                <fieldset>
                    <legend>{{ 'platform.blades.export-main.labels.platform-entries' | translate }}</legend>
                    <div class="list __items">
                        <label class="list-item">
                            <input type="checkbox" ng-model="exportRequest.handleSecurity">
                            <span class="switch"></span>
                            <span class="list-name">{{ 'platform.blades.export-main.menu.security.title' | translate }}</span>
                            <span class="list-descr">{{ 'platform.blades.export-main.menu.security.description' | translate }}</span>
                        </label>
                        <label class="list-item">
                            <input type="checkbox" ng-model="exportRequest.handleBinaryData">
                            <span class="switch"></span>
                            <span class="list-name">{{ 'platform.blades.export-main.menu.binary.title' | translate }}</span>
                            <span class="list-descr">{{ 'platform.blades.export-main.menu.binary.description' | translate }}</span>
                        </label>
                        <label class="list-item">
                            <input type="checkbox" ng-model="exportRequest.handleSettings">
                            <span class="switch"></span>
                            <span class="list-name">{{ 'platform.blades.export-main.menu.settings.title' | translate }}</span>
                            <span class="list-descr">{{ 'platform.blades.export-main.menu.settings.description' | translate }}</span>
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>{{ 'platform.blades.export-main.labels.choose-modules' | translate }}</legend>
                    <div class="list __items">
                        <label class="list-item" ng-repeat="data in exportRequest.exportManifest.modules">
                            <input type="checkbox" ng-model="data.isChecked" ng-change="updateModuleSelection()">
                            <span class="switch"></span>
                            <span class="list-name">{{data.id}}</span>
                            <span class="list-descr">{{'module.' + data.id + '.description' | translate}}</span>
                        </label>
                    </div>
                </fieldset>
            </form>
          
            <div class="form" ng-if="blade.notification">
                <div class="block">
                    <div>
                        <div class="sub-t">{{blade.notification.description}}</div>
                        <div class="block" ng-if="blade.notification.created || blade.notification.finished">
                            <p ng-if="blade.notification.created" ng-class="{'no-data': blade.notification.created}" class="text">{{ 'platform.blades.export-main.labels.start' | translate }} — <i class="fa fa-clock-o"></i>&nbsp;{{ blade.notification.created | amParse | date:'mediumTime' }}</p>
                            <p ng-if="blade.notification.finished" ng-class="{'no-data': blade.notification.finished}" class="text">{{ 'platform.blades.export-main.labels.end' | translate }} — <i class="fa fa-clock-o"></i>&nbsp;{{ blade.notification.finished | amParse | date:'mediumTime' }}</p>
                        </div>
                        <div ng-if="blade.notification.errorCount > 0">
                            <span class="sub-t">{{ 'platform.blades.export-main.labels.errors' | translate }}</span>
                            <div class="log">
                                <p ng-repeat="error in blade.notification.errors track by $index" class="error">{{error}}</p>
                            </div>
                        </div>
                        <p class="text" ng-if="blade.notification.downloadUrl">{{ 'platform.blades.export-main.labels.download-url' | translate }}: <a href="{{blade.notification.downloadUrl}}" target="_blank">{{blade.notification.downloadUrl}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
