<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form ng-pristine ng-valid" ng-if="!blade.notification">
                <fieldset>
                    <div class="sub-t">{{ 'platform.blades.export-main.labels.platform-entries' | translate }}</div>
                    <div class="table-wrapper">
                        <table class="table">
                            <tbody>
                                <tr class="table-item" ng-click="exportRequest.handleSecurity = !exportRequest.handleSecurity">
                                    <td class="table-col">
                                        <div class="ui-grid-selection-row-header-buttons ui-grid-icon-ok" ng-class="{'ui-grid-row-selected': exportRequest.handleSecurity}">&nbsp;</div>
                                    </td>
                                    <td class="table-col">
                                        <span class="table-t">{{ 'platform.blades.export-main.menu.security.title' | translate }}</span>
                                        <span class="table-descr">{{ 'platform.blades.export-main.menu.security.description' | translate }}</span>
                                    </td>
                                </tr>
                                <tr class="table-item" ng-click="exportRequest.handleBinaryData = !exportRequest.handleBinaryData">
                                    <td class="table-col">
                                        <div class="ui-grid-selection-row-header-buttons ui-grid-icon-ok" ng-class="{'ui-grid-row-selected': exportRequest.handleBinaryData}">&nbsp;</div>
                                    </td>
                                    <td class="table-col">
                                        <span class="table-t">{{ 'platform.blades.export-main.menu.binary.title' | translate }}</span>
                                        <span class="table-descr">{{ 'platform.blades.export-main.menu.binary.description' | translate }}</span>
                                    </td>
                                </tr>
                                <tr class="table-item" ng-click="exportRequest.handleSettings = !exportRequest.handleSettings">
                                    <td class="table-col">
                                        <div class="ui-grid-selection-row-header-buttons ui-grid-icon-ok" ng-class="{'ui-grid-row-selected': exportRequest.handleSettings}">&nbsp;</div>
                                    </td>
                                    <td class="table-col">
                                        <span class="table-t">{{ 'platform.blades.export-main.menu.settings.title' | translate }}</span>
                                        <span class="table-descr">{{ 'platform.blades.export-main.menu.settings.description' | translate }}</span>
                                    </td>
                                </tr>
                                <tr class="table-item" ng-click="exportRequest.handleDynamicProperties = !exportRequest.handleDynamicProperties">
                                    <td class="table-col">
                                        <div class="ui-grid-selection-row-header-buttons ui-grid-icon-ok" ng-class="{'ui-grid-row-selected': exportRequest.handleDynamicProperties}">&nbsp;</div>
                                    </td>
                                    <td class="table-col">
                                        <span class="table-t">{{ 'platform.blades.export-main.menu.dynamic-props.title' | translate }}</span>
                                        <span class="table-descr">{{ 'platform.blades.export-main.menu.dynamic-props.description' | translate }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="sub-t">{{ 'platform.blades.export-main.labels.choose-modules' | translate }}</div>
                    <div class="table-wrapper">
                        <table class="table">
                            <tbody>
                                <tr class="table-item" ng-repeat="data in exportRequest.exportManifest.modules | orderBy: 'id'" ng-click="data.isChecked = !data.isChecked; updateModuleSelection()">
                                    <td class="table-col">
                                        <div class="ui-grid-selection-row-header-buttons ui-grid-icon-ok" ng-class="{'ui-grid-row-selected': data.isChecked}">&nbsp;</div>
                                    </td>
                                    <td class="table-col">
                                        <span class="table-t">{{data.id}}</span>
                                        <span class="table-descr">{{'module.' + data.id + '.description' | translate}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </form>

            <div class="form" ng-if="blade.notification">
                <div class="block">
                    <div>
                        <div class="sub-t">{{blade.notification.description}}</div>
                        <div class="block" ng-if="blade.notification.created || blade.notification.finished">
                            <p ng-if="blade.notification.created" ng-class="{'no-data': blade.notification.created}" class="text">{{ 'platform.blades.export-main.labels.start' | translate }} — <i class="fa fa-clock-o"></i>&nbsp;{{ blade.notification.created | amParse | date:'mediumTime' }}</p>
                            <p ng-if="blade.notification.finished" ng-class="{'no-data': blade.notification.finished}" class="text">{{ 'platform.blades.export-main.labels.end' | translate }} — <i class="fa fa-clock-o"></i>&nbsp;{{ blade.notification.finished | amParse | date:'mediumTime' }}</p>
                        </div>
                        <div ng-if="blade.notification.errorCount > 0">
                            <span class="sub-t">{{ 'platform.blades.export-main.labels.errors' | translate }}</span>
                            <div class="log">
                                <p ng-repeat="error in blade.notification.errors track by $index" class="error">{{error}}</p>
                            </div>
                        </div>
                        <p class="text" ng-if="blade.notification.downloadUrl">{{ 'platform.blades.export-main.labels.download-url' | translate }}: <a href="{{blade.notification.downloadUrl}}" target="_blank">{{blade.notification.downloadUrl}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
