<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" ng-if="!blade.notification">
                <fieldset>
                    <div ng-show="uploader.isHTML5 && !uploader.isUploading">
                        <input type="file" id="importZipFileInput" nv-file-select uploader="uploader" accept=".zip" style="display: none">
                        <label for="importZipFileInput" class="well my-drop-zone panel drag-area drag-area--clickable" uploader="uploader" nv-file-drop nv-file-over>
                            <div class="drag-content">
                                <i class="fa fa-cloud-upload drag-area-icon"></i>
                                <div class="drag-area-primary">{{ 'platform.blades.import-main.labels.drag-or-browse' | translate }}</div>
                                <div class="drag-area-secondary">{{ 'platform.blades.import-main.labels.drag-note-detail' | translate }}</div>
                            </div>
                        </label>
                    </div>
                    <div ng-show="uploader.isUploading">
                        <div class="sub-t">{{ 'platform.blades.import-main.labels.upload-progress' | translate }}</div>
                        <div class="progress-bar __aqua"></div>
                    </div>
                </fieldset>
            </form>
            <!-- valid zip -->
            <div class="sub-t __border" ng-if="importRequest.exportManifest && !blade.notification && !blade.error || blade.notification.jobId && blade.notification.finished">{{ 'platform.blades.import-main.labels.import-data-information' | translate }}</div>
            <ul class="list __info" ng-if="importRequest.exportManifest && !blade.notification && !blade.error || blade.notification.jobId && blade.notification.finished">
                <li class="list-item">
                    <div class="list-t">{{ 'platform.blades.import-main.labels.author' | translate }}</div>
                    <div class="list-descr">{{importRequest.exportManifest.author}}</div>
                </li>
                <li class="list-item">
                    <div class="list-t">{{ 'platform.blades.import-main.labels.data-file-created' | translate }}</div>
                    <div class="list-descr" am-time-ago="importRequest.exportManifest.created"></div>
                </li>
                <li class="list-item">
                    <div class="list-t">{{ 'platform.blades.import-main.labels.created-platform-version' | translate }}</div>
                    <div class="list-descr">{{importRequest.exportManifest.platformVersion}}</div>
                </li>
            </ul>
            <!-- invalid zip -->
            <div class="sub-t" ng-if="blade.error && !blade.notification">{{ 'platform.blades.import-main.labels.upload-failed' | translate }}</div>
            <div class="table-wrapper" ng-if="blade.error && !blade.notification">
                <table class="table __items">
                    <tbody>
                        <tr class="table-item" ng-mouseup="export()" ng-class="{'__selected': 'export' === selectedNodeId}">
                            <td class="table-col">
                                <i class="table-ico fa fa-file-archive-o" style="color: red"></i>
                            </td>
                            <td class="table-col" ng-click='exportRequest.handleSecurity = !exportRequest.handleSecurity'>
                                <span class="table-t">{{ importRequest.fileName }}</span>
                                <span class="table-descr">{{ blade.error }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <form class="form ng-pristine ng-valid" ng-if="importRequest.exportManifest && !blade.notification">
                <div class="security-warning-banner" ng-if="importRequest.handleSecurity">
                    <i class="fa fa-exclamation-triangle security-warning-banner__icon"></i>
                    <div class="security-warning-banner__content">
                        <div class="security-warning-banner__title">
                            {{ 'platform.blades.import-main.warnings.security-data-title' | translate }}
                        </div>
                        <div class="security-warning-banner__body">
                            {{ 'platform.blades.import-main.warnings.security-data-body' | translate }}
                        </div>
                        <div class="security-warning-banner__reassurance" ng-if="currentUserName">
                            {{ 'platform.blades.import-main.warnings.security-data-admin-preserved' | translate:{ username: currentUserName } }}
                        </div>
                    </div>
                </div>
                <fieldset>
                    <div class="sub-t">{{ 'platform.blades.import-main.labels.platform-entries' | translate }}</div>
                    <div class="table-wrapper">
                        <table class="table">
                            <tbody>
                                <tr class="table-item"
                                    ng-click="importRequest.handleSecurity = !importRequest.handleSecurity"
                                    ng-class="{ '__disabled' : !importRequest.exportManifest.handleSecurity,  '__selected' : importRequest.handleSecurity }">
                                    <td class="table-col">
                                        <div class="ui-grid-selection-row-header-buttons ui-grid-icon-ok" ng-class="{'ui-grid-row-selected': importRequest.handleSecurity}">&nbsp;</div>
                                    </td>
                                    <td class="table-col">
                                        <span class="table-t">{{ 'platform.blades.import-main.menu.security.title' | translate }}</span>
                                        <span class="table-descr">{{ 'platform.blades.import-main.menu.security.description' | translate }}</span>
                                    </td>
                                </tr>
                                <tr class="table-item"
                                    ng-click="importRequest.handleBinaryData = !importRequest.handleBinaryData"
                                    ng-class="{ '__disabled' : !importRequest.exportManifest.handleBinaryData,  '__selected' : importRequest.handleBinaryData }">
                                    <td class="table-col">
                                        <div class="ui-grid-selection-row-header-buttons ui-grid-icon-ok" ng-class="{'ui-grid-row-selected': importRequest.handleBinaryData}">&nbsp;</div>
                                    </td>
                                    <td class="table-col">
                                        <span class="table-t">{{ 'platform.blades.import-main.menu.binary.title' | translate }}</span>
                                        <span class="table-descr">{{ 'platform.blades.import-main.menu.binary.description' | translate }}</span>
                                    </td>
                                </tr>
                                <tr class="table-item"
                                    ng-click="importRequest.handleSettings = !importRequest.handleSettings"
                                    ng-class="{ '__disabled' : !importRequest.exportManifest.handleSettings,  '__selected' : importRequest.handleSettings }">
                                    <td class="table-col">
                                        <div class="ui-grid-selection-row-header-buttons ui-grid-icon-ok" ng-class="{'ui-grid-row-selected': importRequest.handleSettings}">&nbsp;</div>
                                    </td>
                                    <td class="table-col">
                                        <span class="table-t">{{ 'platform.blades.import-main.menu.settings.title' | translate }}</span>
                                        <span class="table-descr">{{ 'platform.blades.import-main.menu.settings.description' | translate }}</span>
                                    </td>
                                </tr>
                                <tr class="table-item"
                                    ng-click="importRequest.handleDynamicProperties = !importRequest.handleDynamicProperties"
                                    ng-class="{ '__disabled' : !importRequest.exportManifest.handleDynamicProperties,  '__selected' : importRequest.handleDynamicProperties }">
                                    <td class="table-col">
                                        <div class="ui-grid-selection-row-header-buttons ui-grid-icon-ok" ng-class="{'ui-grid-row-selected': importRequest.handleDynamicProperties}">&nbsp;</div>
                                    </td>
                                    <td class="table-col">
                                        <span class="table-t">{{ 'platform.blades.import-main.menu.dynamic-props.title' | translate }}</span>
                                        <span class="table-descr">{{ 'platform.blades.import-main.menu.dynamic-props.description' | translate }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="sub-t">{{ 'platform.blades.import-main.labels.choose-modules' | translate }}</div>
                    <div class="table-wrapper">
                        <table class="table">
                            <tbody>
                                <tr class="table-item"
                                    ng-repeat="data in importRequest.exportManifest.modules | orderBy: 'id'"
                                    ng-click="data.isChecked = !data.isChecked; updateModuleSelection()"
                                    ng-class="{ '__selected' : data.isChecked }">
                                    <td class="table-col">
                                        <div class="ui-grid-selection-row-header-buttons ui-grid-icon-ok" ng-class="{'ui-grid-row-selected': data.isChecked}">&nbsp;</div>
                                    </td>
                                    <td class="table-col">
                                        <span class="table-t">{{data.id}}</span>
                                        <span class="table-descr">{{'module.' + data.id + '.description' | translate}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </form>
            <div class="form" ng-if="blade.notification">
                <div class="block">
                    <div class="module-progress-header">
                        <div class="module-progress-title">
                            <span class="fa" ng-class="{
                                'fa-spinner fa-spin': !blade.notification.finished,
                                'fa-check-circle module-progress-icon--success': blade.notification.finished && blade.notification.errorCount === 0,
                                'fa-exclamation-circle module-progress-icon--error': blade.notification.finished && blade.notification.errorCount > 0
                            }"></span>
                            <span ng-if="!blade.notification.finished">{{ 'platform.blades.import-main.labels.import-progress' | translate }}</span>
                            <span ng-if="blade.notification.finished">{{ 'platform.blades.import-main.labels.import-finished' | translate }}</span>
                        </div>
                        <div class="module-progress-time" ng-if="blade.notification.created">
                            <i class="fa fa-clock-o"></i>
                            {{ 'platform.blades.import-main.labels.start' | translate }}
                            {{ blade.notification.created | amParse | date:'mediumTime' }}
                            <span ng-if="blade.notification.finished">
                                &mdash; {{ 'platform.blades.import-main.labels.end' | translate }}
                                {{ blade.notification.finished | amParse | date:'mediumTime' }}
                            </span>
                        </div>
                    </div>

                    <div class="module-progress-bar-container" ng-if="!blade.notification.finished && progressStats.total > 0">
                        <div class="progress-bar __aqua" ng-style="{'width': progressStats.percent + '%'}" style="margin: 0; transition: width 0.3s ease;"></div>
                        <span class="module-progress-counter">{{progressStats.completed}} / {{progressStats.total}}</span>
                    </div>
                    <div ng-if="!blade.notification.finished && progressStats.total === 0">
                        <span class="list-bar progress-bar __aqua" style="margin-left: 0"></span>
                    </div>
                    <div class="module-progress-current-step"
                         ng-if="!blade.notification.finished && blade.notification.description"
                         title="{{blade.notification.description}}">
                        {{blade.notification.description}}
                    </div>

                    <div class="module-progress-timeline" ng-if="progressItems.length > 0">
                        <div class="module-progress-item"
                             ng-repeat="item in progressItems track by item.id"
                             ng-class="{
                                'module-progress-item--done': item.status === 'done',
                                'module-progress-item--error': item.status === 'error',
                                'module-progress-item--active': item.status === 'active',
                                'module-progress-item--pending': item.status === 'pending'
                             }">
                            <div class="module-progress-item-header"
                                 ng-class="{'module-progress-item-header--clickable': item.status === 'error' && item.messages.length > 0}"
                                 ng-click="(item.status === 'error' && item.messages.length > 0) && (item.expanded = !item.expanded)">
                                <span class="fa module-progress-item-icon"
                                   ng-class="{
                                       'fa-check-circle': item.status === 'done',
                                       'fa-times-circle': item.status === 'error',
                                       'fa-spinner fa-spin': item.status === 'active',
                                       'fa-circle-o': item.status === 'pending'
                                   }"></span>
                                <span class="module-progress-item-name">{{item.name}}</span>
                                <span class="fa module-progress-item-chevron"
                                      ng-if="item.status === 'error' && item.messages.length > 0"
                                      ng-class="{'fa-chevron-down': item.expanded, 'fa-chevron-right': !item.expanded}"></span>
                            </div>
                            <div class="module-progress-item-messages"
                                 ng-if="item.status === 'error' && item.messages.length > 0 && item.expanded">
                                <button type="button" class="module-progress-copy-btn"
                                        ng-click="copyItemErrors(item, $event)"
                                        title="{{ 'platform.blades.import-main.labels.copy-error' | translate }}">
                                    <i class="fa fa-copy"></i>
                                    {{ 'platform.blades.import-main.labels.copy-error' | translate }}
                                </button>
                                <p ng-repeat="m in item.messages track by $index"
                                   ng-class="{'module-progress-item-msg--error': m.level === 'Error', 'module-progress-item-msg--warning': m.level === 'Warning'}"
                                   ng-bind-html="m.message"></p>
                            </div>
                        </div>
                    </div>

                    <div class="module-progress-summary" ng-if="blade.notification.finished">
                        <div class="module-progress-summary-banner"
                             ng-class="{'module-progress-summary--success': blade.notification.errorCount === 0, 'module-progress-summary--error': blade.notification.errorCount > 0}">
                            <span class="fa" ng-class="{'fa-check-circle': blade.notification.errorCount === 0, 'fa-exclamation-triangle': blade.notification.errorCount > 0}"></span>
                            <span ng-if="blade.notification.errorCount === 0">
                                {{ 'platform.blades.import-main.labels.process-completed' | translate }}
                            </span>
                            <span ng-if="blade.notification.errorCount > 0">
                                {{ 'platform.blades.import-main.labels.completed-with-errors' | translate }}
                            </span>
                        </div>
                    </div>

                    <div class="module-progress-log-toggle" ng-if="blade.notification.progressLog.length > 0">
                        <a ng-click="toggleDetailedLog()">
                            <span class="fa" ng-class="{'fa-chevron-right': !showDetailedLog, 'fa-chevron-down': showDetailedLog}"></span>
                            {{ 'platform.blades.import-main.labels.detailed-log' | translate }}
                        </a>
                    </div>
                    <div class="module-progress-log-wrap" ng-show="showDetailedLog">
                        <button type="button" class="module-progress-copy-btn module-progress-copy-btn--pinned"
                                ng-click="copyDetailedLog($event)"
                                title="{{ 'platform.blades.import-main.labels.copy-log' | translate }}">
                            <i class="fa fa-copy"></i>
                            {{ 'platform.blades.import-main.labels.copy-log' | translate }}
                        </button>
                        <div class="log" scroll-glue>
                            <p ng-repeat="x in blade.notification.progressLog | filter:{level: '!Error'} track by $index"
                               ng-class="{'__info': x.level==='Info', '__warning': x.level==='Warning', '__debug': x.level==='Debug'}">
                                {{x.message}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
