<div class="blade-static __expanded" ng-if="blade.newAsset">
	<div class="form-group">
		<label class="form-label">Asset name:</label>
		<div class="form-input">
			<input focus-on="" required class="form-control" ng-model="blade.currentEntity.name" placeholder="Enter asset name" />
		</div>
	</div>
</div>

<div class="blade-static __collapsed" ng-if="!blade.newAsset">
	<div class="form-group">
		<label>{{blade.currentEntity.name}}</label> | Liquid Documentation
	</div>
</div>

<div class="blade-content" style="{{blade.getBladeStyle()}}">
    <div class="blade-inner" style="padding: 0" ng-if="!blade.newAsset">
        <div class="inner-block">
            <form class="form" style="padding: 0" name="formScope">
                <div class="form-group">
                    <div class="form-input __expanded">
                        <ui-codemirror required ng-model="blade.currentEntity.content" ui-codemirror-opts="editorOptions"></ui-codemirror>
                    </div>
                </div>
            </form>
        </div>
    </div>
	<div class="blade-inner" style="padding: 0" ng-if="blade.newAsset">
		<div class="inner-block">
			<form class="form" style="padding: 0" name="formScope">
				<div class="form-group">
					<div class="form-input __expanded">
						<ui-codemirror required ng-model="blade.currentEntity.content" ui-codemirror-opts="editorOptions"></ui-codemirror>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>