<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/create.tpl.html'" ng-if="blade.isNew"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="formScope">
                <div class="list __info form-group" ng-if="blade.isNew">
                    <label class="form-label">{{ 'content.blades.theme-detail.labels.default-theme-to-copy' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.defaultTheme">
                            <ui-select-match allow-clear="true" placeholder="{{'content.blades.theme-detail.placeholders.select' | translate}}">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="x in blade.baseThemes | filter: $select.search">
                                <span ng-bind-html="x | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="list-descr">{{ 'content.blades.theme-detail.labels.default-theme-info' | translate }}</div>
                </div>
                <div class="form-group" ng-init="setForm(formScope)">
                    <label class="form-label">{{ 'content.blades.theme-detail.labels.theme-name' | translate }}</label>
                    <div class="form-input">
                        <input focus-on required class="form-control" ng-model="blade.currentEntity.name" placeholder="{{ 'content.blades.theme-detail.placeholders.theme-name' | translate }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>