<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<ul class="list __items" ng-if="blade.currentEntities.length">
				<li class="list-item __not-icon " ng-click="blade.checkTheme(data)" ng-repeat="data in blade.currentEntities | orderBy:name" ng-class="blade.themeClass(data)">
					<span class="list-name">
						{{data.name}}
					</span>
				</li>
			</ul>
			<div class="note" ng-if="blade.currentEntities.length <= 0">
				No themes yet
				<br />
				<br />
				<button class="btn" ng-click="blade.createDefaultTheme()">Add default theme</button>
			</div>
		</div>
	</div>
</div>