<?xml version="1.0"?>
<AppConfig>
  <Connection wsEndPointName="" sqlConnectionStringName="VirtoCommerce"
    dataServiceUri="" />
  <Setup completed="false" adminUrl="App_Admin/VirtoCommerce.application?storeurl={0}"/>
  <availableModules>
    <add name="Store" type="VirtoCommerce.Web.Client.Modules.StoreHttpModule, VirtoCommerce.WebClient" />
    <add name="Marketing" type="VirtoCommerce.Web.Client.Modules.MarketingHttpModule, VirtoCommerce.WebClient" />
  </availableModules>
  <Cache enabled="true" settingsTimeout="00:00:30" localizationTimeout="00:00:30" />
</AppConfig>
