@model VirtoCommerce.Foundation.Orders.Model.OrderAddress
<ul id="billing_address_list">
    @Html.EditorForModel("Address")
    <li class="clearfix">
        <div class="input-box">
            <input type="checkbox" value="1" name="create_account" id="id_create_account">
            <label for="id_create_account">
                Create an account for later use</label>
        </div>
    </li>
    <li style="display: none;" id="onestepcheckout-li-password">
        <div class="input-box input-password">
            <label for="billing:customer_password">
                Password</label><br>
            <input type="password" name="billing[customer_password]" id="billing:customer_password"
                title="Password" value="" class="required-entry validate-password input-text">
        </div>
        <div class="input-box input-password">
            <label for="billing:confirm_password">
                Confirm password</label><br>
            <input type="password" name="billing[confirm_password]" title="Confirm Password"
                id="billing:confirm_password" value="" class="required-entry validate-password input-text">
        </div>
    </li>
    <li class="no-display">
        <input type="hidden" value="1" name="billing[save_in_address_book]"></li>
</ul>
