@font-face {
  font-family: 'iconFont';
  src: url('../fonts/iconFont.eot');
  src: url('../fonts/iconFont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconFont.woff') format('woff'), url('../fonts/iconFont.ttf') format('truetype'), url('../fonts/iconFont.svg#iconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metroSysIcons';
  src: url('../fonts/metroSysIcons.eot');
  src: url('../fonts/metroSysIcons.eot?#iefix') format('embedded-opentype'), url('../fonts/metroSysIcons.woff') format('woff'), url('../fonts/metroSysIcons.ttf') format('truetype'), url('../fonts/metroSysIcons.svg#metroSysIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'iconFont';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
[class*="icon-"] {
  font-family: 'iconFont';
  speak: none;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1;
  display: inline-block;
  vertical-align: -8%;
  -webkit-font-smoothing: antialiased;
  font-size: inherit;
}
[class*="icon-"].smaller {
  font-size: .7em;
  vertical-align: 6%;
}
[class*="icon-"].large {
  font-size: 1.2em;
  vertical-align: -10%;
}
.icon-newspaper:before {
  content: "\e001";
}
.icon-pencil:before {
  content: "\e002";
}
.icon-droplet:before {
  content: "\e003";
}
.icon-pictures:before {
  content: "\e004";
}
.icon-camera:before {
  content: "\e005";
}
.icon-music:before {
  content: "\e006";
}
.icon-film:before {
  content: "\e007";
}
.icon-camera-2:before {
  content: "\e008";
}
.icon-spades:before {
  content: "\e009";
}
.icon-clubs:before {
  content: "\e00a";
}
.icon-diamonds:before {
  content: "\e00b";
}
.icon-broadcast:before {
  content: "\e00c";
}
.icon-mic:before {
  content: "\e00d";
}
.icon-book:before {
  content: "\e00e";
}
.icon-file:before {
  content: "\e00f";
}
.icon-new:before {
  content: "\e010";
}
.icon-copy:before {
  content: "\e011";
}
.icon-folder:before {
  content: "\e012";
}
.icon-folder-2:before {
  content: "\e013";
}
.icon-tag:before {
  content: "\e014";
}
.icon-cart:before {
  content: "\e015";
}
.icon-basket:before {
  content: "\e016";
}
.icon-calculate:before {
  content: "\e017";
}
.icon-support:before {
  content: "\e018";
}
.icon-phone:before {
  content: "\e019";
}
.icon-mail:before {
  content: "\e01a";
}
.icon-location:before {
  content: "\e01b";
}
.icon-compass:before {
  content: "\e01c";
}
.icon-history:before {
  content: "\e01d";
}
.icon-clock:before {
  content: "\e01e";
}
.icon-bell:before {
  content: "\e01f";
}
.icon-calendar:before {
  content: "\e020";
}
.icon-printer:before {
  content: "\e021";
}
.icon-mouse:before {
  content: "\e022";
}
.icon-screen:before {
  content: "\e023";
}
.icon-laptop:before {
  content: "\e024";
}
.icon-mobile:before {
  content: "\e025";
}
.icon-cabinet:before {
  content: "\e026";
}
.icon-drawer:before {
  content: "\e027";
}
.icon-drawer-2:before {
  content: "\e028";
}
.icon-box:before {
  content: "\e029";
}
.icon-box-add:before {
  content: "\e02a";
}
.icon-box-remove:before {
  content: "\e02b";
}
.icon-download:before {
  content: "\e02c";
}
.icon-upload:before {
  content: "\e02d";
}
.icon-database:before {
  content: "\e02e";
}
.icon-flip:before {
  content: "\e02f";
}
.icon-flip-2:before {
  content: "\e030";
}
.icon-undo:before {
  content: "\e031";
}
.icon-redo:before {
  content: "\e032";
}
.icon-forward:before {
  content: "\e033";
}
.icon-reply:before {
  content: "\e034";
}
.icon-reply-2:before {
  content: "\e035";
}
.icon-comments:before {
  content: "\e036";
}
.icon-comments-2:before {
  content: "\e037";
}
.icon-comments-3:before {
  content: "\e038";
}
.icon-comments-4:before {
  content: "\e039";
}
.icon-comments-5:before {
  content: "\e03a";
}
.icon-user:before {
  content: "\e03b";
}
.icon-user-2:before {
  content: "\e03c";
}
.icon-user-3:before {
  content: "\e03d";
}
.icon-busy:before {
  content: "\e03e";
}
.icon-loading:before {
  content: "\e03f";
}
.icon-loading-2:before {
  content: "\e040";
}
.icon-search:before {
  content: "\e041";
}
.icon-zoom-in:before {
  content: "\e042";
}
.icon-zoom-out:before {
  content: "\e043";
}
.icon-key:before {
  content: "\e044";
}
.icon-key-2:before {
  content: "\e045";
}
.icon-locked:before {
  content: "\e046";
}
.icon-unlocked:before {
  content: "\e047";
}
.icon-wrench:before {
  content: "\e048";
}
.icon-equalizer:before {
  content: "\e049";
}
.icon-cog:before {
  content: "\e04a";
}
.icon-pie:before {
  content: "\e04b";
}
.icon-bars:before {
  content: "\e04c";
}
.icon-stats-up:before {
  content: "\e04d";
}
.icon-gift:before {
  content: "\e04e";
}
.icon-trophy:before {
  content: "\e04f";
}
.icon-diamond:before {
  content: "\e050";
}
.icon-coffee:before {
  content: "\e051";
}
.icon-rocket:before {
  content: "\e052";
}
.icon-meter-slow:before {
  content: "\e053";
}
.icon-meter-medium:before {
  content: "\e054";
}
.icon-meter-fast:before {
  content: "\e055";
}
.icon-dashboard:before {
  content: "\e056";
}
.icon-fire:before {
  content: "\e057";
}
.icon-lab:before {
  content: "\e058";
}
.icon-remove:before {
  content: "\e059";
}
.icon-briefcase:before {
  content: "\e05a";
}
.icon-briefcase-2:before {
  content: "\e05b";
}
.icon-cars:before {
  content: "\e05c";
}
.icon-bus:before {
  content: "\e05d";
}
.icon-cube:before {
  content: "\e05e";
}
.icon-cube-2:before {
  content: "\e05f";
}
.icon-puzzle:before {
  content: "\e060";
}
.icon-glasses:before {
  content: "\e061";
}
.icon-glasses-2:before {
  content: "\e062";
}
.icon-accessibility:before {
  content: "\e063";
}
.icon-accessibility-2:before {
  content: "\e064";
}
.icon-target:before {
  content: "\e065";
}
.icon-target-2:before {
  content: "\e066";
}
.icon-lightning:before {
  content: "\e067";
}
.icon-power:before {
  content: "\e068";
}
.icon-power-2:before {
  content: "\e069";
}
.icon-clipboard:before {
  content: "\e06a";
}
.icon-clipboard-2:before {
  content: "\e06b";
}
.icon-playlist:before {
  content: "\e06c";
}
.icon-grid-view:before {
  content: "\e06d";
}
.icon-tree-view:before {
  content: "\e06e";
}
.icon-cloud:before {
  content: "\e06f";
}
.icon-cloud-2:before {
  content: "\e070";
}
.icon-download-2:before {
  content: "\e071";
}
.icon-upload-2:before {
  content: "\e072";
}
.icon-upload-3:before {
  content: "\e073";
}
.icon-link:before {
  content: "\e074";
}
.icon-link-2:before {
  content: "\e075";
}
.icon-flag:before {
  content: "\e076";
}
.icon-flag-2:before {
  content: "\e077";
}
.icon-attachment:before {
  content: "\e078";
}
.icon-eye:before {
  content: "\e079";
}
.icon-bookmark:before {
  content: "\e07a";
}
.icon-bookmark-2:before {
  content: "\e07b";
}
.icon-star:before {
  content: "\e07c";
}
.icon-star-2:before {
  content: "\e07d";
}
.icon-star-3:before {
  content: "\e07e";
}
.icon-heart:before {
  content: "\e07f";
}
.icon-heart-2:before {
  content: "\e080";
}
.icon-thumbs-up:before {
  content: "\e081";
}
.icon-thumbs-down:before {
  content: "\e082";
}
.icon-plus:before {
  content: "\e083";
}
.icon-minus:before {
  content: "\e084";
}
.icon-help:before {
  content: "\e085";
}
.icon-help-2:before {
  content: "\e086";
}
.icon-blocked:before {
  content: "\e087";
}
.icon-cancel:before {
  content: "\e088";
}
.icon-cancel-2:before {
  content: "\e089";
}
.icon-checkmark:before {
  content: "\e08a";
}
.icon-minus-2:before {
  content: "\e08b";
}
.icon-plus-2:before {
  content: "\e08c";
}
.icon-enter:before {
  content: "\e08d";
}
.icon-exit:before {
  content: "\e08e";
}
.icon-loop:before {
  content: "\e08f";
}
.icon-arrow-up-left:before {
  content: "\e090";
}
.icon-arrow-up:before {
  content: "\e091";
}
.icon-arrow-up-right:before {
  content: "\e092";
}
.icon-arrow-right:before {
  content: "\e093";
}
.icon-arrow-down-right:before {
  content: "\e094";
}
.icon-arrow-down:before {
  content: "\e095";
}
.icon-arrow-down-left:before {
  content: "\e096";
}
.icon-arrow-left:before {
  content: "\e097";
}
.icon-arrow-up-2:before {
  content: "\e098";
}
.icon-arrow-right-2:before {
  content: "\e099";
}
.icon-arrow-down-2:before {
  content: "\e09a";
}
.icon-arrow-left-2:before {
  content: "\e09b";
}
.icon-arrow-up-3:before {
  content: "\e09c";
}
.icon-arrow-right-3:before {
  content: "\e09d";
}
.icon-arrow-down-3:before {
  content: "\e09e";
}
.icon-arrow-left-3:before {
  content: "\e09f";
}
.icon-menu:before {
  content: "\e0a0";
}
.icon-enter-2:before {
  content: "\e0a1";
}
.icon-backspace:before {
  content: "\e0a2";
}
.icon-backspace-2:before {
  content: "\e0a3";
}
.icon-tab:before {
  content: "\e0a4";
}
.icon-tab-2:before {
  content: "\e0a5";
}
.icon-checkbox:before {
  content: "\e0a6";
}
.icon-checkbox-unchecked:before {
  content: "\e0a7";
}
.icon-checkbox-partial:before {
  content: "\e0a8";
}
.icon-radio-checked:before {
  content: "\e0a9";
}
.icon-radio-unchecked:before {
  content: "\e0aa";
}
.icon-font:before {
  content: "\e0ab";
}
.icon-paragraph-left:before {
  content: "\e0ac";
}
.icon-paragraph-center:before {
  content: "\e0ad";
}
.icon-paragraph-right:before {
  content: "\e0ae";
}
.icon-paragraph-justify:before {
  content: "\e0af";
}
.icon-left-to-right:before {
  content: "\e0b0";
}
.icon-right-to-left:before {
  content: "\e0b1";
}
.icon-share:before {
  content: "\e0b2";
}
.icon-new-tab:before {
  content: "\e0b3";
}
.icon-new-tab-2:before {
  content: "\e0b4";
}
.icon-embed:before {
  content: "\e0b5";
}
.icon-code:before {
  content: "\e0b6";
}
.icon-bluetooth:before {
  content: "\e0b7";
}
.icon-share-2:before {
  content: "\e0b8";
}
.icon-share-3:before {
  content: "\e0b9";
}
.icon-mail-2:before {
  content: "\e0ba";
}
.icon-google:before {
  content: "\e0bb";
}
.icon-google-plus:before {
  content: "\e0bc";
}
.icon-google-drive:before {
  content: "\e0bd";
}
.icon-facebook:before {
  content: "\e0be";
}
.icon-instagram:before {
  content: "\e0bf";
}
.icon-twitter:before {
  content: "\e0c0";
}
.icon-feed:before {
  content: "\e0c1";
}
.icon-youtube:before {
  content: "\e0c2";
}
.icon-vimeo:before {
  content: "\e0c3";
}
.icon-flickr:before {
  content: "\e0c4";
}
.icon-picassa:before {
  content: "\e0c5";
}
.icon-dribbble:before {
  content: "\e0c6";
}
.icon-deviantart:before {
  content: "\e0c7";
}
.icon-github:before {
  content: "\e0c8";
}
.icon-github-2:before {
  content: "\e0c9";
}
.icon-github-3:before {
  content: "\e0ca";
}
.icon-github-4:before {
  content: "\e0cb";
}
.icon-github-5:before {
  content: "\e0cc";
}
.icon-git:before {
  content: "\e0cd";
}
.icon-github-6:before {
  content: "\e0ce";
}
.icon-wordpress:before {
  content: "\e0cf";
}
.icon-joomla:before {
  content: "\e0d0";
}
.icon-blogger:before {
  content: "\e0d1";
}
.icon-tumblr:before {
  content: "\e0d2";
}
.icon-yahoo:before {
  content: "\e0d3";
}
.icon-amazon:before {
  content: "\e0d4";
}
.icon-tux:before {
  content: "\e0d5";
}
.icon-apple:before {
  content: "\e0d6";
}
.icon-finder:before {
  content: "\e0d7";
}
.icon-android:before {
  content: "\e0d8";
}
.icon-windows:before {
  content: "\e0d9";
}
.icon-soundcloud:before {
  content: "\e0da";
}
.icon-skype:before {
  content: "\e0db";
}
.icon-reddit:before {
  content: "\e0dc";
}
.icon-linkedin:before {
  content: "\e0dd";
}
.icon-lastfm:before {
  content: "\e0de";
}
.icon-delicious:before {
  content: "\e0df";
}
.icon-stumbleupon:before {
  content: "\e0e0";
}
.icon-pinterest:before {
  content: "\e0e1";
}
.icon-xing:before {
  content: "\e0e2";
}
.icon-flattr:before {
  content: "\e0e3";
}
.icon-foursquare:before {
  content: "\e0e4";
}
.icon-paypal:before {
  content: "\e0e5";
}
.icon-yelp:before {
  content: "\e0e6";
}
.icon-libreoffice:before {
  content: "\e0e7";
}
.icon-file-pdf:before {
  content: "\e0e8";
}
.icon-file-openoffice:before {
  content: "\e0e9";
}
.icon-file-word:before {
  content: "\e0ea";
}
.icon-file-excel:before {
  content: "\e0eb";
}
.icon-file-powerpoint:before {
  content: "\e0ec";
}
.icon-file-zip:before {
  content: "\e0ed";
}
.icon-file-xml:before {
  content: "\e0ee";
}
.icon-file-css:before {
  content: "\e0ef";
}
.icon-html5:before {
  content: "\e0f0";
}
.icon-html5-2:before {
  content: "\e0f1";
}
.icon-css3:before {
  content: "\e0f2";
}
.icon-chrome:before {
  content: "\e0f3";
}
.icon-firefox:before {
  content: "\e0f4";
}
.icon-IE:before {
  content: "\e0f5";
}
.icon-opera:before {
  content: "\e0f6";
}
.icon-safari:before {
  content: "\e0f7";
}
.icon-IcoMoon:before {
  content: "\e0f8";
}
.icon-sunrise:before {
  content: "\e0f9";
}
.icon-sun:before {
  content: "\e0fa";
}
.icon-moon:before {
  content: "\e0fb";
}
.icon-sun-2:before {
  content: "\e0fc";
}
.icon-windy:before {
  content: "\e0fd";
}
.icon-wind:before {
  content: "\e0fe";
}
.icon-snowflake:before {
  content: "\e0ff";
}
.icon-cloudy:before {
  content: "\e100";
}
.icon-cloud-3:before {
  content: "\e101";
}
.icon-weather:before {
  content: "\e102";
}
.icon-weather-2:before {
  content: "\e103";
}
.icon-weather-3:before {
  content: "\e104";
}
.icon-lines:before {
  content: "\e105";
}
.icon-cloud-4:before {
  content: "\e106";
}
.icon-lightning-2:before {
  content: "\e107";
}
.icon-lightning-3:before {
  content: "\e108";
}
.icon-rainy:before {
  content: "\e109";
}
.icon-rainy-2:before {
  content: "\e10a";
}
.icon-windy-2:before {
  content: "\e10b";
}
.icon-windy-3:before {
  content: "\e10c";
}
.icon-snowy:before {
  content: "\e10d";
}
.icon-snowy-2:before {
  content: "\e10e";
}
.icon-snowy-3:before {
  content: "\e10f";
}
.icon-weather-4:before {
  content: "\e110";
}
.icon-cloudy-2:before {
  content: "\e111";
}
.icon-cloud-5:before {
  content: "\e112";
}
.icon-lightning-4:before {
  content: "\e113";
}
.icon-sun-3:before {
  content: "\e114";
}
.icon-moon-2:before {
  content: "\e115";
}
.icon-cloudy-3:before {
  content: "\e116";
}
.icon-cloud-6:before {
  content: "\e117";
}
.icon-cloud-7:before {
  content: "\e118";
}
.icon-lightning-5:before {
  content: "\e119";
}
.icon-rainy-3:before {
  content: "\e11a";
}
.icon-rainy-4:before {
  content: "\e11b";
}
.icon-windy-4:before {
  content: "\e11c";
}
.icon-windy-5:before {
  content: "\e11d";
}
.icon-snowy-4:before {
  content: "\e11e";
}
.icon-snowy-5:before {
  content: "\e11f";
}
.icon-weather-5:before {
  content: "\e120";
}
.icon-cloudy-4:before {
  content: "\e121";
}
.icon-lightning-6:before {
  content: "\e122";
}
.icon-thermometer:before {
  content: "\e123";
}
.icon-compass-2:before {
  content: "\e124";
}
.icon-none:before {
  content: "\e125";
}
.icon-Celsius:before {
  content: "\e126";
}
.icon-Fahrenheit:before {
  content: "\e127";
}
.icon-forrst:before {
  content: "\e128";
}
.icon-headphones:before {
  content: "\e129";
}
.icon-bug:before {
  content: "\e12a";
}
.icon-cart-2:before {
  content: "\e12b";
}
.icon-earth:before {
  content: "\e12c";
}
.icon-battery:before {
  content: "\e12d";
}
.icon-list:before {
  content: "\e12e";
}
.icon-grid:before {
  content: "\e12f";
}
.icon-alarm:before {
  content: "\e130";
}
.icon-location-2:before {
  content: "\e131";
}
.icon-pointer:before {
  content: "\e132";
}
.icon-diary:before {
  content: "\e133";
}
.icon-eye-2:before {
  content: "\e134";
}
.icon-console:before {
  content: "\e135";
}
.icon-location-3:before {
  content: "\e136";
}
.icon-move:before {
  content: "\e137";
}
.icon-gift-2:before {
  content: "\e138";
}
.icon-monitor:before {
  content: "\e139";
}
.icon-mobile-2:before {
  content: "\e13a";
}
.icon-switch:before {
  content: "\e13b";
}
.icon-star-4:before {
  content: "\e13c";
}
.icon-address-book:before {
  content: "\e13d";
}
.icon-shit:before {
  content: "\e13e";
}
.icon-cone:before {
  content: "\e13f";
}
.icon-credit-card:before {
  content: "\e140";
}
.icon-type:before {
  content: "\e141";
}
.icon-volume:before {
  content: "\e142";
}
.icon-volume-2:before {
  content: "\e143";
}
.icon-locked-2:before {
  content: "\e144";
}
.icon-warning:before {
  content: "\e145";
}
.icon-info:before {
  content: "\e146";
}
.icon-filter:before {
  content: "\e147";
}
.icon-bookmark-3:before {
  content: "\e148";
}
.icon-bookmark-4:before {
  content: "\e149";
}
.icon-stats:before {
  content: "\e14a";
}
.icon-compass-3:before {
  content: "\e14b";
}
.icon-keyboard:before {
  content: "\e14c";
}
.icon-award-fill:before {
  content: "\e14d";
}
.icon-award-stroke:before {
  content: "\e14e";
}
.icon-beaker-alt:before {
  content: "\e14f";
}
.icon-beaker:before {
  content: "\e150";
}
.icon-move-vertical:before {
  content: "\e151";
}
.icon-move-horizontal:before {
  content: "\e152";
}
.icon-steering-wheel:before {
  content: "\e153";
}
.icon-volume-3:before {
  content: "\e154";
}
.icon-volume-mute:before {
  content: "\e155";
}
.icon-play:before {
  content: "\e156";
}
.icon-pause:before {
  content: "\e157";
}
.icon-stop:before {
  content: "\e158";
}
.icon-eject:before {
  content: "\e159";
}
.icon-first:before {
  content: "\e15a";
}
.icon-last:before {
  content: "\e15b";
}
.icon-play-alt:before {
  content: "\e15c";
}
.icon-battery-charging:before {
  content: "\e160";
}
.icon-left-quote:before {
  content: "\e161";
}
.icon-right-quote:before {
  content: "\e162";
}
.icon-left-quote-alt:before {
  content: "\e163";
}
.icon-right-quote-alt:before {
  content: "\e164";
}
.icon-smiley:before {
  content: "\e165";
}
.icon-umbrella:before {
  content: "\e166";
}
.icon-info-2:before {
  content: "\e167";
}
.icon-chart-alt:before {
  content: "\e168";
}
.icon-at:before {
  content: "\e169";
}
.icon-hash:before {
  content: "\e16a";
}
.icon-pilcrow:before {
  content: "\e16b";
}
.icon-fullscreen-alt:before {
  content: "\e16c";
}
.icon-fullscreen-exit-alt:before {
  content: "\e16d";
}
.icon-layers-alt:before {
  content: "\e16e";
}
.icon-layers:before {
  content: "\e16f";
}
.icon-floppy:before {
  content: "\e170";
}
.icon-rainbow:before {
  content: "\e000";
}
.icon-air:before {
  content: "\e171";
}
.icon-home:before {
  content: "\e172";
}
.icon-spin:before {
  content: "\e173";
}
.icon-auction:before {
  content: "\e174";
}
.icon-dollar:before {
  content: "\e175";
}
.icon-dollar-2:before {
  content: "\e176";
}
.icon-coins:before {
  content: "\e177";
}
.icon-file-2:before {
  content: "\e186";
}
.icon-file-3:before {
  content: "\e187";
}
.icon-file-4:before {
  content: "\e188";
}
.icon-files:before {
  content: "\e189";
}
.icon-phone-2:before {
  content: "\e18a";
}
.icon-tablet:before {
  content: "\e18b";
}
.icon-monitor-2:before {
  content: "\e18c";
}
.icon-window:before {
  content: "\e18d";
}
.icon-tv:before {
  content: "\e18e";
}
.icon-camera-3:before {
  content: "\e18f";
}
.icon-image:before {
  content: "\e190";
}
.icon-open:before {
  content: "\e191";
}
.icon-sale:before {
  content: "\e192";
}
.icon-direction:before {
  content: "\e193";
}
.icon-medal:before {
  content: "\e194";
}
.icon-medal-2:before {
  content: "\e195";
}
.icon-satellite:before {
  content: "\e196";
}
.icon-discout:before {
  content: "\e197";
}
.icon-barcode:before {
  content: "\e198";
}
.icon-ticket:before {
  content: "\e199";
}
.icon-shipping:before {
  content: "\e19a";
}
.icon-globe:before {
  content: "\e19b";
}
.icon-anchor:before {
  content: "\e19c";
}
.icon-pop-out:before {
  content: "\e19d";
}
.icon-pop-in:before {
  content: "\e19e";
}
.icon-resize:before {
  content: "\e178";
}
.icon-battery-2:before {
  content: "\e179";
}
.icon-battery-3:before {
  content: "\e17a";
}
.icon-battery-4:before {
  content: "\e17b";
}
.icon-battery-5:before {
  content: "\e17c";
}
.icon-tools:before {
  content: "\e17d";
}
.icon-alarm-2:before {
  content: "\e17e";
}
.icon-alarm-cancel:before {
  content: "\e17f";
}
.icon-alarm-clock:before {
  content: "\e180";
}
.icon-chronometer:before {
  content: "\e181";
}
.icon-ruler:before {
  content: "\e182";
}
.icon-lamp:before {
  content: "\e183";
}
.icon-lamp-2:before {
  content: "\e184";
}
.icon-scissors:before {
  content: "\e185";
}
.icon-volume-4:before {
  content: "\e19f";
}
.icon-volume-5:before {
  content: "\e1a0";
}
.icon-volume-6:before {
  content: "\e1a1";
}
.icon-battery-full:before {
  content: "\e15f";
}
.icon-battery-empty:before {
  content: "\e15d";
}
.icon-battery-half:before {
  content: "\e15e";
}
.icon-zip:before {
  content: "\e1a2";
}
.icon-zip-2:before {
  content: "\e1a3";
}
.icon-play-2:before {
  content: "\e1a4";
}
.icon-pause-2:before {
  content: "\e1a5";
}
.icon-record:before {
  content: "\e1a6";
}
.icon-stop-2:before {
  content: "\e1a7";
}
.icon-next:before {
  content: "\e1a8";
}
.icon-previous:before {
  content: "\e1a9";
}
.icon-first-2:before {
  content: "\e1aa";
}
.icon-last-2:before {
  content: "\e1ab";
}
.icon-arrow-left-4:before {
  content: "\e1ac";
}
.icon-arrow-down-4:before {
  content: "\e1ad";
}
.icon-arrow-up-4:before {
  content: "\e1ae";
}
.icon-arrow-right-4:before {
  content: "\e1af";
}
.icon-arrow-left-5:before {
  content: "\e1b0";
}
.icon-arrow-down-5:before {
  content: "\e1b1";
}
.icon-arrow-up-5:before {
  content: "\e1b2";
}
.icon-arrow-right-5:before {
  content: "\e1b3";
}
.icon-cc:before {
  content: "\e1b4";
}
.icon-cc-by:before {
  content: "\e1b5";
}
.icon-cc-nc:before {
  content: "\e1b6";
}
.icon-cc-nc-eu:before {
  content: "\e1b7";
}
.icon-cc-nc-jp:before {
  content: "\e1b8";
}
.icon-cc-sa:before {
  content: "\e1b9";
}
.icon-cc-nd:before {
  content: "\e1ba";
}
.icon-cc-pd:before {
  content: "\e1bb";
}
.icon-cc-zero:before {
  content: "\e1bc";
}
.icon-cc-share:before {
  content: "\e1bd";
}
.icon-cc-share-2:before {
  content: "\e1be";
}
.icon-cycle:before {
  content: "\e1bf";
}
.icon-stop-3:before {
  content: "\e1c0";
}
.icon-stats-2:before {
  content: "\e1c1";
}
.icon-stats-3:before {
  content: "\e1c2";
}

/* Glyphicons */
@font-face{ 
  font-family: 'glyphicons';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/glyphicons-halflings-regular.svg') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'glyphicons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}

/* Font Awesome */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
