<?xml version="1.0"?>
<Catalog>
  <Connection wsEndPointName="" sqlConnectionStringName="VirtoCommerce" dataServiceUri="" dataServiceBaseUriName=""/>
  <Cache enabled="true" catalogTimeout="0:1:00" itemCollectionTimeout="0:0:30" itemTimeout="0:0:30" categoryCollectionTimeout="0:0:30" categoryTimeout="0:0:30" pricelistTimeout="0:1:00" pricesTimeout="0:1:0" propertiesTimeout="0:0:30" preloadPrices="true"></Cache>
</Catalog>
