@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = Html.Title("Home".Localize());
}

@section Slider{
    @{Html.RenderAction("ShowDynamicContent", "Banner", new { placeName = "MainSlider" });}
}

<div class="home content">
    <div class="products featured">
        <header>
            <h2>@("Featured Products".Localize())</h2>
        </header>
        <ul class="products-list grid">
            @{Html.RenderAction("ShowDynamicContent", "Banner", new { placeName = "HomeFeaturedProducts" });}
        </ul>
    </div>
    <div class="products slider-products">
        <header>
            <h2>@("Staff pick".Localize())</h2>
        </header>
        <ul class="products-list slider-list grid">
            @{Html.RenderAction("ShowDynamicContent", "Banner", new { placeName = "HomeStaffPick" });}
        </ul>
    </div>
    <div class="products slider-products">
        <header>
            <h2>@("New Products".Localize())</h2>
        </header>
        <ul class="products-list slider-list grid">
            @{Html.RenderAction("ShowDynamicContent", "Banner", new { placeName = "HomeNewProducts" });}
        </ul>
    </div>
</div>
@*<div class="home sidebar">
    <aside class="block">
        @{Html.RenderAction("ShowDynamicContent", "Banner", new { placeName = "HomeRightTop" });}
    </aside>
    <aside class="block">
        @{Html.RenderAction("ShowDynamicContent", "Banner", new { placeName = "HomeRightBottom" });}
    </aside>
</div>*@
