<div class="blade-static __bottom" ng-if="blade.isNew">
	<button class="btn" ng-click="blade.saveChanges()" ng-disabled="formScope.$invalid">
		<span>{{ 'platform.commands.create' | translate }}</span>
	</button>
</div>

<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<form class="form" name="contextEntityDetailForm">
				<fieldset ng-init="setForm(formScope);">
					<div class="form-group" ng-init="setForm(contextEntityDetailForm)">
						<label class="form-label">{{ 'marketing.blades.items.content-item-details.labels.content-item-name' | translate }}</label>
						<div class="form-input">
							<input focus-on="" required class="form-control" ng-model="blade.entity.name" placeholder="{{ 'marketing.blades.items.content-item-details.placeholders.content-item-name' | translate }}" />
						</div>
					</div>
					<div class="form-group">
						<label class="form-label">{{ 'marketing.blades.items.content-item-details.labels.content-item-description' | translate }}</label>
						<div class="form-input">
							<textarea required cols="60" rows="30" ng-model="blade.entity.description" placeholder="{{ 'marketing.blades.items.content-item-details.placeholders.content-item-description' | translate }}"></textarea>
						</div>
					</div>

					<div class="form-group" ng-repeat="property in blade.entity.dynamicProperties | orderBy: 'name'">
						<label class="form-label" for="">
							{{property.name}}
							<a href="" ng-click="editDictionary(property)" ng-show="property.isDictionary" class="form-edit"><i class="form-ico fa fa-pencil"></i></a>
						</label>
						<va-generic-value-input ng-model="property" languages="languages" get-dictionary-values="getDictionaryValues"></va-generic-value-input>
					</div>

					<div class="note" ng-if="blade.entity.dynamicProperties.length == 0">{{ 'marketing.blades.items.content-item-details.labels.none' | translate }}</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>