<div class="blade-static __bottom" ng-if="blade.isNew">
	<button class="btn" ng-click="blade.saveChanges()" ng-disabled="formScope.$invalid">
		<span>{{ 'platform.commands.create' | translate }}</span>
	</button>
</div>

<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<form class="form" name="contextEntityDetailForm">
				<div class="form-group" ng-init="setForm(contextEntityDetailForm)">
					<label class="form-label">{{ 'marketing.blades.items.folder-details.labels.folder-name' | translate }}</label>
					<div class="form-input">
						<input focus-on="" required class="form-control" ng-model="blade.entity.name" placeholder="{{ 'marketing.blades.items.folder-details.placeholders.folder-name' | translate }}" />
					</div>
				</div>
				<div class="form-group">
					<label class="form-label">{{ 'marketing.blades.items.folder-details.labels.folder-description' | translate }}</label>
					<div class="form-input">
						<textarea required cols="60" rows="30" ng-model="blade.entity.description" placeholder="{{ 'marketing.blades.items.folder-details.placeholders.folder-description' | translate }}"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>