<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
			<ul class="list __files" ng-if="blade.currentEntities.length">
				<li class="list-item" ng-click="blade.folderClick(data)" ng-repeat="data in blade.currentEntities" ng-class="{'__selected': blade.checkFolder(data) }">
					<a class="list-block">
						<i class="list-ico fa" ng-class="{'fa-folder-open': blade.checkFolder(data), 'fa-folder': !blade.checkFolder(data) }"></i>
						<span class="list-name">{{data.name}}</span>
					</a>
					<ul class="list __sub" ng-show="blade.checkFolder(data)">
						<li ng-repeat="item in data.items" class="list-item" ng-click="blade.openBlade(item); $event.stopPropagation();" ng-class="{'__selected': blade.checkPlaceholder(item) }">
							<a class="list-block">
								<i class="list-ico fa fa-location-arrow"></i>
								<span class="list-name">{{item.name}}</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<p class="text" ng-if="!blade.currentEntities.length">No Items yet</p>
		</div>
	</div>
</div>