@model IEnumerable<VirtoCommerce.ApiClient.DataContracts.Association>

@{
    var associations = Model.OrderBy(a => a.Priority).ToList();
}

<div class="related-products products-no-effects">
    <div class="rubber slider-products">
        <header>
            <h2>@("We recommend".Localize())</h2>
        </header>
        <div class="scroll">
            <ul class="products-list slider-list grid">
                @foreach (var association in associations)
                {
                    @Html.Action("AssociatedItem", new { itemId = association.ItemId, name = "displaytemplates/Item" })
                }
            </ul>
        </div>
    </div>
</div>
