<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div id="platform-system-info" ng-if="blade.currentEntity">
                <ul class="list __info">
                    <li class="list-item">
                        <div class="list-t">{{ 'platform.blades.module-detail.labels.platform-version' | translate }}</div>
                        <div class="list-descr">{{blade.currentEntity.platformVersion}}</div>
                    </li>
                    <li class="list-item">
                        <div class="list-t">{{ 'platform.blades.module-detail.labels.license' | translate }}</div>
                        <div class="list-descr" ng-if="!blade.currentEntity.license">{{'platform.templates.licensing.license-absent' | translate}}</div>
                        <ul class="list" ng-if="blade.currentEntity.license">
                            <li class="list-item">
                                <div class="list-t">{{ 'platform.blades.license.labels.customer' | translate }}</div>
                                <div class="list-descr">{{blade.currentEntity.license.customerName}}</div>
                            </li>
                            <li class="list-item">
                                <div class="list-t">{{ 'platform.blades.license.labels.type' | translate }}</div>
                                <div class="list-descr">{{'platform.templates.licensing.license-present' | translate: blade.currentEntity.license.type}}</div>
                            </li>
                            <li class="list-item">
                                <div class="list-t">{{'platform.templates.licensing.expiration-date' | translate}}</div>
                                <div class="list-descr">{{blade.currentEntity.license.expirationDate | amParse | date }}</div>
                            </li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <div class="list-t">{{ 'platform.blades.modules-list.labels.installed' | translate }}</div>
                        <div class="list-descr" ng-if="!blade.currentEntity.installedModules">{{ 'platform.blades.modules-list.labels.no-installed-modules' | translate }}</div>
                        <div class="list-descr" ng-if="blade.currentEntity.installedModules">
                            <div ng-repeat="module in blade.currentEntity.installedModules">
                                <span>{{module.id}}</span> {{module.version}}
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="list-t">{{ 'platform.blades.system-info.labels.clr-version' | translate }}</div>
                        <div class="list-descr">{{blade.currentEntity.version}}</div>
                    </li>
                    <li class="list-item">
                        <div class="list-t">{{ 'platform.blades.system-info.labels.is-64-bit-os' | translate }}</div>
                        <div class="list-descr">{{blade.currentEntity.is64BitOperatingSystem}}</div>
                    </li>
                    <li class="list-item">
                        <div class="list-t">{{ 'platform.blades.system-info.labels.is-64-bit-process' | translate }}</div>
                        <div class="list-descr">{{blade.currentEntity.is64BitProcess}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
