{% for banner in placeholder.banners %}
    {% comment %}
        <div id="{{placeholder.name}}">{% include 'banner' with banner %}</div>
    {% endcomment %}
    {% include 'banner' with banner %}
{% endfor%}