<div class="blade-static __expanded">
    <va-breadcrumb ng-model="blade.breadcrumbs" blade-id="blade.id"></va-breadcrumb>
    <div class="form-group">
        <div class="form-input __other">
            <input placeholder="{{ 'platform.placeholders.search-keyword' | translate }}" ng-model="blade.searchKeyword" ng-keyup="$event.which === 13 && blade.refresh()">
            <button class="btn __other" type="button">
                <i class="btn-ico fa fa-times-circle" title="Clear" ng-click="blade.searchKeyword=null;blade.refresh()"></i>
            </button>
        </div>
    </div>
</div>
<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper" ng-init="setGridOptions({
                data: 'listEntries',
                rowTemplate: 'asset-list.row.html',
                rowHeight: 61,
                columnDefs: [
                        {
                            name: 'url', displayName: 'platform.blades.asset-list.labels.picture',
                            enableColumnResizing: false, enableSorting: false, width: 60,
                            cellTemplate: 'asset-list-icon.cell.html'
                        },
                        { name: 'name', displayName: 'platform.blades.asset-list.labels.name', cellTooltip: true },
                        { name: 'size', displayName: 'platform.blades.asset-list.labels.size'},
                        { name: 'modifiedDate', displayName: 'platform.blades.asset-list.labels.modified', cellTemplate: 'am-time-ago.cell.html' },
                        { name: 'actions', displayName: 'platform.blades.asset-list.labels.actions', enableColumnResizing: false, enableSorting: false, width: 80, cellTemplate: 'asset-list-actions.cell.html' }
                ],
                enablePaginationControls: false,
                paginationPageSize: pageSettings.itemsPerPageCount
                 })">
                <div ui-grid="gridOptions" ui-grid-save-state ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination></div>
                <!--<table class="table">
                    <thead>
                        <tr>
                            <th class="table-col __product-control">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="blade.selectedAll" ng-change="toggleAll()" />
                                    <span class="check"></span>
                                </label>
                            </th>
                            <th class="table-col __product-img">{{ 'platform.blades.asset-list.labels.picture' | translate }}</th>
                            <th class="table-col __product-name">{{ 'platform.blades.asset-list.labels.name' | translate }}</th>
                            <th class="table-col">{{ 'platform.blades.asset-list.labels.size' | translate }}</th>
                            <th class="table-col __date">{{ 'platform.blades.asset-list.labels.modified' | translate }}</th>
                            <th class="table-col __date">{{ 'platform.blades.asset-list.labels.actions' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in listEntries track by data.url" ng-class="{'__selected': data.url === selectedNodeId}" context-menu data-target="asl_menu_{{data.url}}">
                            <td class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.$selected">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col" ng-click='selectNode(data)'>
                                <div class="product-img">
                                    <div class="image" style="background-image: url('{{data.url}}')" ng-if="data.isImage"></div>
                                    <i class="table-ico fa" ng-class="data.type == 'folder' ? 'fa-folder' : 'fa-file-text-o'" ng-if="!data.isImage"></i>
                                </div>
                            </td>
                            <td class="table-col __product-name" ng-click='selectNode(data)' title="{{data.name}}">
                                <span class="table-t">{{data.name}}</span>
                            </td>
                            <td class="table-col" ng-click='selectNode(data)'>
                                <span>{{data.size}}</span>
                            </td>
                            <td class="table-col" ng-click='selectNode(data)'>
                                <span class="table-date" am-time-ago="data.modifiedDate"></span>
                                <ul class="menu __context" role="menu" id="asl_menu_{{data.url}}">
                                    <li class="menu-item" ng-click='downloadUrl(data)' ng-if="data.type !== 'folder'">
                                        <i class="menu-ico fa fa-download"></i> {{ 'platform.commands.download' | translate }}
                                    </li>
                                    <li class="menu-item" ng-click='copyUrl(data)'>
                                        <i class="menu-ico fa fa-link"></i> {{ 'platform.commands.copy-link' | translate }}
                                    </li>
                                    <!--<li class="menu-item" ng-click='rename(data)'>
                                        <i class="menu-ico fa fa-font"></i> Rename
                                    </li>-- >
                                    <li class="menu-item" ng-click='delete(data)'>
                                        <i class="menu-ico fa fa-trash-o"></i> {{ 'platform.commands.delete' | translate }}
                                    </li>
                                    <!--<li class="menu-item" ng-click='cut($index)'>
                                        <i class="menu-ico fa fa-cut"></i> Cut
                                    </li>-- >
                                </ul>
                            </td>
                            <td class="table-col __center">
                                <ul class="menu __actions">
                                    <li class="menu-item" ng-click="downloadUrl(data)" ng-if="data.type !== 'folder'">
                                        <a class="menu-link" title="Download">
                                            <i class="menu-ico fa fa-download"></i>
                                        </a>
                                    </li>
                                    <li class="menu-item" ng-click="copyUrl(data)">
                                        <a class="menu-link" title="Copy link">
                                            <i class="menu-ico fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="asset-list.row.html">
    <div ng-click='grid.appScope.selectNode(row.entity)' ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader}" role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" ui-grid-cell style='cursor:pointer'></div>
</script>

<script type="text/ng-template" id="asset-list-icon.cell.html">
    <div class="product-img">
        <div class="image" style="background-image: url('{{COL_FIELD}}')" ng-if="row.entity.isImage"></div>
        <i class="table-ico fa" ng-class="row.entity.type == 'folder' ? 'fa-folder' : 'fa-file-text-o'" ng-if="!row.entity.isImage"></i>
    </div>
</script>
<script type="text/ng-template" id="am-time-ago.cell.html">
    <span class="table-date" am-time-ago="COL_FIELD"></span>
</script>
<script type="text/ng-template" id="asset-list-actions.cell.html">
    <ul class="ui-grid-cell-contents menu __actions">
        <li class="menu-item" ng-click="grid.appScope.downloadUrl(row.entity)" ng-if="row.entity.type !== 'folder'">
            <a class="menu-link" title="Download">
                <i class="menu-ico fa fa-download"></i>
            </a>
        </li>
        <li class="menu-item" ng-click="grid.appScope.copyUrl(row.entity)">
            <a class="menu-link" title="Copy link">
                <i class="menu-ico fa fa-link"></i>
            </a>
        </li>
    </ul>
</script>
