<script type="text/ng-template" id="expression-label.html">
    {{element.text}}
</script>
<script type="text/ng-template" id="expression-allAny.html">
    <a class="__link" context-menu data-target="allAny_menu{{element.$parentElement.id}}">{{element.$parentElement.all | boolToValue:'all':'any'}}</a>
    <ul class="menu __context" role="menu" id="allAny_menu{{element.$parentElement.id}}">
        <li class="menu-item" ng-click='element.$parentElement.all=true;'>all</li>
        <li class="menu-item" ng-click='element.$parentElement.all=false;'>any</li>
    </ul>
</script>
<script type="text/ng-template" id="expression-dictionary.html">
    <a class="__link">{{element.text}}</a>
</script>
<script type="text/ng-template" id="expression-customSelector.html">
    <a class="__link" ng-click="element.action()">{{element.getDisplayText()}}</a>
</script>
<script type="text/ng-template" id="expression-amountInput.html">
    <div class="form-input __mini __number js-number-input-plugin" data-step="1">
        <input type="text" class="js-val" required ng-model="element.$parentElement.amount">
        <a class="up js-up"></a>
        <a class="down js-down"></a>
    </div>
</script>
<script type="text/ng-template" id="expression-numericInput.html">
    <div class="form-input __mini __number js-number-input-plugin" data-step="1">
        <input type="text" class="js-val" required ng-model="element.$parentElement.numItem">
        <a class="up js-up"></a>
        <a class="down js-down"></a>
    </div>
</script>

<!--<div va-templated-expression ng-if="data.templateURL">
    <ng-include src='data.templateURL'></ng-include>
</div>-->
<div class="dynamic-expression_t" ng-if="!data.templateURL">
    <va-expression-element ng-repeat="element0 in data.headerElements" element="element0"></va-expression-element>
</div>
<div class="dynamic-expression_b" ng-if="!data.templateURL">
    <span class="error" ng-if="data.getValidationError(data)">{{data.getValidationError(data);}}</span>
    <ul class="list">
        <li class="list-item" ng-repeat="data1 in data.children">
            <a class="list-link">
                <i class="list-ico fa fa-times-circle" ng-click='deleteChild(data1, data.children);'></i>
                <div va-templated-expression data="data1" ng-if="data.templateURL">
                    <ng-include src='data.templateURL'></ng-include>
                </div>
                <va-expression-element ng-repeat="element1 in data1.headerElements" element="element1"></va-expression-element>
                <ul class="list __sub" ng-if="data1.newChildLabel">
                    <li class="list-item" ng-repeat="data2 in data1.children">
                        <i class="list-ico fa fa-times-circle" ng-click='deleteChild(data2, data1.children);'></i>
                        <va-expression-element ng-repeat="element2 in data2.headerElements" element="element2"></va-expression-element>
                    </li>
                    <li class="list-item">
                        <a href="#" class="add" context-menu data-target="deb_menu1_{{$index}}">{{data1.newChildLabel}}</a>
                        <ul class="menu __context" role="menu" id="deb_menu1_{{$index}}">
                            <li class="menu-item" ng-click='addChild(child, data1);' ng-repeat="child in data1.availableChildren">{{child.displayName}}</li>
                        </ul>
                    </li>
                </ul>
            </a>
        </li>
    </ul>
    <a class="add __link __usergroup" context-menu data-target="deb_add_{{data.id}}">{{data.newChildLabel}}</a>
    <ul class="menu __context" role="menu" id="deb_add_{{data.id}}">
        <li class="menu-item" ng-click='addChild(child, data);' ng-repeat="child in data.availableChildren">{{child.displayName}}</li>
    </ul>
</div>