<h1 class="centered">404 Page Not Found</h1>
{{ settings.homepage_page }}
<h2 class="delta centered">The page you requested does not exist. Click <a href="/collections/all">here</a> to continue shopping.</h2>