{% comment %}
  Re-use the 'rte' class wherever you output content that was added by a merchant using the Rich Text Editor ( 'rte' stands for rich text editor ).
  Style all HTML elements in that content the same way across the board.
  Use the 'rte' class in your CSS to help maintain that consistency.
  Example: the h2 element should have the same size and color in:
  - product descriptions
  - collection descriptions
  - page content
  - blog posts
{% endcomment %}

{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}

{% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
{% assign page = pages[settings.homepage_page] %}
<div class="rte grid-margins">
  {{ page.content }}
</div>
{% endunless %}

{% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
{% assign collection = collections[settings.homepage_collection] %}
<ul class="grid clearfix">
{% for product in collection.products %}
  {% include 'product-grid-item' with 'three-per-row' %}
{% else %}
<li>
  <p>
    You have no products in your {{ collections[settings.homepage_collection].title }} collection. 
    <a href="http://www.shopify.com/admin/collections">Add some.</a>
  <p>
</li>
{% endfor %}
</ul>
{% endunless %}