{% include 'collection-listing' %}

{% comment %}
<!-- Alternatively, if not using a snippet, use the code below. 
To use the code below, get rid of the above 'include', and get rid of the comment tags, and you're in business. -->
{% paginate collections by 6 %}
  <h1>Collections</h1>
  <ul class="grid clearfix">
  {% for collection in collections %}
    {% include 'collection-grid-item' with 'three-per-row' %}
  {% endfor %}
  </ul>
  {% if paginate.pages > 1 %}
  <div id="pagination">
    {{ paginate | default_pagination }}
  </div>
  {% endif %}
{% endpaginate %}
{% endcomment %}