<header class="window-head">
    <img class="__logo" ng-src="{{uiCustomization.contrast_logo || '/images/contrast-logo.png'}}"/>
    <span class="window-t" ng-if="!notification.created">{{ 'platform.templates.sampleDataChoose.labels.choose-sample-data-type' | translate }}</span>
    <span class="window-t" ng-if="notification.created">{{ 'platform.templates.sampleDataInitialization.labels.sample-data-initialization' | translate }}</span>
</header>
<div class="window-cnt">
    <form class="form" novalidate ng-if="!notification.created">
        <ul class="list __items">
            <li class="list-item" ng-repeat="sampleData in sampleDataInfos track by $index" ng-click="importData(sampleData)">
                <i class="list-ico fa fa-folder"></i>
                <span class="list-name">{{sampleData.name}}</span>
                <span class="list-descr">{{sampleData.description}}</span>
                <span ng-if="sampleData.size" class="list-descr">{{ 'platform.templates.sampleDataChoose.labels.size' | translate }} {{sampleData.size}}</span>
                <span ng-if="sampleData.platformVersion" class="list-descr">{{ 'platform.templates.sampleDataChoose.labels.version' | translate }} {{sampleData.platformVersion}}</span>
            </li>
        </ul>
    </form>
    <form class="form" novalidate ng-submit="close()" ng-if="notification.created">
        <div class="form-group">
            <div class="sub-t">{{notification.description ? notification.description : platform.templates.sampleDataInitialization.labels.starting-initialization | translate}}</div>
            <div class="block" ng-if="notification.created || notification.finished">
                <p ng-if="notification.created" ng-class="{'no-data': notification.created}" class="text">{{ 'platform.templates.sampleDataInitialization.labels.start' | translate }} — <i class="fa fa-clock-o"></i>&nbsp;{{ notification.created | amParse | date:'mediumTime' }}</p>
                <p ng-if="notification.finished" ng-class="{'no-data': notification.finished}" class="text">{{ 'platform.templates.sampleDataInitialization.labels.end' | translate }} — <i class="fa fa-clock-o"></i>&nbsp;{{ notification.finished | amParse | date:'mediumTime' }}</p>
            </div>
            <div ng-if="notification.errorCount > 0">
                <span class="sub-t">{{ 'platform.templates.sampleDataInitialization.labels.errors' | translate }}</span>
                <div class="log">
                    <p ng-repeat="error in notification.errors track by $index" class="error">{{error}}</p>
                </div>
            </div>
        </div>
        <div class="form-group __right">
            <button class="btn" type="submit" ng-disabled="!notification.finished">
                <span>{{ 'platform.commands.close' | translate }}</span>
            </button>
        </div>
    </form>
</div>


