body
{
	font-family: "Segoe UI_","Open Sans",Verdana,Arial,Helvetica,sans-serif;
}

.metro .subheader-secondary
{
	display: block;
	margin: 0 0 20px;
}

.button:disabled {
	opacity: 0.7;
}

.control-group
{
	
}

.metro .notice
{
	margin: 20px 0;
}

.metro .notice *
{
	font-size: 14px;
}

.metro .input-control.text input
{
	font-family: inherit;
	font-size: 14px;
	padding: 5px 10px;
}

.metro .input-control.select select,
.metro .input-control.textarea select,
.metro .input-control.select textarea,
.metro .input-control.textarea textarea
{
	font-size: 14px;
	font-family: inherit;
	padding: 10px;
}

.btn-toolbar
{
	background: #d9d9d9;
}

.editable
{
	border: 1px solid #ccc;
}

.ta-root.focussed > .ta-scroll-window.form-control
{
	-webkit-box-shadow: none;
			box-shadow: none;
}

.ta-scroll-window > .ta-bind
{
	padding: 10px 15px;
}

.block
{
	margin: 20px 0;
}

.blade form
{
	margin: 20px 0;
	width: 355px;
}

.blade form.normal
{
	width: auto;
}

.blade-content.blade-medium form
{
	width: 535px;
}

.search-count
{
	float: right;
	margin: 0 20px 0 0;
}

.control-group.selected
{
	background: #b3ebfb;
}

.window-overlay
{
	background: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9000;
	word-spacing: 0;
}

.login
{
	margin: 30px auto !important;
	width: 500px;
	position: relative;
}

.login .window.flat .content
{
	padding: 50px 20px 20px;
	position: relative;
}

.metro .window.flat .caption
{
	height: auto;
}

.metro .window.flat .caption .logo
{
	float: left;
	margin: 0 0 0 5px;
	max-width: 25px;
}

.metro .window.flat .caption .title
{
	margin: 5px 0 5px 10px;
}

.metro .table tbody tr.selected,
.metro .table.hovered tbody tr.selected
{
	background: #b3ebfb;
}

.metro .log
{
	background: none;
	border: 1px solid #ccc;
	clear: both;
	color: #999;
	display: block;
	font-family: inherit;
	font-size: 10pt;
	line-height: 15pt;
	height: 300px;
	margin: 5px 0;
	padding: 15px;
	overflow: auto;
}

.metro .log *
{
	display: block;
	margin: 0;
	white-space: nowrap;
}

.metro .log .info
{
	color: #16499a;
}

.metro .log .warning
{
	color: #c29008;
}

.metro .log .debug
{
	color: #999;
}

.metro .log .error
{
	color: #e51400;
}

.errors
{
	color: red;
}

.metro p
{
	font-size: 10pt;
	white-space: normal;
}

p.subheader
{
	margin: 0 20px 20px;
}

.metro .title
{
	font-size: 24px;
	margin: 0 0 5px;
}

.table-wrapper
{
	margin: 10px -20px 20px;
}

.metro table
{
	clear: both;
}

.metro .table td
{
	cursor: pointer;
}

.metro .table th,
.metro .table td
{
	padding: 5px 10px;
}

.metro .table th:first-child,
.metro .table td:first-child
{
	padding-left: 20px;
}

.metro .table th:last-child,
.metro .table td:last-child
{
	padding-right: 20px;
}

.metro .table td.product-name,
.metro .table td.product-id
{
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.metro .table td.product-id
{
	max-width: 150px;
}

.metro .table td .product-img
{
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 40px;
}

.metro .table td .product-img .fa
{
	margin: -4px 0 0;
	vertical-align: middle;
}

.metro .table td .product-img .image
{
	background-blend-mode: darken;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: relative;
	width: 100%;
}

.metro .table tr:hover td .product-img .image
{
	background-color: rgba(28, 183, 236, 0.1);
}

.metro .table tr.selected td .product-img .image
{
	background-color: #b3ebfb;
}

.metro .table thead th
{
	vertical-align: middle;
}

.metro .table tbody tr:last-child td
{
	border-bottom: 1px solid #eaeaea;
}

.metro .table thead th
{
	border-bottom: 1px solid #eaeaea;
}

.metro .input-control.checkbox .check,
.metro .input-control.radio .check
{
	margin: 2px 5px 0 0;
	vertical-align: top;
}

.login .preload {
	position: absolute;
	top: 32px;
	left: 0;
	right: 0;
	margin-bottom: 0;
}

.metro button *
{
	margin: 0 0 5px;
}

.metro .toolbar button, .metro .toolbar .button
{
	font-size: 10pt;
}

.metro .tile-area .tile-area-title
{
	position: absolute;
}

.metro .tile-area .user-id
{
	color: #333;
	right: 132px;
	position: absolute;
}

.metro .tile-area .user-id:hover
{
	background: #c1c1c6;
}

.metro .tile-area .user-id .user-id-image
{
	background: #677585;
	color: #fff;
}

.metro .pagination li a
{
	background: none;
	color: #2a6496;
	font-family: Helvetica;
	font-size: 12px;
	line-height: 20px;
	padding: 5px 10px;
}

.metro .pagination li a:hover
{
	background: #eee;
}

.metro .pagination li.active a
{
	background: #428bca;
	color: #fff;
	cursor: default;
}

.metro .item-title
{
	font-size: 10pt;
	margin: 10px 0 0;
}

.metro .hint2
{
	padding: 5px 10px;
}

.metro .input-control label
{
	font-size: 12px;
}

.metro .input-control.checkbox
{
	margin: 0;
}

.metro .input-control.checkbox .check:after,
.metro .input-control.radio .check:after
{
	font-size: 7pt;
	line-height: 6pt;
}

.metro .input-control.checkbox .check,
.metro .input-control.radio .check
{
	border-width: 1px;
	height: 14px;
	width: 14px;
}

.metro .input-control.radio.default-style input[type="radio"]:checked ~ .check:after
{
	height: 6px;
	width: 6px;
}

.metro .treeview
{
	background: none;
	margin: 0 0 15px;
}

.metro .treeview .node a
{
	padding: 0;
}

.metro .treeview a.active
{
	background: #e1e1e1;
	color: #1d1d1d;
	font-weight: bold;
}

.metro .treeview .node ul li a
{
	padding: 0 0 0 15px;
}

.metro .treeview .node .node li a
{
	padding: 0 0 0 30px;
}

.metro .treeview .node .node .node li a
{
	padding: 0 0 0 40px;
}

.metro .treeview .node .node .node .node li a
{
	padding: 0 0 0 50px;
}

.metro .treeview .node .node .node .node .node li a
{
	padding: 0 0 0 60px;
}

.metro .treeview .collapsed > ul
{
	display: none;
}

.metro fieldset
{
	margin: 0 0 15px;
}

.metro .context-menu
{
	background: #333;
	border: none;
	min-width: inherit;
	padding: 10px 5px;
	position: fixed;
}

.metro .context-menu li
{
	border: none;
	color: #fff;
	height: auto;
	min-height: inherit;
	font-size: 12px;
	margin: 0 !important;
	padding: 5px 10px;
}

.metro .context-menu li:first-child
{
	border-top: none;
}

.metro .context-menu li:hover
{
	background: none;
	color: #2daded;
}

.metro .context-menu li .ico
{
	display: inline-block;
	font-size: 20px;
	float: none;
	margin: 0;
	vertical-align: middle;
	width: 25px;
}

.left-menu
{
	bottom: 0;
	left: 0;
	position: fixed;
	top: 0;
	width: 90px;
	z-index: 800;

	-webkit-box-shadow: 5px 0 0 rgba(31, 35, 39, .2);
	   -moz-box-shadow: 5px 0 0 rgba(31, 35, 39, .2);
			box-shadow: 5px 0 0 rgba(31, 35, 39, .2);
}

	.left-menu .block
	{
		height: 100%;
		margin: 0;
		position: relative;
	}

		.left-menu .block ul
		{
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.left-menu .block .dropdown
		{
			background: #2e3639;
			border-left: 3px solid #3b4244;
			bottom: 0;
			height: 100%;
			left: -435px;
			position: fixed;
			top: 0;
			visibility: hidden;
			width: 435px;
			z-index: 50;

			-webkit-transition: all .15s linear 0s;
			   -moz-transition: all .15s linear 0s;
					transition: all .15s linear 0s;

			-webkit-box-shadow: 5px 0 0 rgba(31, 35, 39, .2);
			   -moz-box-shadow: 5px 0 0 rgba(31, 35, 39, .2);
					box-shadow: 5px 0 0 rgba(31, 35, 39, .2);
		}

		.left-menu .block .dropdown.opened
		{
			left: 85px;
			visibility: visible;
		}

			.left-menu .block .dropdown .title
			{
				color: #fff;
				font-family: wf_segoe-ui_semilight, "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
				font-size: 22px;
				font-weight: 400;
				height: 75px;
				line-height: 28px;
				padding: 33px 70px 14px 25px;

				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
						box-sizing: border-box;
			}

			.left-menu .block .dropdown .content
			{
				height: calc(100% - 75px);
			}

				.left-menu .block .dropdown .content .inner
				{
					height: 100%;
					margin: 0 35px 0 25px;
					position: relative;
				}

				.left-menu .block .dropdown .content header
				{
					height: 50px;
				}

					.left-menu .block .dropdown .content header a
					{
						color: #84898a;
						float: right;
						fill: #84898a;
						height: 26px;
						line-height: 26px;
						overflow: hidden;
						margin-left: 30px;
					}

						.left-menu .block .dropdown .content header a span
						{
							float: left;
							font-size: 16px;
							line-height: 25px;
							margin-right: 10px;
						}

						.left-menu .block .dropdown .content header a .icon {
							font-size: 22px;
							position: relative;
							top: 3px;
						}

						.left-menu .block .dropdown header a .ico
						{
							float: right;
							height: 25px;
							margin: 1px 0 0;
							width: 25px;
						}

				.left-menu .block .dropdown .content .scrollable
				{
					height: calc(100% - 50px);
					overflow: auto;
				}

					.left-menu .block .dropdown .content .scrollable .list
					{
						list-style: none;
						margin: 0;
						padding: 0;
						position: static;
					}

						.left-menu .block .dropdown .content .scrollable .list li
						{
							border-top: 1px solid #585e60;
							display: block;
							margin: 0;
							width: 100%;
						}

							.left-menu .block .dropdown .content .scrollable .list li a
							{
								border: none;
								color: #fff;
								display: block;
								font-size: 14px;
								padding: 0 15px;
								height: 71px;
								line-height: 71px;
								text-align: left;

								-webkit-box-shadow: none;
										box-shadow: none;
							}

							.left-menu .block .dropdown .content .scrollable .list li a:hover
							{
								background: #212628;
							}

								.left-menu .block .dropdown .content .scrollable .list li i
								{
									display: inline-block;
									font-size: 24px;
									margin: -6px 30px 0 0;
									vertical-align: middle;
								}

					.left-menu .block .dropdown .content .menu
					{
						position: static;
					}

						.left-menu .block .dropdown .content .menu li
						{
							border: none;
							display: block;
							height: 72px;
							line-height: 72px;
							margin: 0;
							width: auto;
						}

							.left-menu .block .dropdown .content .menu li a
							{
								border-bottom: 1px solid #dcdfe2;
								border-bottom-color: #3c454f;
								color: #fff;
								display: block;
								font-family: wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
								font-size: 14px;
								font-weight: 400;
								overflow: hidden;
								padding: 0;
								text-align: left;
								text-transform: none;
							}

							.left-menu .block .dropdown .content .menu li a:hover
							{
								background: #1f2327;
							}

							.left-menu .block .dropdown .content .menu li + li a
							{
								border-top: none;
							}

								.left-menu .block .dropdown .content .menu li a .icon
								{
									float: left;
									height: 100%;
									margin: 0;
									width: 50px;
								}

									.left-menu .block .dropdown .content .menu li a .icon svg,
									.left-menu .block .dropdown .content .menu li a .icon img
									{
										display: block;
										height: 30px;
										padding: 20px 10px;
										width: 30px;

										-webkit-box-sizing: content-box;
										   -moz-box-sizing: content-box;
												box-sizing: content-box;
									}

									.msportalfx-svg-c16
									{
										fill: #3999c6;
									}

									.msportalfx-svg-c15
									{
										fill: #59b4d9;
									}

									.msportalfx-svg-c14
									{
										fill: #7FBA00;
									}

									.msportalfx-svg-c13
									{
										fill: #b8d432;
									}

									.msportalfx-svg-c01
									{
										fill: #fff;
									}

									.msportalfx-svg-c04
									{
										fill: #7a7a7a;
									}

									.msportalfx-svg-c19
									{
										fill: #0072c6;
									}

									.msportalfx-svg-c01
									{
										fill: #fff;
									}

			
			
			.left-menu .block .dropdown .list li a.item.notif {
				display: block;
				padding: 20px;
				height: auto;
				line-height: 1.5;
			}

					.left-menu .block .dropdown .list li .item.notif .head {
						display: block;
						height: auto;
						/*padding: 10px 0;*/
					}

					.left-menu .block .dropdown .list .item.notif .title {
						height: auto;
						font-size: 14px;
						text-transform: none;
						line-height: 1.5;
						display: inline;
						font-weight: bold;
						padding: 0;
						text-align: left;
					}

					.left-menu .block .dropdown .list .item.notif .date {
						float: right;
						font-size: 14px;
						text-transform: none;
						line-height: 1.5;
						display: inline;
						color: #fff;
						font-weight: normal;
					}

					.left-menu .block .dropdown .list .item.notif .pic {
						display: block;
						float: left;
						width: 30px;
						height: 30px;
						overflow: hidden;
						padding: 0;
						margin-top: 5px;
					}

						.left-menu .block .dropdown .list .item.notif .pic .icon {
							line-height: 30px;
							text-align: center;
							width: 30px;
						}
						.left-menu .block .dropdown .list .item.notif.warning .pic .icon {
							color: #f0a30a;
						}
						.left-menu .block .dropdown .list .item.notif.error .pic .icon {
							color: #e51400;
						}
						.left-menu .block .dropdown .list .item.notif.info .pic .icon {
							color: #4390df;
						}

					.left-menu .block .dropdown .list .item.notif .desc_outer {
						display: block;
						overflow: hidden;
						padding-top: 10px;
					}

						.left-menu .block .dropdown .list .item.notif .desc {
							display: block;
							font-size: 12px;
							text-transform: none;
							margin-left: 40px;
							font-weight: lighter;
						}

				.left-menu .block .dropdown .list .item.notif .progress-bar {
					background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
					background-size: 20px 20px;
					-webkit-animation: 1s linear 0s normal none infinite progress_bar;
					animation: 1s linear 0s normal none infinite progress_bar;
					margin-bottom: 0;
					margin-top: 10px;
					background-color: #212628;
				}


			.left-menu .block .dropdown .close
			{
				color: #fff;
				cursor: pointer;
				font-size: 24px;
				height: 24px;
				opacity: .3;
				position: absolute;
				right: 30px;
				top: 28px;
				width: 24px;

				-webkit-transition: all 0.2s ease-out 0s;
				   -moz-transition: all 0.2s ease-out 0s;
						transition: all 0.2s ease-out 0s;
			}

			.left-menu .block .dropdown .close:hover
			{
				opacity: 1;
			}

				.left-menu .block .dropdown .close img
				{
					display: block;
					height: 24px;
					width: 24px;
				}

		.left-menu .block .bar
		{
			background: #212628;
			height: 100%;
			position: relative;
			z-index: 100;
		}

			.left-menu ul
			{
				left: 0;
				position: absolute;
				right: 0;
			}

			.left-menu ul.top
			{
				top: 0;
			}

			.left-menu ul.bot
			{
				bottom: 0;
			}

				.left-menu ul li.logo span
				{
					display: block;
					padding: 20px 0;
					text-align: center;
				}

				.left-menu ul li.logo .version
				{
					color: #fff;
					font-size: 14px;
					padding: 0;
				}

				.left-menu ul li.logo img
				{
					display: inline-block;
					margin: 0 0 10px;
					max-width: 35px;
				}

					.left-menu ul li a
					{
						color: #8d9aa6;
						display: block;
						font-family: "Segoe UI";
						font-size: 10px;
						padding: 20px 0;
						position: relative;
						text-align: center;
						text-decoration: none;
						text-transform: uppercase;

						-webkit-box-sizing: border-box;
						   -moz-box-sizing: border-box;
								box-sizing: border-box;

						-webkit-transition: all .09s ease-in 0s;
						   -moz-transition: all .09s ease-in 0s;
								transition: all .09s ease-in 0s;
					}

					.left-menu ul.bot li a
					{
						background: #2b3137;
					}

					.left-menu ul li a.attractive {
						-webkit-animation: attractive  4s ;
						animation: attractive  4s ;
						/*background-color: #4390df;*/
					}

					.left-menu ul li a:hover
					{
						background: #2a3033;
					}

					.left-menu ul.bot li a:hover
					{
						background: #464f59;
					}

					.left-menu ul li.active a
					{
						background: #2e3639;
						border-bottom: transparent;
						border-top: transparent;
						margin: 0 -3px 0 0;
					}

					.left-menu ul.top .home img
					{
						max-width: 45px;
					}

						.left-menu .top li a .progress-bar {
							position: absolute;
							top: 68px;
							background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
							background-size: 20px 20px;
							-webkit-animation: 1s linear 0s normal none infinite progress_bar;
							animation: 1s linear 0s normal none infinite progress_bar;
						}

						.left-menu ul li a .icon
						{
							display: inline-block;
							height: 21px;
							margin: 0 0 10px;
						}

						.left-menu ul li a.positive .icon {
							position: relative;
							left: 10px;
						}

						.left-menu ul li a .qnt {
							display: none;
							text-align: center;
							font-size: 23px;
							position: absolute;
							top: 19px;
							right: 45px;
							color: #fff;
						}

						.left-menu ul li a.positive .qnt {
							display: block;
						}

						.left-menu ul li.home a .icon
						{
							margin: 0 0 5px;
							width: 30px;
						}

							.left-menu ul li a .icon i
							{
								color: #fff;
								font-size: 21px;
							}

							.left-menu ul li a,
							.left-menu ul li a .icon i
							{
								-webkit-transition: all .4s ease 0s;
										transition: all .4s ease 0s;
							}

							.left-menu ul li a:hover,
							.left-menu ul li a:hover .icon i,
							.left-menu ul li.active a,
							.left-menu ul li.active a .icon i
							{
								color: #2daded;
							}

							.msportalfx-svg-c01
							{
								fill: #fff;
							}

							.msportalfx-svg-c13
							{
								fill: #b8d432;
							}

						.left-menu ul li a .name
						{
							display: block;
						}

.metro .vertical-menu.compact .selected a
{
	font-weight: bold;
	font-size: 16px;
}

.metro .navigation-bar .navigation-bar-content .element > .dropdown-menu,
.metro .left-menu .navigation-bar-content .element > .dropdown-menu,
.metro .navigation-bar .left-menu-content .element > .dropdown-menu,
.metro .left-menu .left-menu-content .element > .dropdown-menu
{
	left: auto !important;
	top: 100% !important;
}

.metro .toolbar.transparent button,
.metro .toolbar .transparent button,
.metro .toolbar.transparent .button,
.metro .toolbar .transparent .button
{
	border: none;
}

.metro .toolbar.transparent button,
.metro .toolbar .transparent button,
.metro .toolbar.transparent button .on-left,
.metro .toolbar .transparent button .on-left
{
	-webkit-transition: all .4s ease 0s;
			transition: all .4s ease 0s;
}

.metro .toolbar.transparent button:hover,
.metro .toolbar .transparent button:hover,
.metro .toolbar.transparent button:hover .on-left,
.metro .toolbar .transparent button:hover .on-left
{
	background: none;
	border: none;
	color: #2daded;
}

.metro .toolbar.transparent button.disabled:hover .on-left,
.metro .toolbar .transparent button.disabled:hover .on-left
{
	color: #bebebe;
}

.metro .blade-head button:active
{
	background-color: transparent !important;
	color: #2daded !important;
}

.metro .blade-head button:disabled:active,
.metro .blade-head button.disabled:active
{
	color: #bebebe !important;
}

.clear
{
	margin: 0 0 5px;
}

.clear a
{
	font-size: 8pt;
}

.metro legend
{
	margin: 0;
}

.metro .blade-head button
{
	color: #fff;
}

.metro .blade-head button:disabled,
.metro .blade-head button:disabled:hover
{
	background: none;
	opacity: .5;

	filter: alpha(opacity=50);
}

.metro .blade-head button i
{
	display: block;
}

.metro button:disabled,
.metro button.disabled,
.metro button:disabled:hover
{
	background: #eee;
}

.metro .input-control.switch
{
	margin: 0;
	vertical-align: top;
}

.metro .input-control.switch label
{
	margin: 0 0 5px;
}

.metro .input-control.switch .check
{
	outline-width: 1px;
}

.metro .input-control.switch .check:after
{
	background: #fff;
	border-color: #fff;
	outline: 2px solid #fff;
}

.metro .input-control.switch .check:after
{
	bottom: 1px;
	height: auto;
	left: auto;
	right: 1px;
	outline-width: 1px;
	top: 1px;
}

.metro .input-control.switch input[type="checkbox"]:checked ~ .check:after
{
	left: 1px;
	right: auto;
}

.main-content
{
	left: 90px;
	overflow-x: auto;
	overflow-y: hidden;
	position: fixed;
	right: 0;
	white-space: nowrap;
	z-index: 500;
}

.main-content > .inner
{
	display: inline-block;
	height: 100%;
	word-spacing: -5px;
	margin-right: 100%;
}

.dashboard
{
	background: #f1f1f8;
	display: inline-block;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	vertical-align: top;
	word-spacing: 0;
}

.metro .tile-area .user-id.opened
{
	background: #c1c1c6;
}

.metro .tile-area .user-id .dropdown
{
	background: #c1c1c6;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 59px;
}

.metro .tile-area .user-id .dropdown ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.metro .tile-area .user-id .dropdown ul li a
{
	color: #fff;
	display: block;
	padding: 10px 54px 10px 10px;
	position: relative;
}

.metro .tile-area .user-id .dropdown ul li a:hover
{
	background: #808c99;
}

.metro .tile-area .user-id .dropdown ul li.sign-out a:after
{
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNp8U8sNwjAMbVAHqJigXDmlE0A3YAO6Adw5tBfOhQmACegGLRv0xBUmQB0BGznSw0piybIaf57z8mqSgH2Wh4zCnvw6fx7fvppZEjZurMnbUEGqkNbko0LKIL8h7yg/aeQL+V2iz2rJ9X9r09RKprI9As3u3FJ9g8g7iQOt1Pg66bxj8uRzi81W4jmJm8vnhG4121Osk9BHJDKN1PKaK9yG0HLfU/HT5HKXAVBKNbCCLQa39s0l+S4BxVkg9kecAQG8RBCTrHpiMYA4WsgXLCSjJvdOUQHjxtIRN1NMLuAtfQQWyLiJ/FF499HpGe0rwACVs1U6dr6a3wAAAABJRU5ErkJggg==");
	height: 15px;
	margin: 2px 0 0;
	position: absolute;
	right: 20px;
}

.metro .tile-area .user-id.opened .dropdown
{
	display: block;
}

.metro .grid-list,
.metro .list-extended
{
	list-style: none;
	margin: 0 -20px 15px;
	padding: 0;
}

.grid-list li,
.list-extended li
{
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	font-size: 14px;
	overflow: hidden;
	padding: 15px 20px;
	position: relative;
}

.grid-list li:first-child,
.list-extended li:first-child
{
	border-top: 1px solid #ddd;
}

.list-extended li
{
	min-height: 61px;
}

.grid-list > li:after,
.list-extended > li:after
{
	content: '';
	font-family: 'FontAwesome';
	font-size: 16px;
	position: absolute;
	right: 20px;
	top: 50%;

	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}

.grid-list > li.null:after,
.list-extended > li.null:after
{
	content: '';
}

.grid-list li:hover,
.list-extended li:hover
{
	background: #d9f5fd;
}

.grid-list li.active,
.list-extended li.active
{
	background: #b3ebfb;
}

.grid-list li.disabled,
.list-extended li.disabled
{
	pointer-events: none;
	position: relative;
}

.grid-list li.disabled:after,
.list-extended li.disabled:after
{
	content: '';
	font-size: 16px;
	right: 20px;
}

.list-extended > li .ico
{
	color: #444;
	float: left;
	font-size: 32px;
	margin: 0 15px 0 0;
	vertical-align: middle;
	width: 35px;
}

.list-extended > li .name
{
	display: inline-block;
	line-height: 1.2;
	margin: 5px 0 0;
	vertical-align: middle;
}

.list-extended li .title,
.list-extended li .sub-title
{
	display: block;
	line-height: 1.3;
	margin: 0 30px 0 50px;
    white-space: normal;
}

.list-extended li .title
{
	color: #999;
	font-size: 15px;
}

.list-extended li .sub-title
{
	font-size: 13px;
}

.metro .list-title
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0 10px;
}

.metro .list-checkboxes
{
	list-style: none;
	margin: 0 -20px;
	padding: 0;
}

.list-checkboxes li:first-child
{
	border-top: 1px solid #ccc;
}

.list-checkboxes li
{
	border-bottom: 1px solid #ccc;
	font-size: 10pt;
}

.list-checkboxes li:hover
{
	background: #d9f5fd;
}

.list-checkboxes li.disabled
{
	background: #eee;
	pointer-events: none;
}

.list-checkboxes li label
{
	display: block;
	margin: 0;
	padding: 15px 20px;
	position: relative;
}

.list-checkboxes li .switch
{
	bottom: -1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 1px;
}

.list-checkboxes li :checked ~ .switch
{
	border-color: transparent;
	margin: -3px 0 0;

	-webkit-box-shadow: 0 0 0 2px #00bcf2 inset;
			box-shadow: 0 0 0 2px #00bcf2 inset;
}

.list-checkboxes li :checked ~ .switch:after
{
	color: #fff;
	content: '';
	font-family: 'Iconfont';
	font-size: 10px;
	position: absolute;
	right: 5px;
	top: 0;
}

.list-checkboxes li :checked ~ .switch:before
{
	border-color: #00bcf2 #00bcf2 transparent transparent;
	border-style: solid;
	border-width: 16px;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.list-checkboxes li input
{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}

/* Blades */
.blade
{
	background: #fff;
	border-right: 4px solid #a6a6a6;
	display: inline-block;
	height: 100%;
	position: relative;
	vertical-align: top;
	word-spacing: 0;
	z-index: 500;

	-webkit-transition: none;
			transition: none;
}

.blade.gray
{
	background: #eee;
}

.blade.last-child
{
	margin-right: 85px;
}

.blade-head
{
	background: #222;
	height: 155px;
	padding: 35px 0 5px;
	position: relative;
    min-width: 300px;

	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.blade-head .blade-status-bar
{
	background: #111;
	content: '';
	display: block;
	height: 24px;
	line-height: 24px;
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
	z-index: 5;
	color: #fff;
	font-size: 12px;
}

.blade-head .blade-status-bar.error {
	-webkit-animation: bladeError  4s ;
	animation: bladeError  4s ;
}

.blade-head .blade-status-bar .icon {
	margin: 0 10px;
	color: #e51400;
	font-size: 15px;
}

.blade-head .progress
{
	height: 24px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}

.metro .progress-bar
{
	background: none;
	height: 24px;
}

.metro .progress-bar.preload
{
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 20px 20px;
	-webkit-animation: 1s linear 0s normal none infinite progress_bar;
			animation: 1s linear 0s normal none infinite progress_bar;
}

.metro .progress-bar.preload.gray {
	background-color: #d9d9d9;
}

.blade .bar
{
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 20px 20px;

	-webkit-animation: 1s linear 0s normal none infinite progress_bar;
			animation: 1s linear 0s normal none infinite progress_bar;
}

.blade-head .title
{
	height: 42px;
	left: 20px;
	padding: 0 0 0 60px;
	position: absolute;
	right: 20px;
}

.blade-head .title i
{
	color: #fff;
    font-size: 32px;
    left: 10px;
    position: absolute;
    top: 8px;
}

.blade-title.subheader
{
	color: #fff;
	font-size: 16px;
	line-height: 1.4;
	margin: 14px 0 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.blade-head .title.secondary .subheader
{
	margin: 4px 0 2px;
}

.blade-subtitle.subheader-secondary
{
	color: #bbb;
	font-size: 12px;
	line-height: 1;
	margin: 0;
	top: 70px;
}

.blade-title.subheader,
.blade-subtitle.subheader-secondary
{
	font-family: 'Segoe UI';

	-webkit-transition: none;
			transition: none;
}

.blade-head-nav
{
	position: absolute;
	right: 1px;
	top: 0;
	z-index: 10;
}

.blade-head .progress ~ .blade-head-nav .btn-min:after,
.blade-head .progress ~ .blade-head-nav .btn-max:after
{
	border-color: #fff;

	-webkit-box-sizing: content-box;
			box-sizing: content-box;
}

.blade-head-nav .btn-min,
.blade-head-nav .btn-max,
.blade-head-nav .btn-close
{
	background: none;
	font-family: "Cambria_","PT Serif Caption",Verdana,Arial,Helvetica,sans-serif;
	font-size: 16pt;
	height: 24px;
	position: absolute;
	padding: 0 0 10px;
}

.blade-head-nav .btn-min:hover,
.blade-head-nav .btn-max:hover,
.blade-head-nav .btn-close:hover
{
	background: #00aff0;
}

.blade-head-nav .btn-min,
.blade-head-nav .btn-max
{
	width: 35px;
}

.blade-head-nav .btn-min
{
	right: 35px;
}

.blade-head-nav .btn-max
{
	right: 35px;
}

.blade-head-nav .btn-close
{
	right: 0;
	width: 35px;
}

.blade-head-nav .btn-min:after,
.blade-head-nav .btn-max:after
{
	border-color: #fff;
    border-style: solid;
    border-width: 0 0 2px;
    bottom: 6px;
    content: " ";
    display: block;
    height: 10px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    top: auto;
    width: 10px;
}

.blade-head-nav .btn-min:hover:after,
.blade-head-nav .btn-max:hover:after
{
	border-color: #fff;
}

.blade-head-nav .btn-max:after
{
	border-color: #fff;
    border-style: solid;
    border-width: 2px 1px 1px;
    height: 6px;
}

.blade-head-nav .btn-close:after
{
	color: #fff;
	content: "×";
    left: 50%;
    margin-left: -0.3em;
    position: absolute;
    top: 0;
}

.blade-head-nav .btn-close:hover:after
{
	color: #fff;
}

.blade-toolbar
{
	border-top: 1px solid #323232;
	bottom: 0;
	height: 48px;
	left: 0;
	padding: 1px 100px 0 20px;
	position: absolute;
	right: 0;

	-webkit-box-shadow: 0 1px #111 inset;
			box-shadow: 0 1px #111 inset;
}

.metro .toolbar button,
.metro .toolbar .button
{
	font-family: 'Segoe UI';
	font-size: 12px;
	padding: 9px 10px;
}

.metro .blade-head button .on-left
{
	font-size: 20px;
	margin: 0 0 3px;
}

.metro .blade-head button .on-left.fa-upload,
.metro .blade-head button .on-left.fa-trash,
.metro .blade-head button .on-left.fa-trash-o
{
	position: relative;
	top: -2px;
}

.blade-switch
{
	bottom: 5px;
	position: absolute;
	right: 15px;
}

.blade-sw-title
{
	color: #999;
	display: block;
	font-size: 11px;
	line-height: 1.4;
}

.blade-sw-title.uppercase
{
	text-transform: uppercase;
}

.blade-content
{
	white-space: normal;
	width: 412px;
}

.blade-content,
.blade-wrapper
{
	height: 100%;
}

.blade-content.blade-medium
{
	width: 595px;
}

.blade-content.blade-large
{
	width: 775px;
}

.blade-content.blade-xlarge
{
	width: 955px;
}

.blade-content .blade-inner
{
	height: 100%;
	padding: 0 20px;
	overflow-x: hidden;
	overflow-y: auto;

	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.blade-container .static.top + .static-.bottom ~ .blade-content
{
	height: calc(100% - 200px);
}

.blade-container .static.bottom ~ .blade-content,
.blade-container .static.top ~ .blade-content
{
	height: calc(100% - 70px);
}

.blade-container .static.bottom ~ .blade-content,
.blade-container .static.top.expanded ~ .blade-content
{
	height: calc(100% - 100px);
}

.blade-actions
{
	border-top: 2px solid #dcdfe2;
	height: 115px;
	overflow: auto;
	padding: 20px 25px;
	position: relative;
	z-index: 500;

	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.blade-actions button,
.blade-container .static button
{
	background: #00bcf2;
	color: #fff;
	display: block;
	height: 35px;
	margin: 5px 0 0;
	padding: 1px 6px;
	min-width: 90px;

	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.blade-actions button.disabled,
.blade-container .static button.disabled
{
	background-color: #eee;
}

.blade-actions button:hover,
.blade-container .static button:hover
{
	background: #0072c6;
}

.blade-actions button span,
.blade-container .static button span
{
	font-family: 'Open Sans';
	font-size: 13px;
	margin: 0;
}

.blade.actions .blade-content
{
	height: calc(100% - 270px);
}

.metro .breadcrumbs
{
	list-style: none;
	margin: 0 20px 10px;
	padding: 0;
}

.metro .breadcrumbs li
{
	display: inline-block;
	font-size: 14px;
}

.metro .breadcrumbs .devider
{
	color: #ccc;
	margin: 0 5px 0 0;
}

.blade-actions p
{
	font-weight: bold;
}

.blade-actions p.normal
{
	font-weight: normal;
}

.blade-actions ul
{
	list-style: none;
	margin: 0 0 15px;
	padding: 0;
}

.blade-actions ul li
{
	font-size: 14px;
	margin: 2px 0;
}

.blade-actions ul li span
{
	display: inline-block;
	padding: 2px 5px;
}

.blade-actions ul li .cancel
{
	display: inline-block;
	font-size: 12px;
	height: 20px;
	padding: 2px;
	visibility: hidden;
}

.blade-actions ul li:hover span
{
	background: rgba(28, 183, 236, .1);
}

.blade-actions ul li:hover .cancel
{
	vertical-align: text-top;
	visibility: visible;
}

/* Blade new changes */
.blade-container
{
	height: calc(100% - 155px);
	position: relative;
}

.blade-container .static
{
	background: #fff;
	border-bottom: 2px solid #dcdfe2;
	height: 70px;
	padding: 15px 0 0;
}

.blade-container .static.expanded
{
	height: 100px;
}

.blade-container .static.bottom
{
	border-bottom: none;
	border-top: 2px solid #dcdfe2;
	bottom: 0;
	height: 100px;
	left: 0;
	padding: 10px 20px 0;
	position: absolute;
	right: 0;
	z-index: 800;
}

.blade-container .static .input-search
{
	float: left;
	margin: 0 0 10px 20px;
	width: 70%;
}

.list-selected
{
	margin: 15px 0 0;
}

.list-selected ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-selected ul li
{
	display: inline-block;
	padding: 0 20px 0 0;
	position: relative;
	vertical-align: top;
}

.list-selected ul li span
{
	background: #f5f5f5;
	display: block;
	font-size: 12px;
	padding: 2px 5px;
}

.list-selected ul li .del
{
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding: 1px 0;
	position: absolute;
	right: 5px;
	top: 0;
}

.list-items
{
	margin: 15px 0 0;
}

.list-i-title
{
	position: relative;
}

.list-i-title a
{
	font-size: 8pt;
	position: absolute;
	right: 0;
	top: 0;
}

.dashboard .tile
{
	background: #fff;
	padding: 16px;
}

.dashboard .tile.half
{
	padding: 12px;
}

.dashboard .tile i
{
	color: #000;
	font-size: 50px;
	margin: 15px 0 0;
	text-align: center;
}

.dashboard .tile.half i
{
	font-size: 16px;
	margin: 5px 0 0;
}

.dashboard .tile.double.double-vertical i
{
	font-size: 120px;
	margin: 40px 0 0;
}

.dashboard .tile p.count
{
	font-size: 40px;
	line-height: 1.4;
	margin: 15px 0 0;
}

.dashboard .tile p.count.mini
{
	font-size: 20px;
	line-height: 1;
	margin: 5px 0 0;
	text-align: center;
}

.dashboard .tile p.text
{
	font-size: 12px;
}

.dashboard .tile ul,
.dashboard .tile ol
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.dashboard .notice-list li
{
	font-size: 12px;
	margin: 1px 0;
	padding: 0 5px;

	-webkit-border-radius: 3px;
			border-radius: 3px;
}

.dashboard .notice-list li:hover
{
	opacity: .9;

	filter: alpha(opacity=90);
}

.tiles .tile p
{
	margin: 0;
}

.tiles .tile p,
.tiles .tile a
{
	font-size: 14px;
	line-height: 1;
}

.tiles .tile .list
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.tiles .tile .list li
{
	display: inline-block;
	height: 40px;
	vertical-align: top;
	width: 40px;
}

.tiles .tile .list li span
{
	color: #999;
	display: block;
	font-size: 9px;
	line-height: 9px;
	margin: 4px 0 0;
}

.tiles .tile img
{
	display: inline-block;
	margin: -8px 0 0;
	max-width: 100%;
	padding: 4px;
	vertical-align: middle;

	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.tiles .tile .big
{
	height: 45px;
	margin: 0 0 5px;
	width: 45px;
}

.tiles .tile .previews
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.tiles .tile .previews li
{
	float: left;
	width: 30px;
}

.tiles .tile .previews li + li
{
	margin: 0 0 0 5px;
}

.tiles .tile .previews li span
{
	color: #999;
	display: block;
	font-size: 9px;
	line-height: 9px;
	margin: 4px 0 0;
	white-space: normal;
	word-wrap: break-word;
}

.table img
{
	max-width: 40px;
}

.property-title
{
	position: relative;
}

.property-title .attrs
{
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.property-title .attrs li
{
	color: #2e92cf;
	display: inline-block;
	font-size: 10px;
	margin: 0 0 0 10px;
}

.columns .column
{
	display: inline-block;
	width: 48%;
	vertical-align: top;
}

.columns .column + .column
{
	margin: 0 0 0 2%;
}

.left-menu,
.main-content
{
	bottom: 0;
	position: fixed;
	top: 0;
}

/* Animated */
@-webkit-keyframes progress_bar
{
	0%
	{
		background-position: 20px 0;
	}

	100%
	{
		background-position: 0 0;
	}
}

@keyframes progress_bar
{
	0%
	{
		background-position: 20px 0;
	}

	100%
	{
		background-position: 0 0;
	}
}

@keyframes attractive
{
	0% {
		background-color: none;
	}

	10% {
		background-color: #4390df;
		color: #fff;
	}
	
	70% {
		background-color: #4390df;
		color: #fff;
	}

	100% {
		background-color: none;
	}
}
@-webkit-keyframes attractive
{
	0% {
		background-color: none;
	}

	10% {
		background-color: #4390df;
		color: #fff;
	}
	
	70% {
		background-color: #4390df;
		color: #fff;
	}

	100% {
		background-color: none;
	}
}

@keyframes bladeError
{
	0% {
		background-color: #111;
	}

	10% {
		background-color: #e51400;
		color: ##e51400;
	}
	
	70% {
		background-color: #e51400;
	}

	100% {
		background-color: #111;
	}
}
@-webkit-keyframes bladeError
{
	0% {
		background-color: #111;
	}

	10% {
		background-color: #e51400;
		color: ##e51400;
	}
	
	70% {
		background-color: #e51400;
	}

	100% {
		background-color: #111;
	}
}

/* Bootstrap modals */
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-footer:after {
  clear: both;
}


/* textAngular styles */

.btn-toolbar {
	overflow: hidden;
}

.btn-toolbar .span5 {
	float: left;
	background-color: #d9d9d9;
}



/* notification blade */

.notify.list .item.notif {

}
	.notify.list .col {
		text-align: left;
		white-space: normal;
	}
	.notify.list .item.notif .col {
		/*display: block;*/
		padding: 20px;
		height: auto;
		line-height: 1.5;
		vertical-align: middle;
	}

	.notify.list .item.notif .head {
		display: block;
		height: auto;
		/*padding: 10px 0;*/
	}

	.notify.list .item.notif .title {
		height: auto;
		font-size: 14px;
		text-transform: none;
		line-height: 1.5;
		display: inline;
		font-weight: bold;
		padding: 0;
		text-align: left;
	}

	.notify.list .item.notif .date {
		float: right;
		font-size: 14px;
		text-transform: none;
		line-height: 1.5;
		display: inline;
		font-weight: normal;
		white-space: nowrap;
	}

	.notify.list .item.notif .pic {
		display: block;
		float: left;
		width: 30px;
		height: 30px;
		overflow: hidden;
		padding: 0;
		margin-top: 5px;
	}

	.notify.list .item.notif .pic .icon {
		line-height: 30px;
		text-align: center;
		width: 30px;
		font-size: 24px;
	}
	.notify.list .item.notif.notify_warning .pic .icon {
		color: #f0a30a;
	}
	.notify.list .item.notif.notify_error .pic .icon {
		color: #e51400;
	}
	.notify.list .item.notif.notify_info .pic .icon {
		color: #4390df;
	}

	.notify.list .item.notif .desc_outer {
		display: block;
		overflow: hidden;
		padding-top: 10px;
	}

	.notify.list .item.notif .desc {
		display: block;
		font-size: 12px;
		text-transform: none;
		font-weight: lighter;
	}

	.notify.list .item.notif .progress-bar {
		background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
		background-size: 20px 20px;
		-webkit-animation: 1s linear 0s normal none infinite progress_bar;
		animation: 1s linear 0s normal none infinite progress_bar;
		margin-bottom: 0;
		margin-top: 10px;
		background-color: #212628;
	}

	
	.table.sortable .sorted {
		background-color: #f1f1f8;
	}
	
	
	.table.sortable .th {
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none; 
	}

	.table.sortable .th.sorted {
		background-color: #4390df;
		color: #fff;
	}

	.table.sortable .th.sorted .icon {
		float: right;
		position: relative;
		right: 10px;
		top: 2px;
	}

	.table.sortable .th.sorted .icon.sort-down
	{
		top: 7px;
	}

	.table.sortable .th.sorted .icon:after
	{
		border-style: solid;
		border-width: 5px;
		content: '';
		position: absolute;
	}

	.table.sortable .th.sorted .icon.sort-up:after
	{
		border-color: transparent transparent #fff;
	}

	.table.sortable .th.sorted .icon.sort-down:after
	{
		border-color: #fff transparent transparent;
	}

/* Tree */
.metro .tree-view
{
	overflow-x: auto;
}

.metro .tree-scroll
{
	padding: 20px 0;
	text-align: center;
	width: 900px;
}

.metro .tree,
.metro .tree-item
{
	display: inline-block;
	position: relative;
	vertical-align: top;
	text-align: center;
}

.metro .tree-view ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.metro .tree
{
	
}

.metro .tree-item:first-child:before
{
	background: #fff;
	content: '';
	height: 2px;
	left: -1px;
	position: absolute;
	top: 0;
	width: 50%;
	z-index: 5;
}

.metro .tree-item:last-child:before
{
	background: #fff;
	content: '';
	height: 2px;
	right: -1px;
	position: absolute;
	top: 0;
	width: 50%;
	z-index: 5;
}

.metro .tree-block
{
	border: 2px solid #ccc;
	display: inline-block;
	margin: 10px 0;
	padding: 5px 0;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 140px;

	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.metro .tree-block.selected
{
	background: #d9f5fd;
	border-color: #b3ebfb;
}

.metro .tree-block .inner
{
	height: 100%;
	width: 100%;
}

.metro .tree-item.last .tree-block .inner:after
{
	background: #fff;
	content: '';
	height: 2px;
	left: -1px;
	position: absolute;
	top: -12px;
	width: 50%;
	z-index: 5;
}

.metro .tree-item.last .tree-block .inner:before
{
	background: #fff;
	content: '';
	height: 2px;
	position: absolute;
	right: -1px;
	top: -12px;
	width: 50%;
	z-index: 10;
}

.metro .first > :first-child:before
{
	display: none;
}

.metro .first > :first-child,
.metro .first > :first-child.selected
{
	background: #eee;
	border-color: #ccc;
}

.metro .tree-block:before
{
	background: #ccc;
	content: '';
	height: 10px;
	left: 50%;
	position: absolute;
	top: -10px;
	width: 2px;

	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
}

.metro .tree-node
{
	position: relative;
}

.metro .tree-node:after
{
	background: #ccc;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	right: 1px;
	top: 0;
}

.metro .tree-node:before
{
	background: #ccc;
	content: '';
	height: 10px;
	left: 50%;
	position: absolute;
	top: -10px;
	width: 2px;

	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
}

.metro .tree-el
{
	color: #666;
	display: block;
	font-size: 12px;
	line-height: 1;
	margin: 0;
	padding: 3px 0;
}


.metro .tree-el.title
{
	color: #16499a;
}

/* Order info */
.metro .order-info
{
	border-top: 1px solid #ccc;
	margin: 0 -20px;
	overflow: hidden;
	padding: 20px;
}

.metro .order-info .table-wrapper
{
	margin: 0 0 20px 20px;
}

.metro .order-info .order-currency
{
	margin: 0 0 0 20px;
	padding: 0 0 0 20px;
}

.column
{
	float: left;
}

.col-60
{
	width: 60%;
}

.col-50
{
	width: 50%;
}

.col-40
{
	width: 40%;
}

	.column .block
	{
		margin: 0 20px 20px 0;
	}

	.column:nth-child(2) .block
	{
		margin: 0 0 20px 20px;
	}

/* Transitions */
*
{
	-webkit-transition: all .4s ease 0s;
			transition: all .4s ease 0s;
}