<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="0.8.0" targetFramework="net461" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net461" />
</packages>