<div class="blade-static __bottom">
	<button class="btn" ng-click="blade.send()">
		<span>Test</span>
	</button>
</div>

<div class="blade-content __medium-wide">
	<div class="blade-inner" style="padding: 0">
		<div class="inner-block">
			<form class="form" style="padding: 0" name="formScope">
				<div class="form-group" ng-repeat="data in blade.currentParams">
					<label class="form-label">{{data}}</label>
					<div class="form-input">
						<input ng-model="blade.obj[data]" type="text" focus-on="" required="" placeholder="Enter {{data}}" class="form-control">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>