<div class="blade-content __large-wide">
	<div class="blade-inner">
		<div class="inner-block">
			<form class="form" name="edit">
				<div class="note" ng-init="setForm(edit)">
					<p>This is list of notification parameters. You can paste this code and value of parameters will be inserted in your template:</p>
					<br />
					<table style="border-collapse: collapse;">
						<tbody>
							<tr>
								<td style="border:1px solid #dddddd; padding: 6px; text-align:center;">Parameter name</td>
								<td style="border:1px solid #dddddd; padding: 6px; text-align:center;">Parameter description</td>
								<td style="border:1px solid #dddddd; padding: 6px; text-align:center;">Paremeter code in template (copy this code and insert anywhere in your template)</td>
							</tr>
							<tr ng-repeat="data in blade.parametersForTemplate">
								<td style="border:1px solid #dddddd; padding: 6px; text-align:center;">{{ data.parameterName }}</td>
								<td style="border:1px solid #dddddd; padding: 6px; text-align:center;">{{ data.parameterDescription }}</td>
								<td style="border:1px solid #dddddd; padding: 6px; text-align:center;">{{ data.parameterCodeInView }}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="form columns clearfix">
					<div class="column">
						<fieldset ng-if="blade.isNew">
							<legend>Language</legend>
						</fieldset>
						<div class=" form-group" ng-if="blade.isNew" style="margin-top:-16px;">
							<div class="form-input">
								<ui-select ng-model="blade.currentEntity.language">
									<ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
									<ui-select-choices repeat="x in blade.languages">
										<span class="flag flag-{{blade.getFlag(x)}}"></span>
										<span ng-bind-html="x"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
					<div class="column"></div>
				</div>

				<fieldset style="margin-top:20px;" ng-if="blade.isNew">
					<legend>Subject</legend>
				</fieldset>
				<fieldset ng-if="!blade.isNew">
					<legend>Subject</legend>
				</fieldset>
				<div class="form-group" style="margin-top:-15px;">
					<div class="form-input">
						<ui-codemirror ng-model="blade.currentEntity.subject" ui-codemirror-opts="editorOptions"></ui-codemirror>
					</div>
				</div>

				<fieldset style="margin-top:20px;">
					<legend>Body</legend>
				</fieldset>
				<div class="form-group" style="margin-top:-15px;">
					<div class="form-input">
						<ui-codemirror required ng-model="blade.currentEntity.body" ui-codemirror-opts="editorOptions"></ui-codemirror>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>