<div class="blade-content __medium-wide">
	<div class="blade-inner">
		<div class="inner-block">
			<div class="t __divider">Notification Info</div>
			<ul class="list __info">
				<li class="list-item">
					<div class="list-t">Display name</div>
					<div class="list-descr">
						{{blade.currentEntity.displayName}}
					</div>
				</li>
				<li class="list-item">
					<div class="list-t">Source</div>
					<div class="list-descr">
						{{blade.currentEntity.objectTypeId}} {{blade.currentEntity.objectId}}
					</div>
				</li>
				<li class="list-item">
					<div class="list-t">Sending gateway</div>
					<div class="list-descr">
						{{blade.currentEntity.sendingGateway}}
					</div>
				</li>

				<li>
					<div class="list-t">Active</div>
					<ul class="list __tags">
						<li class="list-item" style="background: #a6a6a6;" ng-if="!blade.currentEntity.isActive">
							<div class="list-name" ng-if="!blade.currentEntity.isActive">Not active</div>
						</li>
						<li class="list-item" ng-if="blade.currentEntity.isActive">
							<div class="list-name" ng-if="blade.currentEntity.isActive">Active</div>
						</li>
					</ul>
				</li>
				<li class="list-item" ng-if="!angular.isUndefined(blade.currentEntity.startSendingDate)">
					<div class="list-t">Start sending date</div>
					<div class="list-descr">
						{{blade.currentEntity.startSendingDate}}
					</div>
				</li>

				<li>
					<div class="list-t">Sent success</div>
					<ul class="list __tags">
						<li class="list-item" style="background: #a6a6a6;" ng-if="!blade.currentEntity.isSuccessSend">
							<div class="list-name">Not sent</div>
						</li>
						<li class="list-item" ng-if="blade.currentEntity.isSuccessSend">
							<div class="list-name">Sent</div>
						</li>
					</ul>
				</li>
				<li class="list-item" ng-if="blade.currentEntity.isSuccessSend">
					<div class="list-t">Sent date</div>
					<div class="list-descr">
						{{blade.currentEntity.sentDate}}
					</div>
				</li>


				<li>
					<div class="list-t">Sender</div>
					<div class="list-descr">
						{{blade.currentEntity.sender}}
					</div>
				</li>
				<li class="list-item">
					<div class="list-t">Recipient</div>
					<div class="list-descr">
						{{blade.currentEntity.recipient}}
					</div>
				</li>
				<li class="list-item">
					<div class="list-t">Sending attempts count</div>
					<div class="list-descr">
						{{blade.currentEntity.attemptCount}}/{{blade.currentEntity.maxAttemptCount}}
					</div>
				</li>

				<li ng-if="blade.currentEntity.attemptCount > 0 && !blade.currentEntity.isSuccessSend">
					<div class="list-t">Last fail attempt date</div>
					<div class="list-descr">
						{{blade.currentEntity.lastFailAttemptDate}}
					</div>
				</li>
				<li class="list-item" ng-if="blade.currentEntity.attemptCount > 0 && !blade.currentEntity.isSuccessSend">
					<div class="list-t">Last fail attempt message</div>
					<div class="list-descr">
						{{blade.currentEntity.lastFailAttemptMessage}}
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>
