<div class="blade-content __large-wide">
	<div class="blade-inner">
		<div class="inner-block">
			<form class="form">
				<fieldset>
					<legend>Subject of notification</legend>
				</fieldset>
				<div class="form-group" style="margin-top:-15px;">
					<div class="form-input">
						<ui-codemirror required ng-model="blade.currentEntity.subject" ui-codemirror-opts="editorOptions"></ui-codemirror>
					</div>
				</div>

				<fieldset style="margin-top:20px;">
					<legend>Body of notification</legend>
				</fieldset>
				<div class="form-group" style="margin-top:-15px;">
					<div class="form-input">
						<ui-codemirror required ng-model="blade.currentEntity.body" ui-codemirror-opts="editorOptions"></ui-codemirror>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>