<div class="modal-window">
    <div class="modal-window__header modal-window__header--confirm">
        <div class="modal-window__title" ng-if="action==='install'">{{ 'platform.dialogs.module-action.title-install' | translate }}</div>
        <div class="modal-window__title" ng-if="action==='update'">{{ 'platform.dialogs.module-action.title-update' | translate }}</div>
        <div class="modal-window__title" ng-if="action==='uninstall'">{{ 'platform.dialogs.module-action.title-delete' | translate }}</div>
        <button class="modal-window__header-button" ng-click="cancel()" title="{{ 'platform.commands.cancel' | translate }}">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <div class="modal-window__body">
        <div class="modal-window__dialog-message">
            <p ng-if="action==='install'">{{ 'platform.dialogs.module-action.message0-install' | translate }}</p>
            <p ng-if="action==='update'">{{ 'platform.dialogs.module-action.message0-update' | translate }}</p>
            <p ng-if="action==='uninstall'">{{ 'platform.dialogs.module-action.message0-delete' | translate }}</p>
            <ul class="item-list-clearfix">
                <li ng-repeat="data in selection">{{data.id}} ({{action==='update' ? data.$alternativeVersion + ' &#8658; ' : ''}}{{data.version}})</li>
            </ul>
            <div ng-if="dependencies.length">
                <br>
                <p ng-if="action==='install' || action==='update'">{{ 'platform.dialogs.module-action.message1-install' | translate }}</p>
                <p ng-if="action==='uninstall'">{{ 'platform.dialogs.module-action.message1-delete' | translate }}</p>
                <ul style="max-height:530px;">
                    <li ng-repeat="data in dependencies">{{data.id}} ({{data.version}})</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-window__footer">
        <button class="modal-window__footer-button modal-window__footer-button--primary-outline" ng-click="yes()">{{ 'platform.commands.confirm' | translate }}</button>
        <button class="modal-window__footer-button modal-window__footer-button--primary" ng-click="no()">{{ 'platform.commands.cancel' | translate }}</button>
    </div>
</div>
