<div class="blade" ng-class="[moduleName, {'__animated': blade.animated, '__expanded': blade.isExpanded, '__maximized': blade.isMaximized, '__closing': blade.closing}]" ng-repeat="blade in blades">
    <div class="blade-wrapper" va-blade='blade'>
        <header class="blade-head">
            <div class="blade-status" ng-if="blade.error || blade.isLoading" ng-class="{'__error': blade.error}">
                <div class="status-message" ng-if="blade.error">
                    <div class="error-icon-container">
                        <i class="fas fa-exclamation-triangle fa-sm"></i>
                    </div>

                    <div class="error-message">{{blade.error}}</div>

                    <div class="see-details">
                        <a class="link-error-details" ng-click="showErrorDetails()">{{ 'platform.commands.see-details' | translate }}</a>
                    </div>
                </div>

                <div class="progress-bar"
                     ng-if="!blade.error && blade.isLoading"
                     ng-class="{'__loaded': !blade.isLoading}">
                </div>
            </div>

            <div class="blade-nav" ng-if="!blade.error && !blade.isLoading">
                <ul class="menu __inline">
                    <li class="menu-item __minimize" ng-click="bladeMinimize()" ng-show="!blade.isExpandable && blade.isMaximized">
                        <button>
                            <i class="fa fa-window-minimize" aria-hidden="true" title="{{ 'platform.commands.minimize' | translate }}"></i>
                        </button>
                    </li>
                    <li class="menu-item __maximize" ng-click="bladeMaximize()" ng-show="!blade.isExpandable && !blade.isMaximized">
                        <button>
                            <i class="fa fa-window-maximize" aria-hidden="true" title="{{ 'platform.commands.maximize' | translate }}"></i>
                        </button>
                    </li>
                    <li class="menu-item __close" ng-click="bladeClose()" ng-class="{'__disabled': blade.isClosingDisabled}" ng-disabled="blade.isClosingDisabled">
                        <button>
                            <i class="fa fa-times" aria-hidden="true" title="{{ 'platform.commands.close' | translate }}"></i>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="blade-t" ng-class="{'__secondary': blade.subtitle}">
                <i class="blade-t_ico" ng-if="!blade.currentEntity.iconUrl" ng-class="blade.headIcon ? blade.headIcon : 'fa fa-folder'">
                    <i></i>
                </i>
                <i class="blade-t_ico" ng-if="blade.currentEntity.iconUrl">
                    <img class="title-icon" ng-src="{{ blade.currentEntity.iconUrl }}">
                </i>
                <p class="blade-t_head">{{ blade.title | translate: blade.titleValues }}</p>
                <p class="blade-t_subhead">{{ blade.subtitle | translate: blade.subtitleValues }}</p>
            </div>

            <div class="blade-toolbar">
                <ul class="menu __inline">
                    <li class="menu-item" ng-class="{'__disabled': !toolbarCommand.canExecuteMethod(blade), 'separator': toolbarCommand.showSeparator}" ng-click='toolbarCommand.executeMethod(blade)' ng-repeat="toolbarCommand in resolvedToolbarCommands | limitTo:toolsPerLineCount" ng-disabled="!toolbarCommand.canExecuteMethod(blade)" ng-show="!toolbarCommand.hide(blade)" va-permission="{{toolbarCommand.permission}}" security-scopes="blade.securityScopes">
                        <button class="menu-btn" ng-attr-title="{{toolbarCommand.title | translate}}">
                            <i class="menu-ico" ng-class="toolbarCommand.icon"></i>
                            {{ toolbarCommand.name | translate }}
                        </button>
                    </li>
                    <li class="menu-item __more" ng-click="showMoreTools($event)" ng-if="resolvedToolbarCommands.length > toolsPerLineCount">
                        <button class="menu-btn">
                            <i class="menu-ico fa fa-ellipsis-h"></i>
                            {{ 'platform.commands.more' | translate }}
                        </button>
                    </li>
                </ul>
            </div>
        </header>

        <div class="loader" ng-if="blade.isLoading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="blade-container" ng-class="{'__loading': blade.isLoading}">
            <ng-include src='blade.template'></ng-include>
        </div>
    </div>
</div>
