<div class="blade-content __tree">
    <div class="blade-inner">
        <div class="inner-block">
            <ul class="list __items">
                <li class="list-item" ng-click="blade.openBlade(data)" ng-repeat="data in blade.currentEntities track by data.mode" ng-class="{'__selected': data.mode === selectedNodeId, '__error': data.mode === 'withErrors'}">
                    <span class="list-name">
                        {{data.name | translate}}
                        <span ng-if="data.mode!=='advanced'"> ({{ data.entities.length | number:0 }})</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>