.modal-dialog
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

.modal-dialog-header
    user-select: none
    height: $dialogHeaderHeight
    padding-left: 16px
    color: $whiteColor
    display: flex
    justify-content: space-between
    align-items: baseline
    &.__confirm
        background-color: $confirmDialogHeaderBg
    &.__warning
        background-color: $warningDialogHeaderBg
    &.__success
        background-color: $successDialogHeaderBg
    &.__error
        background-color: $errorDialogHeaderBg
    .modal-dialog-header-title
        font-size: $fontSize
    .modal-dialog-header-button
        background-color: transparent
        border: none
        width: $dialogHeaderHeight
        height: $dialogHeaderHeight
        &:hover
            cursor: pointer
            background-color: $redBg

.modal-dialog-body
    display: flex
    justify-content: start
    align-items: flex-start
    margin: 30px 20px
    font-size: $dialogBodyFontSize
    line-height: $dialogBodyLineHeight
    .modal-dialog-icon-container
        user-select: none
        margin-right: 10px
        min-width: 30px
        min-height: 30px

.modal-dialog-footer
    display: flex
    justify-content: end
    align-items: center
    padding-right: 16px
    padding-bottom: 16px
    .btn
        user-select: none
        padding: 0
        justify-content: center
        min-width: 90px
        margin-left: 12px
        &.__inverted
            background-color: $whiteColor
            color: $baseColor
            border: 1px solid $baseColor
            &:hover
                color: $baseColor

// Specified styles
.modal-dialog-error .modal-dialog-header-button:hover
    background-color: $baseColor
