.vc-input
  $password: ''
  $error: ''

  position: relative
  background-size: cover
  background-position: center

  &--password
    $password: &

  &--error
    $error: &

  &__label
    display: block
    margin-bottom: 4px
    font-weight: 500
    font-size: 14px
    line-height: 20px
    font-family: 'Roboto', sans-serif

  &__asterisk
    color: var(--vc-fg-ff4a4a, #FF4A4A)

  &__container
    z-index: 0
    position: relative

  &__field
    appearance: none
    position: relative
    padding: 0 10px
    height: 38px
    min-width: 0
    width: 100%
    background: var(--vc-bg-ffffff, #FFFFFF)
    border: 1px solid var(--vc-bd-d3dae9, #D3DAE9)
    border-radius: 3px
    font-weight: 500
    font-size: 13px
    line-height: 20px
    outline: none

    #{$password} &
      padding-right: 40px

    &:disabled
      background: lightgray

    #{$error} &
      background: var(--vc-bg-fef8f7, #FEF8F7)
      border-color: var(--vc-bd-fce7e6, #FCE7E6)
      color: var(--vc-fg-ff4a4a, #FF4A4A)

    &:autofill
      &:disabled
        box-shadow: 0 0 0px 1000px var(--vc-sh-f9fafb, #f9fafb) inset

      &:not(:disabled)
        box-shadow: 0 0 0px 1000px var(--vc-sh-ffffff, #fff) inset

    &:disabled
      color: darkgray
      cursor: not-allowed

    &::placeholder
      color: darkgray
      #{$error} &
        opacity: 0.8
        color: var(--vc-fg-ff4a4a, #FF4A4A)

  &__password-switcher
    position: absolute
    top: 0
    right: 0
    bottom: 0
    display: none
    align-items: center
    justify-content: center
    padding: 0 11px
    border: none
    background: none
    cursor: pointer
    color: var(--vc-fg-319ed4, #319ED4)

    input:disabled ~ &
      color: darkgray
      cursor: not-allowed

    #{$password} &
      display: flex

  &__icon
    width: 18px
    height: 18px

  &__message
    margin-top: 2px
    color: var(--vc-fg-a5a5a5, #A5A5A5)
    font-family: 'Roboto', sans-serif
    font-size: 11px
    line-height: 14px
    #{$error} &
      color: var(--vc-fg-ff4a4a, #FF4A4A)
