.vc-badge
  flex: none
  padding: 0px 4px
  height: 16px
  border-radius: 20px 
  border: 1px solid var(--vc-bd-dfeef9, #DFEEF9)
  background: var(--vc-bg-dfeef9, #DFEEF9)
  font-size: 12px
  font-weight: 700
  line-height: 16px
  color: var(--vc-fg-465769, #465769)
