.vc-button-social
  display: flex
  align-items: center
  justify-content: center
  padding: 8px 12px
  width: 100%
  min-height: 43px
  background-color: var(--vc-bg-ffffff, #FFFFFF)
  border: 1px solid var(--vc-bd-d3dae9, #D3DAE9)
  border-radius: 4px
  cursor: pointer

  &:hover
    background-color: var(--vc-bg-fafafa, #FAFAFA)

  &__img
    flex: none
    width: 27px
    height: 27px

  &__text
    flex-grow: 1
    color: var(--vc-fg-4f5358, #4F5358)
    font-weight: 700
    font-size: 15px
    line-height: 20px
    text-align: center
