.vc-button
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 2px 14px
  min-height: 36px
  background-color: var(--vc-bg-43b0e6, #43B0E6)
  border: 1px solid transparent
  border-radius: 3px
  color: var(--vc-fg-ffffff, #FFFFFF)
  font-family: 'Roboto', sans-serif
  font-weight: 500
  font-size: 12px
  line-height: 16px
  cursor: pointer

  &:hover
    background-color: var(--vc-bg-319ed4, #319ED4)

  &:disabled
    background-color: var(--vc-bg-a9ddf6, #A9DDF6)
    cursor: not-allowed

  &--outlined
    background-color: var(--vc-bg-ffffff, #fff)
    border-color: currentColor
    color: var(--vc-fg-43b0e6, #43B0E6)

    &:hover
      background-color: var(--vc-bg-ffffff, #fff)
      color: var(--vc-fg-319ed4, #319ED4)

    &:disabled
      background-color: var(--vc-bg-ffffff, #fff)
      color: var(--vc-fg-a9ddf6, #A9DDF6)
