.vc-alert
  $error: ''
  $warning: ''
  $success: ''

  display: flex
  align-items: center
  gap: 9px
  padding: 6px 10px
  border-radius: 3px

  &--error
    $error: &
    background-color: var(--vc-bg-ffeded, #FFEDED)
    color: var(--vc-fg-983636, #983636)

  &--warning
    $warning: &
    background-color: var(--vc-bg-fff6e9, #FFF6E9)
    color: var(--vc-fg-706343, #706343)

  &--success
    $success: &
    background-color: var(--vc-bg-edf9f0, #EDF9F0)
    color: var(--vc-fg-2f6b41, #2F6B41)

  &__icon
    width: 20px
    height: 20px

    #{$error} & 
      color: var(--vc-fg-ff4a4a, #FF4A4A)

    #{$warning} &
      color: var(--vc-fg-ffbb0d, #FFBB0D)

    #{$success} &
      color: var(--vc-fg-2fb35a, #2FB35A)

  &__text
    font-size: 11px
    line-height: 13px
