<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.1.0" targetFramework="net45" />
  <package id="Fody" version="1.22.1" targetFramework="net45" developmentDependency="true" />
  <package id="Prism" version="4.1.0.0" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.48.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="ValueInjecter" version="2.3.3" targetFramework="net45" />
</packages>