<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/create.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="formScope">
                <div class="form-group" ng-init="setForm(formScope)">
                    <label class="form-label">Login</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.userName" type="text" placeholder="Enter login" required focus-on="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.password" required placeholder="Enter new password" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Repeat password</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.newPassword2" required placeholder="Repeat new password" type="password">
                    </div>
                </div>
            </form>
            <div class="sub-t">Assign roles</div>
            <div class="table-wrapper">
                <table class="table">
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.currentEntities track by data.id" ng-class="{'__selected': data.id === selectedNodeId}">
                            <td class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.$selected">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col" ng-click='blade.selectNode(data)'>
                                <span class="table-t">{{data.id}}</span>
                                <span class="table-descr">{{data.name}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>