<div class="vc-breadcrumbs">
  <ul class="vc-breadcrumbs__list" ng-if="breadcrumbs.length" data="breadcrumbs">
    <li class="vc-breadcrumbs__item">
      <a
        class="vc-breadcrumbs__link"
        ng-click="innerNavigate(breadcrumbs[0])"
        href=""
        title="{{breadcrumbs[0].name}}"
      >
        {{breadcrumbs[0].name}}
      </a>

      <i class="vc-breadcrumbs__arrow fas fa-chevron-right"></i>
    </li>

    <li class="vc-breadcrumbs__item" ng-if="canExpand()">
      <a
        class="vc-breadcrumbs__link"
        ng-click="expand()"
        href=""
        title="Expand"
      >
        ...
      </a>

      <i class="vc-breadcrumbs__arrow fas fa-chevron-right"></i>
    </li>

    <li
      class="vc-breadcrumbs__item"
      ng-repeat="breadcrumb in breadcrumbs | limitTo:999:1"
      ng-if="breadcrumb.isVisible"
    >
      <a
        class="vc-breadcrumbs__link"
        ng-click="innerNavigate(breadcrumb)"
        href=""
        title="{{breadcrumb.name}}"
      >
        {{breadcrumb.name}}
      </a>

      <i class="vc-breadcrumbs__arrow fas fa-chevron-right"></i>
    </li>
  </ul>
</div>
