<div class="breadcrumbs">
    <ul class="menu __inline" ng-class="{'flex-row-wrap': expanded}">
        <li class="menu-item" ng-if="breadcrumbs.length">
            <a class="menu-link" ng-class="{'last-item': breadcrumbs.length == 1}" ng-click='innerNavigate(breadcrumbs[0])' href="" title="{{breadcrumbs[0].name}}">{{breadcrumbs[0].name}}</a>
        </li>
        <li class="menu-item" ng-if="canExpand()">
            <a class="menu-link" ng-click='expand()' href="" title="Expand">...</a>
        </li>
        <li class="menu-item" ng-repeat="breadcrumb in breadcrumbs | limitTo:999:1" ng-if="breadcrumb.isVisible">
            <a class="menu-link" ng-class="{'last-item': $last}" ng-click='innerNavigate(breadcrumb)' href="" title="{{breadcrumb.name}}">{{breadcrumb.name}}</a>
        </li>
    </ul>
</div>
