<div class="breadcrumbs">
    <a title="Back" ng-click='navigateBack()' class="back" ng-class="{'__disabled': !canNavigateBack()}" ng-disabled="!canNavigateBack()">
        <i class="fa fa-arrow-left"></i>
    </a>
    <ul class="menu __inline">
        <li class="menu-item" ng-repeat-start="breadcrumb in breadcrumbs">
            <a ng-if="$first || $index > breadcrumbs.length - 4" class="menu-link" ng-click='innerNavigate(breadcrumb)' href="" title="{{breadcrumb.name}}">{{(($first || $index > breadcrumbs.length - 3) ? breadcrumb.name : '...') | translate}}</a>
        </li>
        <li class="menu-item __divider" ng-repeat-end ng-if="!$last && ($first || $index > breadcrumbs.length - 4)"></li>
    </ul>
</div>