<div class="modal-header">
    <h3 class="modal-title">{{ 'quotes.dialogs.quote-cancel.title' | translate }}</h3>
</div>
<div class="modal-body">
    <p>{{ 'quotes.dialogs.quote-cancel.message' | translate }}</p>
    <div class="form-input">
        <textarea placeholder="{{ 'quotes.dialogs.quote-cancel.placeholders.reason' | translate }}" ng-model="cancelReason"></textarea>
</div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="yes()">{{'platform.commands.confirm' | translate}}</button>
    <button class="btn" ng-click="cancel()">{{'platform.commands.cancel' | translate}}</button>
</div>