<div class="blade-content __medium-wide">
	<div class="blade-inner">
		<div class="inner-block">
			<div class="t __divider">{{ 'platform.blades.notification-journal-details.labels.notification-info' | translate }}</div>
			<ul class="list __info">
				<li class="list-item">
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.display-name' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.displayName}}
					</div>
				</li>
				<li class="list-item">
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.source' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.objectTypeId}} {{blade.currentEntity.objectId}}
					</div>
				</li>
				<li class="list-item">
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.sending-gateway' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.sendingGateway}}
					</div>
				</li>

				<li>
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.active' | translate }}</div>
					<ul class="list __tags">
						<li class="list-item" style="background: #a6a6a6;" ng-if="!blade.currentEntity.isActive">
							<div class="list-name" ng-if="!blade.currentEntity.isActive">{{ 'platform.blades.notification-journal-details.labels.not-active' | translate }}</div>
						</li>
						<li class="list-item" ng-if="blade.currentEntity.isActive">
							<div class="list-name" ng-if="blade.currentEntity.isActive">{{ 'platform.blades.notification-journal-details.labels.active' | translate }}</div>
						</li>
					</ul>
				</li>
				<li class="list-item" ng-if="!angular.isUndefined(blade.currentEntity.startSendingDate)">
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.start-sending-date' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.startSendingDate}}
					</div>
				</li>

				<li>
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.sent-success' | translate }}</div>
					<ul class="list __tags">
						<li class="list-item" style="background: #a6a6a6;" ng-if="!blade.currentEntity.isSuccessSend">
							<div class="list-name">{{ 'platform.blades.notification-journal-details.labels.not-sent' | translate }}</div>
						</li>
						<li class="list-item" ng-if="blade.currentEntity.isSuccessSend">
							<div class="list-name">{{ 'platform.blades.notification-journal-details.labels.sent' | translate }}</div>
						</li>
					</ul>
				</li>
				<li class="list-item" ng-if="blade.currentEntity.isSuccessSend">
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.sent-date' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.sentDate}}
					</div>
				</li>


				<li>
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.sender' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.sender}}
					</div>
				</li>
				<li class="list-item">
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.recipient' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.recipient}}
					</div>
				</li>
				<li class="list-item">
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.sending-attempts-count' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.attemptCount}}/{{blade.currentEntity.maxAttemptCount}}
					</div>
				</li>

				<li ng-if="blade.currentEntity.attemptCount > 0 && !blade.currentEntity.isSuccessSend">
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.last-fail-attempt-date' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.lastFailAttemptDate}}
					</div>
				</li>
				<li class="list-item" ng-if="blade.currentEntity.attemptCount > 0 && !blade.currentEntity.isSuccessSend">
					<div class="list-t">{{ 'platform.blades.notification-journal-details.labels.last-fail-attempt-message' | translate }}</div>
					<div class="list-descr">
						{{blade.currentEntity.lastFailAttemptMessage}}
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>
