@{  
	ViewData.TemplateInfo.HtmlFieldPrefix = ViewData.TemplateInfo.HtmlFieldPrefix.Replace(ViewData.ModelMetadata.PropertyName, "").Trim('.');
	var propertyName = ViewData["name"] == null ? ViewData.ModelMetadata.PropertyName : ViewData["name"].ToString(); 
}

@if (IsSectionDefined("Label"))
{ 
    @RenderSection("Label", false)
}
else if (ViewBag.HideLabel == null || !ViewBag.HideLabel)
{
	<label for="@ViewData.TemplateInfo.GetFullHtmlFieldId(propertyName)">
		@ViewData.ModelMetadata.GetDisplayName().Localize()
		@if (ViewData.ModelMetadata.IsRequired){<span class="required">*</span>}
	</label>     
}

@RenderBody()       

