<div class="blade-content __large-wide">
	<div class="blade-inner">
		<div class="inner-block">
			<form class="form">
				<div class="form-group">
					<label class="form-label">Name:</label>
					<div class="form-input">
						<input focus-on="" required class="form-control" ng-model="blade.currentEntity.name" placeholder="Enter page name" />
					</div>
				</div>
			</form>
			<div class="table-wrapper">
				<table class="table">
					<thead>
						<tr>
							<th class="table-col">IsActive</th>
							<th class="table-col">Link Title</th>
							<th class="table-col">Links to...</th>
							<th class="table-col">Type</th>
							<th class="table-col">Priority</th>
							<th class="table-col">Language</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-item" ng-repeat="data in blade.currentEntity.menuLinks" ng-class="{'__selected': _.lastIndexOf(blade.selectedItemIds, data.id) >= 0}" context-menu data-target="ipl_menu_{{data.id}}" ng-click='blade.selectItem(data.id)'>
							<td class="table-col">
								<div class="form-input">
									<input type="checkbox" ng-model="data.isActive" required>
								</div>
							</td>
							<td class="table-col">
								<div data-step="any" class="form-input">
									<input type="text" ng-model="data.title" required>
								</div>
							</td>
							<td class="table-col">
								<div class="form-input">
									<input type="text" ng-model="data.url" required>
								</div>
							</td>
							<td class="table-col">
								<div class="form-input">
									<input type="text" ng-model="data.type" required>
								</div>
							</td>
							<td class="table-col">
								<div class="form-input">
									<input type="text" ng-model="data.priority" required>
								</div>
							</td>
							<td class="table-col">
								<div class="form-input">
									<input type="text" ng-model="data.language" required>
								</div>
							</td>
							<td class="table-col">
								<ul class="menu __context" role="menu" id="ipl_menu_{{data.id}}">
									<li class="menu-item" ng-click='deleteLink(data)'>
										<i class="menu-ico fa fa-trash-o"></i> Delete
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>