<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Core)/Scripts/common/ok-cancel2.tpl.html'"></div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <form name="formScope" class="form">
                    <table class="table">
                        <tbody>
                            <tr class="table-item" ng-repeat="data in blade.currentEntities" ng-class="{'__selected': data === selectedItem}" context-menu data-target="cel_menu_{{data}}" ng-click='selectItem(data)'>
                                <td class="table-col">
                                    <div class="form-input">
                                        <input type="email" ng-model="data.value" required placeholder="Enter value" />
                                    </div>
                                    <ul class="menu __context" role="menu" id="cel_menu_{{data}}">
                                        <li class="menu-item" ng-click='delete()'>
                                            <i class="menu-ico fa fa-trash-o"></i> Delete
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <p class="text" ng-if="!blade.currentEntities.length">No emails yet</p>
        </div>
    </div>
</div>