<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <form class="form" name="detailForm">
                <fieldset>
                    <div class="form-group" ng-init="setForm(detailForm)">
                        <label class="form-label">Name</label>
                        <div class="form-input">
                            <input ng-model="blade.currentEntity.name" focus-on="" required placeholder="Enter name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <va-widget-container group="organizationDetail1" blade="blade" gridster-opts="{width: 396}"></va-widget-container>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="form-label">Business category</label>
                        <div class="form-input">
                            <input ng-model="blade.currentEntity.businessCategory" placeholder="Enter value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Description</label>
                        <div class="form-input">
                            <textarea class="form-control" cols="30" rows="3" ng-model="blade.currentEntity.description" placeholder="Enter description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <va-widget-container group="organizationDetail2" blade="blade" gridster-opts="{width: 396}"></va-widget-container>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>