<div class="dropdown-head">
    <ul class="menu __inline">
        <li class="menu-item">
            <a class="menu-link" ng-click="currentMenuItem.showHistory()">
                <i class="menu-ico fa fa-history"></i>
                <span class="menu-name">History</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" ng-click="currentMenuItem.clearRecent()">
                <i class="menu-ico fa fa-times-circle"></i>
                <span class="menu-name">Clear all recent</span>
            </a>
        </li>
    </ul>
</div>