<div style="width: 500px;">
        <table class="list notify table sortable">
        <thead>
            <tr>
                <th ng-repeat="column in columns" ng-click="setOrder(column)" ng-class="(column.checked)?'sorted':''" class="col th">
                    {{column.title}}
                    <i ng-class="column.checked ? (column.reverse ?'icon-arrow-up-2':'icon-arrow-down-2') : ''" class="icon"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-click="selectNotify(notify)" ng-repeat="menuItem in notifications" class="item notif" ng-class="'notify_' + menuItem.notify.notifyType"  ng-include="menuItem.template">
            </tr>
        </tbody>
    </table>
    <div ng-include="'pagerTemplate.html'"></div>
    <script type="text/ng-template" id="pagerTemplate.html">
        <pagination ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" boundary-links="true" max-size="pageSettings.numPages" items-per-page="pageSettings.itemsPerPageCount" total-items="pageSettings.totalItems" ng-model="pageSettings.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </script>
</div>