<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Catalog)/Scripts/wizards/newProduct/new-product-wizard-actions.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="newProductForm">
                <div ng-init="setForm(newProductForm);">
                    <div class="form-group">
                        <label class="form-label">SKU:</label>
                        <div class="form-input">
                            <input required class="form-control" ng-model="blade.item.code" placeholder="Enter item sku" />
                        </div>
                    </div>
                </div>
            </form>

            <ul class="list __items">
                <li class="list-item" ng-click="openBlade('properties')" ng-if="blade.item.properties.length > 0">
                    <i class="list-ico fa fa-cogs"></i>
                    <span class="list-t">Add properties</span>
                    <span class="list-descr">{{ getUnfilledProperties().length }} of {{blade.item.properties.length}} properties filled</span>
                </li>
                <li class="list-item" ng-click="openBlade('images')">
                    <i class="list-ico fa fa-image"></i>
                    <span class="list-t">Upload images</span>
                    <span class="list-descr">{{blade.item.images.length >= 0 ? blade.item.images.length : 0}} image(s) uploaded</span>
                </li>
            </ul>
        </div>
    </div>
</div>