<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <!--<th class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="blade.selectedAll" ng-change="checkAll(blade.selectedAll)" />
                                    <span class="check"></span>
                                </label>
                            </th>-->
                            <th class="table-col">Currency</th>
                            <th class="table-col">List price</th>
                            <th class="table-col">Sale price</th>
                            <th class="table-col">Min. quantity</th>
                            <th class="table-col">Last modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.currentEntity.prices track by data.id" ng-class="{'__selected': data.id === selectedItem.id}" context-menu data-target="ipl_menu_{{data.id}}" ng-click='selectItem(data)'>
                            <!--<td class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.selected">
                                    <span class="check"></span>
                                </label>
                            </td>-->
                            <td class="table-col">
                                {{data.currency}}
                            </td>
                            <td class="table-col">
                                <div class="form-input __mini">
                                    <input money required ng-model="data.list" />
                                </div>
                            </td>
                            <td class="table-col">
                                <div class="form-input __mini">
                                    <input money ng-model="data.sale">
                                </div>
                            </td>
                            <td class="table-col">
                                <div data-step="1" class="form-input __mini">
                                    <input type="text" ng-model="data.minQuantity" required />
                                </div>
                            </td>
                            <td class="table-col">
                                <span class="table-date" am-time-ago="data.modifiedDate"></span>
                                <ul class="menu __context" role="menu" id="ipl_menu_{{data.id}}">
                                    <li class="menu-item" ng-click='delete(data)'>
                                        <i class="menu-ico fa fa-trash-o"></i> Delete
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>