<div class="tile-block wide" ng-click="openItemPropertyBlade()">
    <div class=" tile">
        <p class="title">Properties</p>
        <p class="text"><span class="count">{{currentBlade.item.properties.length}}</span> count</p>
    </div>
</div>

<!--<div class="tile-block" ng-click="openItemPropertyBlade()">
    <p class="tile-title">Properties</p>
    <div class="tile">
        <ul class="list">
            <li class="list-item">
                <span class="role">Product</span>
                <span class="access">{{(currentBlade.item.properties | filter:{type: 0}).length}}</span>

            </li>
            <li class="list-item selected">
                <span class="role">Variation</span>
                <span class="access">{{(currentBlade.item.properties | filter:{type: 1}).length}}</span>
            </li>
        </ul>
    </div>
</div>-->
