<div class="tile-block mini" ng-click="openVariationListBlade()">
    <div class="tile">
        <p class="title">Variations</p>
        <p class="text"><span class="count">{{currentBlade.item.variations.length}}</span> count</p>
    </div>
</div>
<!--<div class="tile-block">
    <p class="tile-title">Variations</p>
    <div class="tile" ng-click="openVariationListBlade()">
        <ul class="list">
            <li ng-repeat="variation in currentBlade.item.variations" ng-click="openItemDetailBlade(variation, $event)" class="list-item">
                <img ng-src="{{variation.imgSrc}}" style="display: inline; height: 26px; width: 26px;" />
                <span class="name">{{variation.code}}</span>
            </li>
        </ul>

        <p ng-if="currentBlade.item.variations.length == 0">No Variations</p>
    </div>
</div>-->