<span class="title">Categories mapping</span>
<div class="category-mapping-widget" ng-click="openBlade()">
    <div class="categories-tree" style="margin: 0 -10px 10px -10px;max-height: 90%;overflow-y: auto;">
        <ul>
            <li ng-repeat="data in blade.mappedNodes | limitTo:3" ng-include="'vcmw_mapping.tpl.html'" class="dropdown-switch"></li>
        </ul>
    </div>
    
    <div ng-if="blade.mappedNodes.length == 0">No mapping items</div>

    <div ng-if="blade.mappedNodes.length > 3">
        <!--and 3 categories--> 
        <a va-tooltip="'virtualCatalogMappingTooltip.html'" tooltip-placement="bottom">{{blade.mappedNodes.length - 3}} catalogs more</a>
    </div>
    
    <script id="vcmw_mapping.tpl.html" type="text/ng-template">
        <div class="child open">
            <i class="glyphicon glyphicon-folder-open"></i>
            <b class="name">{{data.name}}</b>
        </div>
        <ul style="display:block">
            <li ng-repeat="data in data.children">
                <div class="child open">
                    <span class="name">{{data.path}}</span>
                </div>
            </li>
        </ul>
    </script>

    <script id="virtualCatalogMappingTooltip.html" type="text/ng-template">
        <li ng-repeat="data in blade.mappedNodes | limitTo: 3 - blade.mappedNodes.length" ng-include="'vcmw_mapping.tpl.html'" class="dropdown-switch"></li>
    </script>
</div>

