<div class="blade-static __bottom">
    <button class="btn" ng-click="create()" ng-disabled="!blade.groupName || blade.selection.length==0">
        <span>Create</span>
    </button>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="form-group">
                <label class="form-label">{{ 'catalog.wizards.association.labels.group-name' | translate }} <a href="" ng-click="openDictionarySettingManagement()" class="form-edit" va-permission="platform:setting:update"><i class="form-ico fa fa-pencil"></i></a></label>
                <div class="form-input">
                    <ui-select ng-model="blade.groupName" required>
                        <ui-select-match placeholder="{{ 'catalog.wizards.association.placeholders.group-name' | translate }}">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="x in associationGroups | filter: $select.search">
                            <span ng-bind-html="x | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <ul class="list __items">
                    <li class="list-item" ng-click="openBlade()">
                        <i class="list-ico fa fa-cubes"></i>
                        <span class="list-t">{{ 'catalog.wizards.association.labels.products' | translate }}</span>
                        <span class="list-descr">{{blade.selection.length}} {{ 'catalog.wizards.association.labels.products-selected' | translate }}</span>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</div>