<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0,              Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
    <section name="traceContextConfiguration" type="VirtoCommerce.Scheduling.LogicalCall.Configuration.TraceContextConfigurationSection, VirtoCommerce.Scheduling" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false" />
    <sectionGroup name="VirtoCommerce">
      <section name="Order" type="VirtoCommerce.Foundation.Orders.OrderConfiguration,VirtoCommerce.Foundation" />
	    <section name="Review" type="VirtoCommerce.Foundation.Reviews.ReviewConfiguration,VirtoCommerce.Foundation" />
      <section name="Catalog" type="VirtoCommerce.Foundation.Catalogs.CatalogConfiguration,VirtoCommerce.Foundation" />
      <section name="Search" type="VirtoCommerce.Foundation.Search.SearchConfiguration,VirtoCommerce.Foundation" />
      <section name="Workflow" type="VirtoCommerce.Foundation.Frameworks.Workflow.WorkflowConfiguration, VirtoCommerce.Foundation" />
      <section name="Asset" type="VirtoCommerce.Foundation.Assets.AssetConfiguration,VirtoCommerce.Foundation" />
      <section name="Store" type="VirtoCommerce.Foundation.Stores.StoreConfiguration,VirtoCommerce.Foundation" />
      <section name="Inventory" type="VirtoCommerce.Foundation.Inventories.InventoryConfiguration,VirtoCommerce.Foundation" />
      <section name="Customer" type="VirtoCommerce.Foundation.Customers.CustomerConfiguration,VirtoCommerce.Foundation" />
      <section name="AzureRepository" type="VirtoCommerce.Foundation.Data.Azure.AzureConfiguration, VirtoCommerce.Foundation.Data.Azure" />
      <section name="AppConfig" type="VirtoCommerce.Foundation.AppConfig.AppConfigConfiguration,VirtoCommerce.Foundation" />
      <section name="Marketing" type=" VirtoCommerce.Foundation.Marketing.MarketingConfiguration,VirtoCommerce.Foundation" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings configSource="connectionStrings.local.config"></connectionStrings>
  <!-- Virto Commerce configuration -->
  <VirtoCommerce>
    <!-- Azure Repository Configuration -->
    <AzureRepository configSource="Repository.Azure.config" />
    <!-- Order Configuration -->
    <Order configSource="Order.config" />
	  <!-- Review Configuration -->
	  <Review configSource="Review.config" />
    <!-- Catalog Configuration -->
    <Catalog configSource="Catalog.config" />
    <!-- Store Configuration -->
    <Store configSource="Store.config" />
    <!-- Inventory Configuration -->
    <Inventory configSource="Inventory.config" />
    <!-- Customer Configuration -->
    <Customer configSource="Customer.config" />
    <!-- Search Configuration -->
    <Search configSource="Search.config" />
    <!-- Workflow Configuration -->
    <Workflow configSource="Workflow.config" />
    <!-- System Configuration -->
    <AppConfig configSource="AppConfig.config" />
    <!-- Marketing Configuration -->
    <Marketing configSource="Marketing.config" />
  </VirtoCommerce>
  <dataCacheClient>
    <localCache isEnabled="true" sync="TimeoutBased" objectCount="1000" ttlValue="600" />
    <hosts>
      <host name="localhost" cachePort="22233" />
    </hosts>
  </dataCacheClient>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="virtoCommerceScheduleServiceTraceListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
    <sources>
      <source name="VirtoCommerce.ScheduleService.Trace" switchValue="All">
        <listeners>
          <add name="virtoCommerceScheduleServiceTraceListener" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>
      <source name="VirtoCommerce" switchValue="All">
        <listeners>
          <add name="virtoCommerceScheduleServiceTraceListener" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>
    </sources>
    <!--<trace autoflush="false" indentsize="4">
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="virtoCommerceDefaultTraceListener"/>
      </listeners>
    </trace>-->
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>