<div class="blade-static __bottom">
    <button class="btn" ng-click="submit()" ng-disabled="!isValid()">
        <span>Start export</span>
    </button>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <ul class="list __items">
                <li class="list-item" ng-click="openBlade('catalog')">
                    <span class="list-t">{{blade.currentEntity.catalog ? 'Selected catalog' : 'Select a catalog'}}</span>
                    <span class="list-descr">{{blade.currentEntity.catalog.name}}</span>
                </li>
                <li class="list-item" ng-click="openBlade('types')">
                    <span class="list-t">{{blade.currentEntity.types.length>0 ? 'Selected types' : 'Select types to export'}}</span>
                    <span class="list-descr">
                        <span ng-repeat="x in blade.currentEntity.types">{{x}}, </span>
                    </span>
                </li>
                <li class="list-item" ng-click="openBlade('format')">
                    <span class="list-t">{{blade.currentEntity.format ? 'Selected format' : 'Select a format'}}</span>
                    <span class="list-descr">{{blade.currentEntity.format}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>