<div class="blade-static">
    <div class="form-group">
        <div class="form-input __search">
            <input type="text" placeholder="Search keyword..." ng-model="filter.searchKeyword" ng-keyup="$event.which === 13 && blade.refresh()">
        </div>
        <p class="form-count">{{'platform.list.count' | translate}}: <span class="count">{{pageSettings.totalItems}}</span></p>
    </div>
</div>
<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-col __product-control">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="blade.selectedAll" ng-change="toggleAll()" />
                                    <span class="check"></span>
                                </label>
                            </th>
                            <th class="table-col">{{ 'quotes.blades.quotes-list.labels.quote-number' | translate }}</th>
                            <th class="table-col">{{ 'quotes.blades.quotes-list.labels.status' | translate }}</th>
                            <th class="table-col">{{ 'quotes.blades.quotes-list.labels.items-count' | translate }}</th>
                            <th class="table-col">{{ 'quotes.blades.quotes-list.labels.customer' | translate }}</th>
                            <th class="table-col __date">{{ 'quotes.blades.quotes-list.labels.created' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.currentEntities track by data.id" ng-class="{'__selected': data.id === selectedNodeId}" context-menu data-target="ql_menu_{{data.id}}">
                            <td class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.$selected">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col" ng-click='selectNode(data)'>
                                <span>{{data.number}}</span>
                            </td>
                            <td class="table-col" ng-click='selectNode(data)'>
                                <span>{{data.status}}</span>
                            </td>
                            <td class="table-col" ng-click='selectNode(data)'>
                                <span>{{data.items.length}}</span>
                            </td>
                            <td class="table-col" ng-click='selectNode(data)'>
                                <span>{{data.customerName}}</span>
                                <span class="table-descr" ng-if="data.organizationName">{{data.organizationName}}</span>
                                <span class="table-descr" ng-if="data.customerEmail">{{data.customerEmail}}</span>
                            </td>
                            <td class="table-col" ng-click='selectNode(data)'>
                                <span class="table-date" am-time-ago="data.createdDate"></span>
                                <ul role="menu" class="menu __context" id="ql_menu_{{data.id}}">
                                    <li class="menu-item" ng-click='edit(data)'>
                                        <i class="menu-ico fa fa-edit"></i> {{'platform.commands.manage' | translate}}
                                    </li>
                                    <li class="menu-item" ng-click='delete()'>
                                        <i class="menu-ico fa fa-trash-o"></i> {{'platform.commands.delete' | translate}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="text" ng-if="!blade.currentEntities.length">{{ 'quotes.blades.quotes-list.labels.no-quotes' | translate }}</p>
        </div>
    </div>
</div>