<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Core)/Scripts/common/ok-cancel2.tpl.html'" ng-if="blade.isNew"></div>
<div class="blade-content __large-wide" ng-class="{'__gray': !blade.isNew}">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="formScope">
                <fieldset ng-init="setForm(formScope)">
                    <legend>General information</legend>
                    <!--<div class="note">
                        Fields marked as required must have values for the promotion to be created.
                    </div>-->
                    <div class="columns">
                        <div class="column">
                            <div class="form-group">
                                <label class="form-label">Store</label>
                                <div class="form-input">
                                    <ui-select ng-model="blade.currentEntity.store" ng-disabled="!blade.isNew">
                                        <ui-select-match placeholder="Select...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="store.id as store in stores | filter: { name: $select.search }">
                                            <span ng-bind-html="store.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Promotion name</label>
                                <div class="form-input">
                                    <input ng-model="blade.currentEntity.name" focus-on="" required placeholder="Enter name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Enable date/time</label>
                                <div class="form-input __calendar">
                                    <input ng-model="blade.currentEntity.startDate" datepicker-popup="{{format}}" is-open="datepickers.str" datepicker-options="dateOptions" close-text="Close" />
                                    <button class="btn" type="button" ng-click="open($event,'str')">
                                        <i class="btn-ico fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Expiration date/time</label>
                                <div class="form-input __calendar">
                                    <input ng-model="blade.currentEntity.endDate" datepicker-popup="{{format}}" is-open="datepickers.end" datepicker-options="dateOptions" close-text="Close" />
                                    <button class="btn" type="button" ng-click="open($event,'end')">
                                        <i class="btn-ico fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <label class="form-label">Description</label>
                                <div class="form-input">
                                    <textarea cols="30" rows="10" ng-model="blade.currentEntity.description" placeholder="Enter description"></textarea>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="column">
                                    <div class="form-group">
                                        <label class="form-label">Allowed limit</label>
                                        <div class="form-input __number js-number-input-plugin" data-step="1">
                                            <input type="text" class="js-val" required ng-model="blade.currentEntity.maxUsageCount">
                                            <a class="up js-up"></a>
                                            <a class="down js-down"></a>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label class="form-label">Priority</label>
                                        <div class="form-input __number js-number-input-plugin" data-step="1">
                                            <input type="text" class="js-val" required="" ng-model="blade.currentEntity.priority">
                                            <a class="up js-up"></a>
                                            <a class="down js-down"></a>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="column">
                                    <div class="form-group">
                                        <label class="form-label">Limit per customer</label>
                                        <div class="form-input __number js-number-input-plugin" data-step="1">
                                            <input type="text" class="js-val" required="" ng-model="blade.currentEntity.maxPersonalUsageCount">
                                            <a class="up js-up"></a>
                                            <a class="down js-down"></a>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label class="form-label">Exclusivity</label>
                                        <div class="form-input">
                                            <ui-select ng-model="blade.currentEntity.exclusivity" required>
                                                <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="x in exclusivities | filter: $select.search">
                                                    <span ng-bind-html="x | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-control __checkbox">
                                    <label class="form-label">
                                        <input type="checkbox" ng-model="blade.currentEntity.isActive">
                                        <span class="check"></span>
                                        <span class="name">Enable in store</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Promotion conditions</legend>
                    <div class="dynamic-expression">
                        <va-dynamic-expression-tree ng-controller="promotionExpressionsController" source="blade.currentEntity.dynamicExpression"></va-dynamic-expression-tree>
                        <!--<va-expression-block ng-repeat="data in blade.currentEntity.dynamicExpression.children" data="data"></va-expression-block>
                            <script type="text/ng-template" id="expression-shippingMethod.html">
                            <a class="__link" left-click-menu data-target="shp_menu{{element.$parentElement.id}}">{{element.$parentElement.shippingMethod ? element.$parentElement.shippingMethod : 'select shipping'}}</a>
                            <ul class="menu __context" role="menu" id="shp_menu{{element.$parentElement.id}}">
                                <li class="menu-item" ng-click='element.$parentElement.shippingMethod=x.id;' ng-repeat="x in element.availableEntries">{{x.name}}</li>
                            </ul>
                        </script>-->
                        <script type="text/ng-template" id="expression-BlockCustomerCondition.html">
                            For visitor with
                            <a class="__link" left-click-menu data-target="allAny_menu{{element.id}}">{{element.all | boolToValue:'all':'any'}}</a> of these eligibilities
                            <ul class="menu __context" role="menu" id="allAny_menu{{element.id}}">
                                <li class="menu-item" ng-click='element.all=true;'>all</li>
                                <li class="menu-item" ng-click='element.all=false;'>any</li>
                            </ul>
                        </script>
                        <script type="text/ng-template" id="expression-ConditionIsEveryone.html">
                            Everyone
                        </script>
                        <script type="text/ng-template" id="expression-ConditionIsFirstTimeBuyer.html">
                            First time buyer
                        </script>
                        <script type="text/ng-template" id="expression-ConditionIsRegisteredUser.html">
                            Registered user
                        </script>

                        <script type="text/ng-template" id="expression-BlockCatalogCondition.html">
                            if
                            <a class="__link" left-click-menu data-target="allAny_menu{{element.id}}">{{element.all | boolToValue:'all':'any'}}</a> of these catalog conditions are true
                            <ul class="menu __context" role="menu" id="allAny_menu{{element.id}}">
                                <li class="menu-item" ng-click='element.all=true;'>all</li>
                                <li class="menu-item" ng-click='element.all=false;'>any</li>
                            </ul>
                        </script>
                        <script type="text/ng-template" id="expression-ConditionEntryIs.html">
                            Product is
                            <a class="__link" ng-click="openItemSelectWizard(element1)">{{element1.productId?element1.productId: 'select product'}}</a>
                        </script>
                        <script type="text/ng-template" id="expression-ConditionCurrencyIs.html">
                            <span ng-controller="promotionConditionCurrencyIsController">
                                Currency is
                                <a class="__link" left-click-menu data-target="pcrn_menu{{$index}}">{{element1.currency ? element1.currency : 'select currency'}}</a>
                                <ul class="menu __context" role="menu" id="pcrn_menu{{$index}}">
                                    <li class="menu-item" ng-click='element1.currency=x;' ng-repeat="x in availableCurrencies">{{x}}</li>
                                </ul>
                            </span>
                        </script>
                        <script type="text/ng-template" id="expression-ConditionCodeContains.html">
                            Product code contains
                            <div class="form-input">
                                <input ng-model="element1.keyword" required placeholder="Enter code">
                            </div>
                        </script>
                        <script type="text/ng-template" id="expression-ConditionCategoryIs.html">
                            Category is
                            <a class="__link" ng-click="openCategorySelectWizard(element1)">{{element1.selectedCategoryId?element1.selectedCategoryId: 'select category'}}</a>
                        </script>

                        <script type="text/ng-template" id="expression-BlockCartCondition.html">
                            if
                            <a class="__link" left-click-menu data-target="allAny_menu{{element.id}}">{{element.all | boolToValue:'all':'any'}}</a> of these cart conditions are true
                            <ul class="menu __context" role="menu" id="allAny_menu{{element.id}}">
                                <li class="menu-item" ng-click='element.all=true;'>all</li>
                                <li class="menu-item" ng-click='element.all=false;'>any</li>
                            </ul>
                        </script>
                        <script type="text/ng-template" id="expression-ConditionCartSubtotalLeast.html">
                            Cart subtotal is
                            <a class="__link" left-click-menu data-target="exactly_menu{{element1.id}}">{{element1.exactly | boolToValue:'exactly':'at least'}}</a>
                            <div class="form-input __mini">
                                <input money required ng-model="element1.subTotal">
                            </div>excluding

                            <ul class="menu __context" role="menu" id="exactly_menu{{element1.id}}">
                                <li class="menu-item" ng-click='element1.exactly=true;'>exactly</li>
                                <li class="menu-item" ng-click='element1.exactly=false;'>at least</li>
                            </ul>
                        </script>
                        <script type="text/ng-template" id="expression-ConditionAtNumItemsInCart.html">
                            <a class="__link" left-click-menu data-target="exactly_menu{{element1.id}}">{{element1.exactly | boolToValue:'exactly':'at least'}}</a>
                            <div class="form-input __mini __number js-number-input-plugin" data-step="1">
                                <input class="js-val" required ng-model="element1.numItem">
                                <a class="up js-up"></a>
                                <a class="down js-down"></a>
                            </div>items are in shopping cart excluding

                            <ul class="menu __context" role="menu" id="exactly_menu{{element1.id}}">
                                <li class="menu-item" ng-click='element1.exactly=true;'>exactly</li>
                                <li class="menu-item" ng-click='element1.exactly=false;'>at least</li>
                            </ul>
                        </script>
                        <script type="text/ng-template" id="expression-ConditionAtNumItemsInCategoryAreInCart.html">
                            <a class="__link" left-click-menu data-target="exactly_menu{{element1.id}}">{{element1.exactly | boolToValue:'exactly':'at least'}}</a>
                            <div class="form-input __mini __number js-number-input-plugin" data-step="1">
                                <input class="js-val" required ng-model="element1.numItem">
                                <a class="up js-up"></a>
                                <a class="down js-down"></a>
                            </div>items of category
                            <a class="__link" ng-click="openCategorySelectWizard(element)">{{element.selectedCategoryId?element.selectedCategoryId: 'select category'}}</a>
                            are in shopping cart excluding
                            <ul class="menu __context" role="menu" id="exactly_menu{{element1.id}}">
                                <li class="menu-item" ng-click='element1.exactly=true;'>exactly</li>
                                <li class="menu-item" ng-click='element1.exactly=false;'>at least</li>
                            </ul>
                        </script>
                        <script type="text/ng-template" id="expression-ConditionAtNumItemsOfEntryAreInCart.html">
                            <a class="__link" left-click-menu data-target="exactly_menu{{element1.id}}">{{element1.exactly | boolToValue:'exactly':'at least'}}</a>
                            <div class="form-input __mini __number js-number-input-plugin" data-step="1">
                                <input class="js-val" required ng-model="element1.numItem">
                                <a class="up js-up"></a>
                                <a class="down js-down"></a>
                            </div>items of entry
                            <a class="__link" ng-click="openItemSelectWizard(element)">{{element.productId?element.productId: 'select entry'}}</a>
                            are in shopping cart
                            <ul class="menu __context" role="menu" id="exactly_menu{{element1.id}}">
                                <li class="menu-item" ng-click='element1.exactly=true;'>exactly</li>
                                <li class="menu-item" ng-click='element1.exactly=false;'>at least</li>
                            </ul>
                        </script>

                        <script type="text/ng-template" id="expression-RewardBlock.html">
                            They get:
                        </script>
                        <script type="text/ng-template" id="expression-RewardCartGetOfAbsSubtotal.html">
                            Get $
                            <div class="form-input __mini __number js-number-input-plugin" data-step="1">
                                <input type="text" class="js-val" required ng-model="element1.amount">
                                <a class="up js-up"></a>
                                <a class="down js-down"></a>
                            </div> off cart subtotal
                        </script>
                        <script type="text/ng-template" id="expression-RewardCartGetOfRelSubtotal.html">
                            Get
                            <div class="form-input __mini __number js-number-input-plugin" data-step="1">
                                <input type="text" class="js-val" required ng-model="element1.amount">
                                <a class="up js-up"></a>
                                <a class="down js-down"></a>
                            </div> % off cart subtotal
                        </script>
                        <script type="text/ng-template" id="expression-RewardItemGetFreeNumItemOfProduct.html">
                            Get
                            <div class="form-input __mini __number js-number-input-plugin" data-step="1">
                                <input class="js-val" required ng-model="element1.numItem">
                                <a class="up js-up"></a>
                                <a class="down js-down"></a>
                            </div>free items of product
                            <a class="__link" ng-click="openItemSelectWizard(element1)">{{element1.productId?element1.productId: 'select product'}}</a>
                        </script>
                        <script type="text/ng-template" id="expression-RewardItemGetOfAbs.html">
                            Get $
                            <div class="form-input __mini __number js-number-input-plugin" data-step="1">
                                <input type="text" class="js-val" required ng-model="element1.amount">
                                <a class="up js-up"></a>
                                <a class="down js-down"></a>
                            </div> off cart subtotal
                        </script>
                        <!--<script type="text/ng-template" id="expression-RewardItemGetOfAbsForNum.html">
                            Get $
                            <div class="form-input __mini">
                                <input money required ng-model="element1.amount">
                            </div>off for
                            <div class="form-input __mini __number js-number-input-plugin" data-step="1">
                                <input class="js-val" required ng-model="element1.numItem">
                                <a class="up js-up"></a>
                                <a class="down js-down"></a>
                            </div>items excluding
                        </script>
                        <script type="text/ng-template" id="expression-RewardItemGetOfRelForNum.html">
                            Get
                            <div class="form-input __mini">
                                <input money required ng-model="element1.amount">
                            </div>% off for
                            <div class="form-input __mini __number js-number-input-plugin" data-step="1">
                                <input class="js-val" required ng-model="element1.numItem">
                                <a class="up js-up"></a>
                                <a class="down js-down"></a>
                            </div>items excluding
                        </script>-->

                        <script type="text/ng-template" id="expression-ExcludingCategoryCondition.html">
                            items of category
                            <a class="__link" ng-click="openCategorySelectWizard(element)">{{element.selectedCategoryId?element.selectedCategoryId: 'select category'}}</a>
                        </script>
                        <script type="text/ng-template" id="expression-ExcludingProductCondition.html">
                            items of entry
                            <a class="__link" ng-click="openItemSelectWizard(element)">{{element.productId?element.productId: 'select entry'}}</a>
                        </script>
                    </div>
                </fieldset>
            </form>

            <va-widget-container group="promotionDetail" blade="blade"></va-widget-container>
        </div>
    </div>
</div>