<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Core)/Scripts/common/ok-cancel2.tpl.html'" ng-if="blade.isNew"></div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="formScope">
                <fieldset ng-init="setForm(formScope)">

                    <div class="form-group">
                        <label class="form-label">Promotion name</label>
                        <div class="form-input">
                            <input ng-model="blade.currentEntity.name" focus-on="" required placeholder="Please enter name...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Description</label>
                        <div class="form-input">
                            <textarea cols="30" rows="10" ng-model="blade.currentEntity.description" placeholder="Enter description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="columns clearfix">
                            <div class="column">
                                <div class="form-group">

                                    <label class="form-label">Store</label>
                                    <div class="form-input">
                                        <ui-select ng-model="blade.currentEntity.store" ng-disabled="!blade.isNew">
                                            <ui-select-match placeholder="Select...">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="store.id as store in stores | filter: { name: $select.search }">
                                                <span ng-bind-html="store.name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Start date</label>
                                    <div class="form-input __calendar">
                                        <input placeholder="Please choose date..." ng-model="blade.currentEntity.startDate" datepicker-popup="{{format}}" is-open="datepickers.str" datepicker-options="dateOptions" close-text="Close" />
                                        <button class="btn" type="button" ng-click="open($event,'str')">
                                            <i class="btn-ico fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Usage limit</label>
                                    <div class="form-input __number">
                                        <input va-number required ng-model="blade.currentEntity.maxUsageCount" min="0" step="1">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="form-group">
                                    <label class="form-label">Coupon</label>
                                    <div class="form-input">
                                        <input ng-model="blade.currentEntity.coupon" placeholder="Enter coupon code...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Expiration date</label>
                                    <div class="form-input __calendar">
                                        <input placeholder="Please choose date..." ng-model="blade.currentEntity.endDate" datepicker-popup="{{format}}" is-open="datepickers.end" datepicker-options="dateOptions" close-text="Close" />
                                        <button class="btn" type="button" ng-click="open($event,'end')">
                                            <i class="btn-ico fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Per customer limit</label>
                                    <div class="form-input __number">
                                        <input va-number required ng-model="blade.currentEntity.maxPersonalUsageCount" min="0" step="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <!--ui-validate=" 'promotionExpressionValidator(blade.isExpresionValid)' " ng-model="blade.isExpresionValid"-->
                <fieldset ng-if="blade.currentEntity.type==='DynamicPromotion'">
                    <legend>Promotion conditions</legend>
                    <div class="dynamic-expression">
                        <va-dynamic-expression-tree ng-controller="virtoCommerce.marketingModule.promotionExpressionsController" source="blade.currentEntity.dynamicExpression"></va-dynamic-expression-tree>
                        <script type="text/ng-template" id="expression-BlockCustomerCondition.html">
                            For visitor with
                            <a class="__link" left-click-menu data-target="allAny_menu{{element.id}}">{{element.all | boolToValue:'all':'any'}}</a> of these eligibilities
                            <ul class="menu __context" role="menu" id="allAny_menu{{element.id}}">
                                <li class="menu-item" ng-click='element.all=true;'>all</li>
                                <li class="menu-item" ng-click='element.all=false;'>any</li>
                            </ul>
                        </script>

                    </div>
                </fieldset>
            </form>

            <va-widget-container group="promotionDetail" blade="blade"></va-widget-container>
        </div>
    </div>
</div>

<script type="text/ng-template" id="expression-ConditionIsEveryone.html">
    Everyone
</script>
<script type="text/ng-template" id="expression-ConditionIsFirstTimeBuyer.html">
    First time buyer
</script>
<script type="text/ng-template" id="expression-ConditionIsRegisteredUser.html">
    Registered user
</script>

<script type="text/ng-template" id="expression-BlockCatalogCondition.html">
    if
    <a class="__link" left-click-menu data-target="allAny_menu{{element.id}}">{{element.all | boolToValue:'all':'any'}}</a> of these catalog conditions are true
    <ul class="menu __context" role="menu" id="allAny_menu{{element.id}}">
        <li class="menu-item" ng-click='element.all=true;'>all</li>
        <li class="menu-item" ng-click='element.all=false;'>any</li>
    </ul>
</script>
<script type="text/ng-template" id="expression-ConditionEntryIs.html">
    Product is
    <a class="__link" ng-click="openItemSelectWizard(element1)">{{element1.productName ? element1.productName : 'select product' }}</a>
</script>
<script type="text/ng-template" id="expression-ConditionCurrencyIs.html">
    <span ng-controller="virtoCommerce.marketingModule.promotionConditionCurrencyIsController">
        Currency is
        <a class="__link" left-click-menu data-target="pcrn_menu{{$index}}">{{element1.currency ? element1.currency : 'select currency' }}</a>
        <ul class="menu __context" role="menu" id="pcrn_menu{{$index}}">
            <li class="menu-item" ng-click='element1.currency=x;' ng-repeat="x in availableCurrencies">{{x}}</li>
        </ul>
    </span>
</script>
<script type="text/ng-template" id="expression-ConditionCodeContains.html">
    Product code contains
    <div class="form-input">
        <input ng-model="element1.keyword" required placeholder="Enter code">
    </div>
</script>
<script type="text/ng-template" id="expression-ConditionCategoryIs.html">
    Category is
    <a class="__link" ng-click="openCategorySelectWizard(element1)">{{element1.categoryName?element1.categoryName: 'select category' }}</a>
</script>

<script type="text/ng-template" id="expression-BlockCartCondition.html">
    if
    <a class="__link" left-click-menu data-target="allAny_menu{{element.id}}">{{element.all | boolToValue:'all':'any'}}</a> of these cart conditions are true
    <ul class="menu __context" role="menu" id="allAny_menu{{element.id}}">
        <li class="menu-item" ng-click='element.all=true;'>all</li>
        <li class="menu-item" ng-click='element.all=false;'>any</li>
    </ul>
</script>
<script type="text/ng-template" id="expression-ConditionCartSubtotalLeast.html">
    Cart subtotal is
    <a class="__link" left-click-menu data-target="exactly_menu{{element1.id}}">{{element1.exactly | boolToValue:'exactly':'at least'}}</a>
    <div class="form-input __mini">
        <input money required ng-model="element1.subTotal">
    </div>excluding

    <ul class="menu __context" role="menu" id="exactly_menu{{element1.id}}">
        <li class="menu-item" ng-click='element1.exactly=true;'>exactly</li>
        <li class="menu-item" ng-click='element1.exactly=false;'>at least</li>
    </ul>
</script>
<script type="text/ng-template" id="expression-ConditionAtNumItemsInCart.html">
    <a class="__link" left-click-menu data-target="exactly_menu{{element1.id}}">{{element1.exactly | boolToValue:'exactly':'at least'}}</a>
    <div class="form-input __mini __number">
        <input va-number required ng-model="element1.numItem" min="0" step="1">
    </div>items are in shopping cart excluding

    <ul class="menu __context" role="menu" id="exactly_menu{{element1.id}}">
        <li class="menu-item" ng-click='element1.exactly=true;'>exactly</li>
        <li class="menu-item" ng-click='element1.exactly=false;'>at least</li>
    </ul>
</script>
<script type="text/ng-template" id="expression-ConditionAtNumItemsInCategoryAreInCart.html">
    <a class="__link" left-click-menu data-target="exactly_menu{{element1.id}}">{{element1.exactly | boolToValue:'exactly':'at least'}}</a>
    <div class="form-input __mini __number">
        <input va-number required ng-model="element1.numItem" min="0" step="1">
    </div>items of category
    <a class="__link" ng-click="openCategorySelectWizard(element)">{{element.categoryName?element.categoryName: 'select category' }}</a>
    are in shopping cart excluding
    <ul class="menu __context" role="menu" id="exactly_menu{{element1.id}}">
        <li class="menu-item" ng-click='element1.exactly=true;'>exactly</li>
        <li class="menu-item" ng-click='element1.exactly=false;'>at least</li>
    </ul>
</script>
<script type="text/ng-template" id="expression-ConditionAtNumItemsOfEntryAreInCart.html">
    <a class="__link" left-click-menu data-target="exactly_menu{{element1.id}}">{{element1.exactly | boolToValue:'exactly':'at least'}}</a>
    <div class="form-input __mini __number">
        <input va-number required ng-model="element1.numItem" min="0" step="1">
    </div>items of entry
    <a class="__link" ng-click="openItemSelectWizard(element)">{{element.productId?element.productName: 'select entry' }}</a>
    are in shopping cart
    <ul class="menu __context" role="menu" id="exactly_menu{{element1.id}}">
        <li class="menu-item" ng-click='element1.exactly=true;'>exactly</li>
        <li class="menu-item" ng-click='element1.exactly=false;'>at least</li>
    </ul>
</script>

<script type="text/ng-template" id="expression-RewardBlock.html">
    They get:
</script>
<script type="text/ng-template" id="expression-RewardCartGetOfAbsSubtotal.html">
    Get $
    <div class="form-input __mini">
        <input money required ng-model="element1.amount">
    </div> off cart subtotal
</script>
<script type="text/ng-template" id="expression-RewardCartGetOfRelSubtotal.html">
    Get
    <div class="form-input __mini __number">
        <input va-number required ng-model="element1.amount" min="0" step="1">
    </div> % off cart subtotal
</script>
<script type="text/ng-template" id="expression-RewardItemGetFreeNumItemOfProduct.html">
    Get
    <div class="form-input __mini __number">
        <input va-number required ng-model="element1.numItem" min="0" step="1">
    </div>free items of product
    <a class="__link" ng-click="openItemSelectWizard(element1)">{{element1.productName?element1.productName: 'select product' }}</a>
</script>
<script type="text/ng-template" id="expression-RewardItemGiftNumItem.html">
    Gift
    <div class="form-input __mini __number">
        <input va-number required ng-model="element1.quantity" min="0" step="1">
    </div>of product
    <a class="__link" ng-click="openItemSelectWizard(element1)">{{element1.productName?element1.productName: 'select product' }}</a> where:
    <table>
        <tr>
            <td>category is</td>
            <td><a class="__link" ng-click="openCategorySelectWizard(element1)">{{element1.categoryName?element1.categoryName: 'select category' }}</a></td>
        </tr>
        <tr>
            <td>name is</td>
            <td>
                <div class="form-input">
                    <input ng-model="element1.name" placeholder="Enter name">
                </div>
            </td>
        </tr>
        <tr>
            <td>measure unit is</td>
            <td>
                <div class="form-input">
                    <input ng-model="element1.measureUnit" placeholder="Enter unit">
                </div>
            </td>
        </tr>
        <tr>
            <td>image Url is</td>
            <td>
                <div class="form-input">
                    <input ng-model="element1.imageUrl" placeholder="Enter URL" type="url">
                </div>
            </td>
        </tr>
        <tr>
            <td>description is</td>
            <td>
                <div class="form-input">
                    <textarea cols="30" rows="10" ng-model="element1.description" placeholder="Enter description"></textarea>
                </div>
            </td>
        </tr>
    </table>
</script>
<script type="text/ng-template" id="expression-RewardItemGetOfAbs.html">
    Get $
    <div class="form-input __mini">
        <input money required ng-model="element1.amount">
    </div>off for
    <a class="__link" ng-click="openItemSelectWizard(element1)">{{element1.productName?element1.productName: 'select product' }}</a>
</script>
<script type="text/ng-template" id="expression-RewardItemGetOfRel.html">
    Get
    <div class="form-input __mini __number">
        <input va-number required ng-model="element1.amount" min="0" step="1">
    </div>% off
    <a class="__link" ng-click="openItemSelectWizard(element1)">{{element1.productName?element1.productName: 'select product' }}</a>
</script>
<script type="text/ng-template" id="expression-RewardItemGetOfAbsForNum.html">
    Get $
    <div class="form-input __mini">
        <input money required ng-model="element1.amount">
    </div>off
    <div class="form-input __mini __number">
        <input va-number required ng-model="element1.numItem" min="0" step="1">
    </div>items of entry
    <a class="__link" ng-click="openItemSelectWizard(element1)">{{element1.productName?element1.productName: 'select entry' }}</a>
</script>
<script type="text/ng-template" id="expression-RewardItemGetOfRelForNum.html">
    Get
    <div class="form-input __mini __number">
        <input va-number required ng-model="element1.amount" min="0" step="1">
    </div>% off
    <div class="form-input __mini __number">
        <input va-number required ng-model="element1.numItem" min="0" step="1">
    </div>items of entry
    <a class="__link" ng-click="openItemSelectWizard(element1)">{{element1.productName?element1.productName: 'select entry' }}</a>
</script>
<script type="text/ng-template" id="expression-RewardShippingGetOfAbsShippingMethod.html">
    Get $
    <div class="form-input __mini">
        <input money required ng-model="element1.amount">
    </div>off shipping
    <a class="__link" left-click-menu data-target="pshp_menu{{$index}}">{{element1.shippingMethod ? element1.shippingMethod : 'select shipping'}}</a>
    <ul class="menu __context" role="menu" id="pshp_menu{{$index}}">
        <li class="menu-item" ng-click='element1.shippingMethod=x.id' ng-repeat="x in shippingMethods">{{x.name}}</li>
    </ul>
</script>
<script type="text/ng-template" id="expression-RewardShippingGetOfRelShippingMethod.html">
    Get
    <div class="form-input __mini __number">
        <input va-number required ng-model="element1.amount" min="0" step="1">
    </div>% off shipping
    <a class="__link" left-click-menu data-target="pshp_menu{{$index}}">{{element1.shippingMethod ? element1.shippingMethod : 'select shipping'}}</a>
    <ul class="menu __context" role="menu" id="pshp_menu{{$index}}">
        <li class="menu-item" ng-click='element1.shippingMethod=x.id' ng-repeat="x in shippingMethods">{{x.name}}</li>
    </ul>
</script>

<script type="text/ng-template" id="expression-ExcludingCategoryCondition.html">
    items of category
    <a class="__link" ng-click="openCategorySelectWizard(element)">{{element.categoryName?element.categoryName: 'select category' }}</a>
</script>
<script type="text/ng-template" id="expression-ExcludingProductCondition.html">
    items of entry
    <a class="__link" ng-click="openItemSelectWizard(element)">{{element.productName?element.productName: 'select entry' }}</a>
</script>