/*
    This file contains all actual styles, which used to override old incorrect styles
    Created 09.07.18 by Tigran Petrosyan

    Namespace - ts 
*/

.ts {
    &.blade-static {
        .form-group {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .form-count {
                position: relative !important;
                top: 0 !important;
                bottom: 0 !important;
                left: 0 !important;
                right: 0 !important;
                transform: none !important;
            }
        }

        // block with input "Search keyword"
        .form-input {
            min-width: 190px;

            &.__search {
                margin-right: 0 !important;
            }
        }

        // search dropdown block
        .seacrh-filter {
            min-width: 190px;
        }
    }
}
