<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="sub-t">Select import target</div>
            <ul class="list __items">
                <label class="list-item" ng-repeat="data in importers">
                    <input type="checkbox" name="isDefault" ng-checked="data === selectedImporter" ng-click="setImporter(data)">
                    <span class="switch"></span>
                    <span class="list-name">{{data}}</span>
                </label>
            </ul>
        </div>
    </div>
</div>