<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="sub-t">Select catalog</div>
            <ul class="list __items">
                <label class="list-item" ng-repeat="data in catalogs">
                    <input type="checkbox" name="isDefault" ng-checked="data.id === selectedCatalogId" ng-click="setCatalog(data)">
                    <span class="switch"></span>
                    <span class="list-name">{{data.name}}</span>
                </label>
            </ul>
        </div>
    </div>
</div>