<div class="gridster-cnt" ng-click="openBlade()">
    <div class="cnt-inner" ng-if="address">
        <div class="list-t">{{address.firstName}} {{address.lastName}}</div>
        <div class="list-t">{{address.countryCode}}, {{ address.regionName}}, {{address.city}}, {{address.line1}}</div>
        <div class="list-t">{{ 'quotes.widgets.quote-address.address-type' | translate }}: {{address.addressType}}</div>
    </div>
    <div class="cnt-inner" ng-if="!address">
        <div class="list-count">{{ 'quotes.widgets.quote-address.no-address' | translate }}</div>
    </div>
</div>