<script type="text/ng-template" id="order-statistics-revenue.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">
                <div ng-repeat="data in $storage.ordersDashboardStatistics.revenuePerCustomer track by $index">{{data.amount | number : 2}} {{data.currency}}</div>
            </div>
            <div class="list-t">{{'orders.widgets.statistics-templates.revenue' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-customersCount.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">{{$storage.ordersDashboardStatistics.customersCount}}</div>
            <div class="list-t">{{'orders.widgets.statistics-templates.customers-with-orders' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-revenuePerCustomer.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">
                <div ng-repeat="data in $storage.ordersDashboardStatistics.revenuePerCustomer track by $index">{{data.amount | number : 2}} {{data.currency}}</div>
            </div>
            <div class="list-t">{{'orders.widgets.statistics-templates.revenue-per-customer' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-orderValue.html">
    <div class="gridster-cnt" ng-click="openBlade()">
        <div class="cnt-inner">
            <div class="list-count">
                <div ng-repeat="data in $storage.ordersDashboardStatistics.avgOrderValue track by $index">{{data.amount | number : 2}} {{data.currency}}</div>
            </div>
            <div class="list-t">{{'orders.widgets.statistics-templates.average-order-value' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-itemsPurchased.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">{{$storage.ordersDashboardStatistics.itemsPurchased}}</div>
            <div class="list-t">{{'orders.widgets.statistics-templates.items-purchased' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-lineitemsPerOrder.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">{{$storage.ordersDashboardStatistics.lineitemsPerOrder| number : 1}}</div>
            <div class="list-t">{{'orders.widgets.statistics-templates.lines-per-order' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-revenueByQuarter.html">
    <div google-chart chart="$storage.ordersDashboardStatistics.chartRevenueByQuarter" style="height:100%"></div>
</script>
<script type="text/ng-template" id="order-statistics-orderValueByQuarter.html">
    <div google-chart chart="$storage.ordersDashboardStatistics.chartOrderValueByQuarter" style="height:100%"></div>
</script>