<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th class="text-left">Entity property</th>
                            <th class="text-left fixed-td">Locale</th>
                            <th class="text-left fixed-td">CSV column</th>
                            <th class="text-left fixed-td">Custom value</th>
                            <th class="text-left fixed-td">Format value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in item.propertiesMap" ng-class="{'selected': data.id === selectedItem.id}" ng-click='setSelectedItem(data)' ng-dblclick="editMapping(data)">
                            <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis;">
                                <span title="{{data.entityColumnName}}">{{data.displayName}}</span>
                            </td>
                            <td>
                                <span title="{{data.locale}}">{{data.locale}}</span>
                            </td>
                            <td>
                                <span title="{{data.csvColumnName}}">{{data.csvColumnName}}</span>
                            </td>
                            <td>
                                <span title="{{data.customValue}}">{{data.customValue}}</span>
                            </td>
                            <td>
                                <span title="{{data.stringFormat}}">{{data.stringFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="static bottom" ng-include="'Modules/Catalog/VirtoCommerce.CatalogModule.Web/Scripts/app/catalog/wizards/common/wizard-ok-action.tpl.html'">
</div>