<div class="blade-static">
    <div class="form-group">
        <div class="form-input __search">
            <input type="text" placeholder="Search keyword..." ng-model="filter.searchKeyword" ui-keyup="{'enter':'blade.refresh()'}">
        </div>
        <p class="form-count">Count: <span class="count">{{pageSettings.totalItems}}</span></p>
    </div>
</div>
<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="selectedAll" ng-change="checkAll(selectedAll)" />
                                    <span class="check"></span>
                                </label>
                            </th>
                            <th class="table-col">Description</th>
                            <th class="table-col">Confirmed</th>
                            <th class="table-col">Total</th>
                            <th class="table-col">Created</th>
                            <th class="table-col">Store</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat="data in objects track by $index" ng-class="{'__selected': data.id === selectedNodeId}" context-menu data-target="col_menu_{{data.id}}" ng-click='selectNode(data)'>
                            <td class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.selected">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col">
                                <span class="table-t">{{data.number + ' by ' + data.customer}}</span>
                                <span class="table-descr" ng-if="data.statusId">{{data.statusId}}</span>
                            </td>
                            <td class="table-col __blue">
                                <span>{{data.isApproved}}</span>
                                <ul role="menu" class="menu __context" id="col_menu_{{data.id}}">
                                    <li class="menu-item" ng-click='edit(data)'>
                                        <i class="menu-ico fa fa-edit"></i> Manage
                                    </li>
                                    <li class="menu-item" ng-click='delete()'>
                                        <i class="menu-ico fa fa-trash-o"></i> Delete
                                    </li>
                                </ul>
                            </td>
                            <td class="table-col">
                                <span>{{data.sum +' '+ data.currency}}</span>
                            </td>
                            <td class="table-col">
                                <span title="{{data.createdDate}}">{{data.createdDate | date }}</span>
                            </td>
                            <td class="table-col">
                                <span title="{{data.site}}">{{data.site}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>