<div class="blade-static">
    <div class="form-group">
        <p class="form-count">{{'platform.list.count' | translate}}: <span class="count">{{pageSettings.totalItems}}</span></p>
    </div>
</div>
<div class="blade-content __large-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="orderForm" novalidate></form>
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-col __product-control">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="blade.selectedAll" ng-change="checkAll(blade.selectedAll)" />
                                    <span class="check"></span>
                                </label>
                            </th>
                            <th class="table-col __proudct-img">{{ 'orders.blades.customerOrder-items.labels.item' | translate }}</th>
                            <th class="table-col">{{ 'orders.blades.customerOrder-items.labels.quantity' | translate }}</th>
                            <th class="table-col">{{ 'orders.blades.customerOrder-items.labels.aviable' | translate }}</th>
                            <th class="table-col">{{ 'orders.blades.customerOrder-items.labels.basePrice' | translate }}</th>
                            <th class="table-col">{{ 'orders.blades.customerOrder-items.labels.price' | translate }}</th>
                            <th class="table-col">{{ 'orders.blades.customerOrder-items.labels.discount' | translate }}</th>
                            <th class="table-col">{{ 'orders.blades.customerOrder-items.labels.tax' | translate }}</th>
                            <th class="table-col">{{ 'orders.blades.customerOrder-items.labels.total' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item" ng-repeat-start="data in blade.currentEntity.items" ng-class="{'__selected': data.id === selectedNodeId}" ng-click='selectItem(data)'>
                            <td class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.selected">
                                    <span class="check"></span>
                                </label>
                                <a class="clear text-mini __link" ng-click="openItemDynamicProperties(data)">{{ 'orders.blades.customerOrder-items.labels.dynamic-properties' | translate }}</a>
                            </td>
                            <td class="table-col">
                                <div class="product-img">
                                    <div class="image" style="background-image: url({{data.imageUrl}})" ng-if="data.imageUrl" ng-click="openItemDetail(data)"></div>
                                    <i class="table-ico fa fa-image" ng-if="!data.imageUrl" />
                                </div>

                            </td>
                            <td class="table-col">
                                <div class="__mini __number">{{data.quantity}}</div>
                            </td>
                            <td class="table-col">
                                <span ng-class="{'error': data.avail <= 0}">{{data.avail || 0}}</span>
                            </td>
                            <td class="table-col">
                                <span class="list-price">{{data.basePrice | number:2}}</span>
                            </td>
                            <td class="table-col">
                                <span class="list-price">{{data.price | number:2}}</span>
                            </td>
                            <td class="table-col">
                                <span class="list-price">{{data.discountAmount | number:2}}</span>
                              </td>
                            <td class="table-col">
                                <span class="list-price">{{data.tax | number:2}}</span>
                            </td>
                            <td class="table-col __total">
                                <span class="list-price">{{data._total | number:2 }}</span>
                            </td>
                        </tr>
                        <tr ng-repeat-end class="table-item" ng-class="{'__selected': data.id === selectedNodeId}" ng-click='selectItem(data)'>
                            <td class="table-head" colspan="9" ng-click="openItemDetail(data)">
                                {{data.name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
            </div>
            <div class="table-wrapper">
                <table class="table __collapsed __order-info">
                    <tr class="table-item">
                        <td class="table-col">{{ 'orders.blades.customerOrder-items.labels.sub-total' | translate }}</td>
                        <td class="table-col __price">{{blade.currentEntity._subTotal | number:2}}&nbsp;{{blade.currentEntity.currency}}</td>
                    </tr>
                    <tr class="table-item">
                        <td class="table-col">{{ 'orders.blades.customerOrder-items.labels.discount-total' | translate }}</td>
                        <td class="table-col __price">{{blade.currentEntity._itemsDiscountTotal | number:2}}&nbsp;{{blade.currentEntity.currency}}</td>
                    </tr>
                    <tr class="table-item">
                        <td class="table-col">{{ 'orders.blades.customerOrder-items.labels.tax-total' | translate }}</td>
                        <td class="table-col __price">{{blade.currentEntity._itemsTaxTotal | number:2}}&nbsp;{{blade.currentEntity.currency}}</td>
                    </tr>
                    <tr class="table-item __total">
                        <td class="table-col">{{ 'orders.blades.customerOrder-items.labels.total' | translate }}</td>
                        <td class="table-col __price">{{blade.currentEntity._itemsTotal | number:2}}&nbsp;{{blade.currentEntity.currency}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>