<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="order-status canceled" ng-if="blade.currentEntity.status">
                <div class="status" ng-bind="blade.currentEntity.status"></div>
                <div class="reason" ng-bind="blade.currentEntity.cancelReason" ng-if="blade.currentEntity.isCancelled"></div>
            </div>
            <div class="order-brand" ng-if="!blade.isNew">
                <div class="brand-image">
                    <img class="brand-logo" ng-src="{{blade.currentEntity.paymentMethod.iconUrl}}" alt="" ng-if="blade.currentEntity.paymentMethod.iconUrl">
                </div>
                <div class="brand-t" title="{{blade.currentEntity.paymentMethod.description}}">{{blade.currentEntity.paymentMethod.name}}</div>
                <div class="brand-descr" ng-if="blade.currentEntity.paymentMethod.paymentMethodGroupType">{{blade.currentEntity.paymentMethod.paymentMethodGroupType}}</div>
            </div>

            <form class="form" name="detailForm">
                <div class="form-group" ng-if="blade.isNew">
                    <label class="form-label">{{ 'orders.blades.payment-detail.labels.payment-gateway' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.paymentMethod" required>
                            <ui-select-match placeholder="{{ 'orders.blades.payment-detail.placeholders.payment-gateway' | translate }}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="x in currentStore.paymentMethods | filter: { name: $select.search }">
                                <span ng-bind-html="x.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                <div class="form-group" ng-init="setForm(detailForm)">
                    <label class="form-label">{{ 'orders.blades.payment-detail.labels.approved' | translate }}</label>
                    <div class="form-input">
                        <label class="form-label __switch">
                            <input type="checkbox" ng-model="blade.currentEntity.isApproved" />
                            <span class="switch"></span>
                        </label>
                    </div>
                </div>
                <div class="form columns clearfix">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'orders.blades.payment-detail.labels.payment-number' | translate }}</label>
                            <div class="form-input">
                                <input required type="text" ng-model="blade.currentEntity.number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">
                                {{ 'orders.blades.payment-detail.labels.status' | translate }}
                                <a href="" ng-click="openStatusSettingManagement()" class="form-edit"><i class="form-ico fa fa-pencil"></i></a>
                            </label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.status">
                                    <ui-select-match placeholder="{{ 'orders.blades.payment-detail.placeholders.status' | translate }}">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="x as x in statuses | filter: $select.search ">
                                        <span ng-bind-html="x | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{{ 'orders.blades.payment-detail.labels.amount' | translate }}</label>
                            <div class="form-input __currency">
                                <span class="currency">{{blade.currentEntity.currency}}</span>
                                <input money required type="text" ng-model="blade.currentEntity.sum">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'orders.blades.payment-detail.labels.from' | translate }}</label>
                            <div class="form-input">
                                <div class="form-text">{{blade.currentEntity.createdDate | date:'short'}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{{ 'orders.blades.payment-detail.labels.payment-purpose' | translate }}</label>
                            <div class="form-input">
                                <textarea ng-model="blade.currentEntity.purpose"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <va-widget-container group="paymentDetailWidgets" blade="blade" gridster-opts="{width: 526}"></va-widget-container>
        </div>
    </div>
</div>


