<div class="modal-header">
    <h3 class="modal-title">{{ 'platform.dialogs.license.title' | translate }}</h3>
    <div class="loader" ng-if="isLoading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="modal-body">
    <!--{{currentEntity}}-->
    <div class="note" ng-bind-html="'platform.dialogs.license.info' | translate: license"></div>
    <div class="note" ng-bind-html="'platform.dialogs.license.expired' | translate: license"></div>
    <label class="form-label" style="height:27px;">
        <a href="https://virtocommerce.com/request-license" target="_blank">{{ 'platform.dialogs.license.request-license' | translate }}</a>
    </label>
    <div class="form-group">
        <label class="form-label">{{ 'platform.dialogs.license.code' | translate }}</label>
        <div class="form-input">
            <input ng-model="activationCode" placeholder="{{ 'platform.dialogs.license.code-placeholder' | translate }}" focus-on>
        </div>
    </div>
    <div class="form-group">
        <label class="form-label">{{ 'platform.dialogs.license.file' | translate }}</label>
        <div class="form-input __file">
            <input type="file" uploader="uploader" nv-file-select style="z-index: 0;" tabindex="-1">
            <input type="text" style="z-index: 1; cursor: default;" readonly="">
            <button class="btn __file" type="button" onclick="$('input[type=file]').trigger('click')" title="Select license file">
                <i class="btn-ico fa fa-file"></i>
            </button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="activate(activationCode, license)" ng-disabled="!activationCode">{{ 'platform.commands.activate' | translate }}</button>
    <button class="btn btn-primary" ng-click="cancel()">{{ 'platform.commands.ok' | translate }}</button>
</div>