<div class="blade-static __bottom" ng-if="blade.isNew && currentEntity">
    <button class="btn" ng-click="activateLicense()" ng-disabled="blade.isLoading || activationError">{{ 'platform.commands.activate' | translate }}</button>
</div>
<div class="blade-content ___tree">
    <div class="blade-inner">
        <div class="inner-block">
            <fieldset ng-if="currentEntity">
                <legend>{{ 'platform.blades.license.license-info' | translate }}</legend>
                <ul class="list __info">
                    <li class="list-item">
                        <div class="list-t">{{ 'platform.blades.license.labels.customer' | translate }}</div>
                        <div class="list-descr">{{currentEntity.customerName}}</div>
                    </li>
                    <li class="list-item">
                        <div class="list-t">{{ 'platform.blades.license.labels.type' | translate }}</div>
                        <div class="list-descr">{{currentEntity.type}}</div>
                    </li>
                    <li class="list-item">
                        <div class="list-t">{{ 'platform.blades.license.labels.expiration' | translate }}</div>
                        <div class="list-descr">{{currentEntity.expirationDate | date}}</div>
                    </li>
                    <li class="list-item" ng-if="currentEntity.customerEmail">
                        <div class="list-t">{{ 'platform.blades.license.labels.email' | translate }}</div>
                        <div class="list-descr">{{currentEntity.customerEmail}}</div>
                    </li>
                    <li class="list-item" ng-if="!blade.isNew">
                        <a href="https://virtocommerce.com/request-license" target="_blank">{{ 'platform.blades.license.labels.request-license' | translate }}</a>
                    </li>
                </ul>
            </fieldset>

            <fieldset ng-if="blade.isNew && !currentEntity || activationError">
                <legend>{{ 'platform.blades.license.license-activation' | translate }}</legend>

                <form class="form">
                    <div class="form-input __file">
                        <input ng-model="activationCode" ng-keyup="$event.which === 13 && activationCode && activate(activationCode)" placeholder="{{ 'platform.blades.license.placeholders.code' | translate }}" focus-on>
                        <button class="btn __file" type="button" ng-click="activate(activationCode)" ng-disabled="blade.isLoading || !activationCode" title="Activate by code">
                            <i class="btn-ico fa fa-check"></i>
                        </button>
                    </div>
                    <div class="form-input __file">
                        <input type="file" accept=".lic" uploader="uploader" nv-file-select style="z-index: 0;" tabindex="-1">
                        <input ng-model="filename" type="text" style="z-index: 1; cursor: default;" readonly="" placeholder="{{ 'platform.placeholders.no-file' | translate }}">
                        <button class="btn __file" type="button" onclick="$('input[type=file]').trigger('click')" ng-disabled="blade.isLoading" title="Select license file">
                            <i class="btn-ico fa fa-file"></i>
                        </button>
                    </div>

                    <div ng-show="uploader.isUploading">
                        <div class="sub-t">{{ 'platform.blades.license.labels.upload-progress' | translate }}</div>
                        <div class="progress-bar __aqua" ng-style="{'width': uploader.progress + '%'}"></div>
                    </div>
                </form>

                <ul class="list __info">
                    <li class="list-item" ng-if="activationError">
                        <div class="list-t">{{ 'platform.blades.license.labels.errors' | translate }}</div>
                        <div class="list-descr error">{{activationError}}</div>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>
</div>