<div class="blade" ng-repeat='blade in blades' ng-class="{'last-child':$last}">
    <span va-blade='blade'>
        <header class="blade-head">
            <div class="progress" ng-show="blade.isLoading">
                <div data-color="bg-dark" data-role="progress-bar" class="progress-bar">
                    <div class="bar bg-dark" style="width: 100%;"></div>
                </div>
            </div>
            <div class="title">
                <i class="icon-grid-view"></i>
                <p class="blade-title subheader" ng-bind="blade.title"></p>
                <p class="blade-subtitle subheader-secondary" ng-bind="blade.subtitle"></p>
            </div>
            <div class="blade-head-nav">
                <button class="btn-min" ng-show="maximized" ng-click="bladeRestore()"></button>
                <button class="btn-max" ng-show="!maximized" ng-click="bladeMaximize()"></button>
                <button class="btn-close" ng-click='bladeClose()' ng-disabled="blade.isClosingDisabled"></button>
            </div>

            <div class="blade-toolbar toolbar transparent">
                <button ng-repeat="toolbarCommand in bladeToolbarCommands" ng-class="{'disabled': !toolbarCommand.canExecuteMethod()}" ng-click='executeCommand(toolbarCommand)'>
                    <i class="on-left" ng-class="toolbarCommand.icon"></i>
                    {{toolbarCommand.name}}
                </button>
            </div>
            <ng-include src="toolbarTemplate" />
        </header>
        <div class="blade-content" ng-class="blade.style">
            <div class="inner-block clearfix">
                <ng-include src='blade.template'> </ng-include>
            </div>
        </div>
    </span>
</div>



