<div class="blade" ng-repeat='blade in blades' ng-class="{'gray': blade.style}">
    <div class="blade-wrapper" va-blade='blade'>
        <header class="blade-head">
            <div class="progress" ng-show="blade.isLoading">
                <div data-color="bg-dark" data-role="progress-bar" class="progress-bar">
                    <div class="bar bg-dark" style="width: 100%;"></div>
                </div>
            </div>
            <div class="title" ng-class="{'secondary': blade.subtitle}">
                <i class="fa fa-folder"></i>
                <p class="blade-title subheader" ng-if="blade.title" ng-bind="blade.title"></p>
                <p class="blade-subtitle subheader-secondary" ng-if="blade.subtitle" ng-bind="blade.subtitle"></p>
            </div>
            <div class="blade-head-nav">
                <button class="btn-min" ng-show="maximized" ng-click="bladeRestore()"></button>
                <button class="btn-max" ng-show="!maximized" ng-click="bladeMaximize()"></button>
                <button class="btn-close" ng-click='bladeClose()' ng-disabled="blade.isClosingDisabled"></button>
            </div>

            <div class="blade-toolbar toolbar transparent">
                <button ng-repeat="toolbarCommand in bladeToolbarCommands" ng-class="{'disabled': !toolbarCommand.canExecuteMethod()}" ng-click='executeCommand(toolbarCommand)'>
                    <i class="on-left" ng-class="toolbarCommand.icon"></i>
                    {{toolbarCommand.name}}
                </button>
            </div>
            <span class="blade-status-bar" ng-class="blade.error.status?'error':''">
                <i ng-if="blade.error.status" class="icon icon-warning"></i> <span class="error-title" ng-bind="blade.error.title"></span>
            </span>
            <ng-include src="toolbarTemplate" />
        </header>
        <div class="blade-container">
            <ng-include src='blade.template'> </ng-include>
        </div>
        <!-- <div class="blade-content">
            <div class="inner-block">
                <va-breadcrumb ng-model="blade.breadcrumbs"></va-breadcrumb>
                
            </div>
        </div> -->
    </div>
</div>