<header class="window-head">
    <div class="window-t __logo">{{ 'platform.templates.modulesAutoInstallation.labels.module-auto-installation' | translate }}</div>
</header>
<div class="window-cnt">
    <form class="form" novalidate name="sampleDataForm">
        <div class="form-group">
            <div class="block" ng-if="notification.created || notification.finished">
                <p ng-if="notification.created" ng-class="{'no-data': notification.created}" class="text">{{ 'platform.templates.modulesAutoInstallation.labels.start' | translate }} — <i class="fa fa-clock-o"></i> <span am-time-ago="notification.created"></span></p>
                <p ng-if="notification.finished" ng-class="{'no-data': notification.finished}" class="text">{{ 'platform.templates.modulesAutoInstallation.labels.end' | translate }} — <i class="fa fa-clock-o"></i> <span am-time-ago="notification.finished"></span></p>
                <p ng-if="!notification.created">{{ 'platform.templates.modulesAutoInstallation.labels.loading' | translate }}</p>
                <p ng-if="notification.finished">{{ 'platform.templates.modulesAutoInstallation.labels.finished' | translate }}</p>
            </div>
            <div class="log" ng-if="notification.progressLog.length > 0">               
                <p ng-repeat="x in notification.progressLog" ng-class="{'__info' : x.level==='Info', '__warning': x.level==='Warning', '__debug': x.level==='Debug', '__error': x.level==='Error'}">{{x.message}}</p>
            </div>
        </div>
        <div class="form-group __right">
            <button class="btn" ng-click="restarted=true; restart();" ng-disabled="!notification.finished || restarted">
                <span>{{ 'platform.commands.restart' | translate }}</span>
            </button>
        </div>
    </form>
</div>
