<div class="blade-content __large-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper nowrap" ng-init="setGridOptions({
                data: 'blade.currentEntities',
                columnDefs: [
                    { name: 'createdBy', displayName: 'platform.blades.operation-list.labels.login', width: 100 },
                    { name: 'detail', displayName: 'platform.blades.operation-list.labels.details' },
                    { name: 'createdDate', displayName: 'platform.blades.operation-list.labels.time', width: 87 }
                ]})">
                <div ng-if="blade.currentEntities.length" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-height></div>
            </div>
            <div class="note" ng-if="!blade.currentEntities.length">{{ 'platform.list.no-data' | translate }}</div>
        </div>
    </div>
</div>
