<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- VC integration-->
		<add name="VirtoCommerce" connectionString="Data Source=(local);Initial Catalog=VirtoCommerce;Persist Security Info=True;User ID=virto;Password=virto;MultipleActiveResultSets=True;Connect Timeout=420" providerName="System.Data.SqlClient" />

    <!-- Elastic Search -->
    <add name="SearchConnectionString" connectionString="server=localhost:9200;scope=default;provider=elasticsearch" />
    <!-- LUCENE -->
    <!--<add name="SearchConnectionString" connectionString="server=~/app_data/virto/search;scope=default;provider=lucene" />-->

    <!-- Asset Connection Strings -->
    <add name="AssetsConnectionString" connectionString="DefaultEndpointsProtocol=http;AccountName=virtotest;AccountKey=Qv2BT4FD87eSx94MrBUcURw9YbrZ8tsmB9WnOIv1Vgdc9t2ur397qAKUsHokJ96w5F21lFS3c6OG54jjTaZ5Dw==" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>