<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
    <sectionGroup name="VirtoCommerce">
      <section name="Order" type="VirtoCommerce.Foundation.Orders.OrderConfiguration,VirtoCommerce.Foundation" />
      <section name="Customer" type="VirtoCommerce.Foundation.Customers.CustomerConfiguration,VirtoCommerce.Foundation" />
      <section name="Catalog" type="VirtoCommerce.Foundation.Catalogs.CatalogConfiguration,VirtoCommerce.Foundation" />
      <section name="Import" type="VirtoCommerce.Foundation.Importing.ImportConfiguration,VirtoCommerce.Foundation" />
      <section name="Security" type="VirtoCommerce.Foundation.Security.SecurityConfiguration,VirtoCommerce.Foundation" />
      <section name="Marketing" type="VirtoCommerce.Foundation.Marketing.MarketingConfiguration,VirtoCommerce.Foundation" />
      <section name="DynamicContent" type="VirtoCommerce.Foundation.Marketing.DynamicContent.DynamicContentConfiguration, VirtoCommerce.Foundation" />
      <section name="Store" type="VirtoCommerce.Foundation.Stores.StoreConfiguration,VirtoCommerce.Foundation" />
      <section name="Inventory" type="VirtoCommerce.Foundation.Inventories.InventoryConfiguration,VirtoCommerce.Foundation" />
      <section name="Search" type="VirtoCommerce.Foundation.Search.SearchConfiguration,VirtoCommerce.Foundation" />
      <section name="Asset" type="VirtoCommerce.Foundation.Assets.AssetConfiguration,VirtoCommerce.Foundation" />
      <section name="AppConfig" type="VirtoCommerce.Foundation.AppConfig.AppConfigConfiguration,VirtoCommerce.Foundation" />
      <section name="Review" type="VirtoCommerce.Foundation.Reviews.ReviewConfiguration,VirtoCommerce.Foundation" />
      <section name="Reporting" type="VirtoCommerce.Foundation.Reporting.ReportingConfiguration,VirtoCommerce.Foundation" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VirtoCommerce.ManagementClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VirtoCommerce.ManagementClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="connectionStrings.local.config"></connectionStrings>
  <!-- Virto Commerce configuration -->
  <VirtoCommerce>
    <!-- Order Configuration -->
    <Order configSource="Order.config" />
    <Search configSource="Search.config" />
    <Customer configSource="Customer.config" />
    <!-- Catalog Configuration -->
    <Catalog configSource="Catalog.config" />
    <Security configSource="Security.config" />
    <!-- Marketing Configuration -->
    <Marketing configSource="Marketing.config" />
    <!-- DynamicContent Configuration -->
    <DynamicContent configSource="DynamicContent.config" />
    <!-- Import Configuration -->
    <Import configSource="Import.config" />
    <!-- Stores Configuration -->
    <Store configSource="Stores.config" />
    <!-- Assets Configuration -->
    <Asset configSource="Asset.config" />
    <!-- Inventory Configuration -->
    <Inventory configSource="Inventory.config" />
    <!-- AppConfig Configuration -->
    <AppConfig configSource="AppConfig.config" />
    <!-- Reviews Configuration -->
    <Review configSource="Review.config" />
    <!-- Reporting Configuration -->
    <Reporting configSource="Reporting.config" />
  </VirtoCommerce>
  <unity configSource="Unity.config"></unity>
  <modules>
    <module assemblyFile="VirtoCommerce.ManagementClient.Security.dll" moduleType="VirtoCommerce.ManagementClient.Security.SecurityModule, VirtoCommerce.ManagementClient.Security" moduleName="SecurityModule" startupLoaded="true" />
    <module assemblyFile="VirtoCommerce.ManagementClient.Configuration.dll" moduleType="VirtoCommerce.ManagementClient.Configuration.ConfigurationModule, VirtoCommerce" moduleName="ConfigurationModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
      </dependencies>
    </module>
    <module assemblyFile="VirtoCommerce.ManagementClient.Marketing.dll" moduleType="VirtoCommerce.ManagementClient.Marketing.MarketingModule, VirtoCommerce" moduleName="MarketingModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
        <dependency moduleName="ConfigurationModule" />
        <dependency moduleName="CatalogModule" />
        <dependency moduleName="DynamicContentModule" />
      </dependencies>
    </module>
    <module assemblyFile="VirtoCommerce.ManagementClient.Asset.dll" moduleType="VirtoCommerce.ManagementClient.Asset.AssetModule, VirtoCommerce" moduleName="AssetModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
      </dependencies>
    </module>
    <module assemblyFile="VirtoCommerce.ManagementClient.Import.dll" moduleType="VirtoCommerce.ManagementClient.Import.ImportModule, VirtoCommerce" moduleName="ImportModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
      </dependencies>
    </module>
    <module assemblyFile="VirtoCommerce.ManagementClient.Reviews.dll" moduleType="VirtoCommerce.ManagementClient.Reviews.ReviewsModule, VirtoCommerce" moduleName="ReviewsModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
      </dependencies>
    </module>
    <module assemblyFile="VirtoCommerce.ManagementClient.Catalog.dll" moduleType="VirtoCommerce.ManagementClient.Catalog.CatalogModule, VirtoCommerce" moduleName="CatalogModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
        <dependency moduleName="AssetModule" />
        <dependency moduleName="ReviewsModule" />
        <dependency moduleName="ImportModule" />
      </dependencies>
    </module>
    <module assemblyFile="VirtoCommerce.exe" moduleType="VirtoCommerce.ManagementClient.Fulfillment.FulfillmentModule, VirtoCommerce" moduleName="FulfillmentModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
        <dependency moduleName="ConfigurationModule" />
      </dependencies>
    </module>
    <module assemblyFile="VirtoCommerce.ManagementClient.DynamicContent.dll" moduleType="VirtoCommerce.ManagementClient.DynamicContent.DynamicContentModule, VirtoCommerce" moduleName="DynamicContentModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
        <dependency moduleName="ConfigurationModule" />
      </dependencies>
    </module>
    <module assemblyFile="VirtoCommerce.ManagementClient.Order.dll" moduleType="VirtoCommerce.ManagementClient.Order.OrderModule, VirtoCommerce" moduleName="OrderModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
        <dependency moduleName="ConfigurationModule" />
        <dependency moduleName="CatalogModule" />
        <dependency moduleName="ImportModule" />
      </dependencies>
    </module>
    <!--<module assemblyFile="VirtoCommerce.ManagementClient.Customer.dll" moduleType="VirtoCommerce.ManagementClient.Customer.CustomerModule, VirtoCommerce.ManagementClient.Customer" moduleName="CustomerModule" startupLoaded="false">
            <dependencies>
                <dependency moduleName="SecurityModule" />
                <dependency moduleName="OrderModule" />
            </dependencies>
        </module>-->
    <module assemblyFile="VirtoCommerce.ManagementClient.Main.dll" moduleType="VirtoCommerce.ManagementClient.Main.MainModule, VirtoCommerce" moduleName="MainModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
      </dependencies>
    </module>
    <module assemblyFile="VirtoCommerce.ManagementClient.Customers.dll" moduleType="VirtoCommerce.ManagementClient.Customers.CustomersModule, VirtoCommerce" moduleName="CustomersModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
      </dependencies>
    </module>
    <module assemblyFile="VirtoCommerce.ManagementClient.AppConfig.dll" moduleType="VirtoCommerce.ManagementClient.Localization.LocalizationModule, VirtoCommerce" moduleName="LocalizationModule" startupLoaded="false" />
    <module assemblyFile="VirtoCommerce.ManagementClient.AppConfig.dll" moduleType="VirtoCommerce.ManagementClient.AppConfig.AppConfigModule, VirtoCommerce" moduleName="AppConfigModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
        <dependency moduleName="CatalogModule" />
      </dependencies>
    </module>
    <module assemblyFile="VirtoCommerce.ManagementClient.Reporting.dll" moduleType="VirtoCommerce.ManagementClient.Reporting.ReportingModule, VirtoCommerce" moduleName="ReportingModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="LocalizationModule" />
        <dependency moduleName="SecurityModule" />
      </dependencies>
    </module>
  </modules>
  <system.serviceModel>
    <client>
      <endpoint name="AuthenticationServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="NonAuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Security.Services.IAuthenticationService" />
      <endpoint name="httpsAuthenticationServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="httpsNonAuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Security.Services.IAuthenticationService" />

      <endpoint name="SecurityServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="AuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Security.Services.ISecurityService" />
      <endpoint name="httpsSecurityServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="httpsAuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Security.Services.ISecurityService" />

      <endpoint name="AssetServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="AuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Assets.Services.IAssetService" />
      <endpoint name="httpsAssetServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="httpsAuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Assets.Services.IAssetService" />

      <endpoint name="ImportServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="AuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Importing.Services.IImportService" />
      <endpoint name="httpsImportServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="httpsAuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Importing.Services.IImportService" />

      <endpoint name="OrderServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="AuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Orders.Services.IOrderService" />
      <endpoint name="httpsOrderServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="httpsAuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Orders.Services.IOrderService" />

      <endpoint name="ReportingServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="AuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Reporting.Services.IReportingService" />
      <endpoint name="httpsReportingServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="httpsAuthenticationServiceBinding" contract="VirtoCommerce.Foundation.Reporting.Services.IReportingService" />

      <endpoint name="CacheServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="AuthenticationServiceBinding" contract="VirtoCommerce.Foundation.AppConfig.Services.ICacheService" />
      <endpoint name="httpsCacheServiceConnectionEndPoint" address="" binding="wsHttpBinding" bindingConfiguration="httpsAuthenticationServiceBinding" contract="VirtoCommerce.Foundation.AppConfig.Services.ICacheService" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="securityToken" type="VirtoCommerce.ManagementClient.Security.Tokens.SecurityTokenEndpointBehavior, VirtoCommerce.ManagementClient.Security" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <securityToken />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="NonAuthenticationServiceBinding" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
        <!-- bindingConfiguration for services when hosting on https-->
        <binding name="httpsNonAuthenticationServiceBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>

        <binding name="AuthenticationServiceBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1048576" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
        <!-- bindingConfiguration for services when hosting on https-->
        <binding name="httpsAuthenticationServiceBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1048576" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <VirtoCommerce.ManagementClient.Properties.Settings>
      <setting name="Bundle_WeightMeasureField" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Bundle_PackagingField" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Bundle_AvailabilityField" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Bundle_TrackInventoryField" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Bundle_TaxCategoryField" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Bundle_ItemsTabTextField" serializeAs="String">
        <value>Bundle Items</value>
      </setting>
      <setting name="Bundle_PricingTab" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Product_WeightMeasureField" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Product_PackagingField" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Product_AvailabilityField" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Product_TaxCategoryField" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Product_RelationsTabHeader" serializeAs="String">
        <value>Product Items</value>
      </setting>
      <setting name="Package_RelationsTabHeader" serializeAs="String">
        <value>Package Items</value>
      </setting>
      <setting name="Bundle_RelationsTabHeader" serializeAs="String">
        <value>Bundle Items</value>
      </setting>
      <setting name="Sku_RelationsTabHeader" serializeAs="String">
        <value>Relations</value>
      </setting>
    </VirtoCommerce.ManagementClient.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <VirtoCommerce.ManagementClient.Properties.Settings>
      <setting name="Top" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>744</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1072</value>
      </setting>
      <setting name="Maximised" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentUICulture" serializeAs="String">
        <value>en-US</value>
      </setting>
    </VirtoCommerce.ManagementClient.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>