<?xml version="1.0"?>
<AppConfig>
	<Connection wsEndPointName="" dataServiceUri="DataServices/AppConfigDataService.svc" dataServiceBaseUriName="VirtoCommerceDataService" sqlConnectionStringName=""/>
	<Cache enabled="true" settingsTimeout="0:7:0" localizationTimeout="0:7:00"></Cache>
</AppConfig>
