<?xml version="1.0"?>
<AppConfig>
  <Connection wsEndPointName="" dataServiceUri="DataServices/AppConfigDataService.svc" dataServiceBaseUriName="VirtoCommerceDataService" sqlConnectionStringName=""/>
  <CacheServiceConnection wsEndPointName="CacheServiceConnectionEndPoint" serviceUri="Services/CacheService.svc" serviceBaseUriName="VirtoCommerceDataService" />
  <Cache enabled="true" settingsTimeout="0:7:0" localizationTimeout="0:7:00" seoKeywordsTimeout="0:7:0"></Cache>
  <Setup completed="true" />
  <availableModules>
    <add name="Store" type="VirtoCommerce.Web.Client.Modules.StoreHttpModule, VirtoCommerce.WebClient" />
    <add name="Marketing" type="VirtoCommerce.Web.Client.Modules.MarketingHttpModule, VirtoCommerce.WebClient" />
  </availableModules>
</AppConfig>
