<?xml version="1.0"?>
<Catalog>
	<Connection wsEndPointName="" dataServiceUri="DataServices/CatalogDataService.svc" dataServiceBaseUriName="VirtoCommerceDataService" />
	<Cache enabled="true" catalogTimeout="0:7:0" itemCollectionTimeout="0:5:0" itemTimeout="0:5:0" categoryCollectionTimeout="0:5:0" categoryTimeout="0:5:0" pricelistTimeout="0:5:0" pricesTimeout="0:1:0" propertiesTimeout="0:0:59" preloadPrices="true"></Cache>
</Catalog>
