<?xml version="1.0"?>
<Import>
	<Connection wsEndPointName="" dataServiceUri="DataServices/ImportDataService.svc" dataServiceBaseUriName="VirtoCommerceDataService" />
	<Cache enabled="true" importJobTimeout="0:7:0" columnMappingTimeout="0:5:0" mappingItemTimeout="0:5:0" ></Cache>
	<Importing wsEndPointName="ImportServiceConnectionEndPoint" serviceUri="Services/ImportService.svc" serviceBaseUriName="VirtoCommerceDataService"/>
</Import>
