<?xml version="1.0"?>
<Order>
    <Connection wsEndPointName="" sqlConnectionStringName="VirtoCommerce" dataServiceUri="DataServices/OrderDataService.svc/" dataServiceBaseUriName="VirtoCommerceDataService"/>
  <OrderServiceConnection wsEndPointName="OrderServiceConnectionEndPoint" serviceUri="Services/OrderService.svc" serviceBaseUriName="VirtoCommerceDataService" forceHttps="False"/>
</Order>
