<?xml version="1.0"?>
<Reporting>
  <Connection wsEndPointName="" dataServiceUri="DataServices/ReportingDataService.svc" dataServiceBaseUriName="VirtoCommerceDataService" sqlConnectionStringName=""/>
  <ReportingServiceConnection wsEndPointName="ReportingServiceConnectionEndPoint" serviceUri="Services/ReportingService.svc" serviceBaseUriName="VirtoCommerceDataService" />
  <Cache enabled="true"></Cache>
</Reporting>
