<?xml version="1.0"?>
<Security>
	<Connection wsEndPointName="SecurityServiceConnectionEndPoint" sqlConnectionStringName="VirtoCommerce" dataServiceUri="DataServices/SecurityDataService.svc/" dataServiceBaseUriName="VirtoCommerceDataService" serviceUri="Services/SecurityService.svc" serviceBaseUriName="VirtoCommerceDataService"/>
	<Authentication wsEndPointName="AuthenticationServiceConnectionEndPoint" serviceUri="Services/AuthenticationService.svc" serviceBaseUriName="VirtoCommerceDataService"/>
</Security>
